Repository localstack/localstack, changes with the labels that .github/labeler.yml gives for each.
All labels: aws:apigateway, aws:lambda, aws:cloudformation, aws:cloudwatch, config, aws:dynamodb, aws:ec2, aws:es, aws:firehose, aws:iam, aws:kinesis, aws:kms, aws:logs, aws:opensearch, aws:redshift, aws:route53, aws:s3, aws:ses, aws:sns, aws:sqs, aws:ssm, aws:stepfunctions, aws:sts, cli, tests, documentation, docker

.github/labeler.yml:

aws:apigateway:
  - localstack/aws/api/apigateway/*.py
  - localstack/services/apigateway/*.py
  
aws:lambda:
  - localstack/aws/api/awslambda/*.py
  - localstack/services/awslambda/*.py
  
aws:cloudformation:
  - localstack/aws/api/cloudformation/*.py
  - localstack/utils/cloudformation/*.py
  - localstack/services/cloudformation/*.py
  
aws:cloudwatch:
  - localstack/aws/api/cloudwatch/*.py
  - localstack/utils/cloudwatch/*.py
  - localstack/services/cloudwatch/*.py
  
config:
  - localstack/aws/api/config
  - localstack/services/configservice/*.py
  
aws:dynamodb:
  - localstack/aws/api/dynamodb/*.py
  - localstack/aws/api/dynamodbstreams/*.py
  
aws:ec2:
  - localstack/aws/api/ec2/*.py
  - localstack/services/ec2/*.py
  
aws:es:
  - localstack/aws/api/es/*.py
  - localstack/services/es/*.py
  
aws:firehose:
  - localstack/aws/api/firehose/*.py
  - localstack/services/firehose/*.py
  
aws:iam:
  - localstack/aws/api/iam/*.py
  - localstack/services/iam/*.py

aws:kinesis:
  - localstack/services/kinesis/**
  - localstack/utils/kinesis/**
  - localstack/services/kinesis/*.py
  
aws:kms:
  - localstack/aws/api/kms/*.py
  - localstack/services/kms/*.py
  
aws:logs:
  - localstack/aws/api/logs/*.py
  - localstack/services/logs/*.py
  
aws:opensearch:
  - localstack/aws/api/opensearch/*.py
  - localstack/services/opensearch/*.py
  
aws:redshift:
  - localstack/aws/api/redshift/*.py
  - localstack/services/redshift/*.py

aws:route53:
  - localstack/aws/api/route53/*.py
  - localstack/services/route53/*.py
  
aws:s3:
  - localstack/aws/api/s3control/*.py
  - localstack/services/s3/*.py
  - localstack/services/s3control/*.py
  
aws:ses:
  - localstack/aws/api/ses/*.py
  - localstack/services/ses/*.py
  
aws:sns:
  - localstack/aws/api/sns/*.py
  - localstack/services/sns/*.py
  
aws:sqs:
  - localstack/aws/api/sqs/*.py
  - localstack/services/sqs/*.py
  
aws:ssm:
  - localstack/aws/api/ssm/*.py
  - localstack/services/ssm/*.py
  
aws:stepfunctions:
  - localstack/aws/api/stepfunctions/*.py
  - localstack/services/stepfunctions/*.py
  
aws:sts:
  - localstack/aws/api/sts/*.py
  - localstack/services/sts/*.py
  
cli:
  - localstack/cli/**
  
tests:
  - localstack/testing/**
  
documentation:
  - doc/**
  - README.md
  - CONTRIBUTING.md
  
docker:
  - Dockerfile
  - Dockerfile.rh
  - bin/lambda/Dockerfile.nodejs14x

add finally block according to feedback
  tests/integration/test_iam.py
Labels: none

refactor state serializer api to use werkzeug request (#6250)
  localstack/services/plugins.py
Labels: none

add pluggable response handler for asf handler chain
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/handlers/__init__.py
  tests/unit/aws/test_chain.py
Labels: none

add pluggable response handler for asf handler chain (#6251)
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/handlers/__init__.py
  tests/unit/aws/test_chain.py
Labels: none

add localstack discussion page link for questions (#6249)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
  README.md
Labels: documentation

add comments, change logs
  localstack/utils/server/proxy_server.py
Labels: none

use pproxy tcp proxy instead of http proxy for tcp proxying with client certs
  localstack/utils/server/proxy_server.py
Labels: none

allow TCP proxying with client certs without h11 (#6252)
  localstack/utils/server/proxy_server.py
Labels: none

minor fix to include request parameters importing api
  localstack/services/apigateway/helpers.py
Labels: aws:apigateway

minor fix to include request parameters importing api
  tests/integration/files/swagger.yaml
  tests/integration/test_apigateway.py
Labels: none

Fix InvalidObjectState HTTP status code
  localstack/services/s3/s3_starter.py
Labels: aws:s3

@luisgabrielroldan has signed the CLA from Pull Request #6257
  etc/cla-signatures/signatures.json
Labels: none

minor fix to include request parameters while importing openapi (#6255)
  localstack/services/apigateway/helpers.py
  tests/integration/files/swagger.yaml
  tests/integration/test_apigateway.py
Labels: aws:apigateway

update Docker base image (python) tag to v3.10.5
  Dockerfile
Labels: docker

update generated ASF APIs to latest version
  localstack/aws/api/redshift/__init__.py
Labels: aws:redshift

update generated ASF APIs to latest version (#6260)
  localstack/aws/api/redshift/__init__.py
Labels: aws:redshift

add missing method, add test
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs

work in review changes
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs

Test for IAM service linked role naming parity (#6182)
  tests/integration/cloudformation/test_cloudformation_iam.py
  tests/integration/test_iam.py
Labels: none

add sqs dlq-list-sources (#5915)
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs

add name filtering and test
  localstack/services/apigateway/provider.py
  tests/integration/test_apigateway_api.py
Labels: aws:apigateway

Add filtering for names provided with name_query for GetApiKeys method (#6261)
  localstack/services/apigateway/provider.py
  tests/integration/test_apigateway_api.py
Labels: aws:apigateway
