Repository localstack/localstack, changes with the labels that .github/labeler.yml gives for each.
All labels: aws:apigateway, aws:lambda, aws:cloudformation, aws:cloudwatch, config, aws:dynamodb, aws:ec2, aws:es, aws:firehose, aws:iam, aws:kinesis, aws:kms, aws:logs, aws:opensearch, aws:redshift, aws:route53, aws:s3, aws:ses, aws:sns, aws:sqs, aws:ssm, aws:stepfunctions, aws:sts, cli, tests, documentation, docker

.github/labeler.yml:

aws:apigateway:
  - localstack/aws/api/apigateway/*.py
  - localstack/services/apigateway/*.py
  
aws:lambda:
  - localstack/aws/api/awslambda/*.py
  - localstack/services/awslambda/*.py
  
aws:cloudformation:
  - localstack/aws/api/cloudformation/*.py
  - localstack/utils/cloudformation/*.py
  - localstack/services/cloudformation/*.py
  
aws:cloudwatch:
  - localstack/aws/api/cloudwatch/*.py
  - localstack/utils/cloudwatch/*.py
  - localstack/services/cloudwatch/*.py
  
config:
  - localstack/aws/api/config
  - localstack/services/configservice/*.py
  
aws:dynamodb:
  - localstack/aws/api/dynamodb/*.py
  - localstack/aws/api/dynamodbstreams/*.py
  
aws:ec2:
  - localstack/aws/api/ec2/*.py
  - localstack/services/ec2/*.py
  
aws:es:
  - localstack/aws/api/es/*.py
  - localstack/services/es/*.py
  
aws:firehose:
  - localstack/aws/api/firehose/*.py
  - localstack/services/firehose/*.py
  
aws:iam:
  - localstack/aws/api/iam/*.py
  - localstack/services/iam/*.py

aws:kinesis:
  - localstack/services/kinesis/**
  - localstack/utils/kinesis/**
  - localstack/services/kinesis/*.py
  
aws:kms:
  - localstack/aws/api/kms/*.py
  - localstack/services/kms/*.py
  
aws:logs:
  - localstack/aws/api/logs/*.py
  - localstack/services/logs/*.py
  
aws:opensearch:
  - localstack/aws/api/opensearch/*.py
  - localstack/services/opensearch/*.py
  
aws:redshift:
  - localstack/aws/api/redshift/*.py
  - localstack/services/redshift/*.py

aws:route53:
  - localstack/aws/api/route53/*.py
  - localstack/services/route53/*.py
  
aws:s3:
  - localstack/aws/api/s3control/*.py
  - localstack/services/s3/*.py
  - localstack/services/s3control/*.py
  
aws:ses:
  - localstack/aws/api/ses/*.py
  - localstack/services/ses/*.py
  
aws:sns:
  - localstack/aws/api/sns/*.py
  - localstack/services/sns/*.py
  
aws:sqs:
  - localstack/aws/api/sqs/*.py
  - localstack/services/sqs/*.py
  
aws:ssm:
  - localstack/aws/api/ssm/*.py
  - localstack/services/ssm/*.py
  
aws:stepfunctions:
  - localstack/aws/api/stepfunctions/*.py
  - localstack/services/stepfunctions/*.py
  
aws:sts:
  - localstack/aws/api/sts/*.py
  - localstack/services/sts/*.py
  
cli:
  - localstack/cli/**
  
tests:
  - localstack/testing/**
  
documentation:
  - doc/**
  - README.md
  - CONTRIBUTING.md
  
docker:
  - Dockerfile
  - Dockerfile.rh
  - bin/lambda/Dockerfile.nodejs14x

fix domain name validation in opensearch CreateDomain operation (#6207)
  localstack/services/opensearch/provider.py
  tests/integration/test_opensearch.py
Labels: aws:opensearch

Add `AWS::OpenSearchService::Domain` (#6199)
  localstack/services/cloudformation/models/__init__.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/utils/cloudformation/template_deployer.py
  tests/integration/templates/opensearch_domain.yaml
  tests/integration/test_opensearch.py
Labels: aws:cloudformation

fix op router for ASF gateway requests with slashes
  localstack/aws/protocol/op_router.py
  tests/unit/aws/protocol/test_parser.py
Labels: none

fix log subscription: return id as string (#6202)
  localstack/services/logs/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/testing/snapshots/transformer.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/test_logs.py
  tests/integration/test_logs.snapshot.json
Labels: aws:logs, tests

add tests which verify EventBridge rules behavior (#6124)
  localstack/services/events/provider.py
  tests/integration/test_events.py
Labels: none

fix op router for ASF gateway requests with slashes (#6223)
  localstack/aws/protocol/op_router.py
  tests/unit/aws/protocol/test_parser.py
Labels: none

add snapshot to s3, s3_notifications, and cloudformation_sam tests
  localstack/testing/snapshots/transformer.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/cloudformation/test_cloudformation_sam.py
  tests/integration/cloudformation/test_cloudformation_sam.snapshot.json
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
  tests/integration/s3/test_s3_notifications_sns.py
  tests/integration/s3/test_s3_notifications_sns.snapshot.json
  tests/integration/s3/test_s3_notifications_sqs.py
  tests/integration/s3/test_s3_notifications_sqs.snapshot.json
Labels: tests

add websocket route to ApiInvocationContext
  localstack/services/apigateway/context.py
  localstack/services/apigateway/integration.py
Labels: aws:apigateway

add websocket route to ApiInvocationContext
  localstack/services/apigateway/context.py
Labels: aws:apigateway

add websocket route to ApiInvocationContext (#6230)
  localstack/services/apigateway/context.py
  localstack/services/apigateway/integration.py
Labels: aws:apigateway

add log output if json-parsing fails
  localstack/testing/snapshots/prototype.py
Labels: tests

remove Literal type for 3.6, 3.7 compat
  localstack/config.py
Labels: none

fix failing test in CI pipeline
  tests/integration/test_logs.py
  tests/integration/test_logs.snapshot.json
Labels: none

remove Literal type from config for 3.6, 3.7 compat (#6231)
  localstack/config.py
Labels: none

add .env to .gitignore
  .gitignore
Labels: none

fix query protocol request logic
  localstack/aws/protocol/service_router.py
  tests/integration/test_sns.py
Labels: none

fix URL construction for SNS sub/unsub
  localstack/aws/protocol/service_router.py
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
Labels: aws:sns

remove commented code
  localstack/services/sns/provider.py
Labels: aws:sns

chore: remove banner image
  README.md
Labels: documentation

remove current banner image (#6235)
  README.md
Labels: documentation

remove itest-sqs-provider test from CI pipeline
  .circleci/config.yml
Labels: none

Introduced method to fetch the backend of a service
  localstack/services/plugins.py
Labels: none

remove itest-sqs-provider test from CI pipeline (#6236)
  .circleci/config.yml
Labels: none

add composite handler for asf handler chain
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/handlers/__init__.py
  tests/unit/aws/test_chain.py
Labels: none

initialize ws route
  localstack/services/apigateway/context.py
Labels: aws:apigateway

add websocket route to ApiInvocationContext
  localstack/services/apigateway/context.py
Labels: aws:apigateway

add websocket route to ApiInvocationContext
  localstack/services/apigateway/context.py
Labels: aws:apigateway

Initialize ws route (#6241)
  localstack/services/apigateway/context.py
Labels: aws:apigateway

add composite handler for asf handler chain (#6240)
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/handlers/__init__.py
  tests/unit/aws/test_chain.py
Labels: none

Removed duplicate SNSBackend; adjusted unit test
  localstack/services/sns/provider.py
  localstack/services/sns/sns_listener.py
  localstack/services/sqs/legacy/sqs_listener.py
  tests/unit/test_sns.py
Labels: aws:sns

exit when encountering duplicate fixture names
  localstack/testing/pytest/fixture_conflicts.py
  tests/conftest.py
Labels: tests

remove duplicate iam_client fixture
  tests/integration/test_iam.py
Labels: none

add .env to .gitignore (#6232)
  .gitignore
Labels: none

remove redundant check_lambda_logs fixture
  tests/integration/awslambda/test_lambda.py
Labels: none

Fail when encountering duplicate fixture names by default (#6244)
  localstack/testing/pytest/fixture_conflicts.py
  tests/conftest.py
  tests/integration/awslambda/test_lambda.py
  tests/integration/test_iam.py
Labels: tests

handle non-existing role descriptions gracefully in test
  tests/integration/cloudformation/test_cloudformation_iam.py
Labels: none

chore: add localstack discussion page
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
  README.md
Labels: documentation

Removed duplicate SNSBackend (#6243)
  localstack/services/sns/provider.py
  localstack/services/sns/sns_listener.py
  localstack/services/sqs/legacy/sqs_listener.py
  tests/unit/test_sns.py
Labels: aws:sns

Add snapshot tests for s3 and cloudformation iam (#6222)
  localstack/testing/snapshots/prototype.py
  localstack/testing/snapshots/transformer.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/cloudformation/test_cloudformation_sam.py
  tests/integration/cloudformation/test_cloudformation_sam.snapshot.json
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
  tests/integration/s3/test_s3_notifications_sns.py
  tests/integration/s3/test_s3_notifications_sns.snapshot.json
  tests/integration/s3/test_s3_notifications_sqs.py
  tests/integration/s3/test_s3_notifications_sqs.snapshot.json
  tests/integration/test_logs.py
  tests/integration/test_logs.snapshot.json
Labels: tests

refactor state serializer api to use werkzeug request
  localstack/services/plugins.py
Labels: none
