Repository localstack/localstack, pull requests merged in 2022-08, with the labels that each got.

#6117 fix create_queue to raise QueueAlreadyExists correctly
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: aws:sqs

#6628 Add default logging configuration for state machine
  localstack/services/stepfunctions/provider.py
  tests/integration/test_stepfunctions.py
Labels: aws:stepfunctions

#6641 Fixing BatchWriteItem with key element not matching the schema
  localstack/services/dynamodb/utils.py
  tests/integration/test_dynamodb.py
Labels: aws:dynamodb

#6667 fix apigateway aws lambda integration invocation
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway_fixtures.py
  tests/integration/awslambda/functions/lambda_aws_proxy.py
  tests/integration/awslambda/test_lambda.py
  tests/integration/test_apigateway.py
  tests/integration/test_apigateway_api.py
Labels: aws:apigateway

#6513 Add support stepfunctions integration
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/templates.py
  tests/unit/test_apigateway.py
  tests/unit/test_templating.py
Labels: aws:apigateway

#6166 migrate Kinesis to ASF
  localstack/aws/api/kinesis/__init__.py
  localstack/aws/forwarder.py
  localstack/aws/handlers/service.py
  localstack/aws/protocol/serializer.py
  localstack/aws/skeleton.py
  localstack/config.py
  localstack/constants.py
  localstack/services/kinesis/kinesis_starter.py
  localstack/services/kinesis/provider.py
  localstack/services/logs/provider.py
  localstack/services/moto.py
  localstack/services/providers.py
  localstack/services/sqs/query_api.py
  localstack/services/stepfunctions/provider.py
  localstack/services/sts/provider.py
  tests/integration/apigateway_fixtures.py
  tests/integration/test_apigateway.py
  tests/integration/test_apigateway_api.py
  tests/integration/test_kinesis.py
  tests/integration/test_moto.py
  tests/integration/test_s3control.py
  tests/unit/aws/handlers/service.py
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:kinesis, area: asf

#6744 POC of global tables version 2019
  localstack/services/dynamodb/models.py
  localstack/services/dynamodb/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_dynamodb.py
Labels: aws:dynamodb
