Repository localstack/localstack, pull requests merged in 2022-06, with the labels that each got.

#6184 pin opensearch-py to version 1.1.0
  setup.cfg
Labels: size/xs

#6171 Added explicit check for a bucket when deploying a stack
  localstack/services/cloudformation/models/s3.py
  tests/integration/test_cloudformation.py
Labels: size/s

#6179 Kinesis - option for persistence path
  localstack/config.py
  localstack/services/kinesis/kinesalite_server.py
  localstack/services/kinesis/kinesis_mock_server.py
  localstack/services/kinesis/kinesis_starter.py
Labels: aws:kinesis, size/m

#6185 fix apigateway delete_rest_api method
  localstack/services/apigateway/provider.py
  tests/integration/test_apigateway.py
Labels: aws:apigateway, size/s

#6189 add two more labels to 'exempt-issue-labels' for the stale-bot
  .github/workflows/stale-bot.yml
Labels: size/s

#6191 prepare s3 for ASF gateway
  localstack/aws/protocol/op_router.py
  localstack/aws/protocol/parser.py
  localstack/aws/protocol/service_router.py
  tests/integration/s3/test_s3.py
  tests/integration/test_s3.py
  tests/unit/aws/protocol/test_parser.py
Labels: size/m

#6190 fix HypercornServer API and test to allow multiple instances
  localstack/http/asgi.py
  localstack/http/hypercorn.py
  tests/unit/http_/test_asgi.py
  tests/unit/http_/test_dispatcher.py
Labels: size/m

#6195 chore: remove chart release workflow
  .github/workflows/chart-release.yaml
Labels: size/s

#6186 implement ExclusiveStartShardId for DynamoDB Streams describe_stream
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/services/dynamodbstreams/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_dynamodb.py
Labels: tests, size/m

#6159 test: invalidates #5395
  tests/integration/test_sns.py
Labels: size/s

#5243 implement new HTTP request handling framework
  localstack/aws/api/core.py
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/gateway.py
  localstack/aws/handlers/__init__.py
  localstack/aws/handlers/auth.py
  localstack/aws/handlers/codec.py
  localstack/aws/handlers/cors.py
  localstack/aws/handlers/fallback.py
  localstack/aws/handlers/internal.py
  localstack/aws/handlers/legacy.py
  localstack/aws/handlers/logging.py
  localstack/aws/handlers/region.py
  localstack/aws/handlers/routes.py
  localstack/aws/handlers/service.py
  localstack/aws/handlers/service_plugin.py
  localstack/aws/proxy.py
  localstack/aws/serving/__init__.py
  localstack/aws/serving/asgi.py
  localstack/aws/serving/edge.py
  localstack/aws/serving/hypercorn.py
  localstack/aws/serving/werkzeug.py
  localstack/aws/serving/wsgi.py
  localstack/aws/skeleton.py
  localstack/config.py
  localstack/http/asgi.py
  localstack/http/request.py
  localstack/http/response.py
  localstack/services/apigateway/provider_asf.py
  localstack/services/edge.py
  localstack/services/generic_proxy.py
  localstack/services/moto.py
  localstack/services/sns/sns_starter.py
  localstack/services/sqs/legacy/sqs_starter.py
  tests/integration/s3/test_s3.py
  tests/integration/test_edge.py
Labels: aws:apigateway, aws:sns, size/xl

#6177 make asf apigateway provider the default
  localstack/services/providers.py
Labels: size/xs

#6205 fixed: route53 get-health-check response
  localstack/services/route53/provider.py
Labels: bug

#6202 fix log subscription: return id as string
  localstack/services/logs/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/testing/snapshots/transformer.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/test_logs.py
  tests/integration/test_logs.snapshot.json
Labels: aws:logs

#6124 Add tests which verify EventBridge rules behavior
  localstack/services/events/provider.py
  tests/integration/test_events.py
Labels: size/s

#6243 Removed duplicated SNSBackend
  localstack/services/sns/provider.py
  localstack/services/sns/sns_listener.py
  localstack/services/sqs/legacy/sqs_listener.py
  tests/unit/test_sns.py
Labels: aws:sns

#6182 Test for IAM service linked role naming parity
  tests/integration/cloudformation/test_cloudformation_iam.py
  tests/integration/test_iam.py
Labels: size/s

#6279 fix mock integration invocations
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  tests/integration/files/openapi-mock.json
  tests/integration/test_apigateway.py
Labels: aws:apigateway

#6330 fix multi-registration of shared ASF API GW router
  localstack/services/apigateway/router_asf.py
Labels: area: asf

#6365 Fix SizeBytes calculation for non serializable items
  localstack/services/dynamodb/provider.py
Labels: aws:dynamodb

#6376 fix GitHub action user (use PAT of @localstack-bot)
  .github/workflows/cla.yml
  .github/workflows/stale-bot.yml
  .github/workflows/welcome-first-time-contributors.yml
Labels: area: ci
