Repository localstack/localstack, pull requests merged in 2022-05, with the labels that each got.

#5978 Fix ValidationError for CloudFormation.DescribeStacks
  localstack/services/cloudformation/provider.py
Labels: aws:cloudformation

#6026 add workaround for s3 virtual host addressing
  localstack/aws/protocol/op_router.py
  localstack/aws/protocol/parser.py
  tests/unit/aws/protocol/test_parser.py
Labels: asf

#6025 ignore GET and HEAD request body for rest-xml protocol
  localstack/aws/protocol/parser.py
  tests/integration/s3/test_s3.py
  tests/unit/aws/protocol/test_parser.py
Labels: asf

#6027 Fix bytes size calculation with binary items
  localstack/services/dynamodb/provider.py
  tests/integration/test_dynamodb.py
Labels: aws:dynamodb

#6050 Restructure test fixtures/utilities
  localstack/testing/__init__.py
  localstack/testing/aws/__init__.py
  localstack/testing/aws/cloudformation_utils.py
  localstack/testing/aws/util.py
  localstack/testing/pytest/__init__.py
  localstack/testing/pytest/fixtures.py
  localstack/testing/pytest/snapshot.py
  localstack/testing/snapshots/__init__.py
  localstack/testing/snapshots/prototype.py
  localstack/utils/aws/aws_stack.py
  tests/conftest.py
  tests/integration/awslambda/test_lambda.py
  tests/integration/awslambda/test_lambda_api.snapshot.json
  tests/integration/cloudformation/test_cloudformation_acm.py
  tests/integration/cloudformation/test_cloudformation_apigateway.py
  tests/integration/cloudformation/test_cloudformation_cdk.py
  tests/integration/cloudformation/test_cloudformation_changesets.py
  tests/integration/cloudformation/test_cloudformation_dynamic_parameters.py
  tests/integration/cloudformation/test_cloudformation_ec2.py
  tests/integration/cloudformation/test_cloudformation_events.py
  tests/integration/cloudformation/test_cloudformation_iam.py
  tests/integration/cloudformation/test_cloudformation_integration.py
  tests/integration/cloudformation/test_cloudformation_intrinsic_functions.py
  tests/integration/cloudformation/test_cloudformation_kms.py
  tests/integration/cloudformation/test_cloudformation_lambda.py
  tests/integration/cloudformation/test_cloudformation_logs.py
  tests/integration/cloudformation/test_cloudformation_nestedstacks.py
  tests/integration/cloudformation/test_cloudformation_resource_sns.py
  tests/integration/cloudformation/test_cloudformation_route53.py
  tests/integration/cloudformation/test_cloudformation_s3.py
  tests/integration/cloudformation/test_cloudformation_secretsmanager.py
  tests/integration/cloudformation/test_cloudformation_sqs.py
  tests/integration/cloudformation/test_cloudformation_ssm.py
  tests/integration/cloudformation/test_cloudformation_stacks.py
  tests/integration/cloudformation/test_cloudformation_stepfunctions.py
  tests/integration/cloudformation/utils.py
  tests/integration/conftest.py
  tests/integration/test_cloudformation.py
  tests/integration/test_integration.py
  tests/integration/test_s3.py
  tests/integration/test_sqs.py
  tests/integration/test_sts.py
  tests/unit/utils/testing/test_snapshots.py
Labels: tests

#5928 add SQS Query API
  localstack/config.py
  localstack/services/providers.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/client.py
  tests/integration/test_sqs.py
Labels: aws:sqs, needs-docs

#6060 Unify SES logging format
  localstack/services/ses/provider.py
  tests/integration/test_ses.py
Labels: aws:ses

#6075 fix ARN rewriting for DynamoDB ASF provider
  localstack/services/dynamodb/provider.py
  localstack/services/generic_proxy.py
  tests/unit/conftest.py
  tests/unit/test_generic_proxy.py
Labels: size/s

#6016 Rework ASF SQS provider for RegionBackend
  .circleci/config.yml
  localstack/aws/protocol/service_router.py
  localstack/config.py
  localstack/services/providers.py
  localstack/services/sqs/legacy/__init__.py
  localstack/services/sqs/legacy/elasticmq.py
  localstack/services/sqs/legacy/sqs_listener.py
  localstack/services/sqs/legacy/sqs_starter.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/sqs_utils.py
  localstack/services/sqs/utils.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_multiregion.py
  tests/integration/test_sns.py
  tests/integration/test_sqs.py
  tests/unit/test_sqs.py
Labels: tests, aws:sqs, size/l

#6073 Add DISABLE_CORS_HEADERS option to disable default CORS headers
  localstack/config.py
  localstack/services/generic_proxy.py
  tests/integration/test_security.py
Labels: size/m

#6078 fix ARN rewriting for incoming requests, fix lambda arn creation
  localstack/services/generic_proxy.py
  localstack/utils/aws/aws_stack.py
  tests/unit/test_generic_proxy.py
Labels: size/s

#6079 fix test_get_queue_url_contains_request_host for pro integration
  tests/integration/test_sqs.py
Labels: aws:sqs, size/xs

#6082 ci: fix the stale bot by removing bug from exempted labels
  .github/workflows/stale-bot.yml
Labels: size/xs

#6087 Fix CLI usage with python 3.7
  localstack/utils/collections.py
  localstack/utils/container_networking.py
  localstack/utils/container_utils/container_client.py
Labels: size/s

#6080 Handle Cloudformations empty stack updates by changing the changeset status
  localstack/services/cloudformation/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/cloudformation/template_deployer.py
  tests/integration/cloudformation/test_cloudformation_changesets.py
Labels: aws:cloudformation, tests, size/m

#6074 remove delete integration patch
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  tests/integration/test_apigateway.py
Labels: aws:apigateway, size/s

#6092 migrate apigateway unittest tests to pytest
  tests/integration/test_apigateway.py
Labels: size/m

#6091 sqs tag map parsing
  localstack/aws/protocol/parser.py
  tests/unit/aws/protocol/test_parser.py
Labels: size/m

#6086 add initial support for streaming in ASF scaffold and serializer
  localstack/aws/protocol/serializer.py
  localstack/aws/scaffold.py
  localstack/http/adapters.py
  localstack/utils/aws/aws_responses.py
  tests/unit/aws/protocol/test_serializer.py
  tests/unit/aws/test_scaffold.py
Labels: asf, size/m

#6090 add empty-string validation for sqs user queue attributes
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/s

#6088 add ASF prototype for server-side parameter validation
  localstack/aws/protocol/validate.py
  localstack/services/sqs/query_api.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/client.py
  tests/integration/test_sqs.py
  tests/integration/test_validate.py
  tests/unit/aws/__init__.py
  tests/unit/aws/protocol/__init__.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser_validate.py
Labels: tests, aws:sqs, size/m

#6094 fix cleanup of event source mapping test
  tests/integration/awslambda/test_lambda_integration.py
Labels: size/s

#6097 fix message attribute filter for SQS ReceiveMessage
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:sqs, size/m

#6095 ASF protocol cleanup / small enhancements
  localstack/aws/protocol/parser.py
  localstack/aws/protocol/serializer.py
  localstack/aws/protocol/service_router.py
  localstack/http/response.py
  localstack/services/edge.py
  localstack/services/sqs/query_api.py
  localstack/utils/aws/aws_stack.py
  tests/integration/test_security.py
  tests/integration/test_sqs.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser_validate.py
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:sqs, size/m

#6103 improve SQS receipt handle error parity
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/m

#6109 Slight refactoring to allow customizing DynamoDB server startup
  localstack/services/dynamodb/server.py
Labels: size/xs

#6115 fix SQS dead letter queue delivery for fifo queues
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/s

#6118 fix SQS ReceiveMessage blocking behavior when MaxNumberOfMessages is set
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/s

#6122 Add default UserName for AWS::IAM::User
  localstack/services/cloudformation/models/iam.py
  localstack/testing/pytest/fixtures.py
  tests/integration/cloudformation/test_cloudformation_iam.py
  tests/integration/cloudformation/test_cloudformation_iam.snapshot.json
Labels: aws:cloudformation, aws:iam, tests, size/s

#6123 Use asyncio run_in_executor to prevent is_ssl_socket check from blocking
  localstack/services/generic_proxy.py
Labels: size/xs

#6145 fix sqs query-api endpoint strategy routing
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/s

#6148 Fix references to AWS managed policies in SAM templates
  localstack/services/iam/provider.py
  localstack/utils/cloudformation/template_preparer.py
  tests/integration/cloudformation/test_cloudformation_sam.py
  tests/integration/templates/sam_function-policies.yaml
Labels: aws:cloudformation, aws:iam, integration:sam, size/s

#6147 fix SQS ApproximateFirstReceiveTimestamp type
  localstack/aws/forwarder.py
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/s

#5935 Feature apigateway rest swagger export
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  setup.cfg
  tests/integration/files/petstore-swagger.json
  tests/integration/test_apigateway.py
  tests/integration/test_apigateway_api.py
Labels: aws:apigateway, size/l

#6144 Add test for catch/retry mechanism in StepFunctions
  tests/integration/cloudformation/test_cloudformation_stepfunctions.py
  tests/integration/templates/sfn_retry_catch.yaml
Labels: size/m

#6154 Bump moto-ext to version 3.1.10
  localstack/services/apigateway/patches.py
  localstack/services/infra.py
  setup.cfg
  tests/integration/test_apigateway.py
  tests/integration/test_ssm.py
Labels: aws:apigateway, size/s

#6114 Introduce BackendStateLifecycle abstraction
  localstack/services/dynamodb/server.py
  localstack/services/plugins.py
Labels: size/s

#6140 add SQS feature flag to raise QueueDeletedRecently errors
  localstack/config.py
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
Labels: aws:sqs, size/m

#6152 TransactWriteItem for binary data
  localstack/services/dynamodb/provider.py
  tests/integration/test_dynamodb.py
Labels: aws:dynamodb, size/s

#6169 Update redhat image to python 3.10
  Dockerfile.rh
Labels: docker, size/s

#6175 add option to select test cases by fixture usage
  localstack/testing/pytest/filters.py
  tests/conftest.py
Labels: tests, size/s

#6040 add apigateway restapi dispatcher to edge router
  localstack/aws/protocol/service_router.py
  localstack/services/apigateway/provider_asf.py
  localstack/services/providers.py
  tests/integration/test_apigateway.py
Labels: aws:apigateway, size/m

#6174 minor fix to allow authorization context permeate into lambda event
  localstack/services/apigateway/context.py
  localstack/services/apigateway/invocations.py
Labels: aws:apigateway, size/xs

#6168 Fix SNS format when delivering to a DLQ
  localstack/services/sns/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/dead_letter_queue.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
  tests/integration/test_sqs.py
Labels: tests, aws:sns, size/m

#6178 Add error handling for localstack container startup in CLI
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/docker_cmd_client.py
Labels: size/s
