Repository localstack/localstack, pull requests merged in 2023-03, with the labels that each got.

#7771 fix SNS storing lambda invocation logs + improve parity
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#7746 improve apigw parity work for Resource proxy path
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway

#7750 apigateway - refactor store
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/models.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
  tests/integration/test_apigateway.py
Labels: aws:apigateway

#7827 DDB - persistence plugin and server rework
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/server.py
Labels: aws:dynamodb

#7787 fix APIGW import RestAPI version type mismatch
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
  tests/integration/files/openapi.spec.tf.json
Labels: aws:apigateway

#7749 apigw parity work resource method
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  localstack/utils/json.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway

#7834 Added hooks to the SFN provider
  localstack/services/stepfunctions/provider.py
  localstack/services/stepfunctions/stepfunctions_starter.py
Labels: aws:stepfunctions

#7862 fix NotFound exception for GetTopicAttributes
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#7870 improve S3 vhost matching on any domain
  localstack/services/s3/virtual_host.py
  tests/integration/s3/test_s3.py
Labels: aws:s3

#7846 fix validator and model check during invocation
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/conftest.py
  tests/integration/apigateway/test_apigateway_common.py
  tests/integration/apigateway/test_apigateway_common.snapshot.json
  tests/unit/test_apigateway.py
Labels: aws:apigateway

#7872 implement apigw Model validation if in use by a Method
  localstack/services/apigateway/models.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway

#7965 fix: dynamodb restart
  localstack/services/dynamodb/provider.py
Labels: area: persistence, aws:dynamodb

#7987 add test for ListObjectsV2 + fix config flag
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/config.py
  localstack/services/s3/cors.py
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3

#7983 fix response structure for S3 ListMultipartUploads
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3
