Repository localstack/localstack, pull requests merged in 2023-10, with the labels that each got.

#9272 exclude werkzeug 3.0
  setup.cfg
Labels: semver: patch

#9259 Implementation of CloudFormation support for AWS::KinesisFirehose
  localstack/services/cloudformation/resource_provider.py
  localstack/services/kinesisfirehose/__init__.py
  localstack/services/kinesisfirehose/resource_providers/__init__.py
  localstack/services/kinesisfirehose/resource_providers/aws_kinesisfirehose_deliverystream.py
  localstack/services/kinesisfirehose/resource_providers/aws_kinesisfirehose_deliverystream.schema.json
Labels: aws:cloudformation, semver: patch

#9238 add label sync, migrate workflows to shared workflows
  .github/workflows/stale-bot.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync-project.yml
Labels: semver: patch

#9274 Add develop mode to dev script
  localstack/dev/run/__main__.py
  localstack/utils/bootstrap.py
Labels: semver: patch

#9251 cleanup and refactor scenario tests
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/scenario/bookstore/__init__.py
  tests/aws/scenario/bookstore/functions/getBook.js
  tests/aws/scenario/bookstore/functions/listBooks.js
  tests/aws/scenario/bookstore/functions/loadBooksHelper.js
  tests/aws/scenario/bookstore/functions/search.py
  tests/aws/scenario/bookstore/functions/update_search_cluster.py
  tests/aws/scenario/bookstore/resources/initial_books.json
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/bookstore/test_bookstore.snapshot.json
  tests/aws/scenario/lambda_destination/__init__.py
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.py
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.snapshot.json
  tests/aws/scenario/loan_broker/__init__.py
  tests/aws/scenario/loan_broker/functions/bank_app.js
  tests/aws/scenario/loan_broker/functions/bank_app_credit_bureau.js
  tests/aws/scenario/loan_broker/test_loan_broker.py
  tests/aws/scenario/loan_broker/test_loan_broker.snapshot.json
  tests/aws/scenario/note_taking/__init__.py
  tests/aws/scenario/note_taking/functions/createNote.js
  tests/aws/scenario/note_taking/functions/deleteNote.js
  tests/aws/scenario/note_taking/functions/getNote.js
  tests/aws/scenario/note_taking/functions/libs/response.js
  tests/aws/scenario/note_taking/functions/listNotes.js
  tests/aws/scenario/note_taking/functions/updateNote.js
  tests/aws/scenario/note_taking/test_note_taking.py
  tests/aws/scenario/note_taking/test_note_taking.snapshot.json
  tests/aws/scenario/reference/fn/handler.py
  tests/aws/scenario/reference/fn/handler.zip
  tests/aws/scenario/reference/test_lambda_scenario.py
  tests/aws/scenario/reference/test_s3_cleanup.py
  tests/aws/scenario/test_ecs_scenario.py
  tests/aws/services/apigateway/test_apigateway_lambda_cfn.py
  tests/aws/services/apigateway/test_apigateway_lambda_cfn.snapshot.json
Labels: semver: patch

#9138 Add AWS::DynamoDB::Table resource provider
  localstack/services/cloudformation/resource_provider.py
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/resource_providers/__init__.py
  localstack/services/dynamodb/resource_providers/aws_dynamodb_table.py
  localstack/services/dynamodb/resource_providers/aws_dynamodb_table.schema.json
  localstack/services/dynamodb/resource_providers/aws_dynamodb_table_plugin.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: semver: patch

#9268 add error handling for Events.PutRule
  localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/test_integration.py
Labels: semver: minor

#9282 fix flaky get_metric_data cloudwatch test
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: semver: patch

#9276 upgrade werkzeug to version 3
  localstack/aws/forwarder.py
  localstack/aws/serving/wsgi.py
  localstack/http/router.py
  localstack/services/lambda_/lambda_api.py
  setup.cfg
Labels: semver: minor

#9270 avoid installation of python3.9 in docker image
  Dockerfile
Labels: semver: patch

#9229 Track DNS_ADDRESS usage in events
  localstack/runtime/analytics.py
Labels: semver: patch

#9178 Resolve LOCALSTACK_HOST to the LocalStack container
  localstack/dns/server.py
  tests/bootstrap/test_container_listen_configuration.py
  tests/bootstrap/test_dns_server.py
Labels: semver: patch

#9275 Add cdk-helper for lambdas with dependency
  localstack/testing/scenario/cdk_lambda_helper.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/note_taking/test_note_taking.py
Labels: semver: patch

#9279 Fix persistence for provisioned concurrency
  localstack/services/lambda_/provider.py
Labels: semver: patch

#9283 Screen AWS markers for Lambda
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
  tests/aws/services/lambda_/test_lambda_legacy.py
  tests/aws/services/lambda_/test_lambda_performance.py
  tests/aws/services/lambda_/test_lambda_runtimes.py
Labels: semver: patch

#9289 Allow --mount-dependencies for python modules which are not in a separate directory
  localstack/dev/run/configurators.py
Labels: semver: patch

#9257 Stabilize first version of CDK-based InfraProvisioner
  localstack/testing/scenario/provisioning.py
  tests/aws/cdk_templates/APIGWtest/ApiGatewayStack.json
  tests/aws/cdk_templates/Bookstore/BookstoreStack.json
  tests/aws/cdk_templates/LambdaDestinationEventbridge/EventbridgeStack.json
  tests/aws/cdk_templates/LambdaDestinationScenario/LambdaTestStack.json
  tests/aws/cdk_templates/LoanBroaker/LoanBroker-RecipientList.json
  tests/aws/cdk_templates/NoteTaking/NoteTakingStack.json
  tests/aws/conftest.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.py
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.snapshot.json
  tests/aws/scenario/loan_broker/test_loan_broker.py
  tests/aws/scenario/note_taking/test_note_taking.py
  tests/aws/services/apigateway/test_apigateway_lambda_cfn.py
  tests/aws/services/lambda_/test_lambda_destinations.py
Labels: semver: patch

#9290 add /_localstack/info endpoint for basic infos about the instance
  localstack/services/internal.py
  localstack/utils/analytics/metadata.py
  tests/integration/services/test_internal.py
  tests/unit/services/test_internal.py
Labels: semver: minor

#9278 Type conversion for AWS::OpenSearch::Domain
  localstack/services/opensearch/resource_providers/aws_opensearchservice_domain.py
  tests/aws/services/cloudformation/resources/test_opensearch.py
  tests/aws/services/cloudformation/resources/test_opensearch.snapshot.json
  tests/aws/templates/opensearch_domain_alternative_types.yml
Labels: semver: patch

#9297 fix S3 v3 HeadObject with checksum
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9299 regenerate ASF stubs for botocore 1.31.61 upgrade
  localstack/aws/api/ec2/__init__.py
  localstack/aws/api/route53/__init__.py
  localstack/aws/api/sts/__init__.py
Labels: semver: minor

#9296 Implementation of AWS::CloudWatch::* resource providers for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudwatch/resource_providers/__init__.py
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_alarm.py
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_alarm.schema.json
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_alarm_plugin.py
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_compositealarm.py
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_compositealarm.schema.json
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_compositealarm_plugin.py
Labels: aws:cloudformation, semver: patch

#9286 Fix layer version handling for external Lambda layers
  localstack/services/lambda_/provider.py
Labels: semver: patch

#9305 transcibe: update snapshots
  tests/aws/services/transcribe/test_transcribe.snapshot.json
Labels: aws:transcribe, semver: patch

#9119 StepFunctions: Multi-accounts compatibility
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_eval_s3.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/resource.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_dynamodb.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/asl/eval/aws_execution_details.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/utils/boto_client.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/execution_worker.py
  localstack/services/stepfunctions/provider.py
  localstack/services/stepfunctions/provider_v2.py
  localstack/services/stepfunctions/stepfunctions_starter.py
  localstack/services/stepfunctions/stepfunctions_utils.py
  localstack/services/stores.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
Labels: semver: minor

#9302 Implementation of AWS::ECR::Repository resource provider for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ecr/__init__.py
  localstack/services/ecr/resource_providers/__init__.py
  localstack/services/ecr/resource_providers/aws_ecr_repository.py
  localstack/services/ecr/resource_providers/aws_ecr_repository.schema.json
  localstack/services/ecr/resource_providers/aws_ecr_repository_plugin.py
Labels: aws:cloudformation, semver: patch

#9303 add Python 3.12 to the CLI test version matrix
  .github/workflows/tests-cli.yml
Labels: semver: patch

#9310 fix GetTopicAttributes exception when arn is malformed
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9311 Add support for fn::select in conditional
  localstack/services/cloudformation/engine/template_utils.py
  tests/aws/services/cloudformation/engine/test_conditions.py
  tests/aws/templates/conditions/conditional-with-select.yml
Labels: semver: patch

#9312 Minor: Enhance parity around CloudFormation template URLs
  localstack/services/cloudformation/api_utils.py
  tests/aws/services/cloudformation/api/test_get_template_summary.py
  tests/aws/services/cloudformation/api/test_get_template_summary.snapshot.json
  tests/aws/services/cloudformation/api/test_stack_policies.py
  tests/aws/services/cloudformation/api/test_stack_policies.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_templates.py
  tests/aws/services/cloudformation/api/test_templates.snapshot.json
Labels: semver: patch

#9304 Implemented AWS::KMS::* Resource provider for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/kms/resource_providers/__init__.py
  localstack/services/kms/resource_providers/aws_kms_alias.py
  localstack/services/kms/resource_providers/aws_kms_alias.schema.json
  localstack/services/kms/resource_providers/aws_kms_alias_plugin.py
  localstack/services/kms/resource_providers/aws_kms_key.py
  localstack/services/kms/resource_providers/aws_kms_key.schema.json
  localstack/services/kms/resource_providers/aws_kms_key_plugin.py
Labels: aws:cloudformation, semver: patch

#9324 remove dependency on legacy boto
  localstack/aws/protocol/serializer.py
  setup.cfg
Labels: semver: patch

#9318 Use region-agnostic bucket create for Transcribe tests
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#9244 Adds internal cache invalidation on DynamoDB table update operations
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/utils.py
  tests/unit/test_dynamodb.py
Labels: semver: patch

#9271 add default event for scheduled eventbridge rules
  localstack/services/events/provider.py
  localstack/services/events/scheduler.py
  localstack/testing/aws/eventbus_utils.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/scheduled_rules/__init__.py
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_logs.py
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_logs.snapshot.json
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_sqs.py
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_sqs.snapshot.json
  tests/aws/services/events/test_events.py
Labels: semver: minor

#9323 fix SNS headers when publishing to HTTP endpoints
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9319 fix SNS MessageBody filtering with `.`
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9329 follow up on CloudFormation template URLs S3 URI
  localstack/services/cloudformation/api_utils.py
  tests/aws/services/cloudformation/api/test_templates.py
  tests/aws/services/cloudformation/api/test_templates.snapshot.json
Labels: aws:cloudformation, semver: patch

#9316 Add support for AWS::CertificateManager::Certificate resource
  localstack/services/certificatemanager/__init__.py
  localstack/services/certificatemanager/resource_providers/__init__.py
  localstack/services/certificatemanager/resource_providers/aws_certificatemanager_certificate.py
  localstack/services/certificatemanager/resource_providers/aws_certificatemanager_certificate.schema.json
  localstack/services/certificatemanager/resource_providers/aws_certificatemanager_certificate_plugin.py
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#9308 Add ElasticBeanstalk resources to list of resource providers
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#9332 Improve CDK test tooling with better error reporting and typing
  localstack/testing/scenario/provisioning.py
Labels: semver: patch

#9328 Fix lambda invoke with short function name
  localstack/services/lambda_/invocation/execution_environment.py
  tests/aws/services/lambda_/functions/lambda_role.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
Labels: semver: patch

#9338 fix missing support for eventbridge notifications in legacy AWS::S3::Bucket
  localstack/services/cloudformation/models/s3.py
Labels: semver: patch

#9336 add SNS internal endpoint to fetch SubscriptionTokens
  localstack/services/sns/constants.py
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: minor

#9339 Dev script can load extensions
  localstack/dev/run/__main__.py
Labels: semver: patch

#9245 move airspeed patches
  localstack/utils/aws/templating.py
  setup.cfg
Labels: semver: minor

#9343 Remove the deprecated internal boto client library
  localstack/utils/aws/aws_stack.py
Labels: semver: patch

#9314 Bump moto-ext to 4.2.5.post2
  setup.cfg
  tests/aws/services/acm/test_acm.py
Labels: semver: patch

#9288 upgrade debian to bookworm
  .github/dependabot.yml
  .github/workflows/asf-updates.yml
  Dockerfile
Labels: semver: minor

#9366 update Docker base images in a single PR
  .github/dependabot.yml
Labels: semver: patch

#9292 Fix lambda filesystem permissions
  localstack/config.py
  localstack/services/lambda_/packages.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
Labels: semver: patch

#9309 Helper changes to support `eksctl` and CDK L2 EKS construct
  localstack/services/cloudformation/resource_provider.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/objects.py
Labels: semver: patch

#9344 improve CORS handler: no CORS headers if no Origin
  localstack/aws/handlers/cors.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/integration/test_security.py
Labels: semver: minor

#9269 add test for AWS Mythical Mysfits sample app
  tests/aws/cdk_templates/MythicalMisfits/MythicalMisfitsStack.json
  tests/aws/scenario/mythical_mysfits/__init__.py
  tests/aws/scenario/mythical_mysfits/artefacts/functions/populate_db.py
  tests/aws/scenario/mythical_mysfits/artefacts/functions/stream_processor.py
  tests/aws/scenario/mythical_mysfits/constructs/__init__.py
  tests/aws/scenario/mythical_mysfits/constructs/user_clicks_service.py
  tests/aws/scenario/mythical_mysfits/stacks/__init__.py
  tests/aws/scenario/mythical_mysfits/stacks/mysfits_core_stack.py
  tests/aws/scenario/mythical_mysfits/test_mythical_misfits.py
  tests/aws/scenario/mythical_mysfits/test_mythical_misfits.snapshot.json
Labels: semver: patch

#9359 Bump moto-ext to 4.2.6.post1
  setup.cfg
Labels: semver: patch

#9363 EC2: Fix IndexError in ModifyLaunchTemplate
  localstack/services/ec2/provider.py
Labels: semver: patch

#9380 move lambda cloudformation resources to new module
  .env-exporter
  localstack/services/awslambda/resource_providers/__init__.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/lambda_/resource_providers/__init__.py
  localstack/services/lambda_/resource_providers/lambda_alias.py
  localstack/services/lambda_/resource_providers/lambda_alias.schema.json
  localstack/services/lambda_/resource_providers/lambda_alias_plugin.py
Labels: semver: patch

#9357 add ability to peek delayed and invisible sqs messages
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs_backdoor.py
Labels: semver: patch

#9378 Integrate lambda init upstream changes
  localstack/services/lambda_/packages.py
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/lambda_/functions/lambda_request_id.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.py
Labels: semver: minor

#9287 [SFN] Fixes and improvements to error logging
  localstack/services/stepfunctions/asl/component/component.py
  localstack/services/stepfunctions/asl/component/eval_component.py
  localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack/services/stepfunctions/asl/parse/asl_parser.py
  localstack/services/stepfunctions/provider_v2.py
Labels: semver: minor

#9384 Remove redundant SQS ARN helper
  localstack/utils/aws/arns.py
  localstack/utils/aws/dead_letter_queue.py
  localstack/utils/aws/message_forwarding.py
  localstack/utils/aws/queries.py
  tests/aws/test_serverless.py
  tests/performance/test_sqs_performance.py
Labels: semver: patch

#9361 Use account and region aware test assertions
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
Labels: semver: patch

#9362 Lambda: Fix VPC resolution in non-default accounts
  localstack/services/lambda_/provider.py
Labels: semver: patch

#9383 disable pro tests for forks, fix label check for fork PRs
  .github/workflows/pr-enforce-no-major-master.yml
  .github/workflows/pr-enforce-pr-labels.yml
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#9379 update CODEOWNERS
  CODEOWNERS
Labels: area: ci, semver: patch

#8915 Update kinesis-mock to 0.4.4
  localstack/services/kinesis/packages.py
Labels: semver: minor

#9389 Migrate Lambda to gateway listen
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/provider.py
Labels: semver: patch

#9370 fix awsRegion field in S3 notification
  localstack/services/s3/notifications.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.snapshot.json
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/aws/services/s3/test_s3_notifications_sqs.snapshot.json
Labels: aws:s3, semver: patch

#9388 fix s3 v3 multipart overwrite when key exists
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9342 [SFN] Add support for previousEventId
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/distributed_item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/job.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/state_parallel.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/eval/event/event_history.py
  localstack/services/stepfunctions/backend/execution_worker.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_boolean_equals.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_is_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_numeric.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_string_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_timestamp_operators.py
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_dynamodb.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sfn.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_array.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_encode_decode.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_hash_calculations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_math_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_unique_id_generation.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_sfn_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_dynamodb_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sfn_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_tagging.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
Labels: semver: minor

#9411 fix inter services IAM for S3 Notifications
  localstack/services/s3/notifications.py
Labels: aws:iam, aws:s3, semver: patch

#9358 sns: add multi-account capability to failing tests
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9407 minor: add mypy types for appconfigdata service client
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/utils/aws/client_types.py
  localstack/utils/diagnose.py
Labels: semver: patch

#9402 add config variable DYNAMODB_LOCAL_PORT to control ddb local port
  localstack/config.py
  localstack/services/dynamodb/provider.py
Labels: semver: patch

#9403 Add AWS::Redshift::Cluster support to LocalStack CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/redshift/resource_providers/__init__.py
  localstack/services/redshift/resource_providers/aws_redshift_cluster.py
  localstack/services/redshift/resource_providers/aws_redshift_cluster.schema.json
  localstack/services/redshift/resource_providers/aws_redshift_cluster_plugin.py
Labels: aws:cloudformation, semver: patch

#9416 add multi account support to failing tests in apigateway-sqs integration
  localstack/utils/aws/resources.py
  tests/aws/services/apigateway/test_apigateway_sqs.py
Labels: aws:apigateway, aws:sqs, semver: patch

#9382 DynamoDB: remove use of aws_stack.get_region()
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/utils.py
  tests/unit/test_dynamodb.py
Labels: semver: patch

#9401 APIGW: Use proper account ID and region during Invocation construction
  localstack/utils/aws/arns.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
Labels: semver: patch

#9410 enhancement: dynamodb performance optimization
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
Labels: area: performance, aws:dynamodb, semver: minor

#9436 fix ASF update action if there are no changes
  .github/workflows/asf-updates.yml
Labels: semver: patch

#9425 implement AwsRequestProxy that re-uses HTTP client connections
  localstack/aws/forwarder.py
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/server.py
  localstack/services/redshift/resource_providers/aws_redshift_cluster.py
Labels: semver: minor

#9440 add iter_stores method to AccountRegionBundle
  localstack/services/opensearch/provider.py
  localstack/services/sqs/provider.py
  localstack/services/stores.py
Labels: semver: minor

#9446 Simplify localstack init user config
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/packages.py
Labels: semver: patch

#9444 Fix LS container DNS configuration
  localstack/dns/server.py
  tests/unit/test_dns_server.py
Labels: semver: patch

#9435 apigateway: add multi-account and region capability
  localstack/services/apigateway/exporter.py
  localstack/services/apigateway/provider.py
Labels: semver: patch

#9429 fix s3 v3 EncodingType in List* operations
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: patch

#9430 fix s3 v3 ListObjectsV2 and ListObjectVersions pagination
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9431 add test for DeleteObjects encoding
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9404 Implementation of AWS::S3::* Resource Provider support for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/s3/resource_providers/__init__.py
  localstack/services/s3/resource_providers/aws_s3_bucket.py
  localstack/services/s3/resource_providers/aws_s3_bucket.schema.json
  localstack/services/s3/resource_providers/aws_s3_bucket_plugin.py
  localstack/services/s3/resource_providers/aws_s3_bucketpolicy.py
  localstack/services/s3/resource_providers/aws_s3_bucketpolicy.schema.json
  localstack/services/s3/resource_providers/aws_s3_bucketpolicy_plugin.py
Labels: aws:cloudformation, semver: patch

#9418 Cfn: Add account ID and region awareness to Stacks and StackChangeSets
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/provider.py
Labels: semver: patch

#9438 Add AWS::Events::* resource providers for CloudFormation
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/events/resource_providers/__init__.py
  localstack/services/events/resource_providers/aws_events_connection.py
  localstack/services/events/resource_providers/aws_events_connection.schema.json
  localstack/services/events/resource_providers/aws_events_connection_plugin.py
  localstack/services/events/resource_providers/aws_events_eventbus.py
  localstack/services/events/resource_providers/aws_events_eventbus.schema.json
  localstack/services/events/resource_providers/aws_events_eventbus_plugin.py
  localstack/services/events/resource_providers/aws_events_eventbuspolicy.py
  localstack/services/events/resource_providers/aws_events_eventbuspolicy.schema.json
  localstack/services/events/resource_providers/aws_events_eventbuspolicy_plugin.py
  localstack/services/events/resource_providers/aws_events_rule.py
  localstack/services/events/resource_providers/aws_events_rule.schema.json
  localstack/services/events/resource_providers/aws_events_rule_plugin.py
Labels: aws:cloudformation, semver: patch

#9320 Add support for AWS::ApiGateway::* resources
  localstack/services/apigateway/exporter.py
  localstack/services/apigateway/resource_providers/__init__.py
  localstack/services/apigateway/resource_providers/aws_apigateway_account.py
  localstack/services/apigateway/resource_providers/aws_apigateway_account.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_account_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_apikey.py
  localstack/services/apigateway/resource_providers/aws_apigateway_apikey.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_apikey_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_basepathmapping.py
  localstack/services/apigateway/resource_providers/aws_apigateway_basepathmapping.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_basepathmapping_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_deployment.py
  localstack/services/apigateway/resource_providers/aws_apigateway_deployment.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_deployment_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_domainname.py
  localstack/services/apigateway/resource_providers/aws_apigateway_domainname.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_domainname_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_gatewayresponse.py
  localstack/services/apigateway/resource_providers/aws_apigateway_gatewayresponse.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_gatewayresponse_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_method.py
  localstack/services/apigateway/resource_providers/aws_apigateway_method.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_method_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_model.py
  localstack/services/apigateway/resource_providers/aws_apigateway_model.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_model_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_requestvalidator.py
  localstack/services/apigateway/resource_providers/aws_apigateway_requestvalidator.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_requestvalidator_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_resource.py
  localstack/services/apigateway/resource_providers/aws_apigateway_resource.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_resource_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_restapi.py
  localstack/services/apigateway/resource_providers/aws_apigateway_restapi.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_restapi_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_stage.py
  localstack/services/apigateway/resource_providers/aws_apigateway_stage.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_stage_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplan_plugin.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplankey.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplankey.schema.json
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplankey_plugin.py
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/resource_provider.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
Labels: aws:cloudformation, semver: patch

#9448 fix s3 v3 preconditions
  localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9456 harden flaky test test_events_scheduled_rules_logs
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_logs.py
Labels: aws:logs, semver: patch

#9450 re-introduce S3 virtual host rewriter for v3
  localstack/aws/protocol/parser.py
  localstack/services/s3/cors.py
  localstack/services/s3/legacy/s3_starter.py
  localstack/services/s3/presigned_url.py
  localstack/services/s3/utils.py
  localstack/services/s3/virtual_host.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#9459 [SFN] Improvements for state update during retry-catch workflows
  localstack/services/stepfunctions/asl/component/common/catch/catch_decl.py
  localstack/services/stepfunctions/asl/component/common/catch/catch_outcome.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/asl/eval/contextobject/contex_object.py
  localstack/services/stepfunctions/asl/eval/environment.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/lambda_invoke_with_retry_base.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/lambda_invoke_with_retry_extended_input.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/lambda_service_invoke_with_retry_extended_input.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#9400 Lambda: Use proper account ID and region during ARN construction
  localstack/services/lambda_/lambda_api.py
  localstack/utils/aws/arns.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/lambda_/test_lambda_legacy.py
  tests/aws/services/lambda_/test_lambda_whitebox.py
  tests/aws/services/logs/test_logs.py
  tests/aws/test_serverless.py
  tests/unit/test_lambda.py
Labels: semver: patch

#9466 Update README.md, remove dollar sign from brew command
  README.md
Labels: semver: patch

#9463 kms: fix get_parameters_for_import
  localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
Labels: aws:kms, semver: patch

#9458 Update route matchers to accept any host
  localstack/services/s3/website_hosting.py
Labels: semver: patch

#9460 Fix lambda file permissions with layer
  localstack/services/lambda_/packages.py
Labels: semver: patch

#9464 Bump moto-ext to 4.2.6.post2
  setup.cfg
Labels: semver: patch

#9465 add test suite for CW v2 provider
  .circleci/config.yml
Labels: semver: patch

#9454 SQS: Introduce 'standard' queue URL strategy
  localstack/config.py
  localstack/services/sqs/models.py
  localstack/services/sqs/query_api.py
  localstack/services/sqs/utils.py
  tests/aws/services/events/test_events.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/test_network_configuration.py
Labels: semver: minor

#9455 Implmentation of AWS::SecretsManager:* Resource Providers for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/secretsmanager/resource_providers/__init__.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_resourcepolicy.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_resourcepolicy.schema.json
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_resourcepolicy_plugin.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_rotationschedule.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_rotationschedule.schema.json
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_rotationschedule_plugin.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.schema.json
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret_plugin.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secrettargetattachment.py
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secrettargetattachment.schema.json
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secrettargetattachment_plugin.py
Labels: aws:cloudformation, semver: patch

#9478 Fix CFn schema json name resolution for -ext
  localstack/services/cloudformation/provider_utils.py
Labels: semver: patch

#8590 Add another CFn conditional test
  tests/aws/services/cloudformation/engine/test_conditions.py
  tests/aws/templates/cfn_if_attribute_none.yml
Labels: semver: patch

#9447 Add AWS::Logs::* Resource Providers to CloudFormation
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/logs/resource_providers/__init__.py
  localstack/services/logs/resource_providers/aws_logs_loggroup.py
  localstack/services/logs/resource_providers/aws_logs_loggroup.schema.json
  localstack/services/logs/resource_providers/aws_logs_loggroup_plugin.py
  localstack/services/logs/resource_providers/aws_logs_logstream.py
  localstack/services/logs/resource_providers/aws_logs_logstream.schema.json
  localstack/services/logs/resource_providers/aws_logs_logstream_plugin.py
  localstack/services/logs/resource_providers/aws_logs_subscriptionfilter.py
  localstack/services/logs/resource_providers/aws_logs_subscriptionfilter.schema.json
  localstack/services/logs/resource_providers/aws_logs_subscriptionfilter_plugin.py
Labels: aws:cloudformation, semver: patch

#9482 Add fallback partition config option for ARN partition rewriter
  localstack/aws/handlers/partition_rewriter.py
  localstack/config.py
  tests/unit/test_partition_rewriter.py
Labels: semver: major

#9481 fixed describe sfn exception
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
Labels: aws:stepfunctions, semver: patch

#9492 CFn: fix reserved python keyword usage in scaffolding plugin
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
Labels: aws:cloudformation, semver: patch

#9493 fix linting targets and reformat files
  Makefile
  localstack/services/apigateway/resource_providers/aws_apigateway_account.py
  localstack/services/apigateway/resource_providers/aws_apigateway_apikey.py
  localstack/services/apigateway/resource_providers/aws_apigateway_basepathmapping.py
  localstack/services/apigateway/resource_providers/aws_apigateway_deployment.py
  localstack/services/apigateway/resource_providers/aws_apigateway_domainname.py
  localstack/services/apigateway/resource_providers/aws_apigateway_gatewayresponse.py
  localstack/services/apigateway/resource_providers/aws_apigateway_method.py
  localstack/services/apigateway/resource_providers/aws_apigateway_model.py
  localstack/services/apigateway/resource_providers/aws_apigateway_requestvalidator.py
  localstack/services/apigateway/resource_providers/aws_apigateway_resource.py
  localstack/services/apigateway/resource_providers/aws_apigateway_restapi.py
  localstack/services/apigateway/resource_providers/aws_apigateway_stage.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplankey.py
  localstack/services/s3/resource_providers/aws_s3_bucket.py
  localstack/services/s3/resource_providers/aws_s3_bucketpolicy.py
Labels: semver: patch

#9473 Move lambda v1 to legacy package
  localstack/deprecations.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/event_source_listeners/sqs_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/stream_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/utils.py
  localstack/services/lambda_/hooks.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/lambda_utils.py
  localstack/services/lambda_/legacy/__init__.py
  localstack/services/lambda_/legacy/aws_models.py
  localstack/services/lambda_/legacy/dead_letter_queue.py
  localstack/services/lambda_/legacy/lambda_api.py
  localstack/services/lambda_/legacy/lambda_executors.py
  localstack/services/lambda_/legacy/lambda_models.py
  localstack/services/lambda_/legacy/lambda_starter.py
  localstack/services/lambda_/legacy/lambda_utils.py
  localstack/services/lambda_/networking.py
  localstack/services/lambda_/packages.py
  localstack/services/lambda_/plugins.py
  localstack/services/lambda_/provider.py
  localstack/services/lambda_/urlrouter.py
  localstack/services/providers.py
  localstack/testing/aws/lambda_utils.py
  localstack/utils/aws/aws_models.py
  localstack/utils/aws/dead_letter_queue.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_legacy.py
  tests/aws/services/lambda_/test_lambda_runtimes.py
  tests/aws/services/lambda_/test_lambda_whitebox.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/unit/services/lambda_/test_api_utils.py
  tests/unit/services/lambda_/test_lambda_legacy.py
Labels: semver: minor

#9377 Remove aws_stack.get_region() from test helpers
  localstack/testing/aws/util.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/sts/test_sts.py
Labels: semver: patch

#9506 Ensure backdoor endpoint tests respect the test account ID
  localstack/utils/aws/aws_stack.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs_backdoor.py
Labels: semver: patch

#9406 add DHCPOptions resource provider
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ec2/resource_providers/__init__.py
  localstack/services/ec2/resource_providers/aws_ec2_dhcpoptions.py
  localstack/services/ec2/resource_providers/aws_ec2_dhcpoptions.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_dhcpoptions_plugin.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/templates/dhcp_options.yml
Labels: semver: patch

#9504 fix ASF update service detection
  .github/workflows/asf-updates.yml
Labels: semver: patch

#9507 remove s3 encoding tets xfail marker and xfail flaky events scheduler test
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_logs.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#9510 Tag Operations for Cloudwatch v2 provider
  localstack/services/cloudwatch/provider_v2.py
Labels: semver: minor

#9462 Tests for Cloudwatch v2
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
Labels: semver: minor

#9398 Make ARN builders require account ID and region args
  localstack/services/apigateway/models.py
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudwatch/provider.py
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/services/ecr/resource_providers/aws_ecr_repository.py
  localstack/services/events/provider.py
  localstack/services/lambda_/legacy/lambda_api.py
  localstack/services/route53resolver/provider.py
  localstack/services/stepfunctions/provider_v2.py
  localstack/utils/aws/arns.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/events/test_events.py
  tests/aws/services/s3/test_s3_notifications_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/test_integration.py
  tests/aws/test_serverless.py
  tests/unit/services/lambda_/test_lambda_legacy.py
Labels: semver: patch

#9502 sns: get region and account from parsed `endpointArn`
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
Labels: aws:sns, semver: patch

#9503 fix s3 notification for lambda
  localstack/services/s3/notifications.py
Labels: aws:s3, aws:lambda, area: multi-account, semver: patch

#9515 Add state visitor handler for StepFunctions v2 persistence support
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/provider_v2.py
  localstack/testing/pytest/cloudtrail_tracking.py
Labels: semver: patch

#9516 add utility function to check comma-delimited strings
  localstack/utils/collections.py
  tests/unit/utils/test_collections.py
Labels: semver: patch

#9517 harden s3 v3 concurrency
  localstack/services/s3/v3/models.py
  tests/aws/services/s3/test_s3_concurrency.py
Labels: aws:s3, semver: patch
