Repository localstack/localstack, pull requests merged in 2023-08, with the labels that each got.

#8789 remove pymssql build-dependencies after fix release
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#8572 Allow asterisk only wild card
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: semver: minor

#8764 Events: Refactor tests to use fixture-based structure
  tests/integration/test_events.py
Labels: semver: patch

#8765 APIGW: Refactor tests to use the aws_client fixtures
  tests/integration/apigateway/apigateway_fixtures.py
  tests/integration/apigateway/test_apigateway_basic.py
Labels: semver: patch

#8749 Refactor `unittest` integration tests to use `pytest`
  tests/integration/awslambda/test_lambda_whitebox.py
  tests/integration/test_config_service.py
  tests/integration/test_multiregion.py
  tests/integration/test_serverless.py
  tests/integration/test_support.py
  tests/integration/test_swf.py
Labels: semver: patch

#8794 fix twitter handle in readme
  README.md
Labels: semver: patch

#8790 upgrade kinesis-mock to scalajs release, add node installer
  localstack/packages/core.py
  localstack/services/kinesis/kinesis_mock_server.py
  localstack/services/kinesis/kinesis_starter.py
  localstack/services/kinesis/packages.py
Labels: semver: minor

#8808 fix missing lambda keepalive variable in to-pass list for CLI
  localstack/config.py
Labels: semver: patch

#8758 implement read/write lock for s3 stream
  localstack/services/s3/provider_stream.py
Labels: aws:s3, semver: patch

#8795 Make client fixtures available to all tests
  .github/workflows/tests-cli.yml
  tests/conftest.py
  tests/fixtures.py
  tests/integration/conftest.py
Labels: semver: patch

#8748 Deprecate external boto client helper
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack/testing/aws/util.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/resources.py
  scripts/capture_notimplemented_responses.py
  tests/integration/apigateway/test_apigateway_basic.py
  tests/integration/s3/test_s3.py
  tests/integration/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/integration/stepfunctions/v2/test_stepfunctions_v2.py
  tests/integration/test_dynamodb.py
  tests/integration/test_ec2.py
  tests/integration/test_edge.py
  tests/integration/test_error_injection.py
  tests/integration/test_firehose.py
  tests/integration/test_integration.py
  tests/integration/test_kinesis.py
  tests/integration/test_resourcegroups.py
  tests/integration/test_route53.py
  tests/integration/test_s3control.py
  tests/performance/test_sqs_performance.py
  tests/unit/aws/test_service_router.py
Labels: semver: patch

#8815 fix s3_empty_bucket fixture to delete DeleteMarkers
  localstack/testing/pytest/fixtures.py
Labels: aws:s3, semver: patch

#8813 fix PutBucket logging with empty payload
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8820 fix credentials handling for capture-not-implemented
  scripts/capture_notimplemented_responses.py
Labels: semver: patch

#8818 configure MAIN_DOCKER_NETWORK automatically if --network flag is used
  localstack/cli/localstack.py
Labels: semver: minor

#8817 Small fixes to support CLI use with Python 3.8
  localstack/utils/venv.py
  tests/bootstrap/test_cli.py
Labels: semver: patch

#8796 Make scaffolding of resource provider tests & templates optional
  localstack/services/cloudformation/scaffolding/__main__.py
Labels: semver: patch

#8819 fix S3 streaming usage of readwrite lock
  localstack/services/s3/provider_stream.py
Labels: aws:s3, semver: patch

#8807 add pytest-tinybird to all CI runs on master
  .circleci/config.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  Makefile
  setup.cfg
Labels: semver: minor

#8823 Bundle lambda init into docker image
  Dockerfile
Labels: semver: patch

#8821 [SFN] Fix execution input, fix handling lambda payload i/o
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/execution_worker.py
  localstack/services/stepfunctions/provider_v2.py
  tests/integration/stepfunctions/templates/services/lambdafunctions/return_bytes_str.py
  tests/integration/stepfunctions/templates/services/services_templates.py
  tests/integration/stepfunctions/templates/services/statemachines/lambda_invoke_resource.json5
  tests/integration/stepfunctions/v2/services/test_lambda_task.py
  tests/integration/stepfunctions/v2/services/test_lambda_task.snapshot.json
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.py
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.snapshot.json
Labels: semver: minor

#8826 [SFN] Parse fail on incorrect derivations, fix mulitple retry, fix language definitions
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/parse/asl_parser.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack/services/stepfunctions/provider_v2.py
  tests/integration/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_retry_multiple_retriers.json5
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/integration/stepfunctions/v2/test_sfn_api.py
  tests/integration/stepfunctions/v2/test_sfn_api.snapshot.json
Labels: semver: minor

#8839 Move aws client fixtures to conftest.py
  tests/conftest.py
  tests/fixtures.py
Labels: semver: patch

#8831 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: semver: patch

#8830 regenerate S3 snapshots
  localstack/services/s3/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
  tests/integration/s3/test_s3_notifications_eventbridge.py
  tests/integration/s3/test_s3_notifications_eventbridge.snapshot.json
  tests/integration/s3/test_s3_notifications_lambda.snapshot.json
  tests/integration/s3/test_s3_notifications_sns.snapshot.json
  tests/integration/s3/test_s3_notifications_sqs.py
  tests/integration/s3/test_s3_notifications_sqs.snapshot.json
Labels: aws:s3, semver: patch

#8845 fix VirtualHost proxy removing ContentLength for GetObject
  localstack/http/client.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
  tests/aws/s3/test_s3_notifications_lambda.py
  tests/unit/http_/test_proxy.py
Labels: aws:s3, semver: patch

#8786 introduce new S3 native provider
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/config.py
  localstack/services/providers.py
  localstack/services/s3/constants.py
  localstack/services/s3/exceptions.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/__init__.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/__init__.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8767 New pytest parity markers & marker registration
  localstack/testing/pytest/fixtures.py
  localstack/testing/pytest/marking.py
  tests/aws/awslambda/test_lambda_common.py
  tests/conftest.py
Labels: semver: patch

#8836 Enhance parity around API Gateway stage patch operations
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/models.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  localstack/testing/pytest/fixtures.py
  tests/aws/apigateway/conftest.py
  tests/aws/apigateway/test_apigateway_basic.py
  tests/aws/apigateway/test_apigateway_common.py
  tests/aws/apigateway/test_apigateway_common.snapshot.json
Labels: semver: patch

#8787 implement S3 native multiparts operations
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3.py
Labels: aws:s3, semver: minor

#8776 add S3 CORS test with referer header and regenerate CORS snaphots
  localstack/services/s3/cors.py
  tests/aws/s3/test_s3_cors.py
  tests/aws/s3/test_s3_cors.snapshot.json
Labels: aws:s3, semver: patch

#8859 add validated marker to snapshotted tests
  tests/aws/apigateway/test_apigateway_import.py
  tests/aws/apigateway/test_apigateway_integrations.py
  tests/aws/apigateway/test_apigateway_kinesis.py
  tests/aws/awslambda/test_lambda_api.py
  tests/aws/awslambda/test_lambda_destinations.py
  tests/aws/awslambda/test_lambda_legacy.py
  tests/aws/awslambda/test_lambda_runtimes.py
  tests/aws/cloudcontrol/test_cloudcontrol_api.py
  tests/aws/cloudformation/api/test_changesets.py
  tests/aws/cloudformation/api/test_extensions_api.py
  tests/aws/cloudformation/api/test_extensions_hooks.py
  tests/aws/cloudformation/api/test_extensions_modules.py
  tests/aws/cloudformation/api/test_extensions_resourcetypes.py
  tests/aws/cloudformation/api/test_stacks.py
  tests/aws/cloudformation/resource_providers/iam/aws_iam_user/test_exploration.py
  tests/aws/cloudformation/resource_providers/opensearch/test_domain.py
  tests/aws/cloudformation/resource_providers/ssm/test_parameter.py
  tests/aws/cloudformation/resource_providers/ssm/test_parameter_getatt_exploration.py
  tests/aws/cloudformation/resources/test_apigateway.py
  tests/aws/cloudformation/resources/test_cloudformation.py
  tests/aws/cloudformation/resources/test_logs.py
  tests/aws/cloudformation/test_template_engine.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3_api.py
  tests/aws/stepfunctions/v2/error_handling/test_task_service_dynamodb.py
  tests/aws/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/aws/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/test_dynamodb.py
  tests/aws/test_logs.py
  tests/aws/test_redshift.py
  tests/aws/test_ses.py
  tests/aws/test_sqs.py
Labels: semver: patch

#8853 Bump moto-ext to 4.1.14.post1
  setup.cfg
Labels: semver: patch

#8848 Use sane default for Docker stop timeout
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
Labels: semver: patch

#8868 Add schema file for "AWS::OpenSearchService::Domain" resource provider
  localstack/services/opensearch/resource_providers/aws_opensearchservice_domain.py
  localstack/services/opensearch/resource_providers/aws_opensearchservice_domain.schema.json
Labels: semver: patch

#8866 Enforce exactly one AWS pytest marker on each test case
  .circleci/config.yml
  Makefile
  localstack/testing/pytest/marking.py
  tests/aws/test_ses.py
  tests/aws/test_sns.py
  tests/conftest.py
Labels: semver: patch

#8871 fix: S3 multipart upload part 10000
  localstack/services/s3/provider.py
Labels: semver: patch

#8799 implement S3 native bucket versioning
  localstack/aws/protocol/serializer.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:s3, semver: minor

#8873 Further enhance parity of API Gateway patch operations
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  tests/aws/apigateway/test_apigateway_common.py
  tests/aws/apigateway/test_apigateway_common.snapshot.json
Labels: semver: patch

#8870 Add ability to specify custom IDs for KMS keys
  localstack/services/kms/provider.py
  tests/aws/test_kms.py
Labels: semver: patch

#8800 add S3 native bucket encryption and AWS key managed key
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/constants.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: minor

#8802 implement S3 native notifications
  localstack/services/s3/notifications.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
Labels: aws:s3, semver: minor

#8835 add WebSocket support for ASGI/WSGI bridge and Gateway
  localstack/aws/gateway.py
  localstack/aws/handlers/routes.py
  localstack/aws/protocol/service_router.py
  localstack/aws/serving/asgi.py
  localstack/http/asgi.py
  localstack/http/request.py
  localstack/http/websocket.py
  tests/integration/aws/test_app.py
  tests/unit/http_/conftest.py
  tests/unit/http_/test_asgi.py
  tests/unit/http_/test_websockets.py
Labels: semver: minor

#8829 [SFN] Enhanced support for empty fail states
  localstack/services/stepfunctions/asl/component/common/error_name/failure_event.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_worker.py
  localstack/services/stepfunctions/asl/component/state/state_fail/state_fail.py
  tests/aws/stepfunctions/templates/base/base_templates.py
  tests/aws/stepfunctions/templates/base/statemachines/raise_empty_failure.json5
  tests/aws/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/stepfunctions/templates/scenarios/statemachines/map_state_catch_empty_fail.json5
  tests/aws/stepfunctions/v2/base/test_base.py
  tests/aws/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#8811 implement S3 native tagging
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: minor

#8879 DDBStreams: Multi-accounts compatibility
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/services/dynamodbstreams/provider.py
  localstack/utils/cloudwatch/cloudwatch_util.py
Labels: semver: patch

#7991 Integrate GATEWAY_LISTEN
  .gitignore
  bin/docker-entrypoint.sh
  bin/localstack-start-docker-dev.sh
  localstack/aws/serving/edge.py
  localstack/cli/localstack.py
  localstack/config.py
  localstack/http/hypercorn.py
  localstack/services/edge.py
  localstack/utils/collections.py
  localstack/utils/json.py
  tests/aws/conftest.py
  tests/integration/conftest.py
  tests/unit/aws/test_connect.py
  tests/unit/cli/test_cli.py
  tests/unit/http_/test_hypercorn.py
  tests/unit/test_config.py
  tests/unit/test_edge.py
Labels: semver: patch

#8814 implement S3 native CORS
  localstack/services/s3/cors.py
  localstack/services/s3/provider.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/validation.py
  tests/aws/s3/test_s3_cors.py
Labels: aws:s3, semver: minor

#8863 implement S3 native Lifecycle + mocked Bucket APIs
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
Labels: aws:s3, semver: minor

#8896 Set INITIALIZE_STREAMS for Kinesis Mock
  localstack/services/kinesis/kinesis_mock_server.py
Labels: semver: patch

#8864 implement S3 native Website
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/website_hosting.py
  tests/aws/s3/test_s3.py
Labels: aws:s3, semver: minor

#8884 implement S3 native object lock
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/exceptions.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  localstack/testing/pytest/fixtures.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
Labels: semver: minor

#8914 bump version of airspeed-ext to 0.6.0
  localstack/utils/aws/templating.py
  setup.cfg
Labels: semver: patch

#8885 implement S3 native RequestPayment, GetObject Part, Preconditions
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:s3, semver: minor

#8905 DynamoDB: Global table support for Scan and Query
  localstack/services/dynamodb/provider.py
  tests/aws/test_dynamodb.py
Labels: semver: minor

#8919 Fix parsing of booleans in API Gateway Velocity templates
  localstack/services/apigateway/templates.py
  tests/unit/test_apigateway.py
Labels: semver: patch

#8886 implement S3 native PublicAccessBlock and ObjectOwnership
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/constants.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: minor

#8889 implement S3 native Bucket Policy and AccelerateConfig
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/exceptions.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/s3/test_s3_api.py
  tests/aws/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: minor

#8901 implement S3 native BucketLogging and BucketReplication
  localstack/services/s3/provider.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/s3/test_s3.py
  tests/aws/s3/test_s3.snapshot.json
Labels: aws:s3, semver: minor

#8852 [SFN] Support for UpdateStateMachine
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/stepfunctions/v2/test_sfn_api.py
  tests/aws/stepfunctions/v2/test_sfn_api.snapshot.json
Labels: semver: minor

#8900 [SFN] Support for sync:2
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/resource.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  tests/aws/stepfunctions/templates/callbacks/callback_templates.py
  tests/aws/stepfunctions/templates/callbacks/statemachines/sfn_start_execution_sync2.json5
  tests/aws/stepfunctions/v2/callback/test_callback.py
  tests/aws/stepfunctions/v2/callback/test_callback.snapshot.json
Labels: semver: minor

#8913 Mark deprecated env config options
  localstack/config.py
  localstack/deprecations.py
Labels: semver: patch

#8894 [SFN] Support for State Machine versioning
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/backend/store.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/stepfunctions/utils.py
  tests/aws/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/stepfunctions/v2/test_sfn_api_versioning.snapshot.json
Labels: semver: minor

#8926 fix close call propagation of response in asgi/wsgi bridge
  localstack/http/asgi.py
  tests/unit/http_/test_asgi.py
Labels: semver: minor

#8936 Update postgres dependency in pipeline
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#8912 SNS: Use proper region from request context for SigningUrl
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/unit/test_sns.py
Labels: semver: patch

#8923 Add get_free_udp_port utility + test
  localstack/services/edge.py
  localstack/utils/net.py
  tests/unit/utils/test_net_utils.py
Labels: semver: patch

#8902 implement S3 native ACL
  localstack/services/s3/constants.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/validation.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8944 [SFN] Skip local iam role assume check
  tests/aws/services/stepfunctions/conftest.py
Labels: semver: minor

#8907 implement S3 native pre-signed POST (PostObject)
  localstack/services/s3/constants.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8961 Fix community test against Pro runs
  tests/aws/test_network_configuration.py
  tests/aws/test_serverless.py
Labels: semver: patch

#8962 fix get_raw_path parsing
  localstack/http/request.py
  tests/unit/http_/test_request.py
Labels: area: asf, semver: patch

#8918 implement S3 v3 pre-signed handler
  localstack/aws/api/s3/__init__.py
  localstack/aws/app.py
  localstack/aws/handlers/__init__.py
  localstack/aws/handlers/presigned_url.py
  localstack/aws/spec-patches.json
  localstack/services/s3/presigned_url.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8822 Cfn: Multi-accounts compatibility
  localstack/services/cloudformation/cfn_utils.py
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/engine/parameters.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_preparer.py
  localstack/services/cloudformation/engine/template_utils.py
  localstack/services/cloudformation/engine/transformers.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/cdk.py
  localstack/services/cloudformation/models/certificatemanager.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kinesisfirehose.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudformation/models/logs.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/cloudformation/models/redshift.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/ssm.py
  localstack/services/cloudformation/models/stepfunctions.py
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/service_models.py
  localstack/services/cloudformation/stores.py
Labels: semver: minor

#8955 Add back support for type hints in PyCharm for snapshot fixture
  localstack/testing/pytest/fixture_conflicts.py
  localstack/testing/pytest/snapshot.py
  tests/conftest.py
Labels: semver: patch

#8892 Ensure properly configured client for fixtures and testutils
  localstack/services/apigateway/helpers.py
  localstack/services/firehose/provider.py
  localstack/services/kinesis/provider.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/lambda_/test_lambda_whitebox.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/test_integration.py
Labels: semver: patch

#8957 Fix missing implementation of CloudFormation EC2 UserData
  localstack/services/cloudformation/models/ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.py
Labels: semver: patch

#8925 provide result handle to AWS::ApiGateway::GatewayResponse
  localstack/services/cloudformation/models/apigateway.py
  tests/aws/scenario/test_apigateway_scenario.py
  tests/aws/scenario/test_apigateway_scenario.snapshot.json
Labels: semver: patch

#8973 Fix result handler signature AWS::ApiGateway::GatewayResponse result handler
  localstack/services/cloudformation/models/apigateway.py
Labels: semver: patch

#8974 Fix resolving pseudo-parameters in Fn::Sub
  localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/engine/test_references.py
  tests/aws/services/cloudformation/engine/test_references.snapshot.json
  tests/aws/templates/engine/cfn_fn_sub.yaml
Labels: semver: patch

#8958 increase WaiterConfig for setting up scenarios on AWS
  localstack/testing/scenario/provisioning.py
Labels: semver: patch

#8978 Move handling of special cases when mapping CFn type to service to community
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#8972 Update dynamodb snapshots
  tests/aws/services/cloudformation/resources/test_dynamodb.py
  tests/aws/services/cloudformation/resources/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
Labels: semver: patch

#8969 add scenario tests for stepfunctions and lambda
  localstack/testing/scenario/provisioning.py
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/scenario/resources_loan_broker/bank_app.js
  tests/aws/scenario/resources_loan_broker/bank_app_credit_bureau.js
  tests/aws/scenario/resources_note_taking/lambda_sources/createNote.js
  tests/aws/scenario/resources_note_taking/lambda_sources/deleteNote.js
  tests/aws/scenario/resources_note_taking/lambda_sources/getNote.js
  tests/aws/scenario/resources_note_taking/lambda_sources/libs/response.js
  tests/aws/scenario/resources_note_taking/lambda_sources/listNotes.js
  tests/aws/scenario/resources_note_taking/lambda_sources/updateNote.js
  tests/aws/scenario/test_loan_broker.py
  tests/aws/scenario/test_loan_broker.snapshot.json
  tests/aws/scenario/test_note_taking.py
Labels: semver: patch

#8943 [SFN] Support for ApiGateway
  localstack/services/stepfunctions/asl/component/eval_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/wait_function.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/api_gateway_invoke_base.json5
  tests/aws/services/stepfunctions/templates/services/statemachines/api_gateway_invoke_with_body.json5
  tests/aws/services/stepfunctions/templates/services/statemachines/api_gateway_invoke_with_query_parameters.json5
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.snapshot.json
Labels: semver: minor

#8798 Implement resource provider for AWS::SQS::Queue
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudformation/models/ssm.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/service_models.py
  localstack/services/sqs/resource_providers/__init__.py
  localstack/services/sqs/resource_providers/aws_sqs_queue.py
  localstack/services/sqs/resource_providers/aws_sqs_queue.schema.json
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/templates/apigateway_usage_plan.yml
  tests/aws/templates/for_removal_remove.yaml
  tests/aws/templates/for_removal_setup.yaml
  tests/aws/templates/legacy_transitive_ref.yaml
  tests/aws/templates/sqs_queue_update.yml
  tests/integration/templates/resource_providers/sqs/queue.yaml
  tests/integration/templates/sns_topic_update.yaml
Labels: semver: patch

#8954 [SFN] Support for DescribeStateMachineForExecution
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.snapshot.json
Labels: semver: minor

#8982 Move lambda multiruntime test logic to testing module
  localstack/services/edge.py
  localstack/testing/aws/lambda_utils.py
  tests/aws/services/lambda_/conftest.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#8809 Validate required fields in Fifo batch messages
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/utils.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
Labels: semver: patch

#8947 Rely on S3 create bucket idempotency in us-east-1
  localstack/services/lambda_/invocation/lambda_service.py
Labels: semver: patch

#8990 [SFN] Support for Resource Tagging
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_tagging.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_tagging.snapshot.json
Labels: semver: minor

#8996 bump version of airspeed to 0.6.1
  setup.cfg
Labels: semver: patch

#8975 Add tags support for CloudFormation DynamoDB create table
  localstack/services/cloudformation/models/dynamodb.py
  tests/aws/services/cloudformation/resources/test_dynamodb.py
  tests/aws/services/cloudformation/resources/test_dynamodb.snapshot.json
  tests/aws/templates/dynamodb_table_defaults.yml
Labels: semver: patch

#8685 add PythonPackageInstaller for runtime package installation
  Dockerfile
  localstack/packages/api.py
  localstack/packages/core.py
  localstack/services/transcribe/packages.py
  localstack/services/transcribe/plugins.py
  localstack/services/transcribe/provider.py
  setup.cfg
Labels: semver: minor

#8989 Add resource provider for AWS::SQS::QueuePolicy
  localstack/services/cloudformation/resource_provider.py
  localstack/services/sqs/resource_providers/aws_sqs_queuepolicy.py
  localstack/services/sqs/resource_providers/aws_sqs_queuepolicy.schema.json
Labels: semver: patch

#8419 replace the method wait_until with boto3 waiters in cfn fixture
  localstack/testing/pytest/fixtures.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
Labels: semver: patch

#8968 CloudWatch: Multi-accounts compatibility
  localstack/services/cloudwatch/provider.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/services/lambda_/lambda_utils.py
  localstack/services/sns/publisher.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/cloudwatch/cloudwatch_util.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/unit/test_lambda.py
Labels: semver: minor

#9001 fix global analytics bus to correctly disable tracking
  localstack/utils/analytics/client.py
  localstack/utils/analytics/publisher.py
  tests/unit/utils/analytics/test_publisher.py
Labels: semver: minor

#8967 Techdebt: Remove obsolete Lambda testutil
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/lambda_/test_lambda_whitebox.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/test_integration.py
Labels: semver: patch

#8992 refresh missing S3 snapshot
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8983 refresh SNS snapshots
  localstack/services/sns/constants.py
  localstack/services/sns/models.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  localstack/testing/pytest/fixtures.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9010 Add ability to scaffold resource providers for a whole service
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
Labels: semver: patch

#9012 Revert hypercorn binding to privileged ports
  localstack/services/edge.py
Labels: semver: patch

#8988 [SFN] ApiGW url implicit endpoint conversion
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.snapshot.json
Labels: semver: minor

#9011 Migrate AWS::IAM::* resources to resource providers
  localstack/services/cloudformation/provider_utils.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/iam/resource_providers/aws_iam_accesskey.py
  localstack/services/iam/resource_providers/aws_iam_accesskey.schema.json
  localstack/services/iam/resource_providers/aws_iam_group.py
  localstack/services/iam/resource_providers/aws_iam_group.schema.json
  localstack/services/iam/resource_providers/aws_iam_instanceprofile.py
  localstack/services/iam/resource_providers/aws_iam_instanceprofile.schema.json
  localstack/services/iam/resource_providers/aws_iam_managedpolicy.py
  localstack/services/iam/resource_providers/aws_iam_managedpolicy.schema.json
  localstack/services/iam/resource_providers/aws_iam_policy.py
  localstack/services/iam/resource_providers/aws_iam_policy.schema.json
  localstack/services/iam/resource_providers/aws_iam_role.py
  localstack/services/iam/resource_providers/aws_iam_role.schema.json
  localstack/services/iam/resource_providers/aws_iam_servicelinkedrole.py
  localstack/services/iam/resource_providers/aws_iam_servicelinkedrole.schema.json
  localstack/services/iam/resource_providers/aws_iam_user.py
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.py
  tests/aws/services/cloudformation/resources/test_legacy.py
Labels: semver: patch

#9020 fix lambda layer version compatibility with Python 3.11
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/unit/test_lambda.py
Labels: semver: patch

#9027 add domain-name for opensearch domain in cfn
  localstack/services/cloudformation/models/opensearch.py
  tests/aws/services/cloudformation/resources/test_opensearch.py
  tests/aws/services/cloudformation/resources/test_opensearch.snapshot.json
  tests/aws/templates/opensearch_domain.yml
Labels: semver: patch

#9021 fix python installer when running LS from venv module
  localstack/packages/core.py
Labels: semver: patch

#8927 improve S3 v3 storage layer
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#9026 fix proxy Accept-Header handling, combine http clients
  localstack/http/client.py
  localstack/services/opensearch/cluster.py
  localstack/services/s3/virtual_host.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/unit/http_/test_client.py
  tests/unit/http_/test_proxy.py
Labels: semver: minor

#9019 Wait for stack deletion in test cleanup
  localstack/testing/pytest/fixtures.py
Labels: semver: patch

#9029 enable DomainEndpoint cfn output for Opensearch
  localstack/services/cloudformation/models/opensearch.py
  tests/aws/services/cloudformation/resources/test_opensearch.py
  tests/aws/templates/opensearch_domain.yml
Labels: semver: patch

#8997 Give precedence to region override over config
  localstack/aws/connect.py
  tests/unit/aws/test_connect.py
Labels: semver: patch

#9015 Add get_docker_host_from_container(..) util to remove DNS operations from config.py
  localstack/config.py
  localstack/utils/container_networking.py
  localstack/utils/net.py
  tests/bootstrap/__init__.py
  tests/unit/utils/test_net_utils.py
Labels: semver: patch

#9024 FIX #8916 Add support to filter on zone-id for ec2 describe-availabili…
  localstack/services/ec2/provider.py
Labels: semver: patch

#9018 Add missing init files for stepfunctions v2
  localstack/services/stepfunctions/asl/antlr/__init__.py
  localstack/services/stepfunctions/asl/antlr/runtime/__init__.py
Labels: semver: patch

#9034 remove extensions venv link from Dockerfile
  Dockerfile
Labels: semver: minor

#8976 fix SNS subscribe idempotency with different attrs
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch
