Repository localstack/localstack, pull requests merged in 2023-09, with the labels that each got.

#9038 add ddb ttl resource-exceptions for inexistent tables
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: semver: patch

#9041 pin deepdiff to version 6.3.1
  setup.cfg
Labels: semver: patch

#9009 [SFN] Support for global Timeouts, Misc of Enhancements
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_component_base.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/job.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/eval/program_state.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack/services/stepfunctions/asl/utils/json_path.py
  localstack/services/stepfunctions/backend/execution.py
  tests/aws/scenario/test_loan_broker.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.snapshot.json
Labels: semver: minor

#9033 Don't run in privileged mode
  localstack/utils/bootstrap.py
Labels: semver: minor

#9036 fix S3 PUT operations returning HTTP Body by default
  localstack/aws/protocol/serializer.py
  localstack/services/s3/presigned_url.py
  localstack/services/s3/provider.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
Labels: aws:s3, area: asf, semver: patch

#8781 Add bootstrap fixture for bootstrap tests
  .circleci/config.yml
  localstack/cli/localstack.py
  localstack/plugins.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/analytics/metadata.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  localstack/utils/tail.py
  tests/bootstrap/conftest.py
  tests/bootstrap/test_container_listen_configuration.py
  tests/bootstrap/test_localstack_container.py
  tests/cli/test_cli.py
Labels: semver: minor

#9046 move container fixture into testing package for reusability
  localstack/testing/pytest/bootstrap.py
  localstack/testing/pytest/container.py
  tests/bootstrap/conftest.py
  tests/bootstrap/test_container_listen_configuration.py
Labels: semver: minor

#9044 Bump moto-ext to 4.2.0.post1
  localstack/services/logs/provider.py
  localstack/services/s3/legacy/s3_starter.py
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/utils.py
  localstack/services/secretsmanager/provider.py
  setup.cfg
  tests/aws/services/s3/test_s3.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
Labels: semver: patch

#9048 Container fixture improvements
  CODEOWNERS
  localstack/testing/pytest/container.py
  localstack/utils/bootstrap.py
  tests/bootstrap/conftest.py
  tests/bootstrap/test_container_listen_configuration.py
  tests/conftest.py
Labels: semver: patch

#9014 fix value of for CidrBlockAssociations in AWS::EC2::VPC
  localstack/services/cloudformation/models/ec2.py
Labels: semver: patch

#9039 fix APIGW UpdateStage with /tracingEnabled
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
Labels: aws:apigateway, semver: patch

#9056 fix flaky stepfunction test
  tests/aws/services/stepfunctions/utils.py
Labels: semver: patch

#9035 add Cfn ResourceProvider for AWS::OpenSearchService::Domain
  localstack/services/cloudformation/resource_provider.py
  localstack/services/opensearch/resource_providers/aws_opensearchservice_domain.py
  tests/aws/services/cloudformation/resources/test_opensearch.py
  tests/aws/services/cloudformation/resources/test_opensearch.snapshot.json
  tests/aws/templates/opensearch_domain.yml
Labels: semver: patch

#9051 add utility to find contiguous port range
  localstack/utils/docker_utils.py
  localstack/utils/net.py
  tests/unit/test_common.py
  tests/unit/utils/test_net_utils.py
Labels: semver: minor

#9050 add container configurators for bootstrapping localstack
  localstack/config.py
  localstack/plugins.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/testing/pytest/container.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  tests/bootstrap/test_container_configurators.py
  tests/bootstrap/test_localstack_container_server.py
  tests/unit/test_config.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: minor

#8994 add dev container run script
  localstack/dev/__init__.py
  localstack/dev/run/__init__.py
  localstack/dev/run/__main__.py
  localstack/dev/run/configurators.py
  localstack/dev/run/paths.py
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/run.py
Labels: semver: patch

#9065 upgrade to actions/checkout@v4, add actions to dependabot
  .github/dependabot.yml
  .github/workflows/asf-updates.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
Labels: area: ci, area: dependencies, semver: patch

#9057 fix escaping backslash in comments
  localstack/aws/scaffold.py
Labels: semver: patch

#9037 Update nodejs install step
  Dockerfile
Labels: semver: patch

#9052 [SFN] Add support for SNS
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/sns_publish.json5
  tests/aws/services/stepfunctions/templates/services/statemachines/sns_publish_message_attributes.json5
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.snapshot.json
Labels: semver: minor

#9077 fix secretsmanager PutSecretValue on empty secret
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
Labels: aws:secretsmanager, semver: patch

#9062 [SFN] Fixes and cleanups of choiceRule parsing
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/common/flow/next.py
  localstack/services/stepfunctions/asl/component/state/state_choice/choice_rule.py
  localstack/services/stepfunctions/asl/component/state/state_choice/choice_rule_stmt.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_composite.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_func.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_operator_type.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_props.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_stmt.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_variable.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/is_operator.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/variable.py
  localstack/services/stepfunctions/asl/component/state/state_choice/state_choice.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/choice_state_aws_scenario.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/choice_state_unsorted_choice_parameters.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#9072 Add test for s3 bucket concurrency
  localstack/services/s3/models.py
  tests/aws/services/s3/test_s3_concurrency.py
Labels: semver: patch

#9075 [SFN] Access to Context Object fields
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/eval/contextobject/contex_object.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/execution_worker.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/query_context_object_values.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
Labels: semver: minor

#9070 Make AWS region name configurable for tests
  localstack/constants.py
Labels: semver: patch

#9063 Implement APIGW UpdateGatewayResponse
  localstack/services/apigateway/models.py
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway, semver: minor

#9080 Disable terraform tests
  tests/aws/test_terraform.py
Labels: semver: patch

#8979 Add pytest marker report plugin
  .github/workflows/marker-report.yml
  localstack/testing/pytest/marker_report.py
  localstack/testing/pytest/marking.py
  tests/aws/services/cloudformation/resources/test_sns.py
  tests/conftest.py
Labels: semver: patch

#9081 cdk provisioning improvements for testing
  localstack/testing/scenario/provisioning.py
Labels: semver: patch

#9086 Bump moto-ext to 4.2.2.post1
  localstack/services/secretsmanager/provider.py
  setup.cfg
Labels: semver: patch

#9074 add option to disable retries & disable boto retries for CI tests
  Makefile
  localstack/aws/connect.py
  localstack/config.py
  tests/aws/services/lambda_/test_lambda_api.py
Labels: semver: patch

#9085 update CODEOWNERS
  CODEOWNERS
  localstack/services/cloudformation/models/__init__.py
  localstack/services/cloudformation/models/es.py
Labels: semver: patch

#9090 add zone type to az response
  localstack/services/ec2/provider.py
Labels: semver: patch

#9095 Update deployment stage_name when creating API Gateway stages to fix parity issues
  Makefile
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
Labels: semver: patch

#9049 Migrate DNS server to community
  CODEOWNERS
  Dockerfile
  localstack/config.py
  localstack/dns/__init__.py
  localstack/dns/models.py
  localstack/dns/plugins.py
  localstack/dns/server.py
  localstack/testing/pytest/container.py
  localstack/utils/bootstrap.py
  localstack/utils/docker_utils.py
  localstack/utils/iputils.py
  localstack/utils/net.py
  setup.cfg
  tests/bootstrap/test_dns_server.py
  tests/cli/test_cli.py
  tests/unit/test_dns_server.py
  tests/unit/test_iputils.py
Labels: semver: minor

#9082 fix S3 v3 Range handling
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: patch

#9091 enable new s3 v3 tests for current provider
  tests/aws/services/s3/test_s3_api.py
Labels: aws:s3, semver: patch

#9096 Refresh route53 snapshots
  tests/aws/services/cloudformation/resources/test_route53.py
  tests/aws/services/route53resolver/test_route53resolver.py
  tests/aws/services/route53resolver/test_route53resolver.snapshot.json
  tests/aws/templates/route53_recordset_without_resource_records.yaml
Labels: semver: patch

#9078 Patch default waiterconfig for boto waiters
  localstack/aws/connect.py
  localstack/config.py
  tests/aws/conftest.py
Labels: semver: patch

#9099 fix S3 s3_empty_bucket fixture and add parity
  localstack/services/s3/provider.py
  localstack/services/s3/v3/provider.py
  localstack/testing/pytest/fixtures.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: patch

#9104 fix APIGW DeleteDeployment to verify if stage is assigned to it
  localstack/services/apigateway/patches.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
Labels: aws:apigateway, semver: patch

#9060 Add support for selection pattern for error responses
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/templates.py
  localstack/utils/aws/resources.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/lambda_/functions/lambda_select_pattern.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: minor

#9102 add support for xml to json responses
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  localstack/services/apigateway/templates.py
  localstack/utils/xml.py
  setup.cfg
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/apigateway/test_apigateway_sqs.snapshot.json
Labels: semver: minor

#9109 add container port and volume flags to localstack start
  localstack/cli/localstack.py
  localstack/dev/run/__main__.py
  localstack/dev/run/configurators.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: minor

#9117 Validate and refactor cloudwatch tests
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
Labels: semver: patch

#9100 AWS::Lambda::Alias Resource Provider
  localstack/services/awslambda/__init__.py
  localstack/services/awslambda/resource_providers/__init__.py
  localstack/services/awslambda/resource_providers/aws_lambda_alias.py
  localstack/services/awslambda/resource_providers/aws_lambda_alias.schema.json
  localstack/services/cloudformation/resource_provider.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/templates/cfn_lambda_alias.yml
Labels: semver: patch

#8970 Lambda invocation loop rework
  localstack/config.py
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/invocation/assignment.py
  localstack/services/lambda_/invocation/counting_service.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/invocation/executor_endpoint.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/services/lambda_/invocation/logs.py
  localstack/services/lambda_/invocation/metrics.py
  localstack/services/lambda_/invocation/runtime_executor.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/services/lambda_/lambda_utils.py
  localstack/services/lambda_/provider.py
  localstack/services/lambda_/urlrouter.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/lambda_/functions/lambda_handler_error.py
  tests/aws/services/lambda_/functions/lambda_handler_exit.py
  tests/aws/services/lambda_/functions/lambda_runtime_error.py
  tests/aws/services/lambda_/functions/lambda_runtime_exit.py
  tests/aws/services/lambda_/functions/lambda_runtime_exit_segfault.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_destinations.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/test_lambda_runtimes.py
  tests/aws/services/sns/test_sns.py
  tests/aws/test_integration.py
Labels: semver: minor

#9045 Set up acceptance test marker & CI job
  .circleci/config.yml
  localstack/testing/pytest/marking.py
  tests/aws/scenario/test_apigateway_scenario.py
  tests/aws/scenario/test_bookstore.py
Labels: semver: patch

#9092 Fix deletion of AWS::IAM::Policy
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/iam/resource_providers/aws_iam_policy.py
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_update_stack.py
  tests/aws/templates/iam_policy_invalid.yaml
  tests/unit/utils/testing/test_snapshots.py
Labels: semver: patch

#9125 add service_name attribute to AssetDirectory
  localstack/services/dynamodb/provider.py
  localstack/services/kinesis/provider.py
  localstack/services/opensearch/provider.py
  localstack/services/redshift/provider.py
  localstack/services/s3/v3/provider.py
  localstack/services/stepfunctions/provider.py
  localstack/state/core.py
Labels: semver: minor

#9128 add plux and localstack-plugin-persistence to SourceVolumeMountConfigurator
  localstack/dev/run/configurators.py
Labels: semver: patch

#9124 [SFN] Minor tests for Results with jsonpath declaration
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
Labels: semver: minor

#9135 Remove internal developer configuration from CONFIG_ENV_VARS
  localstack/config.py
Labels: semver: patch

#9132 Fix KeyError in log format for requests without AWS context
  localstack/logging/format.py
Labels: semver: patch

#9131 Add GH action for marker report issue
  .github/bot_templates/MARKER_REPORT_ISSUE.md.j2
  .github/workflows/marker-report-issue.yml
  scripts/render_marker_report.py
Labels: semver: patch

#9121 implement S3 cross account across all operations
  localstack/services/s3/notifications.py
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, area: multi-account, semver: minor

#9064 implement Content-MD5 check for PutObject
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: minor

#9139 refactor integration test startup into pytest plugin
  localstack/testing/pytest/in_memory_localstack.py
  tests/aws/conftest.py
  tests/conftest.py
  tests/integration/conftest.py
Labels: semver: patch

#8946 fix Response.update_from to also copy close handlers
  localstack/http/response.py
  tests/integration/aws/test_app.py
Labels: semver: patch

#9140 add resourcegroups validated tests
  tests/aws/services/resource_groups/test_resource_groups.py
  tests/aws/services/resource_groups/test_resource_groups.snapshot.json
Labels: aws:resourcegroups, semver: patch

#9142 Pin jsonpath_ng to 1.5.3 to unblock CI
  setup.cfg
Labels: semver: patch

#9141 Triage aws_unknown markers across AWS test suite
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/math_operations/math_add.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_whitebox.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_boolean_equals.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_is_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_numeric.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_string_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_timestamp_operators.py
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sfn.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_array.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_encode_decode.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_hash_calculations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_math_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_math_operations.snapshot.json
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_unique_id_generation.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_dynamodb_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sfn_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
  tests/aws/templates/stepfunctions_statemachine_substitutions.yaml
  tests/aws/test_moto.py
  tests/aws/test_multi_accounts.py
  tests/aws/test_terraform.py
Labels: semver: patch

#9144 Slim down marker report issue template rendering
  .github/bot_templates/MARKER_REPORT_ISSUE.md.j2
  .github/workflows/marker-report-issue.yml
  scripts/render_marker_report.py
Labels: semver: patch

#9143 fix S3 handling of special character and trailing slash
  localstack/aws/protocol/parser.py
  localstack/services/moto.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, area: asf, semver: patch

#9023 EventBridge: Multi-accounts compatibility
  localstack/aws/connect.py
  localstack/services/apigateway/helpers.py
  localstack/services/cloudformation/models/es.py
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/events/provider.py
  localstack/services/kinesis/provider.py
  localstack/services/s3/notifications.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  localstack/services/sqs/provider.py
  localstack/services/ssm/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/arns.py
  localstack/utils/aws/message_forwarding.py
  localstack/utils/aws/resources.py
  localstack/utils/testutil.py
  tests/aws/scenario/test_note_taking.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/events/test_events.py
  tests/aws/services/lambda_/test_lambda_destinations.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/conftest.py
  tests/aws/test_integration.py
  tests/aws/test_multiregion.py
  tests/integration/test_config_service.py
Labels: semver: minor

#9150 Fix running LS for tests in the new in_memory_localstack plugin
  localstack/testing/pytest/in_memory_localstack.py
Labels: semver: patch

#9151 update several SQS test markers
  tests/aws/services/sqs/test_sqs.py
Labels: semver: patch

#9153 Set aws marker for all iam service tests
  localstack/testing/pytest/fixtures.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/iam/test_iam.snapshot.json
Labels: semver: patch

#9134 Make botocore config object hashable
  localstack/aws/connect.py
  tests/unit/aws/test_connect.py
Labels: semver: patch

#9167 fix SNS subscribe idempotency
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9120 Deprecate aws_stack.generate_presigned_url
  localstack/utils/aws/aws_stack.py
Labels: semver: patch

#9160 Bump moto-ext to 4.2.2.post2
  setup.cfg
Labels: semver: patch

#9159 fix apigw import root and extend OpenAPIExporter
  localstack/services/apigateway/exporter.py
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/aws/services/apigateway/test_apigateway_extended.snapshot.json
Labels: aws:apigateway, semver: minor

#9170 Fix lambda invoke exception with invalid payload
  localstack/services/lambda_/invocation/lambda_service.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
Labels: semver: patch

#9166 simplify log printing in localstack start command
  localstack/utils/bootstrap.py
  localstack/utils/common.py
  localstack/utils/tail.py
  tests/unit/utils/test_common.py
Labels: semver: minor

#9175 added support for overriding the log level of Kinesis Mock Server
  localstack/config.py
  localstack/services/kinesis/kinesis_mock_server.py
Labels: semver: patch

#9129 fix gateway shutdown procedure
  localstack/aws/app.py
  localstack/aws/handlers/__init__.py
  localstack/aws/handlers/internal.py
  localstack/aws/serving/edge.py
  localstack/runtime/shutdown.py
  localstack/services/infra.py
  localstack/services/internal.py
Labels: semver: minor

#9043 replace CircleCI job for S3 stream to v3 and remove stream provider
  .circleci/config.yml
  localstack/config.py
  localstack/services/providers.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_api.py
Labels: aws:s3, semver: patch

#9177 deactivate PR and push trigger for podman tests
  .github/workflows/tests-podman.yml
Labels: semver: patch

#9148 drop support for Python 3.7
  .github/workflows/tests-cli.yml
  README.md
  localstack/aws/api/acm/__init__.py
  localstack/aws/api/apigateway/__init__.py
  localstack/aws/api/cloudcontrol/__init__.py
  localstack/aws/api/cloudformation/__init__.py
  localstack/aws/api/cloudwatch/__init__.py
  localstack/aws/api/config/__init__.py
  localstack/aws/api/core.py
  localstack/aws/api/dynamodb/__init__.py
  localstack/aws/api/dynamodbstreams/__init__.py
  localstack/aws/api/ec2/__init__.py
  localstack/aws/api/es/__init__.py
  localstack/aws/api/events/__init__.py
  localstack/aws/api/firehose/__init__.py
  localstack/aws/api/iam/__init__.py
  localstack/aws/api/kinesis/__init__.py
  localstack/aws/api/kms/__init__.py
  localstack/aws/api/lambda_/__init__.py
  localstack/aws/api/logs/__init__.py
  localstack/aws/api/opensearch/__init__.py
  localstack/aws/api/redshift/__init__.py
  localstack/aws/api/resource_groups/__init__.py
  localstack/aws/api/resourcegroupstaggingapi/__init__.py
  localstack/aws/api/route53/__init__.py
  localstack/aws/api/route53resolver/__init__.py
  localstack/aws/api/s3/__init__.py
  localstack/aws/api/s3control/__init__.py
  localstack/aws/api/scheduler/__init__.py
  localstack/aws/api/secretsmanager/__init__.py
  localstack/aws/api/ses/__init__.py
  localstack/aws/api/sns/__init__.py
  localstack/aws/api/sqs/__init__.py
  localstack/aws/api/ssm/__init__.py
  localstack/aws/api/stepfunctions/__init__.py
  localstack/aws/api/sts/__init__.py
  localstack/aws/api/support/__init__.py
  localstack/aws/api/swf/__init__.py
  localstack/aws/api/transcribe/__init__.py
  localstack/aws/scaffold.py
  localstack/cli/localstack.py
  localstack/utils/collections.py
  localstack/utils/container_utils/container_client.py
  localstack/utils/sync.py
  setup.cfg
  tests/cli/test_cli.py
  tests/unit/aws/test_skeleton.py
  tests/unit/test_common.py
Labels: semver: minor

#9107 Adopt lambda dns setting, fix dns in host mode
  localstack/dns/server.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
Labels: semver: minor

#9180 Fix flaky lambda concurrency test
  localstack/services/lambda_/invocation/counting_service.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#9157 Support for response overrides
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/templates.py
  localstack/utils/aws/templating.py
  tests/aws/files/request-template.vm
  tests/aws/files/response-template.vm
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/lambda_/functions/lambda_mapping_responses.py
  tests/aws/services/lambda_/test_lambda.py
  tests/unit/test_apigateway.py
Labels: semver: minor

#9161 Introducing Resource Access Manager (RAM)
  localstack/aws/api/ram/__init__.py
  localstack/services/providers.py
  localstack/services/ram/__init__.py
  localstack/services/ram/provider.py
  tests/aws/services/ram/__init__.py
  tests/aws/services/ram/test_ram.py
  tests/aws/services/ram/test_ram.snapshot.json
Labels: semver: minor

#9187 Ensure GATEWAY_LISTEN is taken from the configuration
  localstack/utils/bootstrap.py
Labels: semver: patch

#9088 Implement resource provider for AWS::SNS::Topic
  localstack/services/cloudformation/resource_provider.py
  localstack/services/sns/resource_providers/__init__.py
  localstack/services/sns/resource_providers/aws_sns_topic.py
  localstack/services/sns/resource_providers/aws_sns_topic.schema.json
Labels: semver: patch

#9190 fix h11 LocalProtocolError on connection close by client
  localstack/http/asgi.py
Labels: semver: patch

#9191 Fix build failures by pinning jsonschema<=4.19.0
  setup.cfg
Labels: semver: patch

#9174 fix CreatePlatformEndpoint idempotency and Publish to mobile endpoint when disabled
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
Labels: aws:sns, semver: patch

#9197 replace deprecated command with environment file
  bin/release-helper.sh
Labels: semver: patch

#9168 Fix handling of exceptions without arguments in legacy provider with local executor
  localstack/services/lambda_/lambda_executors.py
Labels: semver: patch

#9199 Bump moto-ext to 4.2.3.post1
  setup.cfg
Labels: semver: patch

#9165 fix(boto params): regex doesn't account for nested dot notation parameters
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/provider_utils.py
  localstack/services/cloudformation/resource_provider.py
  tests/unit/services/cloudformation/test_deployment_utils.py
Labels: semver: patch

#9202 disable health check for default service providers
  localstack/services/plugins.py
Labels: semver: minor

#9189 CirecleCI: add report for acceptance and diff coverage
  .circleci/config.yml
  scripts/metrics_coverage/diff_metrics_coverage.py
Labels: semver: patch

#9211 use run_interactive for localstack ssh to fix tty issues
  localstack/cli/localstack.py
Labels: semver: minor

#9204 Add S3 deprecation warnings
  localstack/services/providers.py
  localstack/services/s3/legacy/s3_starter.py
Labels: semver: minor

#9201 ACM: Fix ARN assertions when testing in non-default account
  tests/aws/services/acm/test_acm.py
Labels: semver: patch

#9212 [SFN] Parameters filtering for lambda resource tasks
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/lambda_input_parameters_filter.json5
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.snapshot.json
Labels: semver: minor

#9216 Bump moto-ext to 4.2.4.post1
  setup.cfg
Labels: semver: patch

#9210 introduce CLI command categories to improve help display
  localstack/cli/localstack.py
Labels: semver: minor

#8960 route53 health check cfn implmentation
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/route53/resource_providers/__init__.py
  localstack/services/route53/resource_providers/aws_route53_healthcheck.py
  localstack/services/route53/resource_providers/aws_route53_healthcheck.schema.json
  tests/aws/services/cloudformation/resources/test_route53.py
  tests/aws/services/cloudformation/resources/test_route53.snapshot.json
  tests/aws/templates/route53_healthcheck.yml
Labels: semver: minor

#9122 Add support for AWS::Scheduler::Schedule and AWS::Scheduler::ScheduleGroup
  localstack/services/cloudformation/resource_provider.py
  localstack/services/scheduler/resource_providers/__init__.py
  localstack/services/scheduler/resource_providers/aws_scheduler_schedule.py
  localstack/services/scheduler/resource_providers/aws_scheduler_schedule.schema.json
  localstack/services/scheduler/resource_providers/aws_scheduler_schedulegroup.py
  localstack/services/scheduler/resource_providers/aws_scheduler_schedulegroup.schema.json
  tests/aws/services/cloudformation/resource_providers/scheduler/templates/__init__.py
  tests/aws/services/cloudformation/resource_providers/scheduler/templates/schedule.yml
  tests/aws/services/cloudformation/resource_providers/scheduler/test_scheduler.py
  tests/aws/services/cloudformation/resource_providers/scheduler/test_scheduler.snapshot.json
Labels: semver: patch

#9223 avoid setting LOCALSTACK_CLI in the container
  localstack/config.py
Labels: semver: patch

#9221 fix welcome action by upgrading to github-script v6
  .github/workflows/pr-welcome-first-time-contributors.yml
Labels: semver: patch

#9203 Add removal warning for legacy lambda provider
  localstack/deprecations.py
  localstack/services/lambda_/lambda_starter.py
Labels: semver: minor

#9198 add warning about future deprecation of stepfunctions v1 provider
  localstack/services/stepfunctions/provider.py
Labels: semver: minor

#8087 Update to Python 3.11
  .circleci/config.yml
  .github/workflows/asf-updates.yml
  .github/workflows/marker-report-issue.yml
  .github/workflows/marker-report.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  Dockerfile
  Makefile
  localstack/dev/run/paths.py
  localstack/utils/server/proxy_server.py
  setup.cfg
  tests/aws/services/lambda_/test_lambda.py
  tests/unit/test_proxy.py
Labels: semver: minor

#9233 fix S3 PutObject with MD5 and enabled ARN Partition Rewriting
  localstack/aws/handlers/partition_rewriter.py
  tests/unit/test_partition_rewriter.py
Labels: semver: patch

#9232 Let hypercorn listen directly to privileged ports if run as root
  localstack/config.py
  localstack/services/edge.py
Labels: semver: patch

#9208 fix APIGW matching with {proxy+} and methods
  localstack/services/apigateway/helpers.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#9213 fix apigw pathParameters context resolving before authorizer run
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/invocations.py
Labels: aws:apigateway, semver: patch

#9228 Implementation of Route53 RecordSet resource provider for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/route53/resource_providers/aws_route53_recordset.py
  localstack/services/route53/resource_providers/aws_route53_recordset.schema.json
Labels: aws:cloudformation, semver: patch

#9246 Fix partition rewriting for CloudFormation by guarding internal calls
  localstack/aws/handlers/partition_rewriter.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
  tests/unit/test_partition_rewriter.py
Labels: semver: patch

#9256 fix service router test by excluding bedrock
  tests/unit/aws/test_service_router.py
Labels: semver: patch

#9252 Ss18/enhancement0
  .github/workflows/pr-welcome-first-time-contributors.yml
  localstack/aws/protocol/validate.py
  localstack/services/lambda_/lambda_api.py
  localstack/services/transcribe/provider.py
Labels: semver: patch

#9230 Add Kinesis Stream resource provider for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/kinesis/resource_providers/__init__.py
  localstack/services/kinesis/resource_providers/aws_kinesis_stream.py
  localstack/services/kinesis/resource_providers/aws_kinesis_stream.schema.json
Labels: aws:cloudformation, semver: patch

#9254 Update readme for v2.3.0
  README.md
Labels: semver: patch

#9249 Implementation of AWS::Kinesis::StreamConsumer for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/kinesis/resource_providers/aws_kinesis_streamconsumer.py
  localstack/services/kinesis/resource_providers/aws_kinesis_streamconsumer.schema.json
  tests/aws/services/cloudformation/resources/test_kinesis.py
  tests/aws/templates/kinesis_stream_consumer.yaml
Labels: aws:cloudformation, semver: patch

#9263 Ensure unique addresses for GATEWAY_LISTEN
  localstack/config.py
  localstack/dev/run/__main__.py
  localstack/utils/diagnose.py
  tests/aws/conftest.py
  tests/integration/conftest.py
  tests/integration/utils/test_diagnose.py
  tests/unit/test_config.py
Labels: semver: patch

#9264 fix SNS FilterPolicy with null value
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch
