Repository localstack/localstack, pull requests merged in 2023-05, with the labels that each got.

#8095 enforce semver labels, block major labeled PRs
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/asf-updates.yml
  .github/workflows/pr-cla.yml
  .github/workflows/pr-enforce-no-major-master.yml
  .github/workflows/pr-enforce-pr-labels.yml
  .github/workflows/pr-welcome-first-time-contributors.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-pro-integration.yml
  CONTRIBUTING.md
Labels: area: ci, semver: minor

#8243 Try to fix flaky http integration tests
  localstack/services/apigateway/integration.py
  tests/integration/apigateway/test_apigateway_integrations.py
Labels: semver: patch

#8251 fix mapping of insufficient scopes return value to access denied exception
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
Labels: semver: patch

#8116 Introduce usage counters
  localstack/services/awslambda/invocation/lambda_service.py
  localstack/services/awslambda/usage.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/usage.py
  localstack/services/infra.py
  localstack/services/internal.py
  localstack/utils/analytics/client.py
  localstack/utils/analytics/usage.py
  localstack/utils/diagnose.py
  tests/integration/cloudformation/test_unsupported.py
  tests/integration/templates/cfn_waitcondition.yaml
Labels: semver: minor

#8217 Add SourceArn for Events Message Publisher
  localstack/services/events/provider.py
  localstack/utils/aws/client_types.py
Labels: semver: patch

#8240 CloudFormation: add types and restructure
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#8260 CFn: Shift ref resolution earlier
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#8269 add config to disable cloudwatch metrics for SQS
  localstack/config.py
  localstack/services/sqs/provider.py
Labels: semver: patch

#8209 [SFN] Baseline support for SQS, fixes, enhancements, tests
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  tests/integration/stepfunctions/lambda_functions/base/echo_function.py
  tests/integration/stepfunctions/lambda_functions/lambda_functions.py
  tests/integration/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/integration/stepfunctions/templates/errorhandling/statemachines/task_lambda_invoke_catch_relevant.json5
  tests/integration/stepfunctions/templates/errorhandling/statemachines/task_lambda_invoke_catch_unknown.json5
  tests/integration/stepfunctions/templates/errorhandling/statemachines/task_service_sqs_send_msg_catch.json5
  tests/integration/stepfunctions/templates/services/__init__.py
  tests/integration/stepfunctions/templates/services/lambdafunctions/id_function.py
  tests/integration/stepfunctions/templates/services/services_templates.py
  tests/integration/stepfunctions/templates/services/statemachines/aws_sdk_secrestsmaager_list_secrets.json5
  tests/integration/stepfunctions/templates/services/statemachines/lambda_invoke.json5
  tests/integration/stepfunctions/templates/services/statemachines/lambda_invoke_pipe.json5
  tests/integration/stepfunctions/templates/services/statemachines/sqs_send_msg.json5
  tests/integration/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/integration/stepfunctions/v2/error_handling/test_task_lambda.snapshot.json
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sqs.snapshot.json
  tests/integration/stepfunctions/v2/error_handling/utils.py
  tests/integration/stepfunctions/v2/services/__init__.py
  tests/integration/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/integration/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/integration/stepfunctions/v2/services/test_lambda_task.py
  tests/integration/stepfunctions/v2/services/test_lambda_task.snapshot.json
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.py
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.snapshot.json
  tests/integration/stepfunctions/v2/services/test_sqs_task_service.py
  tests/integration/stepfunctions/v2/services/test_sqs_task_service.snapshot.json
  tests/integration/stepfunctions/v2/test_stepfunctions_v2.py
Labels: semver: minor

#8257 remove REF_*_ATTRS usage in models
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/secretsmanager.py
Labels: semver: patch

#8279 fix SdkDockerClient recovery if docker socket not available initially
  localstack/config.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#8200 upgrade Werkzeug to 2.3.4
  localstack/aws/protocol/parser.py
  localstack/http/router.py
  localstack/testing/pytest/snapshot.py
  localstack/testing/snapshots/transformer_utility.py
  setup.cfg
  tests/integration/test_events.py
  tests/integration/test_sns.py
Labels: semver: minor

#8286 Remove REF_*_ATTRS from service models
  localstack/services/cloudformation/service_models.py
Labels: semver: patch

#8288 Add same transcription job name case
  localstack/services/transcribe/provider.py
  tests/integration/test_transcribe.py
  tests/integration/test_transcribe.snapshot.json
Labels: aws:transcribe, semver: patch

#8289 Add more detail in cloudformation stack deploy failure
  localstack/testing/pytest/fixtures.py
  tests/integration/cloudformation/resources/test_sns.py
Labels: semver: patch

#8253 KMS: implement cross-accounts access
  localstack/constants.py
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  localstack/services/kms/utils.py
  tests/integration/test_kms.py
Labels: semver: minor

#8278 Migrate s3 notifications to new clients, send test events
  localstack/services/awslambda/invocation/lambda_service.py
  localstack/services/awslambda/provider.py
  localstack/services/s3/notifications.py
  localstack/services/s3/provider.py
  localstack/utils/aws/arns.py
  localstack/utils/aws/client_types.py
  tests/integration/s3/test_s3_notifications_lambda.py
  tests/integration/s3/test_s3_notifications_lambda.snapshot.json
  tests/integration/s3/test_s3_notifications_sns.py
  tests/integration/s3/test_s3_notifications_sns.snapshot.json
  tests/integration/s3/test_s3_notifications_sqs.py
  tests/integration/s3/test_s3_notifications_sqs.snapshot.json
Labels: semver: patch

#8297 Fix loading of CloudFormation deploy UI HTML code
  setup.cfg
Labels: semver: patch

#8302 Fix KeyId return value as ARN for "generate_data_key*" methods
  localstack/services/kms/provider.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: semver: patch

#8281 fix GetBucketCORS if CORS does not exist in store
  localstack/services/s3/provider.py
Labels: aws:s3, semver: patch

#8296 update kinesis client for events service
  localstack/services/events/provider.py
  localstack/utils/aws/message_forwarding.py
Labels: semver: patch

#8280 update cloudwatch logs client in message publisher
  localstack/utils/aws/message_forwarding.py
Labels: semver: patch

#8252 Refactor physical resource ID, Ref and GetAtt
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/stepfunctions.py
  localstack/services/cloudformation/service_models.py
  tests/integration/cloudformation/api/test_changesets.py
  tests/integration/cloudformation/api/test_nested_stacks.py
  tests/integration/cloudformation/api/test_reference_resolving.py
  tests/integration/cloudformation/api/test_reference_resolving.snapshot.json
  tests/integration/cloudformation/resources/test_legacy.py
  tests/integration/templates/cfn_getatt_ref.yaml
  tests/integration/templates/cfn_sub_resovling.yaml
  tests/integration/templates/template7.json
Labels: semver: patch

#8264 fix PutEvents non-existent custom EventBus
  localstack/services/events/provider.py
  tests/integration/test_events.py
  tests/integration/test_events.snapshot.json
Labels: aws:eventbridge, semver: patch

#8195 Lambda: Implement cross-account access
  localstack/services/awslambda/api_utils.py
  localstack/services/awslambda/provider.py
  tests/integration/awslambda/test_lambda.py
Labels: semver: minor

#8301 DynamoDB: Remove extraneous call during region resolution
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/server.py
Labels: area: performance, semver: minor

#8318 Fix CFn model class & attribute lookup
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/ec2.py
Labels: semver: patch

#8307 remove install dependency on localstack_client
  localstack/config.py
  localstack/constants.py
  localstack/utils/bootstrap.py
  localstack/utils/diagnose.py
  localstack/utils/strings.py
  setup.cfg
  tests/unit/test_config.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: minor

#8306 Add encryption context to encrypt and decrypt operations in KMS
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  localstack/testing/snapshots/transformer_utility.py
  localstack/utils/crypto.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: aws:kms, semver: patch

#8321 remove pin on botocore
  localstack/aws/forwarder.py
  setup.cfg
  tests/unit/aws/test_service_router.py
Labels: semver: patch

#8327 CFn: Add AWS::CloudFormation::WaitConditionHandle
  localstack/services/cloudformation/models/cloudformation.py
  tests/integration/cloudformation/resources/test_cloudformation.py
  tests/integration/cloudformation/resources/test_cloudformation.snapshot.json
  tests/integration/cloudformation/test_unsupported.py
  tests/integration/templates/cfn_unsupported.yaml
  tests/integration/templates/cfn_waitconditionhandle.yaml
Labels: semver: patch

#8329 fix ListBuckets tag order
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  tests/integration/s3/test_s3.py
Labels: aws:s3, semver: patch

#8333 Fix extraction of container Image when using podman
  localstack/constants.py
  localstack/services/kms/packages.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#8311 Fix issue publishing messages with String.Array attibutes
  localstack/services/sns/publisher.py
  tests/unit/test_sns.py
Labels: semver: patch

#8326 bump moto to 4.1.9.post1
  setup.cfg
Labels: semver: minor

#8337 Add ddbstreams stores visit in DDB provider
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
Labels: semver: patch

#8317 KMS: response key ID field must contain key ARN
  localstack/services/kms/provider.py
Labels: semver: minor

#8216 add s3 CopyObject tests
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: semver: minor

#8291 add test for S3 LegalHold when targeting object version
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8332 CFn: Stub WaitCondition resource
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/ec2.py
  tests/integration/cloudformation/resources/test_cloudformation.py
  tests/integration/cloudformation/resources/test_cloudformation.snapshot.json
  tests/integration/templates/cfn_waitcondition.yaml
  tests/integration/templates/cfn_waitconditionhandle.yaml
Labels: semver: patch

#8344 upgrade debian base image from buster to bullseye
  Dockerfile
Labels: semver: minor

#8352 Bump moto-ext to 4.1.10.post1
  setup.cfg
Labels: semver: minor

#8354 fix failing test related to shutdown method of hypercorn server
  localstack/http/hypercorn.py
Labels: semver: patch

#8349 Enhance support for Podman API in Docker client
  .github/workflows/tests-podman.yml
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/apigateway/conftest.py
  tests/integration/conftest.py
  tests/integration/docker_utils/conftest.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#8350 KMS: Remove the reserved key value pair from aad
  localstack/services/kms/models.py
Labels: aws:kms, semver: patch

#8361 update ListObjects(V2) tag order for Java SDK
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  tests/integration/s3/test_s3.py
Labels: semver: patch

#8353 fix account resolution in SQS QueryAPI operations
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_sqs.py
Labels: semver: minor

#8256 fix stack set instance creation, add deletion
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/provider.py
  tests/integration/cloudformation/api/test_changesets.py
  tests/integration/cloudformation/api/test_get_template_summary.snapshot.json
  tests/integration/cloudformation/resources/test_stack_sets.py
  tests/integration/cloudformation/resources/test_stack_sets.snapshot.json
  tests/integration/templates/sns_topic_simple.yaml
Labels: aws:cloudformation, semver: patch

#8366 fix postgres installation in test pipeline
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#8345 Update readme for 2.1.0 release
  README.md
Labels: semver: patch

#8365 fix release helper script for requirements.txt files
  bin/release-helper.sh
Labels: semver: patch

#8364 make test_fifo_queue_send_message_with_delay_on_queue_works more robust
  tests/integration/test_sqs.py
Labels: semver: patch

#8308 add ClientRequestToken validation for SecretsManager
  localstack/services/secretsmanager/provider.py
  tests/integration/secretsmanager/test_secretsmanager.py
  tests/integration/secretsmanager/test_secretsmanager.snapshot.json
Labels: aws:secretsmanager, semver: patch

#8206 fix: Lambda integration with DDB binary items
  localstack/services/awslambda/event_source_listeners/adapters.py
  tests/integration/awslambda/test_lambda_integration_dynamodbstreams.py
  tests/integration/awslambda/test_lambda_integration_dynamodbstreams.snapshot.json
Labels: semver: patch

#8351 Added support for s3 analytics configuration
  localstack/services/s3/models.py
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: type: feature, aws:s3, semver: minor

#8389 [minor] Fix extraction of Arn in KMS Key CloudFormation resource
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/stores.py
  tests/integration/cloudformation/resources/test_kms.py
  tests/integration/cloudformation/resources/test_kms.snapshot.json
  tests/integration/templates/template34.yaml
Labels: semver: patch

#8381 add MAIN_DOCKER_NETWORK to config vars
  localstack/config.py
Labels: semver: patch

#8382 remove thundra plugin
  localstack/config.py
  localstack/contrib/thundra.py
  localstack/services/awslambda/lambda_api.py
Labels: semver: minor

#8375 added support for intelligent tier in s3
  localstack/services/s3/models.py
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: minor

#8339 SNS: Implement cross-account access
  localstack/services/sns/models.py
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
Labels: semver: minor

#8387 [minor] Allow passing boto3 client to IAM fixtures to facilitate multi-region tests
  localstack/testing/pytest/fixtures.py
Labels: semver: patch

#8384 Enhance bootstrap logic to allow CLI startup from within Docker
  localstack/cli/localstack.py
  localstack/config.py
  tests/bootstrap/test_cli.py
Labels: semver: patch

#8399 Add logging of exceptions during Lambda runtime environment create
  localstack/services/awslambda/invocation/runtime_environment.py
  localstack/utils/container_utils/docker_sdk_client.py
Labels: semver: patch

#8396 fix s3 complete_multipart and upload_part internal error
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8398 fix SQS SetQueueAttributes when seting ContentBasedDeduplication
  localstack/services/sqs/constants.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: semver: patch

#8401 add mypy client type for sso-admin
  localstack/utils/aws/client_types.py
Labels: semver: patch

#8336 CFn: optional verbose errors
  localstack/config.py
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch
