Repository localstack/localstack, pull requests merged in 2023-11, with the labels that each got.

#9527 kinesis-lambda: Remove aws_stack.get_region() and get_aws_account_id()
  localstack/services/lambda_/event_source_listeners/kinesis_event_source_listener.py
Labels: semver: patch

#9522 [SFN] Fix TimestampPath Value Access
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp_path.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/wait_timestamp.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/wait_timestamp_path.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#9381 Kinesis: Remove aws_stack.get_region() and get_aws_account_id()
  localstack/services/firehose/provider.py
  localstack/utils/kinesis/kclipy_helper.py
  localstack/utils/kinesis/kinesis_connector.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/test_integration.py
Labels: semver: patch

#9483 fix s3 v3 CopyObject in place + general validations for S3
  localstack/services/s3/provider.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9333 CFn: allow for pro resource provider overrides
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/templates/plugin_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/provider_template.py.j2
Labels: semver: patch

#9479 Fix updates of event source mapping targeting new function versions
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/functions/lambda_echo_version_env.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.snapshot.json
Labels: aws:lambda, semver: patch

#9529 Add SHUTDOWN_TIMEOUT config to allow for shutdown handlers of more than 5sec
  bin/localstack-supervisor
Labels: semver: patch

#9484 improve s3 v3 ListMultipartUploads and ListParts & various List* improvements
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9509 Refactor aws_stack.mock_aws_request_headers()
  localstack/aws/handlers/auth.py
  localstack/services/apigateway/integration.py
  localstack/services/edge.py
  localstack/services/lambda_/legacy/aws_models.py
  localstack/services/lambda_/legacy/lambda_executors.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/request_context.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sts/test_sts.py
  tests/integration/test_edge.py
  tests/integration/test_security.py
  tests/unit/test_dynamodb.py
  tests/unit/test_partition_rewriter.py
Labels: semver: patch

#9521 raise exception for undefined dependency in CFn template
  localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/api/test_reference_resolving.py
  tests/aws/templates/cfn_unexisting_resource_dependency.yml
Labels: semver: patch

#9539 adding route53 snapshot test
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/route53/test_route53.snapshot.json
Labels: aws:route53, semver: patch

#9537 Remove aws_stack.get_region() and get_aws_account_id() from tests
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/lambda_/test_lambda_legacy.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/test_terraform.py
  tests/integration/test_edge.py
  tests/unit/services/opensearch/test_cluster_manager.py
Labels: semver: patch

#9494 add restricted services config
  localstack/aws/handlers/service_plugin.py
  localstack/config.py
  localstack/services/infra.py
  localstack/utils/bootstrap.py
  tests/integration/test_services_enabled.py
  tests/unit/utils/test_bootstrap.py
Labels: area: asf, semver: minor

#9548 Allow setting numeric config variables in config update endpoint
  localstack/services/internal.py
  tests/integration/test_config_endpoint.py
Labels: semver: patch

#9443 Feat/cloudwatch v2 putalarm describealarms
  localstack/services/cloudwatch/models.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
Labels: semver: minor

#9552 [SFN] Fix reentrant wait function
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/wait_function.py
Labels: semver: minor

#9390 Migrate endpoints to use LOCALSTACK_HOST only
  .github/workflows/tests-pro-integration.yml
  localstack/aws/handlers/cors.py
  localstack/config.py
  localstack/services/apigateway/helpers.py
  localstack/services/cloudformation/api_utils.py
  localstack/services/lambda_/legacy/lambda_api.py
  localstack/services/lambda_/legacy/lambda_executors.py
  localstack/services/lambda_/provider.py
  localstack/services/moto.py
  localstack/services/opensearch/cluster.py
  localstack/services/opensearch/cluster_manager.py
  localstack/services/opensearch/provider.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/virtual_host.py
  localstack/services/sqs/models.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/net.py
  localstack/utils/urls.py
  tests/aws/scenario/bookstore/functions/search.py
  tests/aws/scenario/bookstore/functions/update_search_cluster.py
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/test_network_configuration.py
  tests/unit/services/opensearch/test_cluster_manager.py
  tests/unit/services/s3/test_virtual_host.py
  tests/unit/test_config.py
  tests/unit/test_cors.py
  tests/unit/test_sns.py
Labels: semver: major

#9530 Deprecate community pods
  Dockerfile
Labels: semver: major

#9555 Make OpensearchProvider inherit ServiceLifecycleHook
  localstack/services/opensearch/provider.py
Labels: semver: patch

#9540 stabilized multi account for cloudwatch-sqs
  localstack/services/cloudwatch/alarm_scheduler.py
  localstack/services/sqs/provider.py
  localstack/utils/cloudwatch/cloudwatch_util.py
Labels: aws:sqs, aws:cloudwatch, area: multi-account, semver: patch

#9559 add services + strict_service_loading to analytics logging
  localstack/runtime/analytics.py
Labels: semver: patch

#9561 make strict service loading default for v3
  localstack/config.py
  localstack/utils/bootstrap.py
  tests/unit/utils/test_bootstrap.py
Labels: area: infrastructure, semver: major

#9206 make config.dirs.tmp be inside the container filesystem, add mounted_tmp
  localstack/config.py
  localstack/services/infra.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
Labels: area: performance, area: persistence, semver: patch

#9566 Correct `DomainEndpointOptions` in opensearch/elasticsearch responses and persisted state
  localstack/services/opensearch/provider.py
  tests/aws/services/opensearch/test_opensearch.py
Labels: semver: patch

#9570 update kms invalid key format and fix a broken multi account test for s3
  localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, aws:kms, semver: patch

#9563 show available/disabled services in health endpoint + fix sqs strict loading
  localstack/services/plugins.py
  localstack/services/sqs/provider.py
  tests/bootstrap/test_strict_service_loading.py
Labels: semver: patch

#9547 stabilized multi account for apigw test_invoke_method
  localstack/services/apigateway/provider.py
Labels: aws:apigateway, area: multi-account, semver: patch

#9568 make SNS Delivery Logs opt-in
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: area: asf, semver: patch

#9523 add resource provider for AWS::EC2::NetworkAcl
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ec2/resource_providers/aws_ec2_networkacl.py
  localstack/services/ec2/resource_providers/aws_ec2_networkacl.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_networkacl_plugin.py
  tests/aws/services/cloudformation/resource_providers/ec2/aws_ec2_networkacl/__init__.py
  tests/aws/services/cloudformation/resource_providers/ec2/aws_ec2_networkacl/templates/basic.yml
  tests/aws/services/cloudformation/resource_providers/ec2/aws_ec2_networkacl/test_basic.py
  tests/aws/services/cloudformation/resource_providers/ec2/aws_ec2_networkacl/test_basic.snapshot.json
Labels: semver: minor

#8779 [SFN] Set SFN V2 provider as default
  .circleci/config.yml
  localstack/services/providers.py
  localstack/services/stepfunctions/legacy/__init__.py
  localstack/services/stepfunctions/legacy/provider_legacy.py
  localstack/services/stepfunctions/legacy/stepfunctions_starter.py
  localstack/services/stepfunctions/provider.py
  localstack/services/stepfunctions/provider_v2.py
  tests/aws/scenario/loan_broker/test_loan_broker.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_boolean_equals.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_is_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_numeric.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_string_operators.py
  tests/aws/services/stepfunctions/v2/choice_operators/test_timestamp_operators.py
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_dynamodb.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sfn.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_array.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_encode_decode.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_hash_calculations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_math_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_unique_id_generation.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_sfn_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_dynamodb_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sfn_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_tagging.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
Labels: semver: major

#9549 add resource provider for AWS::RDS::DBCluster
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#9295 Implementation of AWS::EC2:* resource providers for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ec2/resource_providers/aws_ec2_instance.py
  localstack/services/ec2/resource_providers/aws_ec2_instance.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_instance_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_internetgateway.py
  localstack/services/ec2/resource_providers/aws_ec2_internetgateway.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_internetgateway_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_natgateway.py
  localstack/services/ec2/resource_providers/aws_ec2_natgateway.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_natgateway_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_route.py
  localstack/services/ec2/resource_providers/aws_ec2_route.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_route_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_routetable.py
  localstack/services/ec2/resource_providers/aws_ec2_routetable.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_routetable_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
  localstack/services/ec2/resource_providers/aws_ec2_securitygroup.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_securitygroup_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_subnet.py
  localstack/services/ec2/resource_providers/aws_ec2_subnet.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_subnet_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_subnetroutetableassociation.py
  localstack/services/ec2/resource_providers/aws_ec2_subnetroutetableassociation.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_subnetroutetableassociation_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_vpc.py
  localstack/services/ec2/resource_providers/aws_ec2_vpc.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_vpc_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_vpcgatewayattachment.py
  localstack/services/ec2/resource_providers/aws_ec2_vpcgatewayattachment.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_vpcgatewayattachment_plugin.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/templates/ec2_route_table_isolated.yaml
  tests/aws/templates/ec2_route_table_simple.yaml
Labels: aws:cloudformation, semver: patch

#9574 Fix snapshot reference replacement replacing parts of the snapshot keys
  localstack/testing/snapshots/prototype.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/unit/utils/testing/test_snapshots.py
Labels: semver: patch

#9491 Add AWS::StepFunctions::* resource provider for CloudFormation
  localstack/services/cloudformation/resource_provider.py
  localstack/services/stepfunctions/resource_providers/__init__.py
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_activity.py
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_activity.schema.json
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_activity_plugin.py
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.schema.json
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine_plugin.py
Labels: aws:cloudformation, semver: patch

#9578 Update remaining usages of LOCALHOST_HOSTNAME
  localstack/config.py
  localstack/constants.py
  localstack/services/apigateway/helpers.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/s3/cors.py
  localstack/services/s3/resource_providers/aws_s3_bucket.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/urls.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/unit/test_config.py
  tests/unit/test_s3.py
Labels: semver: major

#9580 s3: add regex transformer for different regions
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: semver: patch

#9586 limit botocore to < 1.31.81
  setup.cfg
Labels: semver: patch

#9590 remove duplicate on_extension_load call
  localstack/extensions/api/extension.py
Labels: semver: patch

#9593 Drop preview version of RAM
  localstack/aws/api/ram/__init__.py
  localstack/services/providers.py
  localstack/services/ram/__init__.py
  localstack/services/ram/provider.py
  tests/aws/services/ram/__init__.py
  tests/aws/services/ram/test_ram.py
  tests/aws/services/ram/test_ram.snapshot.json
Labels: semver: major

#9592 Add internal endpoint to return config
  localstack/services/internal.py
Labels: semver: minor

#9595 apigateway-kinesis: add region and account id params
  tests/aws/services/apigateway/test_apigateway_basic.py
Labels: semver: patch

#8268 fix SQS JSON protocol support in ASF
  localstack/aws/connect.py
  localstack/aws/data/sqs-query/2012-11-05/README.md
  localstack/aws/data/sqs-query/2012-11-05/service-2.json
  localstack/aws/handlers/service.py
  localstack/aws/protocol/parser.py
  localstack/aws/protocol/serializer.py
  localstack/aws/protocol/service_router.py
  localstack/aws/spec.py
  localstack/services/plugins.py
  localstack/services/providers.py
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/testing/aws/util.py
  localstack/utils/coverage_docs.py
  setup.cfg
  tests/aws/services/events/test_events.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs_backdoor.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser_validate.py
  tests/unit/aws/protocol/test_serializer.py
  tests/unit/aws/test_mocking.py
  tests/unit/aws/test_service_router.py
  tests/unit/aws/test_skeleton.py
  tests/unit/aws/test_spec.py
Labels: semver: minor

#9596 Bump moto-ext to 4.2.7.post1
  localstack/services/ec2/provider.py
  localstack/services/sns/provider.py
  setup.cfg
  tests/aws/services/sns/test_sns.py
Labels: semver: patch

#9604 fix S3 v3 VirtualHost removing trailing slash
  localstack/aws/protocol/parser.py
  localstack/services/s3/virtual_host.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, area: asf, semver: patch

#9528 Remove fallback account ID and region for core ARN builder
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  localstack/utils/aws/arns.py
  tests/aws/services/lambda_/test_lambda_legacy.py
  tests/aws/services/s3/test_s3.py
Labels: semver: patch

#9603 fix S3 parser with empty integer query string parameters
  localstack/aws/protocol/parser.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, area: asf, semver: patch

#9607 fix SQS JSON leftovers
  localstack/aws/protocol/serializer.py
  localstack/aws/protocol/service_router.py
  localstack/services/providers.py
  localstack/utils/bootstrap.py
  localstack/utils/coverage_docs.py
  tests/bootstrap/test_strict_service_loading.py
  tests/unit/aws/test_spec.py
  tests/unit/utils/test_bootstrap.py
Labels: aws:sqs, area: asf, semver: patch

#9608 fix S3 List* pagination CommonPrefixes
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_list_operations.snapshot.json
Labels: aws:s3, semver: patch

#9616 Remove legacy internal call detection helper
  localstack/aws/handlers/analytics.py
  localstack/aws/handlers/logging.py
  localstack/aws/handlers/metric_handler.py
  localstack/aws/handlers/partition_rewriter.py
  localstack/utils/aws/aws_stack.py
Labels: semver: patch

#9626 OpenSearch: Bump engine version to 2.9
  localstack/constants.py
  localstack/services/opensearch/versions.py
  tests/aws/scenario/bookstore/test_bookstore.snapshot.json
  tests/aws/services/es/test_es.py
  tests/aws/services/opensearch/test_opensearch.py
Labels: semver: minor

#9627 refresh sqs snapshots and fix exceptions in serializer
  localstack/aws/protocol/serializer.py
  localstack/services/sqs/exceptions.py
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/services/sqs/resource_providers/aws_sqs_queue.py
  localstack/services/sqs/resource_providers/aws_sqs_queuepolicy.py
  localstack/testing/pytest/fixtures.py
  setup.cfg
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/unit/test_sqs.py
Labels: aws:sqs, area: asf, semver: patch

#9621 add services to API_DEPENDENCIES
  localstack/utils/bootstrap.py
  tests/integration/test_services_enabled.py
Labels: semver: patch

#9588 remove mount for persistence plugin
  localstack/dev/run/configurators.py
Labels: semver: patch

#9600 Remove deprecated networking config helpers
  localstack/aws/handlers/partition_rewriter.py
  localstack/cli/localstack.py
  localstack/config.py
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/cloudformation/api_utils.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/dynamodb/provider.py
  localstack/services/infra.py
  localstack/services/sqs/models.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/testing/aws/eventbus_utils.py
  localstack/testing/aws/util.py
  localstack/testing/pytest/container.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/kinesis/kinesis_connector.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudformation/resources/test_kinesis.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/test_cloudformation_ui.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/ses/test_ses.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/sts/test_sts.py
  tests/aws/test_multiregion.py
  tests/bootstrap/cdk_templates/LocalStackHostBootstrap/ClusterStack.json
  tests/bootstrap/conftest.py
  tests/bootstrap/resources/apigw_handler.py
  tests/bootstrap/resources/event_handler.py
  tests/bootstrap/test_cosmetic_configuration.py
  tests/cli/test_cli.py
  tests/integration/aws/test_app.py
  tests/integration/services/test_internal.py
  tests/integration/test_config_endpoint.py
  tests/integration/test_security.py
  tests/unit/cli/test_cli.py
  tests/unit/test_partition_rewriter.py
Labels: area: configuration, area: networking, semver: patch

#9634 fix SQS json requests sent to query route
  localstack/services/sqs/query_api.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
Labels: aws:sqs, semver: patch

#9609 fix S3 pre-signed logic for IGNORED_SIGV4_HEADERS
  localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#9633 Fix edge port usages
  bin/docker-entrypoint.sh
  localstack/config.py
  localstack/services/lambda_/urlrouter.py
  localstack/services/s3/presigned_url.py
  localstack/utils/bootstrap.py
  localstack/utils/testutil.py
  tests/aws/cdk_templates/Bookstore/BookstoreStack.json
  tests/aws/scenario/bookstore/functions/getBook.js
  tests/aws/scenario/bookstore/functions/listBooks.js
  tests/aws/scenario/bookstore/functions/loadBooksHelper.js
  tests/aws/scenario/note_taking/functions/createNote.js
  tests/aws/scenario/note_taking/functions/deleteNote.js
  tests/aws/scenario/note_taking/functions/getNote.js
  tests/aws/scenario/note_taking/functions/listNotes.js
  tests/aws/scenario/note_taking/functions/updateNote.js
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/lambda_/functions/common/endpointinjection/dotnet6/src/Function.cs
  tests/aws/services/lambda_/functions/common/endpointinjection/go/src/main.go
  tests/aws/services/lambda_/functions/common/endpointinjection/java/src/src/main/java/echo/Handler.java
  tests/aws/services/lambda_/functions/common/endpointinjection/nodejs/src/index.js
  tests/aws/services/lambda_/functions/common/endpointinjection/nodejs18.x/src/index.mjs
  tests/aws/services/lambda_/functions/common/endpointinjection/python/src/handler.py
  tests/aws/services/lambda_/functions/common/endpointinjection/ruby/src/function.rb
  tests/aws/services/lambda_/functions/lambda_integration.py
  tests/aws/services/lambda_/functions/lambda_put_item.py
  tests/aws/services/lambda_/functions/lambda_s3_integration.js
  tests/aws/services/lambda_/functions/lambda_s3_integration_presign.js
  tests/aws/services/lambda_/functions/lambda_s3_integration_sdk_v2.js
  tests/aws/services/lambda_/functions/lambda_send_message.py
  tests/aws/services/lambda_/functions/lambda_sqs_batch_item_failure.py
  tests/aws/services/lambda_/functions/lambda_sqs_integration.py
  tests/aws/services/lambda_/functions/lambda_start_execution.py
  tests/aws/services/lambda_/functions/lambda_triggered_by_s3.py
  tests/aws/services/lambda_/functions/lambda_triggered_by_sqs_download_s3_file.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3control/test_s3control.py
  tests/aws/services/secretsmanager/functions/lambda_rotate_secret.py
  tests/aws/services/stepfunctions/v2/scenarios/templates/wait-for-callback.yaml
  tests/bootstrap/test_localstack_container_server.py
  tests/unit/test_cors.py
Labels: semver: patch

#9636 Remove edge port config
  localstack/config.py
  localstack/utils/bootstrap.py
  tests/integration/utils/test_diagnose.py
  tests/unit/test_config.py
Labels: semver: patch

#9630 Properly parse error message for container host port open detection
  localstack/utils/docker_utils.py
Labels: semver: patch

#9613 Publish stable version on non-dev versioning
  Makefile
Labels: semver: patch

#9635 fix: allow CopySourceRange to be empty on s3.upload_part_copy
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: patch

#9632 fix change_message_visibility behaviour for expired handles
  localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
Labels: semver: patch

#9646 Add subdomains to service url helpers
  localstack/config.py
  tests/unit/test_config.py
Labels: semver: patch

#9643 fix S3 timestamp precision
  localstack/aws/protocol/serializer.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_list_operations.snapshot.json
Labels: aws:s3, area: asf, semver: patch

#9642 Update remaining host matching for localhost.localstack.cloud
  localstack/services/apigateway/helpers.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_utils.py
  localstack/services/s3/provider.py
  localstack/services/sqs/query_api.py
  localstack/utils/crypto.py
Labels: semver: patch

#9654 Organize config list
  doc/interaction/README.md
  localstack/config.py
  localstack/deprecations.py
  localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/handler/index.py
  localstack/utils/net.py
Labels: semver: patch

#9655 pin botocore before gzip of services
  setup.cfg
Labels: area: dependencies, semver: patch

#9656 fix test_s3_timestamp_precision
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#9585 [minor] skip mounting binary pip dependencies in dev container
  localstack/dev/run/configurators.py
Labels: semver: patch

#9665 unpin opensearch-py
  setup.cfg
Labels: semver: patch

#9638 SQS: Rework is_sqs_queue_url() utility
  localstack/services/sqs/constants.py
  localstack/services/sqs/utils.py
  tests/unit/test_sqs.py
Labels: semver: patch

#9676 fix s3 skip presign for missing SignedHeaders and fix query string param to headers
  localstack/services/s3/presigned_url.py
  tests/aws/services/lambda_/functions/lambda_s3_integration_presign.js
  tests/aws/services/lambda_/functions/lambda_s3_integration_sdk_v2.js
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9541 Fix broken multi-account/multi-region functionality
  localstack/services/kinesis/provider.py
  localstack/services/logs/provider.py
  localstack/utils/aws/client_types.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/logs/test_logs.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs_backdoor.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/test_integration.py
Labels: semver: patch

#9682 skip emitting events in SSM if not enabled
  localstack/services/ssm/provider.py
Labels: area: infrastructure, aws:ssm, semver: patch

#9653 add cw tests for lambda Invocations and Errors metrics
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.py
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.snapshot.json
Labels: semver: patch

#9684 fix get_object_tagging should work on versioned buckets without providing an explicit VersionId
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
Labels: aws:s3, semver: patch

#9618 Rename ARN builders for consistency
  localstack/services/apigateway/models.py
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/es.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/ecr/resource_providers/aws_ecr_repository.py
  localstack/services/route53resolver/provider.py
  localstack/services/stepfunctions/provider.py
  localstack/utils/aws/arns.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/events/test_events.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
Labels: semver: patch

#9696 Fix execution storage for new stepfunctions provider
  localstack/services/stepfunctions/backend/execution.py
Labels: semver: patch

#9704 CW V2 Dashboard CRD operations
  localstack/services/cloudwatch/models.py
  localstack/services/cloudwatch/provider_v2.py
  localstack/utils/aws/arns.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
Labels: semver: minor

#9672 Fix int exception for API GW
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
Labels: aws:apigateway, area: integration/chalice, area: asf, semver: patch

#9624 Bump moto-ext to 4.2.9.post2
  localstack/services/s3/notifications.py
  setup.cfg
Labels: semver: patch

#9667 unpin botocore, update minimum version
  setup.cfg
Labels: semver: patch

#9644 Refactor kinesis connector
  localstack/services/cloudformation/resource_provider.py
  localstack/services/firehose/provider.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/container_utils/docker_sdk_client.py
  localstack/utils/kinesis/kclipy_helper.py
  localstack/utils/kinesis/kinesis_connector.py
  localstack/utils/kinesis/kinesis_util.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/test_integration.py
  tests/unit/test_misc.py
  tests/unit/utils/aws/test_aws_stack.py
Labels: semver: patch

#9474 corrects status for instance profile resource provider
  localstack/services/iam/resource_providers/aws_iam_instanceprofile.py
Labels: semver: patch

#9709 remove sqs-query from health endpoint
  localstack/services/internal.py
  tests/bootstrap/test_strict_service_loading.py
Labels: semver: patch

#9714 avoid botocore 1.32.6
  setup.cfg
Labels: semver: patch

#9639 apigateway: add IAM role to apigateway integration with services
  localstack/services/apigateway/integration.py
  localstack/utils/aws/resources.py
  tests/aws/services/apigateway/test_apigateway_basic.py
Labels: semver: patch

#9716 fix transfer.ListTagsForResource collect not implemented call
  localstack/aws/mocking.py
  localstack/services/lambda_/legacy/lambda_api.py
  localstack/services/lambda_/legacy/lambda_executors.py
Labels: semver: patch

#9697 Add new lambda runtimes and more parity fixes
  localstack/config.py
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/provider.py
  localstack/services/lambda_/runtimes.py
  localstack/testing/aws/lambda_utils.py
  localstack/testing/pytest/marking.py
  localstack/utils/diagnose.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_runtimes.snapshot.json
  tests/aws/templates/cdktemplate.json
  tests/aws/templates/cfn_lambda_event_invoke_config.yml
  tests/aws/templates/sfn_apigateway.yaml
  tests/aws/templates/template24.yaml
  tests/unit/services/lambda_/test_api_utils.py
Labels: semver: patch

#9424 add resource providers for EC2::TransitGateway and EC2::TransitGatewayAttachment
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ec2/resource_providers/aws_ec2_transitgateway.py
  localstack/services/ec2/resource_providers/aws_ec2_transitgateway.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_transitgateway_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_transitgatewayattachment.py
  localstack/services/ec2/resource_providers/aws_ec2_transitgatewayattachment.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_transitgatewayattachment_plugin.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/templates/transit_gateway_attachment.yml
Labels: semver: patch

#9449 add AWS::CloudFormation::Stack resource provider
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/resource_providers/__init__.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_stack.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_stack.schema.json
  localstack/services/cloudformation/resource_providers/aws_cloudformation_stack_plugin.py
Labels: semver: patch

#9717 fix: support for non-homogeneous lists
  localstack/testing/snapshots/prototype.py
  localstack/testing/snapshots/transformer.py
  tests/unit/utils/testing/test_snapshots.py
Labels: semver: patch

#9679 fix SNS publish across region exception
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#9662 fix: supported multi account for test kinesis forward chain
  tests/aws/test_integration.py
Labels: area: multi-account, semver: patch

#9725 fix get_raw_path with double slash prefix path for legacy v-host S3
  localstack/http/request.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/unit/http_/test_request.py
Labels: aws:s3, area: asf, semver: patch

#9728 CFn: render ext providers with correct plugin namespace
  localstack/services/cloudformation/scaffolding/__main__.py
Labels: semver: patch

#9677 [SFN] Support for CF Definition fields
  localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
Labels: semver: patch

#9721 [SFN] Enhancements to V2 Interpreter
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/parse/asl_parser.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack/services/stepfunctions/asl/utils/json_path.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/catch_empty.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/catch_states_runtime.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/choice_state_singleton_composite.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/lambda_empty_retry.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: patch

#9732 [SFN] Fix optimised integrations clients leading to timeouts and retries
  localstack/services/stepfunctions/asl/utils/boto_client.py
Labels: semver: patch

#9733 [SFN] Context Object arguments in Intrinsic Functions
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserVisitor.py
  localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_context_path.py
  localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/intrinsic_functions_templates.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/generic/format_context_path.json5
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.snapshot.json
Labels: semver: patch

#9739 fix cloudwatch resource providers
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_alarm.py
  localstack/services/cloudwatch/resource_providers/aws_cloudwatch_compositealarm.py
  tests/aws/services/cloudformation/resources/test_cloudwatch.py
  tests/aws/services/cloudformation/resources/test_cloudwatch.snapshot.json
  tests/aws/templates/cfn_cw_composite_alarm.yml
  tests/aws/templates/cfn_cw_simple_alarm.yml
Labels: semver: patch

#9737 s3: add SourceBucketLocation for CrossLocationLoggingProhibitions exception
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9724 Remove HEADER_LOCALSTACK_ACCOUNT_ID
  localstack/aws/handlers/auth.py
  localstack/constants.py
  localstack/services/apigateway/integration.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/request_context.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sts/test_sts.py
  tests/integration/test_security.py
  tests/unit/test_dynamodb.py
  tests/unit/test_partition_rewriter.py
Labels: semver: patch

#9641 Remove last uses of get_aws_account_id() and aws_stack.get_region()
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudwatch/provider.py
  localstack/services/infra.py
  localstack/services/kms/models.py
  localstack/services/lambda_/event_source_listeners/dynamodb_event_source_listener.py
  localstack/services/lambda_/provider.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/testutil.py
Labels: semver: patch

#9368 Remove localstack client dependency
  setup.cfg
Labels: semver: patch

#9749 [SFN] Enhancements for Intrinsic Function StringSplit
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/string_operations/string_split.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/intrinsic_functions_templates.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/string_operations/string_split_context_object.json5
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.snapshot.json
Labels: semver: patch

#9743 fix AWS::SNS::Topic canonicalizing bool to str for Attributes
  localstack/services/sns/resource_providers/aws_sns_topic.py
  tests/aws/services/cloudformation/resources/test_sns.py
  tests/aws/services/cloudformation/resources/test_sns.snapshot.json
Labels: aws:cloudformation, aws:sns, semver: patch

#9712 create s3 image and pipeline
  .github/workflows/tests-s3-image.yml
  Dockerfile.s3
  Makefile
  localstack/services/infra.py
  localstack/services/providers.py
  localstack/services/s3/notifications.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/utils_moto.py
  localstack/services/sqs/utils.py
  localstack/testing/pytest/fixtures.py
  localstack/testing/pytest/snapshot.py
  localstack/utils/aws/aws_responses.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/request_context.py
  setup.cfg
  tests/aws/conftest.py
  tests/aws/services/s3/conftest.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_lambda.py
  tests/aws/services/s3/test_s3_notifications_sns.py
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/unit/state/test_inspect.py
  tests/unit/test_sqs.py
Labels: aws:s3, semver: patch

#9713 s3: fix test_put_bucket_logging_wrong_target for multi-account and region
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: semver: patch

#9762 Test lambda provisioned concurrency scheduling
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/functions/lambda_invocation_type.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
Labels: semver: patch

#9723 Fix for double-slash uri request
  localstack/services/apigateway/context.py
  localstack/services/apigateway/router_asf.py
  localstack/utils/strings.py
  tests/unit/http_/test_router.py
Labels: semver: patch

#9765 fix type hints incompatible with python < 3.10 in aws_stack
  localstack/utils/aws/aws_stack.py
Labels: semver: patch

#9767 pin global awscli install in Dockerfile
  Dockerfile
Labels: semver: patch

#9763 add APIGW PutIntegration IntegrationType validation
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway, semver: patch

#9751 fix kms key creation for s3 encryption
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
Labels: semver: patch

#9750 Remove thread-local region, access key and account ID
  localstack/aws/accounts.py
  localstack/aws/connect.py
  localstack/aws/handlers/auth.py
  localstack/aws/handlers/legacy.py
  localstack/aws/proxy.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/request_context.py
Labels: semver: patch

#9736 added util function for time
  localstack/utils/time.py
Labels: semver: patch

#9726 Enable AppSync cloudformation resources
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch
