Repository localstack/localstack, pull requests merged in 2023-06, with the labels that each got.

#8394 Capture additional coverage context
  .circleci/config.yml
  pyproject.toml
Labels: semver: patch

#8410 Bump moto-ext to 4.1.10.post2
  setup.cfg
Labels: semver: patch

#8403 fix cli profile handling, add profile indicator to banner
  localstack/cli/localstack.py
  localstack/cli/profiles.py
  localstack/config.py
  tests/unit/cli/test_profiles.py
Labels: area: cli, semver: patch

#8407 show error on frozen attempt to update localstack-cli
  localstack/cli/localstack.py
  tests/unit/cli/test_cli.py
Labels: semver: patch

#8402 fix multi-protocol port mapping
  localstack/utils/container_utils/container_client.py
  localstack/utils/net.py
  tests/unit/test_misc.py
Labels: area: cli, semver: patch

#8395 S3: Implement cross-account access
  localstack/constants.py
  tests/integration/s3/test_s3.py
Labels: semver: minor

#8426 fix package incompatibilities in pipeline
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#8418 fix SNS cross account SQS publish + SQS get_queue_url
  localstack/services/sns/provider.py
  localstack/services/sqs/provider.py
  localstack/utils/aws/arns.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
  tests/integration/test_sqs.py
Labels: semver: minor

#8417 update SQS QueryAPI to use new aws client factory
  localstack/services/sqs/query_api.py
  tests/integration/test_sqs.py
Labels: semver: patch

#8431 Share ffmpeg package between services
  localstack/packages/ffmpeg.py
  localstack/packages/plugins.py
  localstack/services/transcribe/plugins.py
  localstack/services/transcribe/provider.py
Labels: semver: patch

#8436 Use awslocal in LocalStack hint logs
  localstack/services/awslambda/invocation/lambda_service.py
Labels: semver: patch

#8413 add new CLI command to simplify shell completion
  localstack/cli/localstack.py
  tests/unit/cli/test_cli.py
Labels: area: cli, semver: minor

#8416 fix MacOS host mode docker host IP detection
  localstack/utils/container_networking.py
Labels: semver: minor

#8438 Update lambda init to v0.1.18-pre
  localstack/services/awslambda/packages.py
Labels: semver: patch

#8425 add BodyS3Location property to AWS::ApiGateway::RestApi
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  localstack/services/cloudformation/models/apigateway.py
  tests/integration/cloudformation/resources/test_apigateway.py
  tests/integration/cloudformation/resources/test_apigateway.snapshot.json
  tests/integration/templates/apigateway_integration_from_s3.yml
Labels: aws:cloudformation, aws:apigateway, semver: minor

#8430 add support for CFN and s3 bucket website configuration
  localstack/services/cloudformation/models/s3.py
  tests/integration/cloudformation/resources/test_s3.py
  tests/integration/cloudformation/resources/test_s3.snapshot.json
  tests/integration/templates/s3_bucket_website_config.yaml
Labels: semver: patch

#8439 Prefix dynamodb streams shard iterator with stream arn
  localstack/services/dynamodbstreams/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_dynamodb.py
  tests/integration/test_dynamodb.snapshot.json
Labels: semver: patch

#8322 Refactor handling of CFn stack parameters
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/parameters.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_preparer.py
  localstack/services/cloudformation/engine/transformers.py
  localstack/services/cloudformation/provider.py
  tests/integration/cloudformation/api/test_changesets.py
  tests/integration/cloudformation/resources/test_kinesis.py
  tests/integration/cloudformation/resources/test_kinesis.snapshot.json
  tests/integration/cloudformation/resources/test_s3.py
  tests/integration/cloudformation/test_template_engine.py
  tests/integration/templates/cfn_intrinsic_functions.yaml
  tests/integration/templates/cfn_kinesis_stream.yaml
  tests/unit/test_cloudformation.py
Labels: semver: patch

#8137 Add basic lambda performance tests
  tests/integration/awslambda/test_lambda_performance.py
Labels: semver: patch

#8437 fix validating APIGW API key when apiKeySource is AUTHORIZER
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/apigateway/test_apigateway_basic.py
  tests/integration/apigateway/test_apigateway_common.py
  tests/integration/apigateway/test_apigateway_common.snapshot.json
Labels: aws:apigateway, semver: patch

#8443 add help texts, short args, format option decorator
  localstack/cli/localstack.py
  localstack/cli/profiles.py
  localstack/utils/bootstrap.py
  tests/unit/cli/test_cli.py
Labels: semver: minor

#8423 fix S3 exception when using KMS key state PendingDeletion
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8445 fix apigw import default authorizer, apiKeySource and ANY method
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/invocations.py
  tests/integration/apigateway/test_apigateway_import.py
  tests/integration/apigateway/test_apigateway_import.snapshot.json
  tests/integration/files/openapi.spec.global-auth.json
Labels: aws:apigateway, semver: patch

#8446 fix apigw model resolving when importing and when validating
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/models.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/apigateway_fixtures.py
  tests/integration/apigateway/test_apigateway_import.py
  tests/integration/apigateway/test_apigateway_import.snapshot.json
  tests/integration/files/openapi.spec.circular-ref-with-request-body.json
  tests/integration/files/openapi.spec.circular-ref.json
  tests/integration/files/openapi.spec.global-auth.json
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: minor

#8319 Integrate CloudTrail helper into LocalStack test fixtures
  localstack/testing/pytest/cloudtrail_tracking.py
  localstack/testing/pytest/cloudtrail_tracking/.gitignore
  localstack/testing/pytest/cloudtrail_tracking/app.py
  localstack/testing/pytest/cloudtrail_tracking/cdk.json
  localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/__init__.py
  localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/cloudtrail_tracking_stack.py
  localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/handler/index.py
  localstack/testing/pytest/cloudtrail_tracking/requirements-dev.txt
  localstack/testing/pytest/cloudtrail_tracking/requirements.txt
  localstack/testing/pytest/cloudtrail_tracking/tests/__init__.py
  localstack/testing/pytest/cloudtrail_tracking/tests/test_cloudtrail_tracking_handler.py
  localstack/testing/pytest/fixtures.py
  tests/conftest.py
  tests/integration/cloudformation/test_cloudtrail_trace.py
Labels: semver: patch

#8448 Add Lambda Docker DNS configuration
  localstack/services/awslambda/invocation/docker_runtime_executor.py
Labels: semver: minor

#8461 Fix defaulting to privileged=true if additional flags are provided
  localstack/utils/container_utils/container_client.py
  tests/unit/test_dockerclient.py
Labels: semver: patch

#8457 CFn: Add scaffolding system
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/CloudformationSchema.zip
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/propgen.py
  localstack/services/cloudformation/scaffolding/templates/provider_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_template.py.j2
Labels: semver: patch

#8458 fix SNS SignatureVersion for Topic and validate Subscription attributes when set a creation
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#8453 Verify AssumeRolePolicyDocument is valid json
  localstack/services/cloudformation/models/iam.py
  localstack/services/iam/provider.py
  tests/integration/test_iam.py
  tests/integration/test_iam.snapshot.json
Labels: semver: patch

#8474 Add boto client type definitions for emr-serverless
  localstack/utils/aws/client_types.py
  localstack/utils/testutil.py
  setup.cfg
Labels: semver: patch

#8489 Add a fetch state call after CFn resource deployment
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#8496 fix apigateway issue with logging template
  localstack/services/apigateway/helpers.py
Labels: aws:apigateway, semver: patch

#8469 Make store lookups for Events rule jobs request context aware
  localstack/services/events/provider.py
Labels: semver: patch

#8499 Extend list of supported Lambda layer runtimes, update validation snapshots
  localstack/services/awslambda/api_utils.py
  localstack/services/awslambda/invocation/lambda_models.py
  tests/integration/awslambda/test_lambda_api.snapshot.json
Labels: semver: patch

#8266 CFn: remove physical resource id from some services
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/cdk.py
  localstack/services/cloudformation/models/certificatemanager.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kinesisfirehose.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/logs.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/cloudformation/models/redshift.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/ssm.py
  localstack/services/cloudformation/models/stepfunctions.py
  localstack/services/cloudformation/service_models.py
  tests/integration/cloudformation/resources/test_acm.py
  tests/integration/cloudformation/resources/test_cloudformation.py
  tests/integration/cloudformation/resources/test_cloudformation.snapshot.json
  tests/integration/cloudformation/resources/test_legacy.py
  tests/integration/cloudformation/resources/test_redshift.py
  tests/integration/cloudformation/resources/test_secretsmanager.py
  tests/integration/cloudformation/resources/test_secretsmanager.snapshot.json
  tests/integration/templates/cfn_redshift.yaml
Labels: semver: patch

#8450 Use new clients in lambda event source mappings
  localstack/services/awslambda/event_source_listeners/adapters.py
  localstack/services/awslambda/event_source_listeners/dynamodb_event_source_listener.py
  localstack/services/awslambda/event_source_listeners/kinesis_event_source_listener.py
  localstack/services/awslambda/event_source_listeners/sqs_event_source_listener.py
  localstack/services/awslambda/event_source_listeners/stream_event_source_listener.py
  localstack/testing/pytest/fixtures.py
  tests/integration/awslambda/test_lambda_integration_dynamodbstreams.py
Labels: semver: patch

#8440 CFn: simplify deploy function handling
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
Labels: semver: patch

#8487 fix SNS publish_batch when MessageStructure is JSON
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns, semver: patch

#8510 Remove get_physical_resource_id from CFn GenericBaseModel
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/service_models.py
Labels: semver: patch

#8517 kms: Add encryption context to generate data key with and without plaintext
  localstack/services/kms/provider.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: aws:kms, semver: patch

#8507 KMS: Fix segfault during persistence state restore
  localstack/services/kms/exceptions.py
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  localstack/services/kms/utils.py
  tests/unit/test_kms.py
Labels: aws:kms, semver: patch

#8292 [SFN] support for waitForTaskToken and enhancements
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserVisitor.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/path/result_path.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path_context_obj.py
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/resource.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_pass/state_pass.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/wait_function.py
  localstack/services/stepfunctions/asl/eval/callback/__init__.py
  localstack/services/stepfunctions/asl/eval/callback/callback.py
  localstack/services/stepfunctions/asl/eval/contextobject/contex_object.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack/services/stepfunctions/provider_v2.py
  setup.cfg
  tests/integration/stepfunctions/conftest.py
  tests/integration/stepfunctions/templates/callbacks/__init__.py
  tests/integration/stepfunctions/templates/callbacks/callback_templates.py
  tests/integration/stepfunctions/templates/callbacks/statemachines/sqs_success_on_task_token.json5
  tests/integration/stepfunctions/templates/callbacks/statemachines/sqs_wait_for_task_token.json5
  tests/integration/stepfunctions/v2/callback/__init__.py
  tests/integration/stepfunctions/v2/callback/test_callback.py
  tests/integration/stepfunctions/v2/callback/test_callback.snapshot.json
Labels: semver: minor

#8527 kms: add encryption context to generate data key pair apis in kms
  localstack/services/kms/provider.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: aws:kms, semver: patch

#8523 CFn: simplify signature of params helper
  localstack/services/cloudformation/cfn_utils.py
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/certificatemanager.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/stepfunctions.py
  tests/integration/cloudformation/resources/test_lambda.py
Labels: semver: patch

#8532 Fix regressions related to cfn parameter handling helper signature changes
  localstack/services/cloudformation/cfn_utils.py
Labels: semver: patch

#8535 Avoid loading the request stream to retrieve context
  localstack/utils/aws/request_context.py
Labels: semver: patch

#8223 SQS: Cross-account enhancements
  localstack/constants.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/utils/aws/arns.py
  tests/integration/test_sqs.py
Labels: semver: patch

#8303 [SFN] support for lambda parameters, parameters abstractions
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/stepfunctions_utils.py
  tests/integration/stepfunctions/templates/services/services_templates.py
  tests/integration/stepfunctions/templates/services/statemachines/lambda_invoke_log_type.json5
  tests/integration/stepfunctions/templates/services/statemachines/lambda_list_functions.json5
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.py
  tests/integration/stepfunctions/v2/services/test_lambda_task_service.snapshot.json
Labels: semver: minor

#8529 CFn: simplify "result_handler" function signature
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/logs.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/stepfunctions.py
Labels: semver: patch

#8531 CFn: Integrate new resource provider deploy system
  localstack/config.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/types.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/opensearch/resource_providers/__init__.py
  localstack/services/opensearch/resource_providers/domain.py
  localstack/services/ssm/resource_providers/__init__.py
  localstack/services/ssm/resource_providers/aws_ssm_parameter.schema.json
  localstack/services/ssm/resource_providers/parameter.py
  tests/integration/cloudformation/resource_providers/opensearch/test_domain.py
  tests/integration/cloudformation/resource_providers/ssm/test_parameter.py
  tests/integration/cloudformation/resource_providers/ssm/test_parameter.snapshot.json
  tests/integration/cloudformation/resources/test_ssm.py
  tests/integration/templates/resource_providers/opensearch/domain.yaml
  tests/integration/templates/resource_providers/ssm/parameter.yaml
Labels: semver: patch

#8541 Opensearch: Multi-accounts compatibility
  localstack/services/es/provider.py
  localstack/services/opensearch/cluster.py
  localstack/services/opensearch/provider.py
  tests/unit/test_opensearch.py
Labels: semver: patch

#8544 Fix container port check and host detection on podman
  localstack/config.py
  localstack/utils/docker_utils.py
Labels: semver: minor

#8498 use checksum stored in moto key, implement checksum for CopyObject
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8548 Add scaffolded IAM resource provider with new scaffold test layout
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/iam/resource_providers/aws_iam_user.py
  tests/integration/cloudformation/resource_providers/iam/templates/basic.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/basic_autogenerated_name.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/full_properties.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/update.yaml
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_basic.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_basic.snapshot.json
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_cloudcontrol.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_exploration.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_parity.py
Labels: semver: patch

#8552 Remove unused methods from template deployer
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#8558 Fix resource type resolution and missing logical resource ID in update
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#8554 Let SQS AddPermission call actually influence policy attribute
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: semver: minor

#8560 add CI env var to the list of config vars
  localstack/config.py
Labels: semver: minor

#8562 Delay boto client lookup for custom handler functions like in custom resources
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#8543 update readme with cli installation instructions
  README.md
Labels: semver: patch

#8557 Fix container port detection with the cmd docker client
  localstack/utils/docker_utils.py
Labels: semver: patch

#7900 add sqs lambda event source listener test for message attributes
  tests/integration/awslambda/test_lambda_integration_sqs.py
  tests/integration/awslambda/test_lambda_integration_sqs.snapshot.json
Labels: semver: patch

#8386 [SFN] Support for callback failure
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/eval/callback/callback.py
  localstack/services/stepfunctions/provider_v2.py
  tests/integration/stepfunctions/conftest.py
  tests/integration/stepfunctions/templates/callbacks/callback_templates.py
  tests/integration/stepfunctions/templates/callbacks/statemachines/sqs_failure_on_task_token.json5
  tests/integration/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/integration/stepfunctions/templates/errorhandling/statemachines/aws_service_sqs_send_msg_catch_token_failure.json5
  tests/integration/stepfunctions/v2/callback/test_callback.py
  tests/integration/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sqs.snapshot.json
Labels: semver: minor

#8497 CFn: add additional tests to scaffolding output
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/propgen.py
  localstack/services/cloudformation/scaffolding/templates/provider_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_cloudcontrol_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_getatt_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_integration_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_parity_template.py.j2
  localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  localstack/services/ssm/resource_providers/aws_ssm_parameter.schema.json
  tests/integration/cloudformation/resource_providers/conftest.py
  tests/integration/cloudformation/resource_providers/ssm/test_parameter.py
  tests/integration/cloudformation/resource_providers/ssm/test_parameter.snapshot.json
  tests/integration/cloudformation/resource_providers/ssm/test_parameter_getatt_exploration.py
  tests/integration/templates/resource_providers/ssm/aws_ssm_parameter_getatt_exploration.yaml
  tests/integration/templates/resource_providers/ssm/aws_ssm_parameter_minimal.yaml
  tests/integration/templates/resource_providers/ssm/aws_ssm_parameter_update_without_replacement.yaml
Labels: semver: patch

#8582 Fix termination of generators when client connection is closed
  localstack/aws/handlers/logging.py
  localstack/http/asgi.py
  tests/unit/http_/test_asgi.py
Labels: semver: minor

#8564 unify CLI error messages, add global error message handler
  localstack/cli/localstack.py
  localstack/utils/bootstrap.py
  tests/bootstrap/test_cli.py
  tests/unit/cli/test_cli.py
Labels: semver: minor

#8546 Refactor CFn conditions & mappings
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_preparer.py
  localstack/services/cloudformation/engine/transformers.py
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/resource_provider.py
  tests/integration/cloudformation/engine/__init__.py
  tests/integration/cloudformation/engine/test_conditions.py
  tests/integration/cloudformation/engine/test_conditions.snapshot.json
  tests/integration/cloudformation/engine/test_mappings.py
  tests/integration/cloudformation/engine/test_mappings.snapshot.json
  tests/integration/templates/conditions/nested-conditions.yaml
  tests/integration/templates/conditions/ref-condition-intrinsic-condition.yaml
  tests/integration/templates/conditions/ref-condition-macro-def.yaml
  tests/integration/templates/conditions/ref-condition-macro.yaml
  tests/integration/templates/conditions/ref-condition-output.yaml
  tests/integration/templates/conditions/ref-condition.yaml
  tests/integration/templates/conditions/simple-condition.yaml
  tests/integration/templates/conditions/simple-intrinsic-condition-name-conflict.yaml
  tests/integration/templates/conditions/simple-intrinsic-condition.yaml
  tests/integration/templates/mappings/simple-mapping-invalid-ref.yaml
  tests/integration/templates/mappings/simple-mapping-nesting-depth.yaml
  tests/integration/templates/mappings/simple-mapping-single-level.yaml
  tests/integration/templates/mappings/simple-mapping.yaml
Labels: semver: patch

#8584 Fix KeyError when looking up handlers on legacy models
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#8578 add docker client commands to get docker system info
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#8585 Add small fix and test to assert prepare_host hook is called with correct dirs
  localstack/cli/localstack.py
  localstack/services/events/provider.py
  localstack/utils/bootstrap.py
  localstack/utils/run.py
  tests/bootstrap/test_cli.py
Labels: semver: patch

#8574 Removing duplicate pickling logic for ACM
  localstack/services/acm/provider.py
Labels: semver: patch

#8592 fix ASF parsing for optional list header fields
  localstack/aws/api/iam/__init__.py
  localstack/aws/api/s3/__init__.py
  localstack/aws/protocol/parser.py
  tests/unit/aws/protocol/test_parser.py
Labels: area: asf, semver: patch

#8591 add initial action for issue label -> project status sync
  .github/workflows/sync-project.yml
Labels: semver: minor

#8594 Improve CFn provider framework / scaffolding
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/engine/schema.py
  localstack/services/cloudformation/provider_utils.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/propgen.py
  localstack/services/cloudformation/scaffolding/templates/provider_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_cloudcontrol_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_getatt_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_integration_template.py.j2
  localstack/services/cloudformation/scaffolding/templates/test_parity_template.py.j2
  localstack/services/iam/resource_providers/__init__.py
  localstack/services/iam/resource_providers/aws_iam_user.py
  localstack/services/iam/resource_providers/aws_iam_user.schema.json
  localstack/services/opensearch/resource_providers/aws_opensearchservice_domain.py
  localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  setup.cfg
  tests/integration/cloudformation/resource_providers/__init__.py
  tests/integration/cloudformation/resource_providers/iam/__init__.py
  tests/integration/cloudformation/resource_providers/iam/templates/full_properties.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/user_basic.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/user_basic_autogenerated.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/user_full.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/user_getatt_exploration.yaml
  tests/integration/cloudformation/resource_providers/iam/templates/user_update.yaml
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_basic.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_basic.snapshot.json
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_cloudcontrol.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_exploration.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_parity.py
  tests/integration/cloudformation/resource_providers/iam/test_aws_iam_user_parity.snapshot.json
  tests/integration/cloudformation/resource_providers/opensearch/templates/domain.yaml
  tests/integration/cloudformation/resource_providers/opensearch/test_domain.py
  tests/integration/cloudformation/resource_providers/ssm/templates/aws_ssm_parameter_getatt_exploration.yaml
  tests/integration/cloudformation/resource_providers/ssm/templates/aws_ssm_parameter_minimal.yaml
  tests/integration/cloudformation/resource_providers/ssm/templates/aws_ssm_parameter_update_without_replacement.yaml
  tests/integration/cloudformation/resource_providers/ssm/templates/parameter.yaml
  tests/integration/cloudformation/resource_providers/ssm/test_parameter.py
  tests/integration/cloudformation/resource_providers/ssm/test_parameter_getatt_exploration.py
Labels: semver: patch

#8429 replace events client in message publisher
  localstack/utils/aws/message_forwarding.py
Labels: semver: patch

#8479 Limit batch size in delete and change visibility
  localstack/services/sqs/provider.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: semver: minor
