Repository localstack/localstack, pull requests merged in 2023-01, with the labels that each got.

#7439 Avoid DynamoDB "Unknown table" error in BatchItemWriter after LocalStack restart
  localstack/services/dynamodb/utils.py
  tests/unit/test_dynamodb.py
Labels: aws:dynamodb

#7408 add SNS FilterPolicyScope MessageBody
  localstack/services/sns/models.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#7463 add more validation when creating KMS keys and improve parity
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: aws:kms

#7448 add kms key validation in ASF S3 with feature flag
  localstack/config.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/testing/pytest/fixtures.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3

#7495 add validation for multipart upload order
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3

#7566 SNS FIFO topic: create MessageDeduplicationId if not provided
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#7564 fix validation when publishing to FIFO topic with TargetArn
  localstack/services/sns/provider.py
  tests/integration/test_sns.py
Labels: aws:sns
