Repository localstack/localstack, pull requests merged in 2023-07, with the labels that each got.

#8568 invoke test method and status code
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
Labels: semver: patch

#8573 Support to import documentation parts
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
  tests/integration/files/oas30_documentation_parts.json
Labels: semver: minor

#8470 add special char s3 test + fix moto lookup with cleaned up key name
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8603 Remove deprecation for re-implemented DNS feature
  localstack/deprecations.py
Labels: semver: patch

#8569 Adds HTTP integration URIs
  localstack/services/apigateway/integration.py
  tests/integration/apigateway/test_apigateway_import.py
  tests/integration/files/openapi.spec.stage-variables.json
Labels: semver: patch

#8602 Additional debugging for network connection failure
  localstack/services/awslambda/invocation/lambda_models.py
  localstack/utils/container_utils/container_client.py
Labels: semver: patch

#8609 Bump moto-ext to 4.1.12.post1
  setup.cfg
Labels: semver: minor

#8612 transcribe: fix transcription file uri
  localstack/services/transcribe/provider.py
Labels: aws:transcribe, semver: patch

#8610 Update codeowners with Cris and Simon
  CODEOWNERS
Labels: semver: patch

#8427 SNS: Minor cleanup
  localstack/services/sns/provider.py
Labels: semver: patch

#8614 Fix ListRoles operation with PermissionsBoundary attached
  localstack/services/iam/provider.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/test_iam.py
  tests/integration/test_iam.snapshot.json
Labels: semver: patch

#8622 Add status: in progress mapping to label -> project status sync
  .github/workflows/sync-project.yml
Labels: semver: patch

#8631 xfail flaky ssm describe_parameters test
  tests/integration/test_ssm.py
Labels: semver: patch

#8589 use docker system info for client metadata if possible
  localstack/utils/analytics/metadata.py
Labels: semver: minor

#8235 Lambda: Cross-accounts enhancements
  localstack/services/awslambda/invocation/lambda_models.py
  localstack/services/awslambda/invocation/lambda_service.py
  localstack/testing/pytest/fixtures.py
  localstack/utils/testutil.py
Labels: semver: patch

#8628 fix OpenSearch proxy for GZIP encoded responses
  localstack/services/opensearch/cluster.py
  tests/integration/test_opensearch.py
Labels: aws:opensearch, semver: patch

#8377 Cloudformation models for SSM
  localstack/services/cloudformation/models/ssm.py
  localstack/services/ssm/provider.py
  tests/integration/cloudformation/resources/test_ssm.py
  tests/integration/cloudformation/resources/test_ssm.snapshot.json
  tests/integration/templates/ssm_maintenance_window.yml
  tests/integration/templates/ssm_patch_baseline.yml
Labels: semver: patch

#8621 Allow multiple lambda docker networks configured
  localstack/services/awslambda/invocation/docker_runtime_executor.py
  localstack/services/awslambda/lambda_executors.py
  localstack/services/awslambda/lambda_utils.py
  tests/integration/awslambda/functions/lambda_networks.py
  tests/integration/awslambda/test_lambda_developer_tools.py
Labels: semver: minor

#8630 added test case for if-match headers for s3
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#7137 add apigateway eventbridge support
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/router_asf.py
  localstack/services/apigateway/templates.py
  localstack/services/events/provider.py
  localstack/utils/aws/templating.py
  tests/integration/apigateway/test_apigateway_eventbridge.py
  tests/integration/apigateway/test_apigateway_eventbridge.snapshot.json
  tests/integration/test_events.py
  tests/integration/test_events.snapshot.json
Labels: semver: minor

#8635 Deleting custom Unpickler
  localstack/state/pickle.py
Labels: area: persistence, semver: patch

#8638 added test case for s3 object tagging
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8629 fix ApiGateway Model schema from CFn/CDK
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/provider.py
  localstack/services/cloudformation/models/apigateway.py
  tests/integration/cloudformation/resources/test_apigateway.py
  tests/integration/cloudformation/resources/test_apigateway.snapshot.json
  tests/integration/templates/apigateway_models.json
  tests/integration/templates/template35.yaml
Labels: aws:apigateway, semver: patch

#8619 transcribe: add presign url to transcript file uri
  localstack/services/s3/utils.py
  localstack/services/transcribe/provider.py
  tests/integration/test_transcribe.py
  tests/unit/test_s3.py
Labels: aws:transcribe, semver: patch

#8639 ses: add validation for email tags
  localstack/services/ses/provider.py
  tests/integration/test_ses.py
  tests/integration/test_ses.snapshot.json
Labels: aws:ses, semver: patch

#8645 fix proxy client to respect disabled session.verify
  localstack/http/client.py
  tests/unit/http_/test_client.py
Labels: area: infrastructure, aws:opensearch, semver: patch

#8643 A try fixing Lambda persistence
  localstack/services/awslambda/invocation/lambda_models.py
  localstack/services/awslambda/invocation/lambda_service.py
  localstack/utils/testutil.py
Labels: semver: minor

#8473 introduce S3 file stream patching and provider
  .circleci/config.yml
  localstack/config.py
  localstack/services/moto.py
  localstack/services/providers.py
  localstack/services/s3/constants.py
  localstack/services/s3/presigned_url.py
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: minor

#8649 Add config var for snapshot flush interval
  localstack/config.py
Labels: area: persistence, semver: minor

#8648 Reset threadlocal storage before every request
  localstack/aws/accounts.py
  localstack/aws/handlers/legacy.py
Labels: semver: minor

#8654 fix validation of PutBucketLogging
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8653 implement Precondition checks for CopyObject
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8651 add S3 Lifecycle logic and return Expiration header
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8660 unpin hypercorn, set h11_pass_raw_headers
  localstack/aws/serving/hypercorn.py
  localstack/http/hypercorn.py
  localstack/utils/server/http2_server.py
  setup.cfg
  tests/unit/aws/test_gateway.py
  tests/unit/http_/conftest.py
Labels: area: networking, area: dependencies, semver: patch

#8644 sanitize extra cors allowed origins
  localstack/aws/handlers/cors.py
Labels: semver: patch

#8640 Rework conditional lookup and dependency resolving
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_utils.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/service_models.py
  tests/integration/cloudformation/engine/test_conditions.py
  tests/integration/cloudformation/engine/test_references.py
  tests/integration/cloudformation/engine/test_references.snapshot.json
  tests/integration/cloudformation/resources/test_secretsmanager.py
  tests/integration/cloudformation/resources/test_secretsmanager.snapshot.json
  tests/integration/templates/engine/cfn_dependson_nonexisting_resource.yaml
  tests/integration/templates/engine/cfn_fn_sub.yaml
  tests/integration/templates/engine/cfn_if_conditional_reference.yaml
  tests/integration/templates/sfn_apigateway_two_integrations.yaml
Labels: semver: patch

#8611 CFn Resource Provider Framework v2
  localstack/config.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/propgen.py
  localstack/services/cloudformation/scaffolding/templates/conftest.py.j2
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/__init__.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/conftest.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_basic.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_basic_autogenerated.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_full.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_getatt_exploration.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_update.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_basic.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_basic.snapshot.json
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_exploration.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_parity.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_parity.snapshot.json
  tests/integration/cloudformation/resource_providers/opensearch/conftest.py
  tests/integration/cloudformation/resource_providers/ssm/conftest.py
Labels: semver: minor

#8661 Bump moto-ext to 4.1.12.post2
  setup.cfg
  tests/integration/test_ssm.py
Labels: semver: patch

#8664 fix url encoding when validating pre-signed signature
  localstack/services/s3/presigned_url.py
  tests/integration/s3/test_s3.py
Labels: aws:s3, semver: minor

#8672 fix s3 op router following botocore 1.31.2
  localstack/aws/forwarder.py
  localstack/aws/protocol/op_router.py
  setup.cfg
  tests/unit/aws/protocol/test_parser.py
Labels: semver: patch

#8615 Fix error with non-existent policy for AttachRolePolicy operation
  localstack/services/iam/provider.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/cloudformation/resources/test_iam.snapshot.json
  tests/integration/cloudformation/resources/test_sam.snapshot.json
  tests/integration/test_iam.py
  tests/integration/test_iam.snapshot.json
Labels: semver: patch

#8679 Update lambda runtime init to handle non-executable bootstrap files
  localstack/services/awslambda/packages.py
Labels: semver: patch

#8671 Human friendly download logs
  localstack/utils/http.py
Labels: semver: patch

#8684 fix CmdDockerClient not raising DockerNotAvailable exception
  localstack/utils/container_utils/docker_cmd_client.py
  tests/integration/docker_utils/conftest.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#8677 fix HeadObject ChecksumMode
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8632 Add basic invoke test for AWS::Lambda::Function with code package on S3
  tests/integration/cloudformation/resources/test_lambda.py
  tests/integration/templates/cfn_lambda_s3_code.yaml
Labels: semver: patch

#8689 raise NotImplemented error for SelectObjectContent
  localstack/services/s3/provider.py
Labels: aws:s3, semver: minor

#8692 fix schedule cron conversion in events
  localstack/services/events/provider.py
Labels: semver: patch

#8681 Remove conditions and parameters from stack resources
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/engine/template_preparer.py
  localstack/services/cloudformation/engine/template_utils.py
  localstack/services/cloudformation/engine/transformers.py
  localstack/services/cloudformation/provider.py
Labels: semver: patch

#8520 Add fixture for AWS client configured with secondary test credentials
  localstack/aws/connect.py
  localstack/constants.py
  localstack/testing/aws/util.py
  localstack/testing/pytest/fixtures.py
  tests/integration/awslambda/test_lambda.py
  tests/integration/conftest.py
  tests/integration/s3/test_s3.py
  tests/integration/test_kms.py
  tests/integration/test_sns.py
  tests/integration/test_sqs.py
  tests/unit/aws/test_connect.py
Labels: semver: patch

#8623 [SFN] Support for SFN and Sync, reworked exception handling, fixes, tests
  localstack/services/stepfunctions/asl/component/common/error_name/failure_event.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/resource.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_fail/state_fail.py
  localstack/services/stepfunctions/asl/utils/encoding.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/provider_v2.py
  tests/integration/stepfunctions/templates/base/base_templates.py
  tests/integration/stepfunctions/templates/base/statemachines/raise_failure.json5
  tests/integration/stepfunctions/templates/callbacks/callback_templates.py
  tests/integration/stepfunctions/templates/callbacks/statemachines/sfn_start_execution_sync.json5
  tests/integration/stepfunctions/templates/services/services_templates.py
  tests/integration/stepfunctions/templates/services/statemachines/sfn_start_execution.json5
  tests/integration/stepfunctions/utils.py
  tests/integration/stepfunctions/v2/base/__init__.py
  tests/integration/stepfunctions/v2/base/test_base.py
  tests/integration/stepfunctions/v2/base/test_base.snapshot.json
  tests/integration/stepfunctions/v2/callback/test_callback.py
  tests/integration/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sfn.py
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sfn.snapshot.json
  tests/integration/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/integration/stepfunctions/v2/services/test_sfn_task_service.py
  tests/integration/stepfunctions/v2/services/test_sfn_task_service.snapshot.json
Labels: semver: minor

#8699 fix pod save after s3 multipart upload
  localstack/services/s3/provider.py
Labels: area: persistence, aws:s3, semver: patch

#8667 add SNS retrospection endpoints for SMS
  localstack/services/sns/constants.py
  localstack/services/sns/models.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
Labels: aws:sns, semver: patch

#8696 implement S3 BucketInventoryConfiguration mocking
  localstack/aws/spec-patches.json
  localstack/services/s3/models.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8697 Extend Docker client to allow passing --dns user flags
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/test_dockerclient.py
Labels: semver: patch

#8647 fix support for object retention
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8710 Bump moto-ext to 4.1.13.post1
  setup.cfg
Labels: semver: patch

#8690 add ObjectRestore:Post and :Completed S3 Event Notification
  localstack/services/events/provider.py
  localstack/services/s3/notifications.py
  localstack/services/s3/provider.py
  tests/integration/s3/test_s3_notifications_eventbridge.py
  tests/integration/s3/test_s3_notifications_eventbridge.snapshot.json
  tests/integration/s3/test_s3_notifications_sqs.py
  tests/integration/s3/test_s3_notifications_sqs.snapshot.json
  tests/integration/test_events.py
  tests/integration/test_events.snapshot.json
Labels: aws:s3, semver: minor

#8704 fix decoding aws-chunked request for UploadPart
  localstack/services/s3/constants.py
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
Labels: aws:s3, semver: patch

#8530 add config variable to explicitly ignore AWS credentials
  localstack/aws/accounts.py
Labels: semver: patch

#8686 Add basic CRUD support for Lambda VpcConfig
  localstack/services/awslambda/api_utils.py
  localstack/services/awslambda/invocation/lambda_models.py
  localstack/services/awslambda/provider.py
  tests/integration/awslambda/test_lambda_api.py
  tests/integration/awslambda/test_lambda_api.snapshot.json
  tests/integration/cloudformation/api/test_stacks.py
  tests/integration/templates/cfn_parameter_list_type.yaml
Labels: semver: minor

#8712 fix detection of S3 aws-chunked encoding
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
Labels: aws:s3, semver: patch

#8702 fix issues with SSM Patchbaseline
  localstack/services/cloudformation/models/ssm.py
  tests/integration/cloudformation/resources/test_ssm.snapshot.json
  tests/integration/templates/ssm_maintenance_window.yml
Labels: semver: patch

#8716 Fix deprecated pyyaml usage in cloudformation legacy test
  tests/integration/cloudformation/resources/test_legacy.py
Labels: semver: patch

#8705 fix api gateway domains not being saved between versions
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/models.py
  localstack/services/apigateway/provider.py
  tests/integration/apigateway/test_apigateway_extended.py
Labels: semver: patch

#8722 Fix regression for Fn::Sub in condition section
  localstack/services/cloudformation/engine/template_utils.py
  tests/integration/cloudformation/engine/test_conditions.py
  tests/integration/templates/conditions/intrinsic-functions-in-conditions.yaml
Labels: semver: patch

#8734 Use `docker compose` as fallback if docker-compose is not available
  localstack/utils/bootstrap.py
Labels: semver: patch

#8728 Update Readme for 2.2.0 release
  README.md
Labels: semver: patch

#8733 fix(cfn): add missing FilterPolicyScope for sns subs
  localstack/services/cloudformation/models/sns.py
Labels: semver: patch

#8737 add get_client method to ServiceLevelClientFactory
  localstack/aws/connect.py
  localstack/services/cloudwatch/alarm_scheduler.py
Labels: semver: patch

#8711 Remove usage of GenericBaseModel outside of LegacyResourceProvider
  localstack/config.py
  localstack/services/cloudformation/deployment_utils.py
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/service_models.py
  localstack/services/iam/resource_providers/aws_iam_user.py
  tests/integration/cloudformation/api/test_changesets.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/templates/user_getatt.yaml
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_basic.py
  tests/integration/cloudformation/resource_providers/iam/aws_iam_user/test_basic.snapshot.json
  tests/integration/cloudformation/resource_providers/iam/test_iam.py
  tests/integration/cloudformation/resource_providers/iam/test_iam.snapshot.json
Labels: semver: minor

#8746 fix cors for /_aws calls
  localstack/aws/protocol/service_router.py
Labels: semver: patch

#8721 S3 AWS-chunked stream decoder
  localstack/services/s3/codec.py
  localstack/services/s3/constants.py
  localstack/services/s3/provider.py
  localstack/services/s3/provider_stream.py
  tests/integration/s3/test_s3.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8713 move legacy S3 provider into legacy directory
  localstack/aws/protocol/parser.py
  localstack/aws/protocol/service_router.py
  localstack/services/cloudformation/api_utils.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/generic_proxy.py
  localstack/services/providers.py
  localstack/services/s3/legacy/__init__.py
  localstack/services/s3/legacy/multipart_content.py
  localstack/services/s3/legacy/s3_listener.py
  localstack/services/s3/legacy/s3_starter.py
  localstack/services/s3/legacy/s3_utils.py
  localstack/services/s3/utils.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#8551 Remove old fallbacks & exceptions for signature migration
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/cdk.py
  localstack/services/cloudformation/models/certificatemanager.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kinesisfirehose.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/redshift.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/models/ssm.py
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#8753 CFn: fix nested dependency issue with Subs
  localstack/services/cloudformation/engine/template_deployer.py
  tests/integration/cloudformation/test_template_engine.py
  tests/integration/templates/sub_dependencies.yaml
Labels: semver: patch

#8720 [SFN] Overhaul and enhancement of Map states, enhancements Parallel states, tests
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/error_name/failure_event.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor_job.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branches_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/state_parallel.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_pass/state_pass.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/wait_function.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/eval/event/event_history.py
  localstack/services/stepfunctions/asl/eval/program_state.py
  localstack/services/stepfunctions/asl/eval/program_worker.py
  localstack/services/stepfunctions/asl/eval/programstate/program_ended.py
  localstack/services/stepfunctions/asl/eval/programstate/program_error.py
  localstack/services/stepfunctions/asl/eval/programstate/program_state.py
  localstack/services/stepfunctions/asl/eval/programstate/program_stopped.py
  localstack/services/stepfunctions/backend/execution.py
  tests/integration/stepfunctions/conftest.py
  tests/integration/stepfunctions/templates/scenarios/__init__.py
  tests/integration/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_break_condition.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_catch.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_retry.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/parallel_state.json5
  tests/integration/stepfunctions/utils.py
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#8760 fix S3 case where aws-chunked chunk is bigger than read size
  localstack/services/s3/codec.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: patch

#8727 fix support for conditional refering to another conditional
  localstack/services/cloudformation/engine/yaml_parser.py
  tests/integration/cloudformation/engine/test_conditions.py
  tests/integration/templates/conditions/conditional-in-conditional.yml
Labels: semver: patch

#8723 [SFN] Support for ItemSelector in Map states
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/common/path/items_path.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_selector.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/eval/contextobject/contex_object.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/integration/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_item_selector.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_item_selector_singletons.json5
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#8742 [SFN] Support for Map legacy Iterator declarations
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/itemprocessor/item_processor_props.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/__init__.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/__init__.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/item_processor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/processor_config.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_component_base.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/__init__.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/iterator.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/iterator_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/job.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/integration/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_break_condition_legacy.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_catch_legacy.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_legacy.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_parameters_legacy.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_parameters_singletons_legacy.json5
  tests/integration/stepfunctions/templates/scenarios/statemachines/map_state_retry_legacy.json5
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/integration/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#8717 Remove get_cfn_attribute from legacy models
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/awslambda.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/elasticsearch.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kinesisfirehose.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/logs.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/stepfunctions.py
  localstack/services/cloudformation/service_models.py
Labels: semver: patch

#8763 Add support for python3.11 lambda runtime
  localstack/aws/api/lambda_/__init__.py
  localstack/services/awslambda/api_utils.py
  localstack/services/awslambda/invocation/lambda_models.py
  localstack/services/awslambda/provider.py
  tests/integration/awslambda/conftest.py
  tests/integration/awslambda/test_lambda_api.snapshot.json
  tests/integration/awslambda/test_lambda_common.snapshot.json
Labels: semver: patch

#8718 Initial Scenario testing and provisioning prototype
  localstack/testing/scenario/__init__.py
  localstack/testing/scenario/provisioning.py
  setup.cfg
  tests/integration/scenario/__init__.py
  tests/integration/scenario/notes_resources/lambda_sources/createNote.js
  tests/integration/scenario/notes_resources/lambda_sources/deleteNote.js
  tests/integration/scenario/notes_resources/lambda_sources/getNote.js
  tests/integration/scenario/notes_resources/lambda_sources/libs/response.js
  tests/integration/scenario/notes_resources/lambda_sources/listNotes.js
  tests/integration/scenario/notes_resources/lambda_sources/updateNote.js
  tests/integration/scenario/reference/__init__.py
  tests/integration/scenario/reference/fn/__init__.py
  tests/integration/scenario/reference/fn/handler.py
  tests/integration/scenario/reference/fn/handler.zip
  tests/integration/scenario/reference/test_lambda_scenario.py
  tests/integration/scenario/reference/test_s3_cleanup.py
  tests/integration/scenario/test_ecs_scenario.py
  tests/integration/scenario/test_lambda_destination_scenario.py
  tests/integration/scenario/test_note_taking.py
Labels: semver: patch

#8747 DynamoDB: Use fixtures to create and clean up test tables
  tests/integration/test_dynamodb.py
Labels: semver: patch

#8752 fix S3 lifecycle rule matching with ExpiredObjectDeleteMarker
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#8769 Add x-api-key to allowed CORS headers to enable access from Web app
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/generic_proxy.py
Labels: semver: patch

#8725 8701 enhancement request custom lambda authorizer apikeysource is not validated
  localstack/services/apigateway/invocations.py
  localstack/services/apigateway/provider.py
  localstack/testing/pytest/fixtures.py
  tests/integration/apigateway/test_apigateway_basic.py
  tests/integration/apigateway/test_apigateway_common.py
  tests/integration/apigateway/test_apigateway_common.snapshot.json
  tests/integration/cloudformation/resources/test_apigateway.py
Labels: semver: minor

#8770 fix ddbstreams list-streams table filtering
  localstack/services/dynamodbstreams/provider.py
  tests/integration/test_dynamodb.py
Labels: semver: patch

#8754 Introducing EventBridge Scheduler
  localstack/aws/api/scheduler/__init__.py
  localstack/services/providers.py
  localstack/services/scheduler/__init__.py
  localstack/services/scheduler/models.py
  localstack/services/scheduler/provider.py
  tests/integration/test_scheduler.py
Labels: semver: minor

#8771 use ContainerConfiguration object for LocalstackContainer
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
Labels: semver: minor

#8772 improve docker integration with localstack start command
  localstack/cli/localstack.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  tests/unit/cli/test_cli.py
Labels: semver: minor
