Repository localstack/localstack, pull requests merged in 2023-12, with the labels that each got.

#9760 Update Lambda runtime test skip condition
  tests/aws/services/lambda_/test_lambda_common.py
Labels: semver: patch

#9788 Fix alias resource records & add missing id in AWS::Route53::RecordSet
  localstack/services/route53/resource_providers/aws_route53_recordset.py
Labels: semver: patch

#9775 Add option to capture raw snapshots when running tests
  .gitignore
  localstack/testing/pytest/snapshot.py
  localstack/testing/snapshots/prototype.py
  tests/unit/utils/testing/test_snapshots.py
Labels: semver: patch

#9783 [SFN] Fix string lexing in Intrinsic Function arguments
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicLexer.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/intrinsic_functions_templates.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/generic/escape_sequence.json5
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/generic/nested_calls_1.json5
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/generic/nested_calls_2.json5
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_generic.snapshot.json
Labels: semver: patch

#9748 Support creation of CloudFormation stacks with the same name after deletion
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/stores.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
Labels: semver: patch

#9702 Fix StepFunctions execution date formatting
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/map_run_record.py
  localstack/services/stepfunctions/asl/eval/event/event_history.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/pass_start_time_format.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
Labels: semver: patch

#9778 Fix missing "Pulling container image" message from CLI startup
  localstack/utils/bootstrap.py
  localstack/utils/docker_utils.py
  tests/cli/test_cli.py
Labels: semver: patch

#9797 fix recursive types when generating TypedDicts
  localstack/aws/scaffold.py
Labels: area: asf, semver: patch

#9785 fixed account id for firehose integration
  localstack/services/firehose/provider.py
  localstack/utils/kinesis/kinesis_connector.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/test_integration.py
Labels: aws:firehose, area: multi-account, semver: patch

#9744 fix AWS::SQS::Queue update missing QueueArn and QueueUrl
  localstack/services/sqs/resource_providers/aws_sqs_queue.py
Labels: aws:cloudformation, aws:sqs, semver: patch

#9787 Cfn: Fix boto client not using credentials for Lambda PublishVersion
  localstack/services/cloudformation/models/lambda_.py
Labels: semver: patch

#9792 Add option to disable AWS_ENDPOINT_URL
  localstack/config.py
  localstack/services/lambda_/invocation/execution_environment.py
Labels: semver: minor

#9799 fix: fix failing dashboard lifecycle test for multi-account and region
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: semver: patch

#9801 [SFN] Enhancements to States I/O, Support for null InputPath and OutputPath
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/path/input_path.py
  localstack/services/stepfunctions/asl/component/common/path/output_path.py
  localstack/services/stepfunctions/asl/component/common/path/result_path.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack/services/stepfunctions/asl/component/common/result_selector.py
  localstack/services/stepfunctions/asl/component/common/timeouts/heartbeat.py
  localstack/services/stepfunctions/asl/component/common/timeouts/timeout.py
  localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_json_path.py
  localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_list.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_contains.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_get_item.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_length.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_partition.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_range.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_unique.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/encoding_decoding/base_64_decode.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/encoding_decoding/base_64_encode.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/generic/string_format.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/hash_calculations/hash_func.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/json_merge.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/json_to_string.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/string_to_json.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/math_operations/math_add.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/math_operations/math_random.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/string_operations/string_split.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/boolean_equals.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/numeric.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/string_operators.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/timestamp_operators.py
  localstack/services/stepfunctions/asl/component/state/state_choice/comparison/variable.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/distributed_item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/inline_item_processor_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/iterator_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_pass/state_pass.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp_path.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/pass_result_null_input_output_paths.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
Labels: semver: patch

#9814 Add support for conditions on CFn stack outputs
  localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
  tests/aws/services/cloudformation/engine/test_conditions.py
  tests/aws/templates/nested-stack-conditions.nested.yaml
  tests/aws/templates/nested-stack-conditions.yaml
Labels: semver: patch

#9806 add cross-account for CopyObject
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, area: multi-account, semver: patch

#9805 fix: handle BucketAlreadyOwnedByYou exception when uploading lambda in scenario test cases
  localstack/testing/scenario/cdk_lambda_helper.py
  tests/aws/scenario/note_taking/functions/createNote.js
  tests/aws/scenario/note_taking/functions/deleteNote.js
  tests/aws/scenario/note_taking/functions/getNote.js
  tests/aws/scenario/note_taking/functions/listNotes.js
  tests/aws/scenario/note_taking/functions/updateNote.js
Labels: semver: patch

#9790 add support for AWS::DynamoDB::GlobalTable resource type
  localstack/services/cloudformation/resource_provider.py
  localstack/services/dynamodb/resource_providers/aws_dynamodb_globaltable.py
  localstack/services/dynamodb/resource_providers/aws_dynamodb_globaltable.schema.json
  localstack/services/dynamodb/resource_providers/aws_dynamodb_globaltable_plugin.py
  tests/aws/services/cloudformation/resources/test_dynamodb.py
  tests/aws/services/cloudformation/resources/test_dynamodb.snapshot.json
  tests/aws/templates/dynamodb_global_table.yml
Labels: semver: minor

#9520 Implemented AWS::CDK::Metadata resource provider
  localstack/services/cdk/__init__.py
  localstack/services/cdk/resource_providers/__init__.py
  localstack/services/cdk/resource_providers/cdk_metadata.py
  localstack/services/cdk/resource_providers/cdk_metadata.schema.json
  localstack/services/cdk/resource_providers/cdk_metadata_plugin.py
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#9816 fix s3 presign tests for multi account support
  tests/aws/services/lambda_/functions/lambda_s3_integration_presign.js
  tests/aws/services/lambda_/functions/lambda_s3_integration_sdk_v2.js
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, area: multi-account, semver: patch

#9828 Fix AWS parity for SQS list queues with empty response
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
Labels: semver: patch

#9827 Prevent error message being shown with entrypoints command
  Makefile
Labels: semver: patch

#9815 Fix: lookup more specific DNS names directly
  localstack/dns/server.py
  tests/unit/test_dns_server.py
Labels: semver: patch

#9690 APIGW: Fix tests to run with non-default account ID
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_basic.py
Labels: semver: patch

#9841 Install websocket-client as it is no longer included with docker client
  setup.cfg
Labels: semver: patch

#9772 Add formatting-aware timestamp replacement via new TimestampTransformer
  localstack/testing/pytest/snapshot.py
  localstack/testing/snapshots/transformer.py
  localstack/testing/snapshots/transformer_utility.py
  tests/unit/utils/testing/test_transformer.py
Labels: semver: patch

#9838 Skip comment for entrypoints line
  Makefile
Labels: semver: patch

#9825 Fix lambda function name validation for CreateFunction
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.py
Labels: semver: patch

#9820 Fix serialization of content in raw snapshots
  localstack/testing/snapshots/prototype.py
Labels: semver: patch

#9850 remove outdated documentation and improve the README files
  README.md
  doc/external_services_integration/kafka_self_managed_cluster/HOWTO.md
  doc/external_services_integration/kafka_self_managed_cluster/docker-compose.yml
  doc/interaction/README.md
  doc/third-party-software-tools/README.md
  doc/troubleshoot/README.md
Labels: semver: patch

#9856 fix s3 key handling with trailing slash
  localstack/aws/protocol/parser.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9840 fix: serverless failing multi-account/region tests
  tests/aws/test_serverless.py
Labels: semver: patch

#9864 pin docker dependency to <7.0.0
  setup.cfg
Labels: semver: patch

#9865 Updated Cloudformationn Schema to latest version
  localstack/services/cloudformation/scaffolding/CloudformationSchema.zip
Labels: aws:cloudformation, semver: patch

#9859 fix S3 lifecycle tags filter
  localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
Labels: aws:s3, semver: patch

#9719 CW v2 Tests and small improvements
  localstack/services/cloudwatch/cloudwatch_database_helper.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
Labels: semver: minor

#9873 Allow merging of config profiles
  localstack/cli/localstack.py
  localstack/config.py
  tests/unit/test_config.py
Labels: semver: patch

#9879 Add support for partial ARNs for EventSourceMappings and fix AWS::Lambda::Version state check
  localstack/services/lambda_/provider.py
  localstack/services/lambda_/resource_providers/aws_lambda_version.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
Labels: semver: patch

#9878 CloudWatch: Use SNS client with same region as topic
  localstack/services/cloudwatch/provider.py
Labels: semver: patch

#9822 Simplify the official docker-compose.yml
  docker-compose-pro.yml
  docker-compose.yml
Labels: semver: minor

#9885 Fix: Route53 populating VPC fields
  localstack/services/route53/provider.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/route53/test_route53.snapshot.json
Labels: semver: patch

#9810 fix APIGW import integration method for AWS integration type
  localstack/services/apigateway/helpers.py
  tests/aws/files/openapi-http-method-integration.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
Labels: aws:apigateway, semver: patch

#9852 Bump moto-ext to 4.2.11.post1
  localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  setup.cfg
Labels: semver: patch

#9871 Add flag to disable kinesis-mock persistence
  localstack/config.py
  localstack/services/kinesis/kinesis_mock_server.py
Labels: semver: minor

#9898 Transcribe: Add support for transcribing video files
  localstack/services/transcribe/provider.py
  tests/aws/files/en-us_video.mkv
  tests/aws/files/en-us_video.mp4
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: minor

#9894 remove code in state locator
  localstack/services/cloudformation/provider.py
  localstack/state/inspect.py
Labels: semver: patch

#9910 Update dynamodb snapshot to unblock pipeline
  localstack/services/dynamodb/server.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
Labels: semver: patch

#9906 Bump Kinesis Mock to 0.4.5
  localstack/services/kinesis/packages.py
Labels: semver: patch

#9884 Allow kinesis get_records shard iterator to have surrounding quotes
  tests/aws/services/kinesis/test_kinesis.py
Labels: semver: patch

#9903 Added missing type conversion for CFn update of Lambda::Function MemorySize to int
  localstack/services/cloudformation/models/lambda_.py
Labels: aws:lambda, semver: patch

#9875 add S3 object key validation
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/v3/provider.py
  localstack/services/s3/validation.py
Labels: aws:s3, semver: patch

#9194 introduce request finalizers into handler chain
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/gateway.py
  localstack/aws/handlers/__init__.py
  localstack/aws/trace.py
  tests/unit/aws/test_chain.py
Labels: semver: minor

#6826 Fix Lambda Kinesis event filtering
  localstack/services/lambda_/event_source_listeners/dynamodb_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/kinesis_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/stream_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/utils.py
  localstack/testing/aws/lambda_utils.py
  tests/aws/services/lambda_/functions/kinesis_log.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.snapshot.json
  tests/unit/services/lambda_/test_lambda_utils.py
Labels: semver: patch

#9922 Refine get in touch readme
  README.md
Labels: semver: patch

#9889 [SFN] Fix Parallel State Output Ordering
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branches_decl.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_order.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: patch

#9888 [SFN] Support for Optional ProcessorConfig Declarations
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/item_processor_decl.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_no_processor_config.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: patch

#9913 Remove error message if environment does not exist
  localstack/config.py
Labels: semver: patch

#9927 Track date of last passed validation run of tests targeting AWS
  .github/workflows/tests-cli.yml
  localstack/testing/pytest/validation_tracking.py
  localstack/testing/snapshots/prototype.py
  tests/conftest.py
Labels: semver: patch

#9915 fix CFN RequestValidator parameters being optional
  localstack/services/apigateway/resource_providers/aws_apigateway_requestvalidator.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/templates/apigateway_models.json
Labels: aws:cloudformation, aws:apigateway, semver: patch

#9874 fix S3 service name parsing consuming the stream
  localstack/aws/handlers/service.py
  localstack/aws/protocol/service_router.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, area: asf, semver: patch

#9897 Fix: ACM: Additional domains missing from subject alternative names summaries
  localstack/services/acm/provider.py
  tests/aws/services/acm/test_acm.py
  tests/aws/services/acm/test_acm.snapshot.json
Labels: aws:acm, semver: patch

#9925 Fix: EventBus: match null value for anything-but rule
  localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
Labels: aws:sqs, aws:eventbridge, semver: patch

#9855 Add support for AWS::Cognito::* in CloudFormation
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#9779 Add AWS::Athena::* Resource Providers for CFn
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#9774 Add AppConfig resource providers to CFn
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#9917 Test lambda performance and mitigate async invoke timeout error (#9917)
  localstack/config.py
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/version_manager.py
  tests/aws/services/lambda_/functions/lambda_s3_integration.js
  tests/aws/services/lambda_/functions/lambda_s3_integration.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_performance.py
Labels: area: performance, aws:lambda, semver: minor

#9891 [SFN] Enhanced Support for Exception Handling in Parallel States
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branch_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branches_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/state_parallel.py
  localstack/services/stepfunctions/asl/eval/program_worker.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_catch.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_fail.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_retry.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: patch

#9944 Revert recent changes to async lambda invoke (#9917)
  localstack/config.py
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/version_manager.py
  tests/aws/services/lambda_/functions/lambda_s3_integration.js
  tests/aws/services/lambda_/functions/lambda_s3_integration.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_performance.py
Labels: semver: patch

#9904 add cli option to restart localstack container
  localstack/cli/localstack.py
  tests/cli/test_cli.py
Labels: semver: minor

#9923 Updates deduplication ID and group ID max length to 128
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: minor

#9950 Enable migrated SES resource providers
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#9953 Add new client types to TypedServiceClientFactory
  localstack/utils/aws/client_types.py
  setup.cfg
Labels: semver: patch

#9926 Cfn: Fix nested stack name generation
  localstack/services/cloudformation/resource_providers/aws_cloudformation_stack.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
  tests/aws/templates/nested-stack-conditions.yaml
Labels: semver: patch

#9931 Fix: EventBus: Exists prefix not considered for rule matching
  localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:sqs, aws:eventbridge, semver: patch
