Repository localstack/localstack, pull requests merged in 2023-04, with the labels that each got.

#8040 Fix AttributeError for custom S3 handler
  localstack/services/s3/presigned_url.py
Labels: aws:s3

#8029 fix SNS FIFO DLQ + add SequenceNumber to FIFO
  localstack/services/sns/models.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  localstack/utils/aws/dead_letter_queue.py
  tests/integration/test_sns.py
Labels: aws:sns

#8037 fix S3 response xml root tag names
  localstack/aws/api/s3/__init__.py
  localstack/aws/protocol/serializer.py
  localstack/aws/spec-patches.json
  localstack/services/s3/provider.py
Labels: aws:s3

#8108 Fix server stop errors when restoring a snapshot
  localstack/services/dynamodb/server.py
  localstack/services/stepfunctions/stepfunctions_starter.py
Labels: area: persistence

#8120 Add transformers for KMS
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/test_kms.py
  tests/integration/test_kms.snapshot.json
Labels: aws:kms

#8144 remove SNS create_sqs_message_attributes and add DLQ for Fifo topic
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#8148 fix auto decoding of gzip for s3 vhost proxied requests
  localstack/http/client.py
  localstack/services/s3/virtual_host.py
  tests/integration/s3/test_s3.py
Labels: aws:s3

#7445 add tests for multipart SSE fields and S3 KMS BucketKeyEnabled
  tests/integration/s3/test_s3.py
  tests/integration/s3/test_s3.snapshot.json
Labels: aws:s3

#8146 SQS fix deduplication at queue level and deleted messages
  localstack/services/sqs/models.py
  tests/integration/test_sns.py
  tests/integration/test_sqs.py
  tests/integration/test_sqs.snapshot.json
Labels: aws:sqs

#8145 SNS test and add deduplication for FIFO topic
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: type: feature, aws:sns

#8167 add OpenSearch 2.5, remove Firehose limitation
  localstack/constants.py
  localstack/services/firehose/provider.py
  localstack/services/opensearch/versions.py
  tests/integration/test_es.py
  tests/integration/test_firehose.py
  tests/integration/test_opensearch.py
Labels: semver: minor

#8198 fix: s3 parsing key with trailing backslash and reserved chars
  localstack/aws/protocol/parser.py
  tests/unit/aws/protocol/test_parser.py
Labels: aws:s3, semver: patch

#8194 re-install DynamoDB in Dockerfile, use cache for archive download
  Dockerfile
  localstack/services/dynamodb/packages.py
Labels: semver: minor

#8114 Use explicit region for test fixtures
  localstack/aws/connect.py
  localstack/constants.py
  localstack/testing/aws/util.py
Labels: semver: patch
