Repository localstack/localstack, pull requests merged in 2023-02, with the labels that each got.

#7085 Avoid triggering healthcheck failure which times out after 5s
  localstack/config.py
Labels: hacktoberfest

#7628 fix S3 issue with JS SDK and pre-signed URL - different signer behaviour
  localstack/services/s3/presigned_url.py
  tests/integration/awslambda/functions/lambda_s3_integration_presign.js
  tests/integration/awslambda/functions/lambda_s3_integration_sdk_v2.js
  tests/integration/s3/test_s3.py
Labels: aws:s3

#7646 fix S3 ASF pre-signed port permutation logic
  localstack/services/s3/presigned_url.py
  tests/integration/s3/test_s3.py
Labels: aws:s3

#7674 fix SNS PublishBatch modifying batch context for all subscribers after filtering
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/integration/test_sns.py
  tests/integration/test_sns.snapshot.json
Labels: aws:sns

#7735 Minimal implementation for continuous backup
  localstack/services/dynamodb/provider.py
  tests/integration/test_dynamodb.py
  tests/integration/test_dynamodb.snapshot.json
Labels: aws:dynamodb

#7738 improve parity for APIGW Resource
  localstack/services/apigateway/models.py
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  localstack/testing/snapshots/transformer_utility.py
  tests/integration/apigateway/test_apigateway_api.py
  tests/integration/apigateway/test_apigateway_api.snapshot.json
Labels: aws:apigateway
