Repository localstack/localstack, pull requests merged in 2024-10, with the labels that each got.

#11588 CFn: propagate lambda tags to function
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_function.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/templates/cfn_lambda_with_tags.yml
Labels: semver: patch

#11607 fix: mixed-content for the SwaggerUI
  localstack-core/localstack/http/resources/swagger/endpoints.py
Labels: semver: patch

#11614 CFn: improve lambda tag matching
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
Labels: semver: patch

#11582 ESM-v2: Create hooks for downstream poller creation
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
  localstack-core/localstack/services/lambda_/hooks.py
  localstack-core/localstack/services/lambda_/provider.py
Labels: aws:lambda, semver: minor

#11619 ESM-v2: Add optional close function to Poller
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
Labels: aws:lambda, semver: minor

#11525 ESM-v2: Add persistence to Lambda event source mapping
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/provider.py
Labels: aws:lambda, semver: minor, aws:pipes

#11544 Eventbridge apig lambda parity test
  localstack-core/localstack/services/events/target.py
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.snapshot.json
  tests/aws/services/events/test_events_targets.validation.json
Labels: aws:apigatewayv2, semver: minor

#11598 openapi: verify internal endpoints
  .github/workflows/tests-pro-integration.yml
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/integration/services/test_internal.py
Labels: semver: patch

#11605 Fix creating subnet with custom ID for VPC with custom ID throwing 500 internal server error
  localstack-core/localstack/services/ec2/patches.py
  tests/aws/services/ec2/test_ec2.py
Labels: aws:ec2, semver: patch

#11625 Switch Lambda Event Source Mapping default implementation to v2
  .circleci/config.yml
  localstack-core/localstack/config.py
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_destinations.py
  tests/aws/services/lambda_/test_lambda_destinations.snapshot.json
  tests/aws/services/lambda_/test_lambda_destinations.validation.json
Labels: semver: minor

#11629 Fix streaming poller performance for low shard counts in ESM v2
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  tests/aws/scenario/bookstore/test_bookstore.py
Labels: semver: patch

#11631 Moving OASPlugin definition
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/plugins.py
Labels: semver: patch

#11632 Fix: CFn repeated deployments breaking
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/cloudformation/stores.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.validation.json
Labels: aws:cloudformation, semver: patch

#11634 SNS: implement Content-Type logic for http/https target
  localstack-core/localstack/services/sns/models.py
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#11636 Update README with v3.8
  README.md
Labels: semver: patch

#11633 fix Events v2 APIGW target test and update snapshots
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.snapshot.json
  tests/aws/services/events/test_events_targets.validation.json
Labels: aws:apigateway, aws:events, semver: patch

#11648 ESM-v2: fix IAM service principal
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
Labels: aws:lambda, semver: patch

#11552 [SFN] No Output Reductions for Successful Catch Blocks
  localstack-core/localstack/services/stepfunctions/asl/component/common/catch/catcher_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state.py
  tests/aws/services/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_all_output_path.json5
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.validation.json
Labels: semver: patch

#11616 Add configuration value for manually selecting runtime components
  localstack-core/localstack/config.py
  localstack-core/localstack/runtime/runtime.py
Labels: semver: patch

#11624 Fix: CFn improperly formats account_id causing IAM engine to fail when using cdk
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
Labels: aws:cloudformation, semver: patch

#11637 ESMv2: Fix UpdateEventSourceMapping request and batch size check for SQS
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
Labels: aws:lambda, semver: patch

#11581 Add client factory to bypass LocalStack DNS server
  localstack-core/localstack/aws/connect.py
Labels: semver: patch

#11462 Add JRE dependency to Java components
  Dockerfile
  localstack-core/localstack/packages/java.py
  localstack-core/localstack/services/dynamodb/packages.py
  localstack-core/localstack/services/dynamodb/server.py
  localstack-core/localstack/services/events/event_ruler.py
  localstack-core/localstack/services/events/packages.py
  localstack-core/localstack/services/opensearch/cluster.py
  localstack-core/localstack/services/stepfunctions/legacy/stepfunctions_starter.py
  localstack-core/localstack/services/stepfunctions/packages.py
  localstack-core/localstack/utils/kinesis/kinesis_connector.py
Labels: semver: minor

#11640 Remove downloaded package archives after extracting them
  localstack-core/localstack/packages/core.py
Labels: semver: patch

#11646 upgrade kinesis-mock from 0.4.6 to 0.4.7
  localstack-core/localstack/services/kinesis/packages.py
Labels: aws:kinesis, area: packages, semver: patch, aws:kinesisanalyticsv2, aws:kinesisanalytics

#11658 Move dns server import inside resolving function to avoid import in CLI
  localstack-core/localstack/aws/connect.py
Labels: semver: patch

#11653 fix proxied requests forwarding to Moto
  localstack-core/localstack/services/moto.py
  tests/aws/test_moto.py
Labels: aws:sns, area: asf, semver: patch

#11666 Remove duplicate --strip-extras flag in dependency pinning target
  Makefile
Labels: semver: patch

#11673 Skip test_cfn_lambda_sqs_source
  tests/aws/services/cloudformation/resources/test_lambda.py
Labels: semver: patch

#11667 Add LD_LIBRARY_PATH to JavaInstallerMixin
  localstack-core/localstack/packages/api.py
  localstack-core/localstack/packages/java.py
Labels: semver: patch

#11674 Fix memory leak caused by S3 DownloadFileObj
  localstack-core/localstack/utils/testutil.py
Labels: semver: patch

#11679 add DMS ServicePrincipal
  localstack-core/localstack/utils/aws/client_types.py
Labels: semver: patch

#11418 [Lambda DevX] Bypass Concurrency Settings
  localstack-core/localstack/services/lambda_/invocation/assignment.py
  localstack-core/localstack/services/lambda_/invocation/counting_service.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode.py
Labels: semver: minor

#11684 revert StrEnum for Python compatibility
  localstack-core/localstack/utils/aws/client_types.py
Labels: semver: patch

#11651 APIGW: move current provider in legacy module
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/legacy/__init__.py
  localstack-core/localstack/services/apigateway/legacy/context.py
  localstack-core/localstack/services/apigateway/legacy/helpers.py
  localstack-core/localstack/services/apigateway/legacy/integration.py
  localstack-core/localstack/services/apigateway/legacy/invocations.py
  localstack-core/localstack/services/apigateway/legacy/provider.py
  localstack-core/localstack/services/apigateway/legacy/router_asf.py
  localstack-core/localstack/services/apigateway/legacy/templates.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  localstack-core/localstack/services/providers.py
  localstack-core/localstack/utils/aws/message_forwarding.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/test_multiregion.py
  tests/unit/test_apigateway.py
  tests/unit/test_templating.py
Labels: aws:apigateway, semver: minor

#11685 ESM v2: Test Lambda runtime where provided bootstrap returns nothing
  tests/aws/services/lambda_/event_source_mapping/conftest.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/functions/provided_bootstrap_empty
Labels: aws:lambda, semver: patch

#11671 add support for region ref in mappings inside condition CFn
  localstack-core/localstack/services/cloudformation/engine/template_utils.py
  tests/aws/services/cloudformation/engine/test_mappings.validation.json
  tests/aws/templates/mappings/mapping-ref-map-key.yaml
Labels: semver: patch

#11670 APIGW: improve parity for GetApiKeys and GetUsagePlanKeys
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/aws/services/apigateway/test_apigateway_extended.snapshot.json
  tests/aws/services/apigateway/test_apigateway_extended.validation.json
Labels: aws:apigateway, semver: patch

#11596 [SFN] Improve responsiveness on shutdown
  localstack-core/localstack/services/stepfunctions/asl/component/program/program.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/inline_iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branch_worker.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/state_parallel.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack-core/localstack/services/stepfunctions/asl/component/test_state/program/test_state_program.py
  localstack-core/localstack/services/stepfunctions/backend/execution_worker.py
Labels: semver: minor

#11694 remove key-existence checks against dict.keys() calls
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/cloudformation/engine/transformers.py
  localstack-core/localstack/services/cloudwatch/alarm_scheduler.py
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/secretsmanager/provider.py
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
  localstack-core/localstack/services/stores.py
  localstack-core/localstack/utils/aws/message_forwarding.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: semver: patch

#11680 Test force deletion of secrets already marked for deletion
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#11660 [SFN] Base Support for ValidateStateMachineDefinition
  localstack-core/localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/templates/validation/__init__.py
  tests/aws/services/stepfunctions/templates/validation/statemachines/invalid_base_no_startat.json5
  tests/aws/services/stepfunctions/templates/validation/statemachines/valid_base_pass.json5
  tests/aws/services/stepfunctions/templates/validation/validation_templates.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_validation.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_validation.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_validation.validation.json
Labels: semver: minor

#11699 cfn: fix failing `test_mapping_ref_map_key` for multi-account/region
  tests/aws/templates/mappings/mapping-ref-map-key.yaml
Labels: semver: patch

#11626 Replicator user defined id generator
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/patches.py
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/testing/pytest/fixtures.py
  localstack-core/localstack/utils/id_generator.py
  tests/aws/services/apigateway/test_apigateway_custom_ids.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/unit/utils/test_id_generator.py
Labels: semver: minor, area: replicator

#11675 ESM v2: Add EventSourceMappingArn field
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: aws:lambda, semver: patch

#11707 Allow adaptation of the localstack run command in the supervisor
  bin/localstack-supervisor
Labels: semver: patch

#11620 Validate SQS dev endpoints
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs_backdoor.py
Labels: aws:sqs, semver: patch

#11715 fix source distro installation by limiting setuptools version
  pyproject.toml
Labels: semver: patch

#11709 Add workflow to dispatch the update of the OpenAPI spec
  .github/workflows/update_openapi_spec.yml
  .pre-commit-config.yaml
Labels: semver: patch

#11702 APIGW NG: fix storing store attribute instead of full store
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
Labels: aws:apigateway, semver: patch

#11693 refactor ref keys in conditional mappings and test
  localstack-core/localstack/services/cloudformation/engine/template_utils.py
  tests/aws/services/cloudformation/engine/test_mappings.py
  tests/aws/services/cloudformation/engine/test_mappings.validation.json
  tests/aws/templates/mappings/mapping-aws-ref-map-key.yaml
  tests/aws/templates/mappings/mapping-ref-map-key.yaml
Labels: semver: patch

#11700 fixed s3 deletion from stack in cdk
  localstack-core/localstack/testing/scenario/provisioning.py
Labels: semver: patch

#11655 fix lambda function extra resources upload in s3
  localstack-core/localstack/testing/scenario/cdk_lambda_helper.py
Labels: semver: patch

#11725 remove setuptools limit in build-system.requires
  pyproject.toml
Labels: semver: patch

#11721 improve tests selection
  localstack-core/localstack/testing/testselection/matching.py
  tests/unit/testing/testselection/test_matching.py
Labels: area: ci, semver: minor

#11738 Add hint about pre-commit hooks to dev tips
  docs/development-environment-setup/README.md
Labels: semver: patch

#11723 OpenSearch: HTTP proxy support for plugin installation
  localstack-core/localstack/services/opensearch/packages.py
  localstack-core/localstack/utils/java.py
  tests/unit/utils/test_java.py
Labels: semver: minor

#11735 Fix typo in dynamic ESM deprecation warning
  localstack-core/localstack/deprecations.py
Labels: semver: patch

#11740 Fix Java installer on Mac hosts
  localstack-core/localstack/packages/java.py
Labels: semver: patch

#11714 Fix: Cfn: non-string parameter values
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/engine/test_references.py
  tests/aws/services/cloudformation/engine/test_references.snapshot.json
  tests/aws/services/cloudformation/engine/test_references.validation.json
  tests/aws/templates/cfn_number_in_sub.yml
Labels: aws:cloudformation, semver: patch

#11743 remove S3 legacy CI job
  .circleci/config.yml
Labels: aws:s3, area: ci, semver: patch

#11744 add DynamoDB v2 CI job
  .circleci/config.yml
Labels: aws:dynamodb, area: ci, semver: patch

#11753 Bump moto-ext to 5.0.18.post1
  pyproject.toml
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11745 add: TaggingService functionality to Lambda Provider
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
  localstack-core/localstack/services/lambda_/invocation/models.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: aws:lambda, semver: minor

#11756 fix APIGW oneOf and add APIGW test for Model $ref resolving
  localstack-core/localstack/services/apigateway/helpers.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
Labels: aws:apigateway, semver: patch

#11761 Feature/SNS: Decompose publish to topic
  localstack-core/localstack/services/sns/publisher.py
Labels: aws:sns, semver: minor

#11757 Convert SQS test util into re-usable fixture sqs_collect_messages
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs_move_task.py
  tests/aws/services/sqs/utils.py
Labels: semver: patch

#11681 Fix bug: Support list header value on Step Functions ApiGateway:Invoke integration
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/api_gateway_invoke_with_headers.json5
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.validation.json
Labels: semver: minor

#11708 X-Ray trace header parsing and Lambda tracing propagation
  localstack-core/localstack/aws/api/core.py
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/tracing.py
  localstack-core/localstack/services/lambda_/invocation/event_manager.py
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
  localstack-core/localstack/services/lambda_/invocation/lambda_service.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/utils/xray/__init__.py
  localstack-core/localstack/utils/xray/trace_header.py
  localstack-core/localstack/utils/xray/traceid.py
  tests/aws/services/lambda_/test_lambda_integration_xray.py
Labels: semver: minor

#11764 APIGW NG: add LocalStack-only CORS handling for REST API
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/cors.py
Labels: aws:apigateway, semver: patch

#11768 fix S3 enabling versioning with a ObjectLockEnabledForBucket bucket
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch
