Repository localstack/localstack, pull requests merged in 2024-09, with the labels that each got.

#11359 Init KMS support for offline encryption with RSA key
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
Labels: semver: patch

#11025 Add OpenAPI schema for public REST API
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Labels: semver: minor

#11444 make OPENAPI_VALIDATE_REQUEST opt-in
  localstack-core/localstack/config.py
Labels: semver: patch

#11446 Revert "Add OpenAPI schema for public REST API (#11025)"
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Labels: semver: patch

#11441 Replace auto-install of setuptools_scm with error in helper scripts
  .circleci/config.yml
  .github/workflows/asf-updates.yml
  .github/workflows/tests-bin.yml
  .github/workflows/tests-s3-image.yml
  bin/docker-helper.sh
  bin/release-helper.sh
  tests/bin/test.docker-helper.bats
  tests/bin/test.release-helper.bats
Labels: semver: patch

#11458 fix SNS Publish and PublishBatch message size calculation and restriction
  localstack-core/localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#11451 fix S3 VersionId format
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#11461 Simplify ACM patch
  localstack-core/localstack/services/acm/provider.py
Labels: semver: patch

#11453 fix S3 VersionId EventBridge and fix DeleteMarker notification
  localstack-core/localstack/services/s3/notifications.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/conftest.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.snapshot.json
  tests/aws/services/s3/test_s3_notifications_eventbridge.validation.json
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/aws/services/s3/test_s3_notifications_sqs.snapshot.json
  tests/aws/services/s3/test_s3_notifications_sqs.validation.json
Labels: aws:s3, semver: patch

#11465 fix parsing issue for cloudwatch alarm names
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: aws:cloudwatch, semver: patch

#11469 Support quiet downloads
  localstack-core/localstack/utils/http.py
  localstack-core/localstack/utils/ssl.py
Labels: semver: patch

#11456 lambda fix create self managed event source
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: aws:lambda, semver: patch

#11471 fix error message if logs-stream doesn't exist
  localstack-core/localstack/services/logs/provider.py
  tests/aws/services/logs/test_logs.py
  tests/aws/services/logs/test_logs.snapshot.json
  tests/aws/services/logs/test_logs.validation.json
Labels: aws:logs, semver: patch

#11472 feat: make packaged terraform version user-configurable
  localstack-core/localstack/packages/terraform.py
Labels: semver: patch

#11436 remove old ARN partition rewriter
  localstack-core/localstack/aws/handlers/partition_rewriter.py
  localstack-core/localstack/config.py
  localstack-core/localstack/plugins.py
  tests/unit/test_partition_rewriter.py
Labels: semver: minor

#11433 ESM-v2: Fix failure destination context difference between ESM and Pipes
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
  tests/aws/services/lambda_/event_source_mapping/conftest.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
  tests/aws/services/lambda_/event_source_mapping/utils.py
Labels: aws:lambda, semver: minor

#11452 Add reverted OpenAPI commit
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Labels: semver: minor

#11427 enable integration between EventsBridge and Stepfunctions
  localstack-core/localstack/services/events/target.py
  tests/aws/cdk_templates/EventsTests/stack-events-target-stepfunctions.json
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.validation.json
Labels: semver: minor

#11488 fixup and validate test_serverless.py
  tests/aws/serverless/package.json
  tests/aws/serverless/serverless.yml
  tests/aws/test_serverless.py
  tests/aws/test_serverless.validation.json
Labels: semver: patch

#11495 ESM-v2: Remove reference to unbound variable
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
Labels: type: bug, aws:lambda, semver: patch

#11486 add pinpoint client to client types
  localstack-core/localstack/utils/aws/client_types.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11503 ESM-v2: Filter irrelevant fields before logging with PipesLogger
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_loggers/pipe_logger.py
Labels: semver: patch, aws:pipes

#11506 APIGW: patch UpdateRoute spec
  localstack-core/localstack/aws/spec-patches.json
Labels: aws:apigateway, semver: patch

#11513 fix: Extraction of shard ID in ESMv2 StreamPoller
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: aws:lambda, semver: patch

#11381 Add result writer to SFN distributed map state
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/__init__.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/resource_eval/__init__.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/resource_eval/resource_eval.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/resource_eval/resource_eval_factory.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/resource_eval/resource_eval_s3.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/result_writer_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_result_writer.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: minor

#11508 [SFN] Support for parameters as parallel state inputs
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/state_parallel.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_parameters.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#11500 Feature/lambda: Add recursion get-put API functions
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: minor

#11499 [SFN] Bump Antlr4 to 4.13.2
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/Makefile
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#11511 fix APIGW CFN UsagePlan update operation with Tags
  localstack-core/localstack/services/apigateway/provider.py
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/apigateway_usage_plan.yml
Labels: semver: patch

#11514 fixup if-evaluation for 'Create GH issue from template'
  .github/workflows/marker-report.yml
Labels: semver: patch

#11502 Add DNS server host mode advice
  docs/development-environment-setup/README.md
  tests/aws/services/events/test_events_targets.py
Labels: semver: patch

#11497 introduce plugins to load openapi specs
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/plugins.py
  tests/unit/aws/handlers/openapi.py
Labels: semver: patch

#11518 APIGW NG: fix leftover REST issues
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
Labels: aws:apigateway, semver: patch

#11498 [SFN] Support for Context Object access outside payload templates
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/input_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/items_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/output_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/variable.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/context_object/__init__.py
  tests/aws/services/stepfunctions/templates/context_object/context_object_templates.py
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_input_path.json5
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_items_path.json5
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_output_path.json5
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_result_selector.json5
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_variable.json5
  tests/aws/services/stepfunctions/v2/context_object/__init__.py
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.py
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.snapshot.json
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.validation.json
Labels: semver: minor

#11533 Feature/Eventstudio/Events: use thread local for trace_context propagation
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
Labels: aws:events, semver: minor

#11524 Add more context about disabling DNS server
  docs/development-environment-setup/README.md
Labels: area: documentation, semver: patch

#11489 fix deletion of failed nested stack in CFn
  localstack-core/localstack/services/cloudformation/resource_provider.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
  tests/aws/services/cloudformation/api/test_nested_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_nested_stacks.validation.json
  tests/aws/templates/cfn_failed_nested_stack_child.yml
  tests/aws/templates/cfn_failed_nested_stack_parent.yml
Labels: semver: patch

#11543 Fix libexpat1 CVEs from our debian bookworm base image
  Dockerfile
Labels: semver: patch

#11546 Update lambda init version
  localstack-core/localstack/services/lambda_/packages.py
Labels: semver: patch

#11509 feat: serve swagger UI in LocalStack
  localstack-core/localstack/http/resources/__init__.py
  localstack-core/localstack/http/resources/swagger/__init__.py
  localstack-core/localstack/http/resources/swagger/endpoints.py
  localstack-core/localstack/http/resources/swagger/plugins.py
  localstack-core/localstack/http/resources/swagger/templates/index.html
  localstack-core/localstack/logging/setup.py
  localstack-core/localstack/utils/openapi.py
  pyproject.toml
Labels: semver: patch

#11551 fix typos and grammar in some core python files
  localstack-core/localstack/config.py
  localstack-core/localstack/constants.py
  localstack-core/localstack/deprecations.py
  scripts/build_common_test_functions.sh
Labels: semver: patch

#11568 minor: add ability to create tmp files inside specified dirs
  localstack-core/localstack/utils/files.py
Labels: semver: minor

#11570 Add tags and operationId properties to all OpenAPI paths
  localstack-core/localstack/openapi.yaml
Labels: semver: patch

#11574 fix EC2 FlowLogs with S3 destination
  localstack-core/localstack/services/ec2/provider.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/ec2/test_ec2.snapshot.json
  tests/aws/services/ec2/test_ec2.validation.json
Labels: aws:ec2, semver: patch

#11577 fix(cors): append lambda logs header in the CORS headers list
  localstack-core/localstack/aws/handlers/cors.py
Labels: semver: patch

#11564 Bump moto-ext to 5.0.15.post2
  localstack-core/localstack/services/apigateway/provider.py
  pyproject.toml
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
Labels: semver: patch

#11579 Feature/Events: Add internal log messages
  localstack-core/localstack/services/events/provider.py
Labels: aws:events, semver: minor

#11350 APIGW NG: introduce new unified path style
  localstack-core/localstack/aws/handlers/cors.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  tests/aws/services/apigateway/apigateway_fixtures.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11535 Fix: Make secret value decoded for specific usecases
  localstack-core/localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#11496 allow reference unsupported cfn resources
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/api/test_reference_resolving.py
  tests/aws/templates/cfn_ref_unsupported.yml
Labels: semver: patch

#11585 rework conditional loading of the OAS plugins
  localstack-core/localstack/aws/handlers/validation.py
Labels: semver: patch

#11531 ESM-v2: Add SNS as a failure destination for Kinesis and DynamoDB
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/testing/aws/lambda_utils.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
Labels: aws:lambda, semver: minor

#11589 fix APIGW test with hardcoded role name in CFN template
  tests/aws/templates/apigw-awsintegration-request-parameters.yaml
Labels: aws:apigateway, semver: patch

#11586 Filter surrounding quotes from DNS_NAMES_TO_RESOLVE_UPSTREAM
  localstack-core/localstack/config.py
  localstack-core/localstack/dns/server.py
  tests/bootstrap/test_dns_server.py
Labels: semver: patch

#11594 Bump moto-ext to 5.0.15.post4
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11587 fix(cors): append lambda invocation headers in the expose headers list
  localstack-core/localstack/aws/handlers/cors.py
Labels: semver: patch

#11595 CFn: fix unresolvable refs
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.py
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_codesigningconfig.py
Labels: aws:cloudformation, semver: patch

#11604 remove assigning a ServiceModel for `execute-api` APIGW routes
  localstack-core/localstack/aws/protocol/service_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  tests/aws/services/apigateway/test_apigateway_common.py
Labels: aws:apigateway, semver: patch

#11609 fix APIGW NG test_cors_apigw_not_applied
  tests/integration/test_security.py
Labels: aws:apigateway, semver: patch
