Repository localstack/localstack, pull requests merged in 2024-05, with the labels that each got.

#10750 [SFN] Improve Handling of Empty SendTaskFailure Calls
  localstack/services/stepfunctions/asl/component/common/catch/catcher_decl.py
  localstack/services/stepfunctions/asl/component/common/error_name/custom_error_name.py
  localstack/services/stepfunctions/asl/component/common/error_name/error_name.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/eval/callback/callback.py
  tests/aws/services/stepfunctions/templates/callbacks/callback_templates.py
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_parallel_wait_for_task_token.json5
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_wait_for_task_token_catch.json5
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/aws/services/stepfunctions/v2/callback/test_callback.validation.json
Labels: semver: patch

#10703 switch default gateway server from hypercorn to twisted
  localstack/config.py
Labels: semver: minor

#10758 Fix: Firehose: Drop keys in destinations description not in respective return types
  localstack/services/firehose/provider.py
Labels: aws:firehose, semver: minor

#10757 Parametrize test selection scripts for usage in dependent repositories
  .github/workflows/tests-pro-integration.yml
  CODEOWNERS
  localstack/testing/testselection/matching.py
  localstack/testing/testselection/scripts/generate_test_selection_from_commits.py
  localstack/testing/testselection/scripts/generate_test_selection_from_pr.py
Labels: semver: patch

#10770 fixed physical resource id for AWS::Glue::SchemaVersionMetadata
  localstack/services/cloudformation/engine/quirks.py
Labels: semver: patch

#10771 [SFN] Fix Flaky Stop Execution Test
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
Labels: semver: patch

#10664 Feat: Eventbridge v2: Add pattern matching
  localstack/services/events/event_ruler.py
  localstack/services/events/provider_v2.py
  localstack/services/events/rule.py
  localstack/services/events/target.py
  tests/aws/services/events/test_event_patterns.py
  tests/aws/services/events/test_event_patterns.snapshot.json
  tests/aws/services/events/test_event_patterns.validation.json
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_integrations.snapshot.json
  tests/aws/services/events/test_events_integrations.validation.json
  tests/aws/services/events/test_events_rules.py
Labels: aws:events, semver: minor

#10761 decrease test logging verbosity
  .circleci/config.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
  Makefile
  pyproject.toml
  tests/conftest.py
Labels: semver: patch

#10732 fix serialization for sqs http calls
  localstack/aws/protocol/serializer.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10786 fix CircleCI test error reporting by disabling colored reporting
  Makefile
Labels: semver: patch

#10775 migrate contributing docs to core
  .github/workflows/tests-cli.yml
  .github/workflows/tests-pro-integration.yml
  CODEOWNERS
  README.md
  docs/CONTRIBUTING.md
  docs/development-environment-setup/index.md
  docs/end_user_license_agreement/README.md
  docs/integration-tests/index.md
  docs/localstack-concepts/asf-code-generation.png
  docs/localstack-concepts/gateway-overview.png
  docs/localstack-concepts/index.md
  docs/localstack-concepts/localstack-handler-chain.png
  docs/localstack-concepts/service-implementation.png
  docs/localstack-readme-banner.svg
  docs/multi-account-region-testing/index.md
  docs/multi-account-region-testing/randomize-aws-credentials.png
  docs/parity-testing/index.md
  docs/terraform-tests/index.md
Labels: semver: patch

#10782 Fix CFn UpdateStack response on identical templates that include a transformation
  localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
  tests/aws/templates/simple_no_change.yaml
  tests/aws/templates/simple_no_change_with_transformation.yaml
Labels: semver: patch

#10792 fix banner link in READMEs
  DOCKER.md
  README.md
Labels: semver: patch

#10763 [SFN] Execution of Reentrant Distributed Map States
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_config_distributed_reentrant.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_config_distributed_reentrant_lambda.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_legacy_reentrant.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10730 Refactor: Events v2: Move existing provider code to v1 folder
  localstack/services/events/event_bus.py
  localstack/services/events/event_ruler.py
  localstack/services/events/models.py
  localstack/services/events/models_v2.py
  localstack/services/events/provider.py
  localstack/services/events/provider_v2.py
  localstack/services/events/rule.py
  localstack/services/events/v1/__init__.py
  localstack/services/events/v1/models.py
  localstack/services/events/v1/provider.py
  localstack/services/events/v1/utils.py
  localstack/services/providers.py
  tests/aws/services/events/test_events.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
Labels: aws:events, semver: minor

#10790 Separate test selection env setup from tinybird setup
  .circleci/config.yml
Labels: semver: patch

#10671 fix missing href inside README.md
  README.md
Labels: semver: patch

#10784 enable sqs test selection
  localstack/testing/testselection/opt_in.py
Labels: semver: patch

#10774 Remove fix to relative persistence path for Kinesis
  localstack/services/kinesis/kinesis_mock_server.py
Labels: aws:kinesis, semver: patch

#10805 fix asf update action by updating ruff fix command
  .github/workflows/asf-updates.yml
Labels: semver: patch

#10733 Feature: Eventbridge v2: Add input path
  localstack/services/events/models.py
  localstack/services/events/provider.py
  localstack/services/events/target.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_inputs.snapshot.json
  tests/aws/services/events/test_events_inputs.validation.json
  tests/aws/services/events/test_events_integrations.py
Labels: aws:events, semver: minor

#10807 [SFN] Temporary Skip of Flaky Test Cases
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
Labels: semver: patch

#10742 Bump moto-ext to 5.0.6.post2
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#10815 fix GitHub error reporting by disabling colors
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
  Makefile
Labels: semver: patch

#10789 Feature/eventbridge v2 add input transformer
  localstack/services/events/provider.py
  localstack/services/events/target.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_inputs.snapshot.json
  tests/aws/services/events/test_events_inputs.validation.json
Labels: aws:events, semver: minor

#10810 fix pagination for SNS ListSubscriptions and ListSubscriptionsByTopic
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#10819 fix SNS cross-account issues with Subscriptions
  localstack/services/sns/filter.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
  tests/aws/services/sns/test_sns_filter_policy.py
  tests/aws/services/sns/test_sns_filter_policy.snapshot.json
  tests/aws/services/sns/test_sns_filter_policy.validation.json
  tests/unit/test_sns.py
Labels: aws:sns, semver: patch

#10829 fix ListObjectVersions field order
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, area: asf, semver: patch

#10835 Revert "APIGW: Default to an empty dict when the provided body for an API Gateway step function is an empty string"
  localstack/services/apigateway/templates.py
  tests/unit/test_templating.py
Labels: semver: patch

#9761 Add image sha to startup information and more details to bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
  localstack/services/infra.py
Labels: semver: patch

#10837 mitigate CI timeouts by increasing parallelism
  .circleci/config.yml
Labels: semver: patch

#10838 fix SNS test with wrong base64 assumption
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#10830 update plux to 1.10.0
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#10820 validate attributes when creating SQS queues
  localstack/services/sqs/constants.py
  localstack/services/sqs/models.py
  tests/aws/services/cloudformation/resources/test_sqs.py
  tests/aws/services/cloudformation/resources/test_sqs.validation.json
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
  tests/aws/templates/sqs_fifo_autogenerate_name.yaml
Labels: aws:sqs, semver: patch

#10691 implement SNS Filter/operators $or, suffix, equals-ignore-case, anything-but
  localstack/services/sns/filter.py
  tests/aws/services/sns/test_sns_filter_policy.py
  tests/aws/services/sns/test_sns_filter_policy.snapshot.json
  tests/aws/services/sns/test_sns_filter_policy.validation.json
  tests/unit/test_sns.py
Labels: aws:sns, semver: minor

#10836 add support for `CommaDelimitedList` in cloudformation macro
  localstack/services/cloudformation/engine/transformers.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/pyplate_deploy_template.yml
  tests/aws/templates/pyplate_example.yml
Labels: aws:cloudformation, semver: patch

#10843 Bump moto-ext to 5.0.7.post1
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#10814 Fix entrypoint script configurator encoding and line endings in windows
  localstack/dev/run/configurators.py
Labels: area: cli, semver: patch

#10842 Cleanup code mounting dev scripts
  Makefile
  bin/localstack-start-docker-dev.sh
Labels: semver: patch

#10802 [SFN] Support for Glue Optimised Service Integration
  .github/workflows/marker-report-issue.yml
  .github/workflows/marker-report.yml
  .github/workflows/tests-cli.yml
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_factory.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_glue.py
  localstack/testing/pytest/stepfunctions/__init__.py
  localstack/testing/pytest/stepfunctions/fixtures.py
  localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/scenario/loan_broker/test_loan_broker.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/v2/activities/test_activities.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_wait.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/choice_operators/utils.py
  tests/aws/services/stepfunctions/v2/comments/test_comments.py
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.py
  tests/aws/services/stepfunctions/v2/error_handling/test_states_errors.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_dynamodb.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sfn.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_sqs.py
  tests/aws/services/stepfunctions/v2/error_handling/utils.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_math_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_unique_id_generation.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/utils.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_sfn_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_dynamodb_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_ecs_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sfn_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
  tests/conftest.py
Labels: semver: patch

#10818 add small quirks for new resource providers
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/scaffolding/propgen.py
Labels: semver: patch

#10840 Feature: Eventbridge v2: Add tagging
  localstack/services/events/models.py
  localstack/services/events/provider.py
  localstack/utils/tagging.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_tags.py
  tests/aws/services/events/test_events_tags.snapshot.json
  tests/aws/services/events/test_events_tags.validation.json
Labels: aws:events, semver: minor

#10850 CFn: handle secretsmanager policy BlockPublicPolicy
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_resourcepolicy.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.snapshot.json
  tests/aws/services/cloudformation/resources/test_secretsmanager.validation.json
Labels: semver: patch

#10856 add S3 pre-signed credentials validation
  localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10863 skip flaky test_schedule_cron_target_sqs
  tests/aws/services/events/test_events_schedule.py
Labels: aws:events, semver: patch

#10858 Replace large bytes payloads in http request logging to avoid cluttering the logs
  localstack/logging/format.py
Labels: semver: patch

#10851 decrease runners after fixed performance degradation
  .circleci/config.yml
  .github/workflows/tests-pro-integration.yml
  .test_durations
Labels: semver: patch

#10862 fix S3 Pre-signed POST policy condition casing
  localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10865 skip flaky test_get_free_tcp_port_range_fails_if_cannot_be_bound
  tests/unit/utils/test_net_utils.py
Labels: semver: patch

#10857 Add support for environment variable placeholders in hot-reloading paths
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/invocation/lambda_service.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
Labels: semver: minor

#10869 Using ARN_PARTITION_REWRITING flag causes s3api head-object to provide invalid content-length
  localstack/aws/handlers/partition_rewriter.py
Labels: semver: patch

#9097 Add SSM apigateway service test
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_ssm.py
  tests/aws/services/apigateway/test_apigateway_ssm.snapshot.json
  tests/aws/services/apigateway/test_apigateway_ssm.validation.json
Labels: aws:apigateway, semver: patch

#10855 skip flaky tests.aws.services.firehose.test_firehose.TestFirehoseIntegration.test_kinesis_firehose_opensearch_s3_backup
  tests/aws/services/firehose/test_firehose.py
Labels: semver: patch

#10871 Collect analytics on error probability config options
  localstack/runtime/analytics.py
Labels: semver: patch

#10870 limit github token permissions, fix cli action for fork runs
  .github/workflows/tests-cli.yml
Labels: semver: patch

#10859 fix Sqs fifo message group invisibility after triggering move to dlq
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10877 [SFN] Add Generic Resolver for Unsupported Optimised Service Integrations
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_factory.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_unsupported.py
Labels: semver: patch

#10882 fix S3 CopyObject in place deadlock for Suspended buckets
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10879 Resolved issue where using CDK wouldn't generate SecretString value
  localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.snapshot.json
  tests/aws/services/cloudformation/resources/test_secretsmanager.validation.json
Labels: semver: patch

#10831 Fix Lambda async invocation queue namespace
  localstack/config.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/functions/lambda_s3_integration_function_version.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
  tests/aws/services/lambda_/test_lambda_performance.py
  tests/aws/services/lambda_/utils.py
Labels: semver: patch

#10883 [SFN] Add Normalisation of Service Response Values
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_s3_get_object.json5
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: semver: patch

#10872 extract docker build / push make targets to helper script
  .circleci/config.yml
  .github/workflows/tests-bin.yml
  .github/workflows/tests-s3-image.yml
  Makefile
  bin/docker-helper.sh
  docs/development-environment-setup/index.md
  tests/bin/README.md
  tests/bin/files/VERSION
  tests/bin/test.docker-helper.bats
  tests/cli/test_cli.py
Labels: semver: minor

#10681 CFn: Parametrize Fn::GetAZs test across all regions
  localstack-core/localstack/services/kinesis/resource_providers/aws_kinesis_stream.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/functions_get_azs.yml
Labels: semver: patch

#10902 Fix lambda persistence restore
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
Labels: semver: patch

#10903 fix docker helper usage typo and push without force flag
  .circleci/config.yml
  bin/docker-helper.sh
  tests/bin/test.docker-helper.bats
Labels: semver: patch

#10892 remove unknown-markers in test_logs
  tests/aws/services/logs/test_logs.py
  tests/aws/services/logs/test_logs.validation.json
Labels: aws:logs, semver: patch

#10901 Remove CloudFormation moto backend from persisted state
  localstack-core/localstack/services/cloudformation/provider.py
Labels: semver: patch

#10867 Opt in services to the test selection
  localstack-core/localstack/testing/testselection/opt_in.py
  localstack-core/localstack/utils/bootstrap.py
Labels: semver: patch

#10889 fix pre-signed POST str type for content-length-range
  localstack-core/localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10880 Add support for the --env-file flag in docker flags
  localstack-core/localstack/utils/container_utils/container_client.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/test_dockerclient.py
Labels: area: docker, semver: minor

#10917 implement S3 checksum for Multipart uploads
  localstack-core/localstack/services/s3/utils.py
  localstack-core/localstack/services/s3/v3/models.py
  localstack-core/localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: minor

#10920 remove unknown-markers in test_transcribe
  tests/aws/services/transcribe/test_transcribe.py
Labels: aws:transcribe, semver: patch

#10760 Track cfn resource events
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#10924 validate redshift test
  tests/aws/services/redshift/test_redshift.py
  tests/aws/services/redshift/test_redshift.validation.json
Labels: semver: patch

#10929 remove unknown-markers in test_kms
  tests/aws/services/kms/test_kms.py
Labels: aws:kms, semver: patch

#10933 fix postgress install in ci
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#10935 fix header list parsing in ASF
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/unit/aws/protocol/test_parser.py
Labels: aws:s3, area: asf, semver: patch

#10926 apigw validate test
  tests/aws/files/api_definition.yaml
  tests/aws/files/openapi-mock.json
  tests/aws/services/apigateway/apigateway_fixtures.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/apigateway/test_apigateway_sqs.snapshot.json
  tests/aws/services/apigateway/test_apigateway_sqs.validation.json
  tests/aws/services/lambda_/functions/apigw_502.js
  tests/aws/services/lambda_/test_lambda.py
Labels: aws:apigateway, semver: patch
