Repository localstack/localstack, pull requests merged in 2024-08, with the labels that each got.

#11294 upgrade ffmpeg to use version 7.0.1
  localstack-core/localstack/packages/ffmpeg.py
Labels: semver: minor

#11291 Feature/EventStudio: patch put events
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/utils.py
Labels: aws:events, semver: minor

#11295 fix ARN construction for APIGW NG get_source_arn
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
Labels: aws:apigateway, semver: patch

#11297 fix S3 pre-signed issue importing moto in S3 image
  localstack-core/localstack/services/s3/presigned_url.py
Labels: aws:s3, semver: patch

#11284 SES: Add support for feedback campaign tags
  localstack-core/localstack/services/ses/provider.py
  tests/aws/services/ses/test_ses.py
  tests/aws/services/ses/test_ses.snapshot.json
  tests/aws/services/ses/test_ses.validation.json
Labels: semver: patch

#11296 Fixes for proper ARN generation / testing
  localstack-core/localstack/services/events/event_bus.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.validation.json
  tests/aws/services/events/conftest.py
  tests/aws/templates/secretsmanager_secret_policy.yml
Labels: semver: patch

#11300 Fix/EventStudio: Remove event bus field before transformers
  localstack-core/localstack/services/events/target.py
Labels: aws:events, semver: minor

#11281 Rework AssetDirectory to use pathlib.Path
  localstack-core/localstack/state/core.py
  tests/unit/state/test_core.py
Labels: semver: patch

#11309 Simplify publishing analytics of new LocalStack editions
  localstack-core/localstack/utils/analytics/metadata.py
  tests/unit/utils/analytics/test_metadata.py
Labels: semver: patch

#11272 Add aliasing support for custom predictable Lambda URLs
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: minor

#11316 fix Lambda custom aliased URL flaky test
  tests/aws/services/lambda_/test_lambda_api.py
Labels: aws:lambda, semver: minor

#11267 Lambda Event Source Mapping (ESM) v2
  .circleci/config.yml
  localstack-core/localstack/config.py
  localstack-core/localstack/services/lambda_/event_source_mapping/__init__.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
  tests/aws/services/lambda_/event_source_mapping/utils.py
Labels: semver: minor

#11288 Add test for deleting an alias associated with a Lambda URL
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#11317 add APIGW NG workaround for AccessDenied exception
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  tests/unit/services/apigateway/test_handler_exception.py
Labels: aws:apigateway, semver: patch

#11322 Upgrade pinned Python dependencies
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11330 Cfn parameters support list
  localstack-core/localstack/services/cloudformation/engine/parameters.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/dynamicparameter_ssm_list.yaml
Labels: aws:cloudformation, semver: patch

#11315 add support for `Number` type param in `!Sub` in cfn templates
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/sub_number_type.yml
Labels: aws:cloudformation, semver: patch

#11318 Add lambda prebuild option to CLI env vars, readd docker build make target
  Makefile
  localstack-core/localstack/config.py
Labels: semver: patch

#11301 Lambda DevX, Introducing Lambda Debug Mode
  localstack-core/localstack/config.py
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
  localstack-core/localstack/services/lambda_/invocation/executor_endpoint.py
  localstack-core/localstack/utils/lambda_debug_mode.py
Labels: semver: minor

#11344 fix APIGW CFN Stage with Stage Variables casing
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_stage.py
  tests/aws/files/openapi.spec.stage-variables.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/apigateway_integration_from_s3.yml
Labels: aws:apigateway, semver: patch

#11328 Provide regions to various inter-service communication clients
  localstack-core/localstack/aws/connect.py
  localstack-core/localstack/services/apigateway/integration.py
  localstack-core/localstack/services/apigateway/provider.py
  localstack-core/localstack/services/firehose/provider.py
Labels: semver: patch

#11345 CFn: support importing existing EC2 SSH keys
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_keypair.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/templates/ec2_import_keypair.yaml
Labels: semver: patch

#11331 Fix Lambda ESM lifecycle and stream poller exceptions
  localstack-core/localstack/config.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/provider_utils.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
Labels: semver: patch

#11353 fix test_import_with_stage_variables for multi account
  tests/aws/services/apigateway/test_apigateway_import.py
Labels: aws:apigateway, semver: patch

#11310 Automatically convert props in resource provider botocore calls
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#11349 APIGW NG: small cleanup
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/legacy.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
Labels: aws:apigateway, semver: patch

#11354 Event filtering JSON detection for ESM v2 and Pipes
  localstack-core/localstack/services/lambda_/event_source_listeners/utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/functions/kinesis_log.py
Labels: semver: patch

#11340 Fix missing CFN_PER_RESOURCE_TIMEOUT var
  localstack-core/localstack/config.py
Labels: semver: patch

#11358 implement SSE-C encryption for S3
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/spec-patches.json
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/validation.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: minor

#11338 CFn: better context on boto client errors
  localstack-core/localstack/services/cloudformation/engine/parameters.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/engine/transformers.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#11368 add config for DMS to analytics env reporting
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#11347 add fix for step function activity tags
  localstack-core/localstack/services/stepfunctions/resource_providers/aws_stepfunctions_activity.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/templates/statemachine_machine_with_activity.yml
  tests/aws/templates/statemachine_test.json
Labels: semver: patch

#11376 fix postgresql in ci
  .github/workflows/tests-pro-integration.yml
Labels: area: ci, semver: patch

#11372 Apigw ng refactor deployment store
  localstack-core/localstack/services/apigateway/models.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
Labels: aws:apigateway, semver: patch

#11385 Fix SQS handling of empty Redrive Policy attribute
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: type: bug, aws:sqs, semver: patch

#11371 add support for default tags AWS::EC2::SecurityGroup
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.validation.json
Labels: semver: patch

#11370 add support for ArchivePolicy in AWS::SNS::Topic
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/resource_providers/aws_sns_topic.py
  tests/aws/services/cloudformation/resources/test_sns.py
  tests/aws/services/cloudformation/resources/test_sns.snapshot.json
  tests/aws/services/cloudformation/resources/test_sns.validation.json
Labels: semver: patch

#11332 Bump moto-ext to 5.0.13.post1
  localstack-core/localstack/services/s3/legacy/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/acm/test_acm.py
Labels: semver: patch

#11394 fix ASF upgrades by upgrading botocore pins and dependency locks
  .github/workflows/asf-updates.yml
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11388 Add new flag for mounting dependencies into the container
  localstack-core/localstack/testing/pytest/container.py
Labels: area: persistence, semver: patch

#11399 Update lambda init binary to v0.1.29-pre
  localstack-core/localstack/services/lambda_/packages.py
Labels: semver: patch

#11400 APIGW: add better validation for PutIntegration and PutIntegrationResponse
  localstack-core/localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: aws:apigateway, semver: patch

#11401 Apigw ng http deployment
  localstack-core/localstack/aws/spec-patches.json
Labels: aws:apigateway, semver: patch

#11402 implement IfNoneMatch for PutObject and CompleteMultipartUpload
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/spec-patches.json
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: minor

#11405 Add MessageAttributes to SQS messages when executed via Step Function
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/sqs_send_msg_attributes.json5
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_sqs_task_service.validation.json
Labels: type: bug, aws:stepfunctions, semver: patch

#11403 fix CopyObject not copying tag of current object
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#11361 Use tags to support custom resource IDs for VPC, Subnet, and SecurityGroup resources
  localstack-core/localstack/constants.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/patches.py
  localstack-core/localstack/services/ec2/exceptions.py
  localstack-core/localstack/services/ec2/patches.py
  localstack-core/localstack/services/ec2/provider.py
  localstack-core/localstack/services/kms/models.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/ec2/test_ec2.py
Labels: aws:ec2, semver: patch

#11369 [SFN] Support for Singleton Literal Array Access Unpacking
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/input_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/items_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/output_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path_context_obj.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/heartbeat.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/timeout.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_context_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_json_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/boolean_equals.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/numeric.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/string_operators.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/operator/implementations/timestamp_operators.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/variable.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/max_items_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/max_concurrency.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/tolerated_failure.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/cause_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/error_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/seconds_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp_path.py
  localstack-core/localstack/services/stepfunctions/asl/utils/json_path.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/json_path_array_access.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
  tests/aws/services/stepfunctions/v2/choice_operators/utils.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_unique_id_generation.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
Labels: semver: minor

#11411 CloudWatch: Add missing response fields
  localstack-core/localstack/services/cloudwatch/provider.py
Labels: semver: patch

#11366 Lambda: improve function name and qualifier validation
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: aws:lambda, semver: patch

#11413 Updated parameter mapper typing
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11408 cloudwatch: check amount of datapoints, refactor database-locks
  localstack-core/localstack/services/cloudwatch/cloudwatch_database_helper.py
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: aws:cloudwatch, semver: patch

#11396 Use the correct image for diagnostic endpoint
  localstack-core/localstack/utils/diagnose.py
  tests/unit/utils/test_diagnose.py
Labels: semver: patch

#11382 Refactor/Events: add localstack_only test markers for v1 only tests
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: patch

#11406 CFn: show CDK stack events
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, area: integration/cdk, semver: patch

#11423 apigw ng request parameter handler
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11422 Fix CFn bug when loading custom resources
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
Labels: aws:cloudformation, semver: patch

#11414 remove CFn legacy template deployer
  localstack-core/localstack/config.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/provider.py
Labels: semver: minor

#11424 APIGW NG: update UpdateApi status code
  localstack-core/localstack/aws/spec-patches.json
Labels: aws:apigateway, area: asf, semver: patch

#11363 [Lambda DevX] Introducing Lambda Debug Mode Config
  localstack-core/localstack/config.py
  localstack-core/localstack/runtime/analytics.py
  localstack-core/localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
  localstack-core/localstack/services/lambda_/invocation/executor_endpoint.py
  localstack-core/localstack/utils/lambda_debug_mode/__init__.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode_config.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode_session.py
  tests/unit/lambda_debug_mode/__init__.py
  tests/unit/lambda_debug_mode/test_config_parsing.py
Labels: semver: minor

#11398 [Lambda DevX] Control Lambda Container Startup Timeout when In Lambda Debug Mode
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
Labels: semver: minor

#11425 [Lambda DevX] Remove deprecated utils file
  localstack-core/localstack/utils/lambda_debug_mode.py
Labels: semver: minor

#11426 Modify certificate download URL to new endpoint
  localstack-core/localstack/constants.py
  localstack-core/localstack/utils/ssl.py
Labels: semver: patch

#11429 add 3.7 blog to the README
  README.md
Labels: semver: patch

#11434 env var to delete the cached cert at startup
  localstack-core/localstack/config.py
  localstack-core/localstack/plugins.py
Labels: semver: patch
