Repository localstack/localstack, pull requests merged in 2024-11, with the labels that each got.

#11748 Add key value pairs to dict utility fn
  localstack-core/localstack/utils/strings.py
  tests/unit/utils/test_strings.py
Labels: area: integration/kubernetes, semver: patch

#11726 add AWS json protocol support for SQS developer endpoints
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs_backdoor.py
Labels: semver: minor

#11035 make next-gen APIGW provider default
  localstack-core/localstack/config.py
  localstack-core/localstack/services/providers.py
Labels: aws:apigateway, semver: minor

#11580 Add tests to test urlencoded IAM policies
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/iam/test_iam.snapshot.json
  tests/aws/services/iam/test_iam.validation.json
Labels: semver: patch

#11064 DynamoDB: Upgrade DDBLocal to v2
  localstack-core/localstack/services/dynamodb/packages.py
  localstack-core/localstack/services/dynamodb/server.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: semver: minor

#11778 Remove legacy StepFunctions CI job
  .circleci/config.yml
Labels: semver: patch

#11783 APIGW: fix importing API with Cognito Authorizer
  localstack-core/localstack/services/apigateway/helpers.py
  tests/aws/files/openapi.cognito-auth.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: aws:apigateway, semver: patch

#11784 APIGW: fix MOCK integration with no URI and path parameters
  localstack-core/localstack/services/apigateway/legacy/provider.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch

#11773 Add context manager to id generator
  localstack-core/localstack/utils/id_generator.py
  tests/unit/utils/test_id_generator.py
Labels: semver: minor, area: replicator

#11789 DynamoDB: Fix hangup when resetting state
  localstack-core/localstack/services/dynamodb/server.py
Labels: semver: patch

#11771 Delete unused test Cfn templates
  tests/aws/templates/apigateway_integration.yml
  tests/aws/templates/cdktemplate.json
  tests/aws/templates/cfn_unexisting_resource_dependency.yml
  tests/aws/templates/deploy_template_1.yaml
  tests/aws/templates/deploy_template_4.yaml
  tests/aws/templates/fifo_queue.json
  tests/aws/templates/iam_role_policy_2.yaml
  tests/aws/templates/registry/resource-role.yml
  tests/aws/templates/registry/upload-infra.yml
  tests/aws/templates/ssm_parameter_def.yaml
  tests/aws/templates/template1.yaml
  tests/aws/templates/template2.yaml
  tests/aws/templates/template24.yaml
  tests/aws/templates/template26.yaml
  tests/aws/templates/template27.yaml
  tests/aws/templates/template28.yaml
Labels: semver: patch

#11799 APIGW: fix requestOverride not being present in responseTemplates
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch

#11733 Remove legacy Lambda ESM v1 feature
  localstack-core/localstack/config.py
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/services/lambda_/event_source_listeners/__init__.py
  localstack-core/localstack/services/lambda_/event_source_listeners/adapters.py
  localstack-core/localstack/services/lambda_/event_source_listeners/dynamodb_event_source_listener.py
  localstack-core/localstack/services/lambda_/event_source_listeners/event_source_listener.py
  localstack-core/localstack/services/lambda_/event_source_listeners/exceptions.py
  localstack-core/localstack/services/lambda_/event_source_listeners/kinesis_event_source_listener.py
  localstack-core/localstack/services/lambda_/event_source_listeners/lambda_legacy.py
  localstack-core/localstack/services/lambda_/event_source_listeners/sqs_event_source_listener.py
  localstack-core/localstack/services/lambda_/event_source_listeners/stream_event_source_listener.py
  localstack-core/localstack/services/lambda_/event_source_listeners/utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/utils.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/unit/services/lambda_/test_lambda_utils.py
Labels: semver: major

#11795 implement S3 MD5 checksum check for UploadPart and improve logic
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/spec-patches.json
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#11794 Remove virtualenv dependency from docker build
  Dockerfile
Labels: semver: minor

#11787 Fix: CFn: support tags with ESMs
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_eventsourcemapping.py
  tests/aws/services/lambda_/event_source_mapping/test_cfn_resource.py
  tests/aws/services/lambda_/event_source_mapping/test_cfn_resource.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_cfn_resource.validation.json
  tests/aws/templates/event_source_mapping_tags.yml
Labels: semver: patch

#11793 Introduce CONTAINER_RUNTIME environment variable to control all container runtimes
  localstack-core/localstack/config.py
  localstack-core/localstack/runtime/analytics.py
Labels: semver: minor

#11767 migrate to LOCALSTACK_AUTH_TOKEN
  .github/workflows/tests-pro-integration.yml
  localstack-core/localstack/dev/kubernetes/__main__.py
  localstack-core/localstack/dev/run/__main__.py
  localstack-core/localstack/testing/pytest/container.py
  localstack-core/localstack/utils/bootstrap.py
  tests/bootstrap/test_container_configurators.py
  tests/unit/cli/test_cli.py
Labels: semver: minor

#11808 fix node installation in Dockerfile
  Dockerfile
Labels: semver: patch

#11621 Validate SNS developer endpoints
  localstack-core/localstack/openapi.yaml
  tests/aws/services/sns/test_sns.py
Labels: semver: patch

#11812 Remove cloudtrail tracking module
  localstack-core/localstack/testing/pytest/cloudtrail_tracking.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/.gitignore
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/app.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/cdk.json
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/__init__.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/cloudtrail_tracking_stack.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/cloudtrail_tracking/handler/index.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/requirements-dev.txt
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/requirements.txt
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/tests/__init__.py
  localstack-core/localstack/testing/pytest/cloudtrail_tracking/tests/test_cloudtrail_tracking_handler.py
  tests/conftest.py
Labels: semver: patch

#11820 Update broken links in localstack-concepts/Readme.md
  docs/localstack-concepts/README.md
Labels: semver: patch

#11815 Idempotent start of the DynamoDB server
  localstack-core/localstack/services/dynamodb/server.py
Labels: aws:dynamodb, semver: patch

#11792 Fix Java shared library path for darwin
  localstack-core/localstack/packages/java.py
  localstack-core/localstack/services/events/event_ruler.py
Labels: semver: patch

#11837 Update Node.js release signer keys
  Dockerfile
Labels: semver: patch

#11797 Parity test for Eventbridge logs target
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.snapshot.json
  tests/aws/services/events/test_events_targets.validation.json
Labels: semver: patch

#11839 Fix testing links and update aws client fixtures in contributing docs
  docs/testing/integration-tests/README.md
  docs/testing/parity-testing/README.md
Labels: semver: patch

#11842 Bump airspeed-ext to 0.6.7
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: area: dependencies, semver: patch

#11772 Replicator: support generating specific VPC ids
  localstack-core/localstack/services/ec2/patches.py
  tests/aws/services/ec2/test_ec2.py
Labels: semver: patch

#11686 ESM v2: Fix case where lambda is deleted prior to ESM resource
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: minor, aws:lambda:event-source-mapping

#11846 DynamoDB: fix mkdir call with None when DYNAMODB_IN_MEMORY=1
  localstack-core/localstack/services/dynamodb/server.py
Labels: aws:dynamodb, semver: patch

#11821 Feature/DynamoDBStreams: decompose process records
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodbstreams/dynamodbstreams_api.py
Labels: aws:dynamodb, aws:dynamodbstreams, semver: minor

#11853 EC2: implement determinstic subnet ID generation
  localstack-core/localstack/services/ec2/patches.py
Labels: semver: patch

#11856 fix APIGW AWS_PROXY lambda response validation
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
Labels: aws:apigateway, semver: patch

#11857 fix SNS empty MessageAttributes validation
  localstack-core/localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#11847 Add Bedrock configuration values to analytics
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#11848 fix usage analytics to properly register and not count if disabled
  localstack-core/localstack/utils/analytics/usage.py
Labels: semver: patch

#11477 [Lambda DevX] Support for Config Hot Reloading
  localstack-core/localstack/services/lambda_/invocation/assignment.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode_session.py
Labels: semver: minor

#11830 feat(CloudControl): Introduces list operations for bunch of services so cloudcontrol can pick them up
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_resource.py
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_restapi.py
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/cloudformation/resource_providers/aws_cloudformation_stack.py
  localstack-core/localstack/services/dynamodb/resource_providers/aws_dynamodb_table.py
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_vpc.py
  localstack-core/localstack/services/events/resource_providers/aws_events_eventbus.py
  localstack-core/localstack/services/iam/resource_providers/aws_iam_group.py
  localstack-core/localstack/services/iam/resource_providers/aws_iam_role.py
  localstack-core/localstack/services/iam/resource_providers/aws_iam_user.py
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_function.py
  localstack-core/localstack/services/providers.py
  localstack-core/localstack/services/s3/resource_providers/aws_s3_bucket.py
  localstack-core/localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.py
  localstack-core/localstack/services/ses/resource_providers/__init__.py
  localstack-core/localstack/services/ses/resource_providers/aws_ses_emailidentity.py
  localstack-core/localstack/services/ses/resource_providers/aws_ses_emailidentity.schema.json
  localstack-core/localstack/services/ses/resource_providers/aws_ses_emailidentity_plugin.py
  localstack-core/localstack/services/sns/resource_providers/aws_sns_topic.py
  localstack-core/localstack/services/sqs/resource_providers/aws_sqs_queue.py
  localstack-core/localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  localstack-core/localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
Labels: semver: minor

#11867 add ephemeral cli commands to advanced features
  localstack-core/localstack/cli/localstack.py
Labels: semver: minor

#11863 re-add usage analytics collector_registry registration
  localstack-core/localstack/utils/analytics/usage.py
Labels: semver: patch

#11868 Track replicator usage in analytics
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#11831 Bump moto-ext to 5.0.20.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11816 Added EVENT_RULE_ENGINE flag based opt-in
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/v1/provider.py
  localstack-core/localstack/services/lambda_/event_source_listeners/utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/utils/event_matcher.py
  tests/aws/services/events/test_archive_and_replay.py
  tests/unit/utils/test_event_matcher.py
Labels: aws:events, semver: patch

#11860 add analytics to APIGW NextGen REST API handler chain
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/analytics.py
Labels: aws:apigateway, semver: patch

#11875 drop support for Python 3.8 in the LocalStack CLI
  .github/workflows/tests-cli.yml
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/storage/ephemeral.py
  localstack-core/localstack/services/s3/utils.py
  localstack-core/localstack/services/s3/validation.py
  pyproject.toml
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/s3/test_s3.py
  tests/unit/test_common.py
  tests/unit/test_docker_utils.py
  tests/unit/test_s3.py
Labels: area: cli, semver: major

#11874 Update analytics tracked env vars
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#11865 Add Python 3.13 Lambda runtime
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.validation.json
  tests/aws/services/lambda_/test_lambda_runtimes.snapshot.json
  tests/aws/services/lambda_/test_lambda_runtimes.validation.json
Labels: semver: minor

#11877 Use jpype-ext and set jpype interrupt=False
  localstack-core/localstack/services/events/event_ruler.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11852 Fix validated events test for v2 provider
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/lambda_/invocation/event_manager.py
  localstack-core/localstack/utils/aws/message_forwarding.py
  tests/aws/cdk_templates/LambdaDestinationEventbridge/EventbridgeStack.json
  tests/aws/services/apigateway/test_apigateway_eventbridge.validation.json
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_events.validation.json
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/lambda_/test_lambda_destinations.py
  tests/aws/services/lambda_/test_lambda_destinations.snapshot.json
  tests/aws/services/lambda_/test_lambda_destinations.validation.json
Labels: semver: patch

#11879 Prevent usage of java rule engine in tests
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/unit/utils/test_event_matcher.py
Labels: semver: patch

#11810 deprecate env vars without prefix in CLI
  localstack-core/localstack/config.py
  localstack-core/localstack/utils/bootstrap.py
  tests/bootstrap/test_container_configurators.py
Labels: area: cli, semver: patch

#11827 ExpectedBucketOwner for S3 bucket policy operations
  localstack-core/localstack/services/s3/exceptions.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#11859 Switch Lambda debug path analytics to presense
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#11834 Make EventBridge v2 provider default
  .circleci/config.yml
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/scheduler.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/providers.py
  tests/aws/services/events/helper_functions.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: semver: minor

#11885 fix usage aggregation to not send empty payloads
  localstack-core/localstack/utils/analytics/usage.py
Labels: semver: patch

#11854 Split analytics UsageCounter and TimingStats
  localstack-core/localstack/services/lambda_/usage.py
  localstack-core/localstack/utils/analytics/usage.py
Labels: semver: patch

#11862 add analytics for SNS internal routes
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/usage.py
Labels: aws:sns, semver: patch

#11886 fix vtl resolver patch
  localstack-core/localstack/services/apigateway/legacy/templates.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  localstack-core/localstack/utils/aws/templating.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_kinesis.py
  tests/aws/services/apigateway/test_apigateway_kinesis.snapshot.json
  tests/aws/services/apigateway/test_apigateway_kinesis.validation.json
Labels: aws:apigateway, aws:appsync, semver: patch

#11880 Put events fix for multiple targets
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: semver: patch

#11888 fix java home for macos
  localstack-core/localstack/packages/java.py
Labels: semver: patch

#11889 Add restructurings to fix events persistence in v2
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/rule.py
Labels: semver: patch

#11902 update README for v4
  README.md
Labels: semver: patch

#11893 Re-introduce EventBridge invoke analytics
  localstack-core/localstack/services/events/provider.py
Labels: semver: patch

#11896 Enable EventBridge API destinations and connections
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/target_helper.py
  localstack-core/localstack/services/secretsmanager/provider.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: semver: patch

#11891 Refactor EventBridge ArchiveServices to allow restoration without side effects
  localstack-core/localstack/services/events/archive.py
  localstack-core/localstack/services/events/provider.py
Labels: semver: patch

#11903 Fix put_targets validation regressions
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/utils.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.validation.json
Labels: semver: patch

#11907 Fix formatting for new sfn features
  tests/aws/services/stepfunctions/v2/assign/test_assign_reference_variables.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation_jsonata.py
Labels: semver: patch

#11908 Disable selected StepFunctions unit tests due to broken imports
  tests/unit/services/stepfunctions/test_arguments.py
  tests/unit/services/stepfunctions/test_query_language_parsing.py
Labels: semver: patch

#11909 Fix provider signature for StepFunctions TestState operation
  localstack-core/localstack/services/stepfunctions/provider.py
Labels: semver: patch

#11910 Fix JVM startup for StepFunctions
  localstack-core/localstack/services/stepfunctions/asl/jsonata/jsonata.py
Labels: semver: patch

#11912 Fix localstack namespace package
  localstack-core/localstack/__init__.py
Labels: semver: patch

#11913 Fix linting issue after namespace package fix
  localstack-core/localstack/dns/server.py
Labels: semver: patch

#11920 fix(providers): Removed cloudcontrol provider
  localstack-core/localstack/services/providers.py
Labels: semver: patch

#11904 Events create connection test fix
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
Labels: aws:events, semver: patch

#11929 Add nodejs22.x AWS Lambda runtime
  localstack-core/localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.validation.json
  tests/aws/services/lambda_/test_lambda_runtimes.snapshot.json
  tests/aws/services/lambda_/test_lambda_runtimes.validation.json
Labels: semver: patch

#11933 update rolo to 0.7.4
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: area: dependencies, semver: patch

#11931 Apply IAM patches when loading STS to avoid wrong access key formats
  localstack-core/localstack/services/iam/iam_patches.py
  localstack-core/localstack/services/iam/provider.py
  localstack-core/localstack/services/sts/provider.py
  tests/aws/services/iam/test_iam.py
Labels: semver: patch

#11914 ci/prevent init file to break packaging
  Makefile
Labels: area: ci, semver: patch

#11939 Apigw fix openapi identity sources
  localstack-core/localstack/services/apigateway/helpers.py
  tests/aws/files/openapi.cognito-auth.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: aws:apigateway, semver: patch

#11924 [SFN] Activity Name and Arn Validation Logic
  localstack-core/localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_activities.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_activities.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_activities.validation.json
Labels: semver: patch

#11892 fixed java lib path for macos
  localstack-core/localstack/packages/java.py
Labels: semver: patch

#11932 Extend patch decorator to add methods to class types
  localstack-core/localstack/utils/patch.py
  tests/unit/utils/test_patch.py
Labels: semver: patch

#11928 Add analytics for event rule engine
  localstack-core/localstack/runtime/analytics.py
  localstack-core/localstack/services/events/plugins.py
  tests/aws/services/events/test_events_patterns.py
Labels: semver: patch

#11935 Re-introduce error analytics for EventBridge rule error
  localstack-core/localstack/services/events/provider.py
Labels: semver: patch

#11883 Add lambda ESM analytics
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/sender.py
  localstack-core/localstack/services/lambda_/usage.py
  tests/unit/utils/analytics/test_usage.py
Labels: semver: patch

#11946 analytics for non-prefixed env var forwarding in CLI
  localstack-core/localstack/utils/bootstrap.py
  tests/bootstrap/test_container_configurators.py
Labels: semver: patch

#11956 StepFunctions: Support Comments in Comparison Composite Statement Lists
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  tests/aws/services/stepfunctions/templates/comment/statemachines/comments_as_per_docs.json5
  tests/aws/services/stepfunctions/v2/comments/test_comments.py
  tests/aws/services/stepfunctions/v2/comments/test_comments.snapshot.json
  tests/aws/services/stepfunctions/v2/comments/test_comments.validation.json
Labels: semver: patch

#11961 fix ESM analytics
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_event_processor.py
Labels: semver: patch, aws:lambda:event-source-mapping

#11954 Handle null value in SES OpenAPI spec
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/ses/models.py
Labels: semver: patch

#11957 StepFunctions: Fix ErrorName Value for Lambda Task Errors
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  tests/aws/services/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/aws/services/stepfunctions/templates/errorhandling/lambdafunctions/raise_custom_exception.py
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_lambda_invoke_catch_tbd.json5
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_tbd.json5
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_lambda.validation.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.py
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.validation.json
Labels: semver: patch

#11959 Added test and fix for wrong time format and serialization in events v2
  localstack-core/localstack/aws/api/events/__init__.py
  localstack-core/localstack/services/events/utils.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: semver: patch

#11958 StepFunctions: Support for ContextObject Paths Bindings for ErrorPath and CausePath
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/cause_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/error_decl.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/context_object/context_object_templates.py
  tests/aws/services/stepfunctions/templates/context_object/statemachines/context_object_error_cause_path.json5
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.py
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.snapshot.json
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.validation.json
Labels: semver: patch

#11963 [SFN] Add usage analytics for Variable Workflow and JSONata features
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/usage_metrics_static_analyser.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/services/stepfunctions/usage.py
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.py
  tests/unit/services/stepfunctions/test_usage_metrics_static_analyser.py
Labels: aws:stepfunctions, semver: patch

#11945 [ESM] Fix polling of SQS queue when batch size exceeds 10
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
  tests/aws/services/lambda_/functions/lambda_event_source_mapping_send_message.py
  tests/aws/services/lambda_/test_lambda.py
Labels: type: bug, semver: patch, aws:lambda:event-source-mapping

#11960 implement new native EventBridge EventRuleEngine
  localstack-core/localstack/services/events/event_rule_engine.py
  localstack-core/localstack/services/events/event_ruler.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/v1/utils.py
  localstack-core/localstack/utils/event_matcher.py
  tests/aws/services/events/event_pattern_templates/content_anything_but_ignorecase_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_but_ignorecase_list_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_but_string_null.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_ignorecase_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_int_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_list.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_list_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_list_type_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_ignorecase_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_int_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_list.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_list_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_list_type_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_list.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_list_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_list_type_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_type_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ignorecase_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ignorecase_list_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_prefix_int_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_prefix_list_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_suffix_int_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_suffix_list_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_wildcard_int_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_wildcard_list_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_wildcard_repeating_star_EXC.json5
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
  tests/unit/utils/test_event_matcher.py
Labels: aws:events, semver: patch

#11964 Add deprecation for Java-based event ruler
  localstack-core/localstack/config.py
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
Labels: semver: patch

#11966 fix: follow-up for null value in SES response
  localstack-core/localstack/openapi.yaml
Labels: semver: patch

#11967 APIGW: fix parsing invalid JSON template in MOCK integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/mock.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
  tests/unit/services/apigateway/test_mock_integration.py
Labels: aws:apigateway, semver: patch
