Repository localstack/localstack, pull requests merged in 2024-07, with the labels that each got.

#11097 Add test for lifecycle of an IAM role with a path
  tests/aws/services/iam/test_iam.py
  tests/aws/services/iam/test_iam.snapshot.json
  tests/aws/services/iam/test_iam.validation.json
Labels: semver: patch

#11111 add context variables and stage variables to API NG context
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/moto_helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/variables.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11095 Add support for docker container log configs
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#11031 Upgraded Lambda Runtimes to use al2023 Base Image
  localstack-core/localstack/services/lambda_/lambda_utils.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/testing/pytest/fixtures.py
  localstack-core/localstack/utils/testutil.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_cloudformation.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_destinations.py
  tests/aws/services/lambda_/test_lambda_destinations.snapshot.json
  tests/aws/services/lambda_/test_lambda_destinations.validation.json
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_xray.py
  tests/aws/services/lambda_/test_lambda_performance.py
  tests/aws/services/lambda_/test_lambda_runtimes.py
  tests/aws/services/logs/test_logs.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/test_network_configuration.py
Labels: semver: patch

#11114 APIGW NG implement api key validation handler
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/api_key_validation.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/moto_helpers.py
  tests/unit/services/apigateway/test_handler_api_key_validation.py
Labels: aws:apigateway, semver: patch

#11121 APIGW NG implement request data mapping for integration request
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11036 Refactoring of CFn legacy tests
  tests/aws/services/cloudformation/api/test_templates.py
  tests/aws/services/cloudformation/api/test_templates.snapshot.json
  tests/aws/services/cloudformation/api/test_templates.validation.json
  tests/aws/services/cloudformation/engine/test_conditions.py
  tests/aws/services/cloudformation/engine/test_conditions.validation.json
  tests/aws/services/cloudformation/engine/test_references.py
  tests/aws/services/cloudformation/engine/test_references.snapshot.json
  tests/aws/services/cloudformation/engine/test_references.validation.json
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.py
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.validation.json
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/cloudformation/resources/test_logs.py
  tests/aws/services/cloudformation/resources/test_logs.snapshot.json
  tests/aws/services/cloudformation/resources/test_logs.validation.json
  tests/aws/services/cloudformation/resources/test_s3.py
  tests/aws/services/cloudformation/resources/test_s3.snapshot.json
  tests/aws/services/cloudformation/resources/test_s3.validation.json
  tests/aws/services/cloudformation/resources/test_sam.py
  tests/aws/services/cloudformation/resources/test_sam.snapshot.json
  tests/aws/services/cloudformation/resources/test_sam.validation.json
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/cfn_condition_update_1.yml
  tests/aws/templates/cfn_condition_update_2.yml
  tests/aws/templates/ec2_instance.yml
  tests/aws/templates/engine/cfn_exports.yml
  tests/aws/templates/engine/cfn_short_sub.yml
  tests/aws/templates/iam_role_defaults.yml
  tests/aws/templates/lambda_function_update.yml
  tests/aws/templates/logs_group.yml
  tests/aws/templates/s3_notification_sqs.yml
  tests/aws/templates/sam_api.yml
  tests/aws/templates/template23.yaml
  tests/aws/templates/template30.yaml
  tests/aws/templates/template32.yaml
  tests/aws/templates/template33.yaml
  tests/aws/templates/template7.json
  tests/aws/templates/update_lambda_template.json
Labels: semver: patch

#11138 Apigw ng request template mapping
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/variables.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_template_mapping.py
Labels: aws:apigateway, semver: patch

#11130 Bump moto-ext to 5.0.10.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11058 [SFN] Enhancements to Parsing Support for Map Toleration Fields
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/tolerated_failure.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_count.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_count_path.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_percentage.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_percentage_path.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#11135 APIGW NG add Integration Response selection and parameter mapping
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/unit/services/apigateway/test_handler_integration_response.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11133 fix CBOR timestamp parsing
  localstack-core/localstack/aws/client.py
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_serializer.py
Labels: aws:kinesis, area: asf, semver: patch

#11089 EC2SecurityGroup: add TagSpecifications parameter when Tags present in CloudFormation template
  docs/testing/integration-tests/README.md
  docs/testing/parity-testing/README.md
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.validation.json
  tests/aws/templates/ec2_security_group_with_tags.yml
Labels: semver: patch

#11129 APIGW NG fix routing with `ANY` request and remove stage from path
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11142 Apigw ng add x header to gateway responses
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/unit/services/apigateway/test_handler_exception.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#11140 APIGW NG implement URI rendering
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_uri_interpolation.py
Labels: aws:apigateway, semver: patch

#11141 fix opensearch and kinesis test markers
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/opensearch/test_opensearch.validation.json
Labels: aws:kinesis, aws:opensearch, semver: patch

#11134 make /_localstack/plugin endpoint extendable
  localstack-core/localstack/services/internal.py
Labels: semver: minor

#11146 [SFN] Fix Parsing of Escape Sequences in Intrinsic Functions
  localstack-core/localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/intrinsic_functions_templates.py
  tests/aws/services/stepfunctions/templates/intrinsicfunctions/statemachines/json_manipulation/json_merge_escaped_argument.json5
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.snapshot.json
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_json_manipulation.validation.json
Labels: semver: patch

#11106 Add pagination for SFN ListStateMachines, ListStateMachineVersions, and ListExecutions
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/services/stepfunctions/stepfunctions_utils.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.validation.json
Labels: semver: patch

#11154 fix aws_http_client_factory fixture to use TEST_AWS_REGION_NAME
  localstack-core/localstack/testing/pytest/fixtures.py
Labels: area: multi-account, semver: patch

#11084 Removal of unknown markers for CFn tests
  tests/aws/files/cdk-bootstrap-requests.json
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudformation/resources/test_cdk.validation.json
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/services/cloudformation/resources/test_elasticsearch.py
  tests/aws/services/cloudformation/resources/test_elasticsearch.snapshot.json
  tests/aws/services/cloudformation/resources/test_elasticsearch.validation.json
  tests/aws/services/cloudformation/resources/test_integration.py
  tests/aws/services/cloudformation/resources/test_integration.validation.json
  tests/aws/services/cloudformation/resources/test_kinesis.py
  tests/aws/services/cloudformation/resources/test_kinesis.snapshot.json
  tests/aws/services/cloudformation/resources/test_kinesis.validation.json
  tests/aws/services/cloudformation/resources/test_kms.py
  tests/aws/services/cloudformation/resources/test_kms.validation.json
  tests/aws/services/cloudformation/resources/test_sam.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.snapshot.json
  tests/aws/services/cloudformation/resources/test_secretsmanager.validation.json
  tests/aws/services/cloudformation/resources/test_sqs.py
  tests/aws/services/cloudformation/resources/test_sqs.snapshot.json
  tests/aws/services/cloudformation/resources/test_sqs.validation.json
  tests/aws/services/cloudformation/resources/test_ssm.py
  tests/aws/services/cloudformation/resources/test_ssm.snapshot.json
  tests/aws/services/cloudformation/resources/test_ssm.validation.json
  tests/aws/services/cloudformation/test_cloudtrail_trace.py
  tests/aws/services/cloudformation/test_cloudtrail_trace.validation.json
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/services/cloudformation/test_unsupported.py
  tests/aws/services/cloudformation/test_unsupported.validation.json
  tests/aws/templates/apigateway.json
  tests/aws/templates/cdk_bootstrap.yml
  tests/aws/templates/cdk_template_with_kms.json
  tests/aws/templates/cfn_kinesis_dynamodb.yml
  tests/aws/templates/cfn_kinesis_stream.yaml
  tests/aws/templates/cfn_kms_key.yml
  tests/aws/templates/ec2_route_table_isolated.yaml
  tests/aws/templates/elasticsearch_domain.yml
  tests/aws/templates/engine/implicit_type_conversion.yml
  tests/aws/templates/integration_events_sns_sqs_lambda.yaml
  tests/aws/templates/kinesis_default.yaml
  tests/aws/templates/multiple_bucket_update.yaml
  tests/aws/templates/multiple_kms_keys.yaml
  tests/aws/templates/multiple_parameters.yaml
  tests/aws/templates/secretsmanager_secret.yml
  tests/aws/templates/secretsmanager_secret_policy.yml
  tests/aws/templates/sqs_export.yml
  tests/aws/templates/sqs_fifo_queue.yml
  tests/aws/templates/sqs_import.yml
  tests/aws/templates/template37.yaml
  tests/aws/templates/template4.yaml
Labels: semver: patch

#11103 Add custom lambda function URLs via _custom_id_ tag
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/urlrouter.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
Labels: aws:lambda, semver: minor

#11143 APIGW NG add HTTP and HTTP_PROXY integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_http.py
  tests/aws/services/apigateway/test_apigateway_http.snapshot.json
  tests/aws/services/apigateway/test_apigateway_http.validation.json
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11168 fix caching in tests-pro-integration after source move
  .github/workflows/tests-pro-integration.yml
Labels: area: ci, semver: patch

#11161 Add utility to prepend a string with a slash
  localstack-core/localstack/utils/strings.py
  tests/unit/utils/test_strings.py
Labels: semver: patch

#11157 abandon dev tag, directly push latest on acceptance test run
  .circleci/config.yml
Labels: area: ci, semver: minor

#11160 Feature/eventbridge v2 use arn util for arns
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/utils/aws/arns.py
Labels: aws:events, semver: patch

#11171 fix coverage drops by skipping report step for `acceptance-only-run`
  .circleci/config.yml
Labels: semver: patch

#11163 Feature/eventbridge v2 custom json encoder exporter
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/utils.py
Labels: aws:events, semver: patch

#11170 Clarify docker client volume API
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
  tests/cli/test_cli.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/test_dockerclient.py
Labels: semver: patch

#11162 Feature/eventbridge v2 class level type definitions
  localstack-core/localstack/services/events/archive.py
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/replay.py
  localstack-core/localstack/services/events/rule.py
  localstack-core/localstack/services/events/target.py
Labels: aws:events, semver: patch

#11177 add ability for shutdown hooks to call internal APIs
  localstack-core/localstack/aws/handlers/internal.py
  localstack-core/localstack/runtime/runtime.py
  tests/bootstrap/test_init.py
Labels: semver: minor

#11181 use new runtime procedure for starting localstack in host mode
  localstack-core/localstack/utils/bootstrap.py
Labels: semver: minor

#11176 Use `StrEnums` instead of `str` for generated constant classes in the ASF APIs
  localstack-core/localstack/aws/api/acm/__init__.py
  localstack-core/localstack/aws/api/apigateway/__init__.py
  localstack-core/localstack/aws/api/cloudcontrol/__init__.py
  localstack-core/localstack/aws/api/cloudformation/__init__.py
  localstack-core/localstack/aws/api/cloudwatch/__init__.py
  localstack-core/localstack/aws/api/config/__init__.py
  localstack-core/localstack/aws/api/dynamodb/__init__.py
  localstack-core/localstack/aws/api/dynamodbstreams/__init__.py
  localstack-core/localstack/aws/api/ec2/__init__.py
  localstack-core/localstack/aws/api/es/__init__.py
  localstack-core/localstack/aws/api/events/__init__.py
  localstack-core/localstack/aws/api/firehose/__init__.py
  localstack-core/localstack/aws/api/iam/__init__.py
  localstack-core/localstack/aws/api/kinesis/__init__.py
  localstack-core/localstack/aws/api/kms/__init__.py
  localstack-core/localstack/aws/api/lambda_/__init__.py
  localstack-core/localstack/aws/api/logs/__init__.py
  localstack-core/localstack/aws/api/opensearch/__init__.py
  localstack-core/localstack/aws/api/redshift/__init__.py
  localstack-core/localstack/aws/api/resource_groups/__init__.py
  localstack-core/localstack/aws/api/resourcegroupstaggingapi/__init__.py
  localstack-core/localstack/aws/api/route53/__init__.py
  localstack-core/localstack/aws/api/route53resolver/__init__.py
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/api/s3control/__init__.py
  localstack-core/localstack/aws/api/scheduler/__init__.py
  localstack-core/localstack/aws/api/secretsmanager/__init__.py
  localstack-core/localstack/aws/api/ses/__init__.py
  localstack-core/localstack/aws/api/sns/__init__.py
  localstack-core/localstack/aws/api/sqs/__init__.py
  localstack-core/localstack/aws/api/ssm/__init__.py
  localstack-core/localstack/aws/api/stepfunctions/__init__.py
  localstack-core/localstack/aws/api/swf/__init__.py
  localstack-core/localstack/aws/api/transcribe/__init__.py
  localstack-core/localstack/aws/scaffold.py
  localstack-core/localstack/services/s3/utils.py
Labels: semver: patch

#11173 update coverage config, remove obsolete dev run configurator
  .circleci/config.yml
  localstack-core/localstack/dev/run/__main__.py
  localstack-core/localstack/dev/run/configurators.py
  pyproject.toml
Labels: area: ci, semver: patch

#11131 Add documentation for different types of tests
  docs/testing/README.md
  docs/testing/test-types/README.md
Labels: semver: patch

#11174 Refactor/eventbridge v2 validate and clean tests for event bridge targets
  .test_durations
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/utils.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_integrations.snapshot.json
  tests/aws/services/events/test_events_integrations.validation.json
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.snapshot.json
  tests/aws/services/events/test_events_targets.validation.json
  tests/aws/services/firehose/conftest.py
  tests/aws/services/firehose/helper_functions.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/kinesis/helper_functions.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/ssm/test_ssm.py
Labels: aws:events, semver: patch

#11185 fix ObjectTagging with DeleteMarker
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#11183 APIGW NG implement AWS bug for INTEGRATION_FAILURE GatewayResponse
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
Labels: aws:apigateway, semver: patch

#11194 Fix deletion of lambda function versions
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#11193 Refactor/eventbridge_v2: Clean tagging tests
  tests/aws/services/events/test_events_tags.py
Labels: aws:events, semver: patch

#11167 APIGW NG add AWS_PROXY integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/api_key_validation.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/variables.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
  tests/unit/services/apigateway/test_handler_api_key_validation.py
Labels: aws:apigateway, semver: patch

#11148 Apigw ng implement mock integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/mock.py
  tests/unit/services/apigateway/test_mock_integration.py
Labels: aws:apigateway, semver: patch

#11182 Refactor/eventbridge v2 clean tests archive and replay
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_archive_and_replay.py
Labels: aws:events, semver: patch

#11190 Make localstack an implicit namespace package
  localstack-core/localstack/__init__.py
  localstack-core/localstack/dns/server.py
Labels: semver: patch

#11145 Add missing log_config passing in create_container_from_config method
  localstack-core/localstack/utils/container_utils/container_client.py
Labels: semver: patch

#11202 remove legacy runtime in localstack/service/infra.py
  localstack-core/localstack/config.py
  localstack-core/localstack/runtime/legacy.py
  localstack-core/localstack/runtime/main.py
  localstack-core/localstack/runtime/runtime.py
  localstack-core/localstack/services/infra.py
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/services/opensearch/cluster.py
Labels: semver: minor

#11178 Add generic botocore-model-based conversion util for CFn resource providers
  localstack-core/localstack/services/cloudformation/provider_utils.py
  localstack-core/localstack/services/events/resource_providers/aws_events_rule.py
  tests/unit/services/cloudformation/test_provider_utils.py
Labels: semver: patch

#11206 Add AWS validation information for es service
  tests/aws/services/es/test_es.py
  tests/aws/services/es/test_es.validation.json
Labels: semver: patch

#11136 [SFN] Base Support for Express Workflows
  localstack-core/localstack/services/stepfunctions/asl/eval/environment.py
  localstack-core/localstack/services/stepfunctions/asl/eval/test_state/environment.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/express_static_analyser.py
  localstack-core/localstack/services/stepfunctions/backend/execution.py
  localstack-core/localstack/services/stepfunctions/backend/execution_worker.py
  localstack-core/localstack/services/stepfunctions/backend/test_state/execution.py
  localstack-core/localstack/services/stepfunctions/backend/test_state/execution_worker.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/testing/pytest/stepfunctions/fixtures.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
  tests/aws/services/stepfunctions/v2/express/__init__.py
  tests/aws/services/stepfunctions/v2/express/test_express_async.py
  tests/aws/services/stepfunctions/v2/express/test_express_async.snapshot.json
  tests/aws/services/stepfunctions/v2/express/test_express_async.validation.json
  tests/aws/services/stepfunctions/v2/express/test_express_sync.py
  tests/aws/services/stepfunctions/v2/express/test_express_sync.snapshot.json
  tests/aws/services/stepfunctions/v2/express/test_express_sync.validation.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_express.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_express.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_express.validation.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.validation.json
Labels: semver: minor

#11196 APIGW NG implement AWS integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/moto_helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
  tests/aws/services/apigateway/test_apigateway_eventbridge.py
  tests/aws/services/apigateway/test_apigateway_eventbridge.snapshot.json
  tests/aws/services/apigateway/test_apigateway_eventbridge.validation.json
  tests/aws/services/apigateway/test_apigateway_http.py
  tests/aws/services/apigateway/test_apigateway_http.snapshot.json
  tests/aws/services/apigateway/test_apigateway_http.validation.json
  tests/aws/services/apigateway/test_apigateway_kinesis.py
  tests/aws/services/apigateway/test_apigateway_kinesis.snapshot.json
  tests/aws/services/apigateway/test_apigateway_kinesis.validation.json
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/apigateway/test_apigateway_sqs.snapshot.json
  tests/aws/services/apigateway/test_apigateway_sqs.validation.json
  tests/aws/services/apigateway/test_apigateway_ssm.py
  tests/aws/services/apigateway/test_apigateway_ssm.snapshot.json
  tests/aws/services/apigateway/test_apigateway_ssm.validation.json
  tests/aws/services/apigateway/test_apigateway_stepfunctions.py
  tests/aws/services/apigateway/test_apigateway_stepfunctions.snapshot.json
  tests/aws/services/apigateway/test_apigateway_stepfunctions.validation.json
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11198 APIGW NG fix last tests
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/test_multiregion.py
Labels: aws:apigateway, semver: patch

#11199 APIGW NG refactor handlers
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/core.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/mock.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/unit/services/apigateway/test_handler_integration_response.py
  tests/unit/services/apigateway/test_mock_integration.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11207 Upgrade Bookstore test to OpenSearch 2.11 and revalidate
  localstack-core/localstack/services/opensearch/versions.py
  tests/aws/cdk_templates/Bookstore/BookstoreStack.json
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/bookstore/test_bookstore.snapshot.json
  tests/aws/scenario/bookstore/test_bookstore.validation.json
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/opensearch/test_opensearch.snapshot.json
  tests/aws/services/opensearch/test_opensearch.validation.json
Labels: semver: patch

#11212 cloudformation: resolve attribute sub names from model instance
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/nested_child_ssm.yaml
  tests/aws/templates/nested_parent_ssm.yaml
Labels: aws:cloudformation, semver: patch

#11215 migrate imports from localstack_ext to localstack.pro.core
  .github/workflows/tests-pro-integration.yml
  localstack-core/localstack/cli/localstack.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/kubernetes/__main__.py
  localstack-core/localstack/dev/run/__main__.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/dev/run/paths.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/cloudformation/scaffolding/__main__.py
  localstack-core/localstack/services/cloudformation/scaffolding/templates/plugin_template.py.j2
  localstack-core/localstack/services/lambda_/invocation/lambda_models.py
  localstack-core/localstack/state/inspect.py
  localstack-core/localstack/utils/analytics/metadata.py
Labels: semver: minor

#11197 [SFN] Support for Sync Interrupts via Task Token
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_dynamodb.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_ecs.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_glue.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_unsupported.py
  localstack-core/localstack/services/stepfunctions/asl/eval/callback/callback.py
  tests/aws/services/stepfunctions/templates/callbacks/callback_templates.py
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sfn_start_execution_sync_with_task_token.json5
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/sqs_send_msg_and_wait.json5
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/aws/services/stepfunctions/v2/callback/test_callback.validation.json
Labels: semver: minor

#11217 fix defaults for ResourceGroups::Group provider
  localstack-core/localstack/services/resource_groups/resource_providers/aws_resourcegroups_group.py
  tests/aws/services/cloudformation/resources/test_resource_groups.py
  tests/aws/services/cloudformation/resources/test_resource_groups.snapshot.json
  tests/aws/services/cloudformation/resources/test_resource_groups.validation.json
  tests/aws/templates/resource_group_defaults.yml
Labels: semver: patch

#11189 Refactor/eventbridge v2 clean tests event pattern
  .test_durations
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
Labels: aws:events, semver: patch

#11222 Fix mounting of pro code in localstack.dev.run
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/dev/run/paths.py
Labels: semver: patch

#11187 [SFN] Add Batch Optimised Service Integration
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_batch.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_factory.py
  localstack-core/localstack/testing/pytest/stepfunctions/fixtures.py
Labels: semver: minor

#11220 fix: kinesis CBOR blob handling
  localstack-core/localstack/aws/protocol/parser.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/unit/aws/protocol/test_parser.py
Labels: semver: patch

#11214 Switch default provider for cloudwatch
  .circleci/config.yml
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  localstack-core/localstack/services/providers.py
  tests/aws/services/cloudformation/resources/test_cloudwatch.py
  tests/aws/services/cloudformation/resources/test_cloudwatch.snapshot.json
  tests/aws/services/cloudformation/resources/test_cloudwatch.validation.json
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: aws:cloudwatch, semver: minor

#11219 force all APIGW providers to use NextGen if main one is set
  localstack-core/localstack/config.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
Labels: aws:apigateway, aws:apigatewayv2, semver: patch

#11230 Fix: Set ci logs to default value
  pyproject.toml
Labels: semver: patch

#11231 Move shared Pipes infrastructure to Lambda ESM
  CODEOWNERS
  localstack-core/localstack/aws/api/pipes/__init__.py
  localstack-core/localstack/services/lambda_/event_source_mapping/event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/noops_event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_loggers/__init__.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_loggers/noops_pipe_logger.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_loggers/pipe_logger.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pipe_utils.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/__init__.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/__init__.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/lambda_sender.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/sender.py
  localstack-core/localstack/services/lambda_/event_source_mapping/senders/sender_utils.py
Labels: semver: patch

#11226 apigw next gen add circle ci pipeline
  .circleci/config.yml
Labels: semver: patch

#11227 Apigw ng refactor headers to werkzeug headers
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/api_key_validation.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/header_utils.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/unit/services/apigateway/test_handler_api_key_validation.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_handler_method_request.py
  tests/unit/services/apigateway/test_handler_request.py
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: semver: patch

#11236 refactor AWS::APIGW::Method resource provider
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_method.py
Labels: semver: patch

#11234 APIGW NG Refactor IntegrationRequest for Proxy Integration
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  localstack-core/localstack/services/lambda_/urlrouter.py
  tests/aws/services/apigateway/test_apigateway_http.py
  tests/aws/services/apigateway/test_apigateway_http.snapshot.json
  tests/aws/services/apigateway/test_apigateway_http.validation.json
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
  tests/unit/services/apigateway/test_parameters_mapping.py
Labels: aws:apigateway, semver: patch

#11229 fix SOURCES.txt by avoiding plux entrypoints command
  Dockerfile
  Dockerfile.s3
  Makefile
Labels: semver: patch

#11232 Bump moto-ext to 5.0.11.post1
  localstack-core/localstack/services/events/v1/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11239 Fix: CFn security group id
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/templates/ec2_vpc_securitygroup.yml
Labels: semver: patch

#11233 Group lambda event source mapping tests
  .test_durations
  tests/aws/services/lambda_/event_source_mapping/__init__.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
  tests/aws/services/lambda_/functions/__init__.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/test_lambda_integration_sqs.validation.json
Labels: semver: patch

#11205 Refactor/eventbridge_v2: Remove duplicated tests in rule file
  tests/aws/services/events/test_events_rules.py
  tests/aws/services/events/test_events_rules.snapshot.json
  tests/aws/services/events/test_events_rules.validation.json
Labels: aws:events, semver: patch

#11073 Add label to SFN map state
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/map_run_record.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/label.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_label.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_label_empty_fail.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_label_invalid_char_fail.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_label_too_long_fail.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.snapshot.json
Labels: semver: patch

#11248 fix flaky test_edge.py by explicitly waiting for proxy
  tests/unit/test_edge.py
Labels: semver: patch

#11250 APIGW NG fix _user_request_ format parsing
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11251 APIGW NG add routing exceptions
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11256 fix APIGW NG response enricher handler
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/response_enricher.py
  tests/unit/services/apigateway/test_handler_response_enricher.py
Labels: aws:apigateway, semver: patch

#11249 upgrade rolo to 0.7.0
  localstack-core/localstack/http/dispatcher.py
  localstack-core/localstack/http/router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#11246 fix typing of kwargs for lambda URL router
  localstack-core/localstack/services/lambda_/urlrouter.py
Labels: aws:lambda, semver: patch

#11258 skip flaky firehose test
  tests/aws/services/firehose/test_firehose.py
Labels: semver: patch

#11218 allow SSM::GetParameter action to use ARNs instead of only names
  localstack-core/localstack/services/ssm/provider.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/ssm/test_ssm.py
  tests/aws/services/ssm/test_ssm.snapshot.json
  tests/aws/services/ssm/test_ssm.validation.json
Labels: semver: patch

#11254 fix: ttl with a reserved keyword as attribute
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/utils/files.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: aws:dynamodb, semver: patch

#11264 update release banner in README [3.6]
  README.md
Labels: semver: patch

#11265 add new folder Matcher in test selection for conftest.py
  localstack-core/localstack/testing/testselection/matching.py
Labels: semver: patch

#11261 fix flaky transcribe tests by pre-downloading dependencies
  localstack-core/localstack/services/transcribe/provider.py
  tests/aws/conftest.py
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#11270 fix cloudwatch get_metric_data for multiple dimensions
  localstack-core/localstack/services/cloudwatch/cloudwatch_database_helper.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: patch

#11268 fix APIGW path converter with prepended multiple slashes
  localstack-core/localstack/aws/protocol/op_router.py
  localstack-core/localstack/aws/protocol/routing.py
  localstack-core/localstack/http/router.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/integration.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/router_asf.py
  localstack-core/localstack/services/edge.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
  tests/unit/aws/protocol/test_op_router.py
  tests/unit/http_/test_router.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, area: asf, semver: minor

#11257 add APIGW NG composite handler
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
Labels: aws:apigateway, semver: minor

#11277 fix warnings for Dockerfiles
  Dockerfile
  Dockerfile.s3
Labels: semver: patch

#11285 fix: replace `DEVELOP` mode
  localstack-core/localstack/dev/debugger/__init__.py
  localstack-core/localstack/dev/debugger/plugins.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/dev/run/paths.py
Labels: semver: patch

#11280 Change default for LAMBDA_DEV_PORT_EXPOSE on macOS in host mode
  localstack-core/localstack/config.py
Labels: semver: patch

#11286 fix Kinesis CBOR date encoding for AWS SDK v2
  localstack-core/localstack/aws/client.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/aws/services/lambda_/functions/common/kinesis_sdkv2/README.md
  tests/aws/services/lambda_/functions/common/kinesis_sdkv2/java17/Makefile
  tests/aws/services/lambda_/functions/common/kinesis_sdkv2/java17/src/build.gradle
  tests/aws/services/lambda_/functions/common/kinesis_sdkv2/java17/src/src/main/java/kinesis/Handler.java
Labels: semver: patch

#11290 fix version.py glob after source package move
  bin/release-helper.sh
Labels: semver: patch
