Repository localstack/localstack, pull requests merged in 2024-01, with the labels that each got.

#9862 Fix secret rotation in secretsmanager
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/functions/lambda_rotate_secret.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
Labels: type: bug, aws:secretsmanager, semver: patch

#9973 fix S3 CORS headers casing matching
  localstack/services/s3/cors.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/s3/test_s3_cors.snapshot.json
  tests/aws/services/s3/test_s3_cors.validation.json
Labels: aws:s3, semver: patch

#9956 add SQS message retention period functionality
  localstack/config.py
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#9975 fix sqs message group visibility when sending messages
  localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#9886 use batches to report SQS metrics for approximate query metrics
  localstack/services/sqs/provider.py
  localstack/utils/cloudwatch/cloudwatch_util.py
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.py
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.validation.json
Labels: semver: patch

#9965 add subrange operation for ports
  localstack/utils/net.py
  tests/unit/utils/test_net_utils.py
Labels: semver: patch

#7037 Add integration test for SQS FIFO event source order/parallelism
  tests/aws/services/lambda_/functions/lambda_sleep.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.validation.json
Labels: semver: patch

#9900 Add link-local address and init args to Docker client API
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#9983 fix S3 missing XML namespace
  localstack/aws/protocol/serializer.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, area: asf, semver: patch

#9978 fix cloudwatch alarm evaluation for SampleCount
  localstack/services/cloudwatch/alarm_scheduler.py
  localstack/services/cloudwatch/provider.py
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.py
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.validation.json
Labels: semver: patch

#9993 fix snapshot match order
  tests/aws/services/cloudwatch/test_cloudwatch_metrics.py
Labels: semver: patch

#9981 fix SQS send batch message validation for message size
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#9985 add lambda alarm action for cloudwatch
  localstack/services/cloudwatch/provider.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: minor

#9972 Test lambda performance and mitigate async invoke timeout error v2
  localstack/config.py
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/version_manager.py
  tests/aws/services/lambda_/functions/lambda_s3_integration.js
  tests/aws/services/lambda_/functions/lambda_s3_integration.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_performance.py
Labels: area: performance, aws:lambda, semver: minor

#9992 fix CopySource unquoting of special + char
  localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_list_operations.py
Labels: aws:s3, semver: patch

#9988 add SQS message move task feature
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/utils.py
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/sqs/test_sqs_move_task.py
  tests/aws/services/sqs/test_sqs_move_task.snapshot.json
  tests/aws/services/sqs/test_sqs_move_task.validation.json
Labels: semver: patch

#9984 snapshot test for return values on condition check failure
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#9996 fix lambda create event source mapping duplicates
  localstack/services/lambda_/provider.py
  localstack/testing/pytest/fixtures.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_sqs.validation.json
Labels: semver: minor

#9999 improve S3 aws-chunked detection
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#9932 Add events method to docker clients
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#9710 fix sqs multi-protocol handling and upgrade botocore
  Dockerfile
  localstack/aws/api/cloudwatch/__init__.py
  localstack/aws/api/config/__init__.py
  localstack/aws/api/ec2/__init__.py
  localstack/aws/api/firehose/__init__.py
  localstack/aws/api/kinesis/__init__.py
  localstack/aws/api/logs/__init__.py
  localstack/aws/api/opensearch/__init__.py
  localstack/aws/api/redshift/__init__.py
  localstack/aws/api/route53/__init__.py
  localstack/aws/api/route53resolver/__init__.py
  localstack/aws/api/s3/__init__.py
  localstack/aws/api/s3control/__init__.py
  localstack/aws/api/secretsmanager/__init__.py
  localstack/aws/api/sqs/__init__.py
  localstack/aws/api/stepfunctions/__init__.py
  localstack/aws/api/transcribe/__init__.py
  localstack/aws/data/sqs-json/2012-11-05/README.md
  localstack/aws/data/sqs-json/2012-11-05/service-2.json
  localstack/aws/handlers/service.py
  localstack/aws/protocol/parser.py
  localstack/aws/protocol/serializer.py
  localstack/aws/protocol/service_router.py
  localstack/aws/skeleton.py
  localstack/aws/spec.py
  localstack/services/internal.py
  localstack/services/logs/provider.py
  localstack/services/plugins.py
  localstack/services/providers.py
  localstack/services/route53resolver/provider.py
  localstack/services/sqs/provider.py
  localstack/services/sqs/query_api.py
  localstack/utils/aws/client_types.py
  localstack/utils/bootstrap.py
  localstack/utils/coverage_docs.py
  setup.cfg
  tests/aws/services/lambda_/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
  tests/aws/services/sqs/test_sqs_backdoor.py
  tests/aws/services/sqs/test_sqs_move_task.py
  tests/aws/services/sqs/test_sqs_move_task.snapshot.json
  tests/aws/services/sqs/test_sqs_move_task.validation.json
  tests/integration/test_security.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser_validate.py
  tests/unit/aws/protocol/test_serializer.py
  tests/unit/aws/test_mocking.py
  tests/unit/aws/test_service_router.py
  tests/unit/aws/test_skeleton.py
  tests/unit/aws/test_spec.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: minor

#9997 add SNS signing of messages
  localstack/services/sns/certificate.py
  localstack/services/sns/constants.py
  localstack/services/sns/provider.py
  localstack/services/sns/publisher.py
  localstack/testing/snapshots/transformer_utility.py
  setup.cfg
  tests/aws/services/s3/test_s3_notifications_sns.snapshot.json
  tests/aws/services/ses/test_ses.snapshot.json
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
  tests/unit/test_sns.py
Labels: aws:sns, semver: minor

#10001 add OpenSearch analysis-kuromoji plugin
  localstack/constants.py
Labels: semver: patch

#9948 [SFN] Support for Version Declarations
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/common/version.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/decl_version_1_0.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
Labels: semver: patch

#10004 add raw-metrics endpoint for v2
  localstack/services/cloudwatch/cloudwatch_database_helper.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: semver: minor

#10005 fix unit-handling for get-metric-statistics
  localstack/services/cloudwatch/cloudwatch_database_helper.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: patch

#10026 Integrate recent v1 CW changes into new v2 provider
  localstack/services/cloudwatch/provider_v2.py
Labels: semver: patch

#10019 add extension mechanism for exceptions
  localstack/aws/app.py
  localstack/aws/chain.py
  localstack/aws/handlers/__init__.py
  localstack/extensions/api/aws.py
  localstack/extensions/api/extension.py
Labels: semver: minor

#10025 Revert "Add events method to docker clients (#9932)"
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#10016 Add config option to control maximum gateway worker thread count
  localstack/aws/serving/asgi.py
  localstack/aws/serving/edge.py
  localstack/config.py
  localstack/http/hypercorn.py
Labels: semver: minor

#10017 Bump moto-ext to 5.0.0alpha1.post1
  setup.cfg
Labels: semver: patch

#10008 fix support calling sqs from api ws gw on disconnect endpoint
  localstack/services/apigateway/integration.py
Labels: semver: minor

#9629 Add AWS::ApiGateway and AWS::Add AWS::ApiGatewayV2 resources
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#10043 refactor Poller.handle_message and extract process_event_retry
  localstack/services/lambda_/invocation/event_manager.py
Labels: semver: patch

#9920 [SFN] Implicit Reductions To and From botocore Types
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_dynamodb.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_sfn_start_execution.json5
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
Labels: semver: patch

#10035 allow headers to be set from integration definition for HTTP integrat…
  localstack/services/apigateway/integration.py
Labels: aws:apigateway, semver: patch

#10029 fix CLI issue with outdated click version
  setup.cfg
Labels: semver: patch

#10045 Add new internalized sqs queue for lambda events
  localstack/config.py
  localstack/services/lambda_/invocation/event_manager.py
  localstack/services/lambda_/invocation/internal_sqs_queue.py
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
Labels: semver: patch

#10041 feat: DynamoDB TTL
  localstack/config.py
  localstack/services/dynamodb/models.py
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: type: feature, aws:dynamodb, semver: patch

#10040 Dynamodb: Fix disable SSESpecification with UpdateTable
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: semver: patch

#9877 test get-metric-data with no unit
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: minor

#9420 Support dynamic port on Lambda remote debugging
  localstack/utils/container_utils/container_client.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/test_dockerclient.py
  tests/unit/test_misc.py
Labels: semver: patch

#10038 fix source ip value for the lambda event request
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/router_asf.py
Labels: aws:apigateway, semver: patch

#10011 refactor http router for better werkzeug compatibility
  localstack/http/resource.py
  localstack/http/router.py
  localstack/services/lambda_/invocation/executor_endpoint.py
  localstack/services/opensearch/cluster.py
  localstack/services/sqs/provider.py
  tests/unit/http_/test_router.py
Labels: semver: minor

#10052 patch HTTPServer fixture to spawn daemon thread
  tests/conftest.py
Labels: semver: patch

#10053 refactor EventSourceAsfAdapter for easier instrumentation
  localstack/services/lambda_/event_source_listeners/adapters.py
  localstack/services/lambda_/event_source_listeners/sqs_event_source_listener.py
Labels: semver: patch

#10055 Skip snapshot verification for CodeSha256 in lambda API test
  tests/aws/services/lambda_/test_lambda_api.py
Labels: semver: patch

#10051 Make lambda sqs event source mapping interval configurable
  localstack/config.py
  localstack/services/lambda_/event_source_listeners/sqs_event_source_listener.py
Labels: semver: patch

#9321 Implement resource provider for AWS::Lambda::Function
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudformation/packages.py
  localstack/services/cloudformation/plugins.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/lambda_/resource_providers/aws_lambda_function.py
  localstack/services/lambda_/resource_providers/aws_lambda_function.schema.json
  localstack/services/lambda_/resource_providers/aws_lambda_function_plugin.py
  tests/aws/services/cloudformation/resources/test_legacy.py
Labels: semver: patch

#10061 move http framework code to rolo and only keep references
  localstack/http/asgi.py
  localstack/http/client.py
  localstack/http/dispatcher.py
  localstack/http/proxy.py
  localstack/http/request.py
  localstack/http/resource.py
  localstack/http/response.py
  localstack/http/router.py
  localstack/http/websocket.py
  setup.cfg
Labels: semver: minor

#10062 Make the internal sqs implementation of lambda events the default
  localstack/config.py
Labels: semver: minor

#10071 supports enabling S3 Object Lock on existing buckets
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#10046 improve + test thread safety for metric access
  localstack/services/cloudwatch/cloudwatch_database_helper.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
  tests/aws/services/cloudwatch/test_cloudwatch_performance.py
Labels: semver: patch

#10089 Add describe_alarms_for_metric and describe_alarm_history
  localstack/services/cloudwatch/alarm_scheduler.py
  localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: patch

#10070 add support for ObjectLock for CFN S3 Bucket
  localstack/services/s3/resource_providers/aws_s3_bucket.py
  tests/aws/services/cloudformation/resources/test_s3.py
  tests/aws/services/cloudformation/resources/test_s3.snapshot.json
  tests/aws/services/cloudformation/resources/test_s3.validation.json
  tests/aws/services/s3/test_s3.py
  tests/aws/templates/s3_object_lock_config.yaml
Labels: aws:cloudformation, aws:s3, semver: patch

#10099 fix S3 v-host unit tests after rolo migration
  tests/unit/services/s3/test_virtual_host.py
Labels: area: asf, semver: patch

#10049 use request parameter resolvers
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#10105 Pin cryptography package to below 42.0.0
  setup.cfg
Labels: semver: patch

#10108 correctly execute host and container configuration hooks in dev.run
  localstack/dev/run/__main__.py
Labels: semver: patch

#10111 Dev mode: return correctly from raw mode
  localstack/dev/run/__main__.py
Labels: semver: patch

#9929 Fix prebuilding for lambda functions
  localstack/services/lambda_/hooks.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/services/lambda_/invocation/runtime_executor.py
Labels: semver: patch

#10121 Update README with 3.1.0 version
  README.md
Labels: semver: patch

#10129 upgrade rolo to 0.3.x
  setup.cfg
Labels: semver: patch

#10131 [SFN] Support for ReverseOrder in GetExecutionHistory Requests
  localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
Labels: semver: patch

#10112 Bump moto-ext to 5.0.0.post1
  localstack/services/iam/provider.py
  localstack/services/infra.py
  localstack/services/moto.py
  localstack/state/inspect.py
  localstack/utils/aws/request_context.py
  setup.cfg
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/unit/state/test_inspect.py
Labels: semver: minor

#10064 add script to track validations instead of snapshots
  scripts/gather_outdated_snapshots.py
Labels: semver: patch

#10135 add dynamic SQS endpoint strategy to build SQS queues from called host
  localstack/services/sqs/models.py
Labels: semver: patch

#10133 Rework internal lambda routes to avoid router modifications for every spawned environment
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/executor_endpoint.py
Labels: semver: patch

#10142 Enhance implementation of is_comma_delimited_list to fix --services in pods CLI
  localstack/utils/collections.py
  tests/unit/utils/test_collections.py
Labels: semver: patch

#10125 add tests for fix to SNS empty filter policy
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#10100 Add AWS::EC2::KeyPair
  localstack/services/cloudformation/resource_provider.py
  localstack/services/ec2/resource_providers/aws_ec2_instance.py
  localstack/services/ec2/resource_providers/aws_ec2_keypair.py
  localstack/services/ec2/resource_providers/aws_ec2_keypair.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_keypair_plugin.py
  tests/aws/services/cloudformation/resource_providers/ec2/__init__.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.validation.json
  tests/aws/templates/ec2_keypair.yml
Labels: aws:cloudformation, semver: minor

#10148 hot fix for ec2 key pair deployment test
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.py
Labels: semver: patch

#10149 CFn: improve error message for invalid ref
  localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/engine/test_references.py
Labels: semver: patch

#10143 Enhance parity for DynamoDB to Kinesis stream integration
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/utils.py
  localstack/utils/aws/queries.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.snapshot.json
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.validation.json
  tests/aws/services/kinesis/test_kinesis.py
Labels: semver: patch
