Repository localstack/localstack, pull requests merged in 2024-12, with the labels that each got.

#11974 fix postgres install in pro test pipeline
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#11975 upgrade outdated github action in ASF update workflow
  .github/workflows/asf-updates.yml
Labels: semver: patch

#11623 Reject events larger than the max size allowed
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: semver: patch

#11981 Events: EventRuleEngine: improve `cidr` to support ipv6 and better validation
  localstack-core/localstack/services/events/event_rule_engine.py
  tests/aws/services/events/event_pattern_templates/content_ip_address_bad_ip_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_bad_mask_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_type_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_v6.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_v6_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_ip_address_v6_bad_ip_EXC.json5
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
Labels: aws:events, semver: patch

#11984 fix SNS test with region replacement
  tests/aws/services/sns/test_sns_filter_policy.py
  tests/aws/services/sns/test_sns_filter_policy.snapshot.json
  tests/aws/services/sns/test_sns_filter_policy.validation.json
Labels: aws:sns, semver: patch

#11985 Remove legacy event filtering implementation
  localstack-core/localstack/services/events/v1/utils.py
  localstack-core/localstack/services/lambda_/event_source_listeners/utils.py
Labels: semver: patch

#11811 fix transformation for matching operations in aws::events::rule
  localstack-core/localstack/services/events/resource_providers/aws_events_rule.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_events.snapshot.json
  tests/aws/services/cloudformation/resources/test_events.validation.json
  tests/aws/templates/events_rule_pattern.yml
Labels: semver: patch

#11977 [ESM] Handle Lambda TCP socket connection timeouts
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
Labels: semver: patch, aws:lambda:event-source-mapping

#11976 Add test for EventBridge Scheduler TagResource API and UntagResource API
  tests/aws/services/scheduler/conftest.py
  tests/aws/services/scheduler/test_scheduler.py
  tests/aws/services/scheduler/test_scheduler.snapshot.json
  tests/aws/services/scheduler/test_scheduler.validation.json
Labels: semver: minor, aws:scheduler

#11989 [ESM] Raise exception when setting DestinationConfig.OnSuccess
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch, aws:lambda:event-source-mapping

#11971 added sql plugin validated test
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/opensearch/test_opensearch.snapshot.json
  tests/aws/services/opensearch/test_opensearch.validation.json
Labels: aws:opensearch, semver: patch

#11968 apigw clean up the invalid json parser
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/mock.py
  tests/unit/services/apigateway/test_mock_integration.py
Labels: aws:apigateway, semver: patch

#11990 [EventsBridge] Add validation for malformed Detail value
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: patch

#11991 [SFN] Correctly record failed EventsBridge PUT requests
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_events_task_service.validation.json
Labels: aws:stepfunctions, semver: patch

#11407 Feature/Eventbridge v2: Support extending available targets
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_archive_and_replay.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/ssm/test_ssm.py
Labels: aws:events, semver: minor

#11995 fix StringSplit regex escape
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/string_operations/string_split.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.py
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.snapshot.json
  tests/aws/services/stepfunctions/v2/intrinsic_functions/test_string_operations.validation.json
Labels: aws:stepfunctions, semver: patch

#11993 make SNS `SigningCertURL` configurable even if not resolvable
  localstack-core/localstack/config.py
  localstack-core/localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
Labels: aws:sns, semver: patch

#11994 Events: fix `numeric` operator string handling and provider validation for TestEventPattern
  localstack-core/localstack/services/events/event_rule_engine.py
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/event_pattern_templates/numeric-int-float.json5
  tests/aws/services/events/event_pattern_templates/numeric-null_NEG.json5
  tests/aws/services/events/event_pattern_templates/numeric-string_NEG.json5
  tests/aws/services/events/event_pattern_templates/or-numeric-anything-but.json5
  tests/aws/services/events/event_pattern_templates/or-numeric-anything-but_NEG.json5
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
Labels: aws:events, semver: patch

#12006 Allow usage of additional runtimes with the Lambda SnapStart feature enabled
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#12009 Clarify usage counter descriptions
  localstack-core/localstack/services/events/usage.py
  localstack-core/localstack/services/lambda_/usage.py
Labels: semver: patch

#11828 Cloudwatch: add basic composite alarm support
  localstack-core/localstack/services/cloudwatch/models.py
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: aws:cloudwatch, semver: minor

#11988 enable localstack instance creation override for testing
  docs/testing/integration-tests/README.md
  localstack-core/localstack/testing/pytest/in_memory_localstack.py
Labels: semver: patch, area: replicator

#12003 Bump moto-ext to 5.0.22.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-typehint.txt
Labels: semver: minor

#12020 fix APIGW test with hardcoded region
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: aws:apigateway, semver: patch

#12005 upgrade cryptography and amazon-kclpy
  localstack-core/localstack/utils/kinesis/kclipy_helper.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/test_integration.py
Labels: semver: patch

#12018 [ESM] Validate filter criteria and unskip tests
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_config_factory.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/utils/event_matcher.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch, aws:lambda:event-source-mapping

#12017 Replicator implement cfn read for supported resources
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_subnet.py
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_vpc.py
  localstack-core/localstack/services/kms/resource_providers/aws_kms_key.py
  localstack-core/localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.py
  localstack-core/localstack/services/secretsmanager/resource_providers/aws_secretsmanager_secret.schema.json
Labels: aws:cloudformation, semver: minor

#12021 fix APIGW transformers to not do value replacement on port
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch

#12023 APIGW: ParameterMapping skip if invalid input
  localstack-core/localstack/services/apigateway/next_gen/execute_api/parameters_mapping.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: aws:apigateway, semver: patch

#12027 apigw fix openapi request parameters
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/files/openapi-basepath-url.yaml
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: aws:apigateway, semver: patch

#12029 add silv-io as default reviewer for upgrade PRs
  .github/dependabot.yml
  .github/workflows/asf-updates.yml
Labels: semver: patch

#12032 fix `echo_http_server_post` returning double slash path
  localstack-core/localstack/testing/pytest/fixtures.py
Labels: aws:apigateway, semver: patch

#12033 StepFunctions: Fix Evaluation of Nested Map Runs
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/job.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_nested_config_distributed.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#12035 StepFunctions: Fix Boto Request Encoding
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: semver: minor

#12036 [ESM] Handle DynamoDB-local Invalid ShardID exception
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: type: bug, aws:dynamodbstreams, semver: patch

#11992 Unskip fixed event filtering tests
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
Labels: semver: patch

#12012 Unskip supported Lambda and ESM tests
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
Labels: semver: patch

#11999 Refactor/events: Custom api destination and connection tests
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_api_destinations_and_connection.py
  tests/aws/services/events/test_api_destinations_and_connection.snapshot.json
  tests/aws/services/events/test_api_destinations_and_connection.validation.json
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_targets.py
Labels: aws:events, semver: minor

#11938 Bug fix: Dynamodb update_table missing table entries in output
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/v2/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: semver: patch

#12047 DynamoDB: Fix empty replicas list in response
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/v2/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: semver: patch

#12044 CloudFormation, Fix Retrieval of State Machine Definitions On Stack Update
  localstack-core/localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.snapshot.json
  tests/aws/services/cloudformation/resources/test_stepfunctions.validation.json
  tests/aws/templates/statemachine_machine_default_s3_location.yml
Labels: semver: minor

#12028 StepFunctions: Migration to String Expressions
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/assign/assign_template_binding.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/assign/assign_template_value_terminal.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/jsonata/jsonata_template_value_terminal.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/parargs.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/input_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/items_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/output_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_intrinsic_func.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path_context_obj.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_value.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_var.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadvaluelit/payload_value_variable_sample.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/string/__init__.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/string/string_expression.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/heartbeat.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/timeout.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/variable_sample.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_var.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/comparison_func.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/comparison/variable.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/max_items_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/reader_config_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/items/items.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/max_concurrency.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/tolerated_failure.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/credentials.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/cause_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_fail/error_decl.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/seconds.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/seconds_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp_path.py
  localstack-core/localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  localstack-core/localstack/services/stepfunctions/asl/parse/test_state/preprocessor.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/express_static_analyser.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/test_state/test_state_analyser.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/usage_metrics_static_analyser.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/variable_references_static_analyser.py
Labels: semver: minor

#12051 bump minimum version of cbor
  pyproject.toml
Labels: semver: patch

#11897 feat(cloudformation): Add partial `NoEcho` parameter support
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/services/cloudformation/engine/parameters.py
  localstack-core/localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
  tests/aws/templates/cfn_no_echo.yml
  tests/aws/templates/valid_template.json
Labels: aws:cloudformation, semver: patch

#12052 add replicator to Advanced section
  localstack-core/localstack/cli/localstack.py
Labels: semver: minor, area: replicator

#12034 add read/list methods for ec2 security-groups resource provider
  localstack-core/localstack/services/ec2/patches.py
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
Labels: semver: minor

#12059 fix client factory for bypassing DNS server
  localstack-core/localstack/aws/connect.py
Labels: semver: patch

#12060 Cfn support layer version read list
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_layerversion.py
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_layerversion.schema.json
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/templates/lambda_layer_version.yml
Labels: aws:cloudformation, aws:lambda, semver: minor

#11717 fix(11576): fixing bug in standardqueue put message
  localstack-core/localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, semver: patch

#12053 Improve type safety of `container_exists`
  tests/cli/test_cli.py
Labels: semver: patch

#12055 Fix MacOS -> macOS
  README.md
  docs/development-environment-setup/README.md
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/utils/bootstrap.py
  localstack-core/localstack/utils/container_networking.py
  localstack-core/localstack/utils/run.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/utils/analytics/test_metadata.py
Labels: semver: patch

#12026 Fix swagger endpoint from ephemeral instance
  localstack-core/localstack/http/resources/swagger/endpoints.py
Labels: semver: patch
