Repository localstack/localstack, pull requests merged in 2024-02, with the labels that each got.

#9149 Fix scenario tests failing with non-default region
  tests/aws/cdk_templates/Bookstore/BookstoreStack.json
  tests/aws/scenario/bookstore/functions/getBook.js
  tests/aws/scenario/bookstore/functions/listBooks.js
  tests/aws/scenario/bookstore/functions/loadBooksHelper.js
  tests/aws/scenario/bookstore/functions/search.py
  tests/aws/scenario/bookstore/functions/update_search_cluster.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/bookstore/test_bookstore.validation.json
Labels: semver: patch

#10158 fix Kinesis rejection of log level
  localstack/services/kinesis/kinesis_mock_server.py
Labels: aws:kinesis, semver: patch

#9945 cloudwatch: fix functionality of metrics for multi-accounts and region
  localstack/services/lambda_/invocation/metrics.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/utils/cloudwatch/cloudwatch_util.py
Labels: aws:cloudwatch, semver: patch

#10165 [SFN] SNS Optimised Integration: Automatic Stringification of Message Arguments
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  tests/aws/services/stepfunctions/templates/callbacks/callback_templates.py
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sns_publish_wait_for_task_token.json5
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/aws/services/stepfunctions/v2/callback/test_callback.validation.json
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.validation.json
Labels: semver: patch

#10172 fix dynamodb router rule removal
  localstack/services/dynamodb/provider.py
Labels: semver: patch

#10152 Fix bootstrap tests failing in non-default region
  tests/bootstrap/cdk_templates/LocalStackHostBootstrap/ClusterStack.json
  tests/bootstrap/test_cosmetic_configuration.py
Labels: semver: patch

#10180 skip flaky dynamodb streams test
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.py
Labels: semver: patch

#10157 DynamoDB: Fix startup in non-default account ID/region
  localstack/services/dynamodb/server.py
Labels: semver: patch

#10170 fix custom status code for lambda URLs
  localstack/services/lambda_/urlrouter.py
  tests/aws/services/lambda_/functions/lambda_echo_json_body.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#10127 Introduce dependency pinning
  .circleci/config.yml
  .github/workflows/asf-updates.yml
  .github/workflows/marker-report.yml
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.s3
  Makefile
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
Labels: area: dependencies, semver: patch

#10163 Update lambda init binary
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/packages.py
Labels: semver: patch

#10186 fix disk space issues in GitHub workflow
  tests/aws/services/opensearch/test_opensearch.py
Labels: semver: patch

#10155 Fix: Firehose: Multiple firehose delivery streams not receiving messages from kinesis event stream
  localstack/services/firehose/provider.py
  localstack/testing/pytest/fixtures.py
  tests/aws/services/firehose/conftest.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/firehose/test_firehose.snapshot.json
  tests/aws/services/firehose/test_firehose.validation.json
Labels: aws:firehose, aws:kinesis, semver: minor

#10188 Fix/multi account kinesis
  localstack/utils/kinesis/kinesis_connector.py
  tests/aws/services/kinesis/test_kinesis.py
Labels: aws:kinesis, area: multi-account, semver: patch

#10130 [SFN]: Support for CausePath and ErrorPath
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/common/cause_decl.py
  localstack/services/stepfunctions/asl/component/common/error_decl.py
  localstack/services/stepfunctions/asl/component/state/state_fail/cause_decl.py
  localstack/services/stepfunctions/asl/component/state/state_fail/cause_path.py
  localstack/services/stepfunctions/asl/component/state/state_fail/error_decl.py
  localstack/services/stepfunctions/asl/component/state/state_fail/error_path.py
  localstack/services/stepfunctions/asl/component/state/state_fail/state_fail.py
  localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/raise_failure_path.json5
  tests/aws/services/stepfunctions/templates/base/statemachines/raise_failure_path_intrinsic.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
Labels: semver: patch

#10176 add APIGW RequestParametersResolver support for context var
  localstack/services/apigateway/helpers.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.validation.json
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#10195 remove pins in setup.cfg, add .python-version
  .gitignore
  .python-version
  Makefile
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.validation.json
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.validation.json
Labels: semver: minor

#10206 APIGW: add more debug log when lambda proxy response format is wrong
  localstack/services/apigateway/integration.py
Labels: aws:apigateway, semver: patch

#10166 Feature: Lambda: Add aws validated test for two lambdas subscribing to same kinensis event stream
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_kinesis.validation.json
Labels: aws:lambda, aws:kinesis, semver: patch

#10159 Feature: Events: Add input transformers
  localstack/services/events/provider.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: type: feature, aws:eventbridge, semver: minor

#10161 Stop DNS server on shutdown
  localstack/dns/plugins.py
Labels: semver: patch

#10211 [SFN] Enhanced Support for Comments Declarations
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/component/common/catch/catcher_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/retrier_decl.py
  localstack/services/stepfunctions/asl/component/state/state_choice/choice_rule.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/comment/__init__.py
  tests/aws/services/stepfunctions/templates/comment/comment_templates.py
  tests/aws/services/stepfunctions/templates/comment/statemachines/comment_in_parameters.json5
  tests/aws/services/stepfunctions/templates/comment/statemachines/comments_as_per_docs.json5
  tests/aws/services/stepfunctions/v2/comments/__init__.py
  tests/aws/services/stepfunctions/v2/comments/test_comments.py
  tests/aws/services/stepfunctions/v2/comments/test_comments.snapshot.json
  tests/aws/services/stepfunctions/v2/comments/test_comments.validation.json
Labels: semver: patch

#10219 add automated Python requirements update
  .github/workflows/upgrade-python-dependencies.yml
Labels: semver: patch

#10058 Refactor: Kinesis: Clean-up test fixtures
  tests/aws/services/kinesis/conftest.py
  tests/aws/services/kinesis/test_kinesis.py
Labels: aws:kinesis, semver: minor

#10202 fixed multi account support for logs
  localstack/services/logs/provider.py
Labels: aws:logs, area: multi-account, semver: patch

#10221 Restore DNS settings in container after dns server shuts down
  localstack/dns/plugins.py
  localstack/dns/server.py
Labels: semver: patch

#9776 enable Fn::Transform to use CFn macros
  localstack/services/cloudformation/engine/template_preparer.py
  localstack/services/cloudformation/engine/transformers.py
  localstack/services/cloudformation/provider.py
  localstack/utils/objects.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/templates/macros/return_random_string.py
  tests/aws/templates/transformation_resource_att.yml
Labels: semver: minor

#9935 add opensearch 2.11
  localstack/constants.py
  localstack/services/opensearch/versions.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/bookstore/test_bookstore.snapshot.json
  tests/aws/scenario/bookstore/test_bookstore.validation.json
  tests/aws/services/es/test_es.py
  tests/aws/services/opensearch/test_opensearch.py
Labels: semver: minor

#10224 Add pipes service principal
  localstack/utils/aws/client_types.py
Labels: semver: patch

#10210 Simplify Lambda payload parsing
  localstack/services/firehose/provider.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/testing/aws/lambda_utils.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_sam.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
  tests/aws/services/lambda_/test_lambda_integration_xray.py
  tests/aws/services/lambda_/test_lambda_runtimes.py
  tests/aws/services/s3/test_s3.py
Labels: semver: patch

#10212 Change AWS_EXECUTION_ENV set in the lambda init binary
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/execution_environment.py
  tests/aws/services/lambda_/functions/lambda_process_inspection.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: minor

#10227 Fix Lambda function alias name checks
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
  tests/unit/services/lambda_/test_api_utils.py
Labels: semver: patch

#10194 fine-tune workflow triggers
  .github/workflows/tests-cli.yml
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10223 Sqs fix message groups visibility
  localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10209 Fix lambda perftests for number of functions and versions
  tests/aws/services/lambda_/functions/lambda_s3_integration.py
  tests/aws/services/lambda_/test_lambda_performance.py
  tests/aws/services/lambda_/test_lambda_performance.validation.json
Labels: semver: patch

#10229 Add Lambda tests for large response handling
  localstack/config.py
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/packages.py
  tests/aws/services/lambda_/functions/lambda_response_size.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#10230 Handler chain must not use test variables
  localstack/aws/handlers/auth.py
  localstack/aws/proxy.py
  localstack/services/cloudwatch/provider.py
  localstack/services/iam/provider.py
  localstack/services/sqs/query_api.py
  localstack/testing/aws/util.py
  localstack/utils/aws/aws_stack.py
  localstack/utils/aws/request_context.py
  tests/unit/aws/test_connect.py
Labels: semver: patch

#10238 Implement dynamodb TimeToLive in cloudformation
  localstack/services/dynamodb/resource_providers/aws_dynamodb_table.py
  tests/aws/cdk_templates/DDBTableTTL/DDBStackTTL.json
  tests/aws/services/cloudformation/resources/test_dynamodb.py
  tests/aws/services/cloudformation/resources/test_dynamodb.snapshot.json
  tests/aws/services/cloudformation/resources/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#10245 Add CFn provider util to convert into lower camel case
  localstack/services/cloudformation/provider_utils.py
Labels: semver: patch

#10249 Fix override of legacy resource providers over new community ones for certain resources
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#10240 Lambda: Fix test_cross_account_access flakes
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#10244 fix S3 image rate limiting with docker login
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10250 Add support for composite physical resource ID quirks
  localstack/services/cloudformation/engine/quirks.py
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#10241 enhance download progress logging
  localstack/utils/http.py
  tests/unit/utils/test_http_utils.py
Labels: semver: patch

#9796 Update boto3 stubs and types for our client factory
  localstack/utils/aws/client_types.py
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
Labels: semver: patch

#10207 Use fixtures for test credentials and region name
  localstack/testing/aws/util.py
  localstack/testing/pytest/fixtures.py
  tests/aws/conftest.py
  tests/aws/services/acm/test_acm.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_eventbridge.py
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/cloudformation/resources/test_stack_sets.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/events/test_events.py
  tests/aws/services/firehose/test_firehose.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/logs/test_logs.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/resource_groups/test_resource_groups.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_sns.py
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/aws/services/s3control/test_s3control.py
  tests/aws/services/ses/test_ses.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs_backdoor.py
  tests/aws/services/sqs/test_sqs_move_task.py
  tests/aws/services/stepfunctions/legacy/test_stepfunctions_legacy.py
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/services/test_apigetway_task_service.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/services/sts/test_sts.py
  tests/aws/test_integration.py
  tests/aws/test_multiregion.py
  tests/aws/test_serverless.py
  tests/aws/test_terraform.py
  tests/bootstrap/test_cosmetic_configuration.py
  tests/conftest.py
Labels: semver: patch

#9784 events: add account_id while creating client in sending events to target
  localstack/services/lambda_/event_source_listeners/stream_event_source_listener.py
  localstack/utils/aws/message_forwarding.py
Labels: semver: patch

#10124 CFn: enable AWS::ECS::Service PhysicalResourceId quirk
  localstack/services/cloudformation/engine/quirks.py
Labels: semver: patch

#10255 CFn: improve error reporting
  localstack/services/cloudformation/engine/entities.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/testing/pytest/fixtures.py
Labels: aws:cloudformation, semver: minor

#10246 Fix Lambda handler update for UpdateFunctionConfiguration
  localstack/services/lambda_/invocation/assignment.py
  localstack/services/lambda_/invocation/execution_environment.py
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/functions/lambda_multiple_handlers.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#10263 Fix architecture update for Lambda function
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: aws:lambda, semver: patch

#10261 SNS: Fix test assertions to query to correct account and region
  tests/aws/services/sns/test_sns.py
Labels: aws:sns, area: multi-account, semver: patch

#9942 [SFN] Support for JsonPath Regexes
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicParser.g4
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserVisitor.py
  localstack/services/stepfunctions/asl/component/intrinsic/functionname/state_fuinction_name_types.py
  localstack/services/stepfunctions/asl/component/intrinsic/functionname/state_function_name_types.py
  localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  localstack/services/stepfunctions/asl/utils/json_path.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/pass_result_regex_json_path.json5
  tests/aws/services/stepfunctions/templates/base/statemachines/pass_result_regex_json_path_base.json5
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
Labels: semver: patch

#10265 update S3 pre-signed credentials logic
  localstack/services/s3/constants.py
  localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: minor

#10174 [SFN] Enhance Automatic Serialisation of AWS-SDK Task Parameters
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_sfn_start_execution_implicit_json_serialisation.json5
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: semver: patch

#10274 Sqs fifo same dedup different message groups
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10278 Add trailing newline for linter compliance
  localstack/testing/pytest/validation_tracking.py
  localstack/testing/scenario/provisioning.py
Labels: semver: patch

#10234 Reduce requests necessary for lambda log publishing to cloudwatch logs
  localstack/services/lambda_/invocation/logs.py
Labels: semver: patch

#10286 Bump moto-ext to 5.0.2.post1
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
Labels: semver: patch

#10293 fix pro auth token check
  bin/docker-entrypoint.sh
Labels: semver: patch

#10294 Revert "Reduce requests necessary for lambda log publishing to cloudwatch logs"
  localstack/services/lambda_/invocation/logs.py
Labels: semver: patch

#10283 Save session tags when assuming a role
  localstack/services/sts/models.py
  localstack/services/sts/provider.py
  localstack/testing/pytest/fixtures.py
Labels: semver: patch

#10273 Fix issues in CFn resources and filter notfound exceptions for delete operations
  localstack/services/apigateway/resource_providers/aws_apigateway_deployment.py
  localstack/services/apigateway/resource_providers/aws_apigateway_method.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/lambda_/resource_providers/aws_lambda_function.py
  localstack/services/lambda_/resource_providers/aws_lambda_permission.py
  localstack/services/s3/resource_providers/aws_s3_bucketpolicy.py
  tests/aws/services/cloudformation/resources/handlers/handler1/api.zip
  tests/aws/services/cloudformation/resources/handlers/handler2/api.zip
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/serverless-apigw-lambda.create.json
  tests/aws/templates/serverless-apigw-lambda.update.json
  tests/aws/templates/serverless-apigw-lambda.update2.json
Labels: semver: patch

#10298 Change schedule for dependency pin upgrade
  .github/workflows/upgrade-python-dependencies.yml
Labels: semver: patch

#10297 Add support for CFn dot attributes that conflict with schema
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#9905 Add custom physical resource ID for AWS::RDS::DBProxyTargetGroup
  localstack/services/cloudformation/engine/quirks.py
Labels: semver: patch

#10267 [SFN] Support for Retriers Interval Modifiers
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/common/retry/backoff_rate_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/interval_seconds_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/jitter_strategy_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/max_attempts_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/max_delay_seconds_decl.py
  localstack/services/stepfunctions/asl/component/common/retry/retrier_decl.py
  localstack/services/stepfunctions/asl/component/eval_component.py
  localstack/services/stepfunctions/asl/component/program/program.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/retry_interval_features.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/retry_interval_features_jitter_none.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10282 Add tracking of entire workflow scopes to Tinybird
  .circleci/config.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10272 Remove implicit credentials for Boto to fall back on
  localstack/config.py
  localstack/constants.py
  localstack/runtime/init.py
  localstack/services/infra.py
  tests/aws/test_terraform.py
Labels: semver: patch

#10306 Allow extension hooks to modify non-Boto env vars
  localstack/runtime/init.py
Labels: semver: patch

#10288 HTTP IntegrationSubtype support for Kinesis-PutRecord
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
Labels: semver: minor

#10140 add support to websockets and sns backend
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/integration.py
  localstack/services/apigateway/invocations.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
Labels: semver: minor

#10312 update validation of Lambda AWS Proxy format
  localstack/services/apigateway/integration.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
  tests/aws/services/lambda_/functions/lambda_aws_proxy_format.py
  tests/aws/services/lambda_/test_lambda.py
Labels: aws:apigateway, semver: patch

#10314 fix pre-signed POST when file is passed as regular form field
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10171 add option to serve gateway through werkzeug
  localstack/aws/serving/edge.py
  localstack/aws/serving/werkzeug.py
  localstack/config.py
Labels: semver: minor

#10320 Add fallback for deletes in updates and fix update for AWS::Lambda::Permission
  localstack/services/cloudformation/resource_provider.py
  localstack/services/lambda_/resource_providers/aws_lambda_permission.py
Labels: semver: patch

#10334 Bump pinned postgres version in CI to 14.11
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#10303 Validate import_certificate test
  tests/aws/services/acm/test_acm.py
  tests/aws/services/acm/test_acm.snapshot.json
  tests/aws/services/acm/test_acm.validation.json
Labels: semver: patch

#10243 Feature: Scenario Tests: Firehose central scenario test
  tests/aws/cdk_templates/FirehoseScenario/FirehoseStack.json
  tests/aws/scenario/kinesis_firehose/__init__.py
  tests/aws/scenario/kinesis_firehose/conftest.py
  tests/aws/scenario/kinesis_firehose/test_kinesis_firehose.py
  tests/aws/scenario/kinesis_firehose/test_kinesis_firehose.snapshot.json
  tests/aws/scenario/kinesis_firehose/test_kinesis_firehose.validation.json
Labels: aws:s3, aws:firehose, aws:kinesis, semver: minor

#10335 Fix delete issues in resource providers for "AWS::ApiGateway::UsagePlanKey" and "AWS::Kinesis::StreamConsumer"
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplankey.py
  localstack/services/kinesis/resource_providers/aws_kinesis_streamconsumer.py
Labels: semver: patch

#10337 Make keys_pascalcase_to_lower_camelcase recursive
  localstack/services/cloudformation/provider_utils.py
Labels: semver: patch

#10317 fix API Gateway route matching order
  localstack/services/apigateway/helpers.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.validation.json
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#10324 Add SQS high-throughput deduplication behaviour
  localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10341 Fix attributes, create and delete for AWS::Redshift::Cluster
  localstack/services/redshift/resource_providers/aws_redshift_cluster.py
  tests/aws/services/cloudformation/resources/test_redshift.py
  tests/aws/services/cloudformation/resources/test_redshift.validation.json
  tests/aws/templates/cfn_redshift.yaml
Labels: semver: patch

#10346 Fix CircleCI workflow tracking
  .circleci/config.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10228 Update readme for v3.2.0 release
  README.md
Labels: semver: patch

#10326 add support for Array type in resource provider Scaffolding
  localstack/services/cloudformation/scaffolding/propgen.py
Labels: semver: patch

#10355 Fix UserData regression from provider migration in AWS::EC2::Instance
  localstack/services/ec2/resource_providers/aws_ec2_instance.py
Labels: semver: patch

#10352 Added update for "AWS::EC2::Instance" CFn Resource Provider
  localstack/services/ec2/resource_providers/aws_ec2_instance.py
Labels: semver: patch
