Repository localstack/localstack, pull requests merged in 2024-03, with the labels that each got.

#10361 add timestream to the list of composite apis
  localstack/utils/bootstrap.py
Labels: semver: patch

#10363 Update kinesis-mock to 0.4.6
  localstack/services/kinesis/packages.py
Labels: semver: patch

#10366 fix workflow execution for PRs coming from forks
  .github/workflows/tests-pro-integration.yml
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10321 [SFN] Base Support for ECS Optimised Service Integration
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_ecs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_factory.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  tests/aws/cdk_templates/StepFunctionsEcsTask/StepFunctionsEcsTaskStack.json
  tests/aws/services/stepfunctions/conftest.py
  tests/aws/services/stepfunctions/v2/services/test_ecs_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_ecs_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_ecs_task_service.validation.json
Labels: semver: patch

#10359 Added CFn Resource Provider for AWS::SNS::Subscription and AWS::SNS::TopicPolicy
  localstack/services/sns/resource_providers/aws_sns_subscription.py
  localstack/services/sns/resource_providers/aws_sns_subscription.schema.json
  localstack/services/sns/resource_providers/aws_sns_subscription_plugin.py
  localstack/services/sns/resource_providers/aws_sns_topicpolicy.py
  localstack/services/sns/resource_providers/aws_sns_topicpolicy.schema.json
  localstack/services/sns/resource_providers/aws_sns_topicpolicy_plugin.py
Labels: semver: patch

#10368 Add remaining migrations that we missed in the initial check
  localstack/services/cloudformation/resource_providers/aws_cloudformation_macro.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_macro.schema.json
  localstack/services/cloudformation/resource_providers/aws_cloudformation_macro_plugin.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitcondition.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitcondition.schema.json
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitcondition_plugin.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitconditionhandle.py
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitconditionhandle.schema.json
  localstack/services/cloudformation/resource_providers/aws_cloudformation_waitconditionhandle_plugin.py
  localstack/services/opensearch/resource_providers/aws_elasticsearch_domain.py
  localstack/services/opensearch/resource_providers/aws_elasticsearch_domain.schema.json
  localstack/services/opensearch/resource_providers/aws_elasticsearch_domain_plugin.py
  localstack/services/resource_groups/resource_providers/__init__.py
  localstack/services/resource_groups/resource_providers/aws_resourcegroups_group.py
  localstack/services/resource_groups/resource_providers/aws_resourcegroups_group.schema.json
  localstack/services/resource_groups/resource_providers/aws_resourcegroups_group_plugin.py
Labels: semver: patch

#10371 Improve delete reliability for kinesis streams
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/services/kinesis/resource_providers/aws_kinesis_stream.py
Labels: semver: patch

#9813 Fix parsing of StepFunction timestamps
  localstack/services/stepfunctions/asl/component/common/error_name/failure_event.py
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path.py
  localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_output_transformer/resource_output_transformer_csv.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_output_transformer/resource_output_transformer_json.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_worker.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_parallel/branches_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_dynamodb.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/asl/component/state/state_fail/state_fail.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp.py
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp_path.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/wait_timestamppath.json5
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/base/test_wait.py
  tests/aws/services/stepfunctions/v2/base/test_wait.snapshot.json
Labels: semver: patch

#10384 add rolo to dev script
  localstack/dev/run/configurators.py
  localstack/dev/run/paths.py
Labels: area: configuration, semver: patch

#10389 Bump moto-ext to 5.0.2.post2
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
Labels: semver: patch

#10353 Disable legacy CFn model execution
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
Labels: semver: patch

#10399 Enhance parity for API Gateway deletion of wildcard method settings
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
Labels: semver: patch

#10387 refactor s3 storage to use context manager to avoid race condition
  localstack/services/s3/v3/models.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/services/s3/test_s3_concurrency.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: patch

#10304 Remove legacy CFn models
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/models/__init__.py
  localstack/services/cloudformation/models/apigateway.py
  localstack/services/cloudformation/models/cdk.py
  localstack/services/cloudformation/models/certificatemanager.py
  localstack/services/cloudformation/models/cloudformation.py
  localstack/services/cloudformation/models/cloudwatch.py
  localstack/services/cloudformation/models/dynamodb.py
  localstack/services/cloudformation/models/ec2.py
  localstack/services/cloudformation/models/ecr.py
  localstack/services/cloudformation/models/es.py
  localstack/services/cloudformation/models/events.py
  localstack/services/cloudformation/models/iam.py
  localstack/services/cloudformation/models/kinesis.py
  localstack/services/cloudformation/models/kinesisfirehose.py
  localstack/services/cloudformation/models/kms.py
  localstack/services/cloudformation/models/lambda_.py
  localstack/services/cloudformation/models/logs.py
  localstack/services/cloudformation/models/opensearch.py
  localstack/services/cloudformation/models/redshift.py
  localstack/services/cloudformation/models/resourcegroups.py
  localstack/services/cloudformation/models/route53.py
  localstack/services/cloudformation/models/s3.py
  localstack/services/cloudformation/models/secretsmanager.py
  localstack/services/cloudformation/models/sns.py
  localstack/services/cloudformation/models/sqs.py
  localstack/services/cloudformation/models/ssm.py
  localstack/services/cloudformation/models/stepfunctions.py
  localstack/services/ec2/resource_providers/aws_ec2_vpc.py
Labels: semver: minor

#10402 Remove unused CFN_RESOURCE_PROVIDER_OVERRIDES option
  localstack/config.py
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/cloudformation/scaffolding/templates/conftest.py.j2
  tests/aws/services/cloudformation/resource_providers/iam/aws_iam_user/conftest.py
  tests/aws/services/cloudformation/resource_providers/opensearch/conftest.py
  tests/aws/services/cloudformation/resource_providers/ssm/conftest.py
Labels: semver: patch

#10365 Adding support for partial wildcards for S3 CORS
  localstack/services/s3/cors.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/s3/test_s3_cors.snapshot.json
  tests/aws/services/s3/test_s3_cors.validation.json
Labels: aws:s3, semver: patch

#10404 fix functhread daemon status and tmp_thread cleanup
  localstack/utils/threads.py
Labels: semver: minor

#10394 add docstring for cw test and assertion
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: aws:cloudwatch, semver: patch

#10415 fix DDB performance when Streams are enabled
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/utils.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
Labels: area: performance, aws:dynamodb, semver: patch

#10417 update s3 lambdas to node20
  tests/aws/services/lambda_/functions/lambda_s3_integration.mjs
  tests/aws/services/lambda_/functions/lambda_s3_integration_presign.mjs
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, aws:lambda, semver: patch

#10395 fix S3 GLACIER_IR not being an archive type
  localstack/services/s3/constants.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10424 remove contrib package
  localstack/contrib/__init__.py
Labels: semver: minor

#10427 [SFN] Reduce Flakiness of Timeout and Heartbeat Tests
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_wait_for_task_token_with_timeout.json5
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_timeout.json5
  tests/aws/services/stepfunctions/templates/timeouts/statemachines/lambda_wait_with_timeout_seconds.json5
  tests/aws/services/stepfunctions/templates/timeouts/statemachines/service_lambda_map_function_invoke_with_timeout_seconds.json5
  tests/aws/services/stepfunctions/templates/timeouts/statemachines/service_lambda_wait_with_timeout_seconds.json5
  tests/aws/services/stepfunctions/templates/timeouts/statemachines/service_sqs_send_and_wait_for_task_token_with_heartbeat.json5
  tests/aws/services/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/aws/services/stepfunctions/v2/callback/test_callback.validation.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_task_service_lambda.validation.json
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.py
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.snapshot.json
  tests/aws/services/stepfunctions/v2/timeouts/test_heartbeats.validation.json
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.snapshot.json
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.validation.json
Labels: semver: patch

#10421 [SFN] Enhancements to api actions validations: InvalidArn, StateMachineDoesNotExist, ExecutionDoesNotExist
  localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.validation.json
Labels: semver: patch

#10430 fix SNS Publish exception when using empty topic
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#10408 add fix for cfn-response code for nodejs custome resource
  localstack/services/lambda_/resource_providers/aws_lambda_function.py
Labels: semver: patch

#10432 Move to only using `pyproject.toml`
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.s3
  Makefile
  bin/release-helper.sh
  localstack/aws/api/acm/__init__.py
  localstack/aws/api/apigateway/__init__.py
  localstack/aws/api/cloudcontrol/__init__.py
  localstack/aws/api/cloudformation/__init__.py
  localstack/aws/api/cloudwatch/__init__.py
  localstack/aws/api/config/__init__.py
  localstack/aws/api/dynamodb/__init__.py
  localstack/aws/api/dynamodbstreams/__init__.py
  localstack/aws/api/ec2/__init__.py
  localstack/aws/api/es/__init__.py
  localstack/aws/api/events/__init__.py
  localstack/aws/api/firehose/__init__.py
  localstack/aws/api/iam/__init__.py
  localstack/aws/api/kinesis/__init__.py
  localstack/aws/api/kms/__init__.py
  localstack/aws/api/lambda_/__init__.py
  localstack/aws/api/logs/__init__.py
  localstack/aws/api/opensearch/__init__.py
  localstack/aws/api/redshift/__init__.py
  localstack/aws/api/resource_groups/__init__.py
  localstack/aws/api/resourcegroupstaggingapi/__init__.py
  localstack/aws/api/route53/__init__.py
  localstack/aws/api/route53resolver/__init__.py
  localstack/aws/api/s3/__init__.py
  localstack/aws/api/s3control/__init__.py
  localstack/aws/api/scheduler/__init__.py
  localstack/aws/api/secretsmanager/__init__.py
  localstack/aws/api/ses/__init__.py
  localstack/aws/api/sns/__init__.py
  localstack/aws/api/sqs/__init__.py
  localstack/aws/api/ssm/__init__.py
  localstack/aws/api/stepfunctions/__init__.py
  localstack/aws/api/sts/__init__.py
  localstack/aws/api/support/__init__.py
  localstack/aws/api/swf/__init__.py
  localstack/aws/api/transcribe/__init__.py
  localstack/dev/run/__main__.py
  localstack/utils/aws/client_types.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  setup.cfg
  setup.py
  tests/aws/scenario/mythical_mysfits/constructs/user_clicks_service.py
Labels: semver: patch

#10416 make SQS dynamic endpoint strategy guess the endpoint strategy used
  localstack/config.py
  localstack/services/sqs/models.py
  localstack/services/sqs/utils.py
  tests/unit/test_sqs.py
Labels: semver: minor

#10444 Set package data key to `localstack`
  pyproject.toml
Labels: semver: patch

#10438 Update runtime init, add dynamic configuration for folders to run chmod on in Lambda
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/runtime_executor.py
  localstack/services/lambda_/packages.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#10425 fix SQS DLQ message attributes and redrive into multiple source queues
  localstack/services/sqs/models.py
  localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
  tests/aws/services/sqs/test_sqs_move_task.py
  tests/aws/services/sqs/utils.py
Labels: semver: minor

#10428 use rolo twisted gateway integration
  localstack/aws/serving/twisted.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/integration/aws/test_app.py
Labels: semver: minor

#10381 Support XML responses in api gateway templating
  localstack/services/apigateway/templates.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: minor

#10275 Add ARM test selection marker
  Makefile
  localstack/testing/pytest/filters.py
  localstack/testing/pytest/marking.py
  localstack/utils/platform.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_common.py
  tests/conftest.py
Labels: semver: patch

#10301 Introduce test selection for CI tests on PRs
  .circleci/config.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-pro-integration.yml
  CODEOWNERS
  localstack/testing/pytest/path_filter.py
  localstack/testing/testselection/__init__.py
  localstack/testing/testselection/git.py
  localstack/testing/testselection/github.py
  localstack/testing/testselection/matching.py
  localstack/testing/testselection/opt_in.py
  localstack/testing/testselection/scripts/__init__.py
  localstack/testing/testselection/scripts/filter_by_test_selection.py
  localstack/testing/testselection/scripts/generate_test_selection_from_commits.py
  localstack/testing/testselection/scripts/generate_test_selection_from_pr.py
  localstack/testing/testselection/testselection.py
  tests/conftest.py
  tests/unit/testing/__init__.py
  tests/unit/testing/testselection/__init__.py
  tests/unit/testing/testselection/test_matching.py
Labels: semver: patch

#10443 fix disk space issues in GitHub workflow again
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#10375 Feat/firehose add redshift destination
  localstack/services/firehose/mappers.py
  localstack/services/firehose/provider.py
Labels: aws:firehose, aws:redshift, semver: minor

#10459 fix test selection for community contributions
  localstack/testing/testselection/github.py
  localstack/testing/testselection/scripts/generate_test_selection_from_pr.py
Labels: semver: patch

#10462 Add experimental option to distribute services across multiple localstack instances
  localstack/aws/connect.py
  localstack/config.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack/utils/kinesis/kinesis_connector.py
Labels: semver: patch

#9833 Implement basic status filter for StepFunctions list-executions
  localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
Labels: semver: patch

#10091 Fix secretsmanager secret rotation failing because RotateImmediately is unset
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#10463 use ThreadPoolExecutor to forward DDB Streams events
  localstack/services/dynamodb/provider.py
Labels: area: performance, aws:dynamodb, aws:dynamodbstreams, semver: patch

#10466 Adapt dynamodbstreams clients in the provider as well
  localstack/services/dynamodbstreams/provider.py
Labels: semver: patch

#10367 scheduled run for non-default credentials
  .circleci/config.yml
  Makefile
Labels: semver: patch

#10083 fix: remove AWSPREVIOUS only when duplicated
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: aws:secretsmanager, semver: patch

#10471 fix and enable several ruff linting rules
  localstack/aws/handlers/cors.py
  localstack/aws/handlers/service.py
  localstack/aws/protocol/parser.py
  localstack/config.py
  localstack/services/cloudformation/scaffolding/__main__.py
  localstack/services/events/provider.py
  localstack/services/internal.py
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/logs/provider.py
  localstack/services/opensearch/cluster.py
  localstack/services/s3/validation.py
  localstack/services/sns/provider.py
  localstack/services/ssm/provider.py
  localstack/testing/pytest/path_filter.py
  localstack/testing/scenario/cdk_lambda_helper.py
  localstack/testing/scenario/provisioning.py
  localstack/utils/aws/templating.py
  localstack/utils/bootstrap.py
  localstack/utils/container_utils/container_client.py
  localstack/utils/diagnose.py
  pyproject.toml
  tests/aws/conftest.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/events/test_events.py
  tests/aws/services/lambda_/functions/lambda_process_inspection.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/resource_groups/test_resource_groups.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/swf/test_swf.py
  tests/aws/test_multi_accounts.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/packages/test_api.py
  tests/unit/test_dockerclient.py
  tests/unit/test_sns.py
Labels: semver: patch

#10418 fix lambda event source mapping FilterCriteria
  localstack/services/lambda_/event_source_listeners/utils.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/templates/lambda_dynamodb_event_filter.yaml
  tests/unit/services/lambda_/test_lambda_utils.py
Labels: semver: patch

#10476 fix: broken pipeline after merging #10418
  tests/aws/services/cloudformation/resources/test_lambda.py
Labels: semver: patch

#10470 optimise config.yml
  .circleci/config.yml
Labels: semver: patch

#10458 add opt. service deps, opt-in services to test selection
  localstack/testing/testselection/matching.py
  localstack/testing/testselection/opt_in.py
  localstack/utils/bootstrap.py
  tests/unit/testing/testselection/test_matching.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: patch

#10480 Fixed issue where TEST_DISABLE_RETRIES_AND_TIMEOUTS would get always evaluated to True
  localstack/testing/aws/util.py
Labels: semver: patch

#10469 fix invalidating S3 CORS cache after resetting state or loading
  localstack/services/s3/v3/provider.py
Labels: area: persistence, aws:s3, semver: patch

#10445 Fix skip_teardown and force_synth usage in CDK tests
  tests/aws/services/stepfunctions/v2/services/test_ecs_task_service.py
Labels: semver: patch

#10400 SFN: Allow ProgramError without details
  localstack/services/stepfunctions/backend/execution.py
  tests/aws/services/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
Labels: semver: patch

#10468 refactor DDB streaming, event creation and forwarding
  localstack/services/dynamodb/models.py
  localstack/services/dynamodb/provider.py
  localstack/services/dynamodb/utils.py
  localstack/services/dynamodbstreams/dynamodbstreams_api.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.py
Labels: area: performance, aws:dynamodb, aws:dynamodbstreams, semver: patch

#10495 fix S3 copy in place in versioned bucket
  localstack/services/s3/v3/storage/core.py
  localstack/services/s3/v3/storage/ephemeral.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10116 KMS: Fixup ImportKeyMaterial for non-symmetric keys
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: minor

#10492 fix CircleCI Tinybird reporting on reruns
  .circleci/config.yml
Labels: semver: patch

#10478 fix: standardise the TEST_AWS_REGION_NAME usage
  localstack/constants.py
Labels: semver: patch

#10498 fix Tinybird workflow datasource for multi-account tests
  .circleci/config.yml
Labels: semver: patch

#10496 test: aws validated test cases in the rgsa
  tests/aws/services/resourcegroupstaggingapi/test_rgsa.py
  tests/aws/services/resourcegroupstaggingapi/test_rgsa.snapshot.json
  tests/aws/services/resourcegroupstaggingapi/test_rgsa.validation.json
Labels: semver: patch

#10457 added support for resource based policies in secretsmanager
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#10483 fix query string parser with non encoded http url in parameters
  localstack/utils/aws/aws_responses.py
  tests/unit/utils/aws/test_aws_responses.py
Labels: aws:apigateway, semver: patch

#10500 fix capitalization of Authorization header for AWS_PROXY integration
  localstack/services/apigateway/integration.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
Labels: aws:apigateway, semver: patch

#10379 Support custom key material when creating KMS keys
  localstack/services/kms/models.py
  localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
Labels: aws:kms, semver: minor

#10508 fix: add transformer to region attribute in failing s3 for 'eu-west-1'
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: semver: patch

#10455 add resource provider for Iam Server Certificate
  localstack/services/iam/resource_providers/aws_iam_servercertificate.py
  localstack/services/iam/resource_providers/aws_iam_servercertificate.schema.json
  localstack/services/iam/resource_providers/aws_iam_servercertificate_plugin.py
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.py
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.snapshot.json
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.validation.json
  tests/aws/templates/iam_server_certificate.yaml
Labels: semver: minor

#10497 Move version single source outside of `__init__.py`
  Dockerfile
  Dockerfile.s3
  MANIFEST.in
  Makefile
  VERSION
  bin/release-dev.sh
  bin/release-helper.sh
  localstack/__init__.py
  localstack/aws/protocol/service_router.py
  localstack/cli/localstack.py
  localstack/constants.py
  localstack/services/infra.py
  localstack/services/moto.py
  localstack/utils/analytics/metadata.py
  localstack/utils/bootstrap.py
  localstack/version.py
  pyproject.toml
  setup.py
  tests/integration/services/test_internal.py
  tests/unit/cli/test_cli.py
  tests/unit/utils/analytics/test_client.py
Labels: semver: minor

#10515 add limited number of regions to random creds
  .circleci/config.yml
Labels: semver: patch

#10501 support for arn based retrivals in secretsmanager
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#10519 fix release helper
  bin/release-helper.sh
Labels: semver: patch

#10516 fix 'test_import_swagger_api' for 'eu-west-1'
  tests/aws/files/petstore-authorizer.swagger.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: semver: patch

#10512 Api gateway integration proxy only accepts post method
  localstack/services/apigateway/integration.py
  localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
Labels: aws:apigateway, semver: patch

#10514 add support for getAtt string parameter in dependency
  localstack/services/cloudformation/engine/template_utils.py
  tests/aws/services/cloudformation/engine/test_attributes.py
  tests/aws/services/cloudformation/engine/test_attributes.snapshot.json
  tests/aws/services/cloudformation/engine/test_attributes.validation.json
  tests/aws/templates/engine/cfn_getatt_dot_dependency.yml
Labels: semver: patch

#10521 [SFN] Fix SecondsPath Retrieval and Raise Runtime Errors on Invalid Inputs
  localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/seconds_path.py
  tests/aws/services/stepfunctions/templates/base/base_templates.py
  tests/aws/services/stepfunctions/templates/base/statemachines/wait_seconds_path.json5
  tests/aws/services/stepfunctions/templates/base/statemachines/wait_timestamp_path.json5
  tests/aws/services/stepfunctions/v2/base/test_wait.py
  tests/aws/services/stepfunctions/v2/base/test_wait.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_wait.validation.json
Labels: semver: patch

#10488 Bump moto-ext to 5.0.3.post1
  localstack/services/apigateway/patches.py
  localstack/services/apigateway/provider.py
  localstack/services/apigateway/resource_providers/aws_apigateway_usageplan.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
Labels: semver: patch

#10527 fix ASF update action to fix unused imports
  .github/workflows/asf-updates.yml
Labels: semver: patch

#10524 Adding missing parameter for authorization scopes
  localstack/services/apigateway/resource_providers/aws_apigateway_method.py
Labels: aws:apigateway, semver: patch

#10530 Reduce the range of dependencies to speed up pinning
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#9007 Fix parameter validation for self-managed Kafka event source mapping
  localstack/services/lambda_/provider.py
Labels: semver: patch

#10534 fix `test_different_location_constraint` for `us-east-2`
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: semver: patch

#10538 fix apigw tests for `eu-west-1`
  tests/aws/files/petstore-swagger.json
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/aws/services/apigateway/test_apigateway_extended.snapshot.json
  tests/aws/services/apigateway/test_apigateway_extended.validation.json
Labels: semver: patch

#10542 Add version.py file to list of added git files in release helper
  bin/release-helper.sh
Labels: semver: patch

#10511 [SFN] Base Support for States.DataLimitExceeded
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/component/common/error_name/states_error_name_type.py
  localstack/services/stepfunctions/asl/component/state/state.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack/services/stepfunctions/quotas.py
  tests/aws/services/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/aws/services/stepfunctions/templates/errorhandling/lambdafunctions/large_output_string.py
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_lambda_invoke_catch_all.json5
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_lambda_invoke_catch_data_limit_exceeded.json5
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_all.json5
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_data_limit_exceeded.json5
  tests/aws/services/stepfunctions/v2/error_handling/test_states_errors.py
  tests/aws/services/stepfunctions/v2/error_handling/test_states_errors.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_states_errors.validation.json
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.validation.json
Labels: semver: patch

#10544 Fix: Events: Refactor tests fix string formatting errors
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_integrations.py
Labels: aws:eventbridge, semver: patch

#10540 remove `ap-southeast-1` from random regions
  .circleci/config.yml
Labels: semver: patch

#10372 [SFN] ASL Grammars Enhancements
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLIntrinsicParser.g4
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function.py
  localstack/services/stepfunctions/asl/parse/asl_parser.py
  localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
Labels: semver: patch

#10531 [SFN] Add Support for MaxItem and MaxItemPath
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/item_reader_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/max_items_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/reader_config_decl.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/reader_config/reader_config_props.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_output_transformer/resource_output_transformer_csv.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_output_transformer/resource_output_transformer_json.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_item_reader_base_csv_max_items.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_item_reader_base_csv_max_items_path.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_item_reader_base_json_max_items.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10551 Fix handling reuse of stack names for describe stack events / delete stack operations
  localstack/services/cloudformation/provider.py
  localstack/services/cloudformation/stores.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
Labels: semver: patch

#10548 [SFN] Fix MaxAttempts with Zero Values
  localstack/services/stepfunctions/asl/component/common/retry/max_attempts_decl.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/retry_interval_features_max_attempts_zero.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10549 fix `test_function_arns` for `eu-central-1`
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#10323 Validation lambda function name pattern on invoke
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#10550 fix `test_dashboard_lifecycle` for `eu-central-1`
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: semver: patch

#10566 Fix non-default-region compatibility for recent lambda invalid invoke test
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#10568 raise exception if required ENV is missing
  scripts/tinybird/upload_raw_test_metrics_and_coverage.py
Labels: semver: patch

#10563 fix clouformation ec2 tests for `ap-northeast-1` and validate against AWS
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/templates/ec2_vpc_default_sg.yaml
  tests/aws/templates/transit_gateway_attachment.yml
Labels: semver: patch

#10570 update README after 3.3.0 release
  README.md
Labels: semver: patch

#10575 fix SNS RawMessageDelivery casing
  localstack/services/moto.py
  localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#10561 fix APIGW http integration connection to lambda url
  localstack/services/apigateway/integration.py
  localstack/testing/pytest/fixtures.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_http.py
  tests/aws/services/apigateway/test_apigateway_http.snapshot.json
  tests/aws/services/apigateway/test_apigateway_http.validation.json
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: aws:apigateway, semver: patch

#10571 remove the conditional provider in `test_dashboard_lifecycle`
  tests/aws/services/cloudwatch/test_cloudwatch.py
Labels: semver: patch
