Repository localstack/localstack, pull requests merged in 2024-06, with the labels that each got.

#10934 remove unknown markers from S3 tests
  localstack-core/localstack/services/s3/resource_providers/aws_s3_bucket.py
  tests/aws/services/cloudformation/resources/test_s3.py
  tests/aws/services/cloudformation/resources/test_s3.snapshot.json
  tests/aws/services/cloudformation/resources/test_s3.validation.json
  tests/aws/services/s3/test_s3.py
  tests/aws/templates/s3_bucketpolicy.yaml
Labels: aws:s3, semver: patch

#10932 validate and add S3Control tests
  tests/aws/services/s3control/test_s3control.py
  tests/aws/services/s3control/test_s3control.snapshot.json
  tests/aws/services/s3control/test_s3control.validation.json
Labels: semver: patch, aws:s3control

#10919 Increase performance for first store creation per account/service
  localstack-core/localstack/utils/aws/aws_stack.py
Labels: area: performance, semver: patch

#10941 Fixed scaffolding generation for CFN resources
  localstack-core/localstack/services/cloudformation/scaffolding/__main__.py
Labels: semver: patch

#10947 remove unused localstack.services.messages
  localstack-core/localstack/services/messages.py
Labels: semver: patch

#10922 Move testing config from constants.py to its own module
  localstack-core/localstack/aws/connect.py
  localstack-core/localstack/constants.py
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/utils.py
  localstack-core/localstack/services/ses/provider.py
  localstack-core/localstack/testing/aws/util.py
  localstack-core/localstack/testing/config.py
  localstack-core/localstack/testing/pytest/fixtures.py
  localstack-core/localstack/utils/testutil.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_rules.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/logs/test_logs.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_cors.py
  tests/aws/services/s3control/test_s3control.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/v2/test_stepfunctions_v2.py
  tests/aws/services/sts/test_sts.py
  tests/aws/test_serverless.py
  tests/aws/test_terraform.py
  tests/integration/test_security.py
  tests/performance/test_sqs_performance.py
  tests/unit/aws/test_connect.py
  tests/unit/conftest.py
  tests/unit/services/opensearch/test_cluster_manager.py
  tests/unit/test_apigateway.py
  tests/unit/test_dynamodb.py
  tests/unit/test_partition_rewriter.py
Labels: semver: patch

#10945 move cloudformation deploy ui to cloudformation provider
  localstack-core/localstack/services/cloudformation/deploy_ui.py
  localstack-core/localstack/services/cloudformation/plugins.py
  localstack-core/localstack/services/internal.py
  tests/unit/services/cloudformation/__init__.py
  tests/unit/services/cloudformation/test_deploy_ui.py
  tests/unit/services/test_internal.py
Labels: semver: patch

#10944 fix flaky TestServerless.test_kinesis_stream_handler_deployed
  tests/aws/test_serverless.py
Labels: semver: patch

#10731 Include old resolv.conf contents without nameservers
  localstack-core/localstack/dns/server.py
  tests/unit/test_dns_server.py
Labels: semver: patch

#10923 Validate remaining unknown sqs tests
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.validation.json
  tests/aws/test_notifications.py
Labels: semver: patch

#10878 Formalize Testing Rules
  docs/CONTRIBUTING.md
  docs/development-environment-setup/README.md
  docs/localstack-concepts/README.md
  docs/testing/README.md
  docs/testing/integration-tests/README.md
  docs/testing/multi-account-region-testing/README.md
  docs/testing/multi-account-region-testing/randomize-aws-credentials.png
  docs/testing/parity-testing/README.md
  docs/testing/terraform-tests/README.md
Labels: semver: patch

#10953 skip flaky TestKinesisFirehoseScenario.test_kinesis_firehose_s3
  tests/aws/scenario/kinesis_firehose/test_kinesis_firehose.py
Labels: semver: patch

#10954 fix Checksum validation and assumptions for S3
  localstack-core/localstack/services/s3/constants.py
  localstack-core/localstack/services/s3/utils.py
  localstack-core/localstack/services/s3/v3/models.py
  localstack-core/localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10957 add code to debug monkey patches applied through localstack.utils.patch
  localstack-core/localstack/utils/patch.py
  tests/unit/utils/test_patch.py
Labels: semver: patch

#10958 move aws-specific patches into localstack.aws.patches
  localstack-core/localstack/aws/patches.py
  localstack-core/localstack/services/infra.py
  localstack-core/localstack/utils/aws/request_context.py
Labels: semver: minor

#10959 add DaemonAwareThreadPool for thread pools to block shutdown
  localstack-core/localstack/utils/asyncio.py
Labels: semver: minor

#10955 SQS: Add MessageSystemAttributeNames for receive-message
  localstack-core/localstack/aws/data/sqs-query/2012-11-05/README.md
  localstack-core/localstack/aws/data/sqs-query/2012-11-05/service-2.json
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#10960 fix S3 image publishing
  .github/workflows/tests-s3-image.yml
Labels: area: ci, semver: patch

#10963 fix S3 Image publishing - credentials for Dockerhub
  .github/workflows/tests-s3-image.yml
Labels: semver: patch

#10964 fix S3 aws-chunked when checksum is provided
  localstack-core/localstack/services/s3/codec.py
  localstack-core/localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#9754 remove remaining (transitive) usages of Quart
  localstack-core/localstack/aws/handlers/legacy.py
  localstack-core/localstack/utils/server/http2_server.py
  localstack-core/localstack/utils/testutil.py
  pyproject.toml
  tests/unit/cli/test_cli.py
  tests/unit/utils/test_http2_server.py
Labels: semver: minor

#10937 validate unknown dynamodb streams test and update behavior
  localstack-core/localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, aws:dynamodbstreams, semver: patch

#10849 CFn: DAG based deploy order
  localstack-core/localstack/config.py
  localstack-core/localstack/services/cdk/resource_providers/cdk_metadata.py
  localstack-core/localstack/services/cloudformation/engine/changes.py
  localstack-core/localstack/services/cloudformation/engine/resource_ordering.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/engine/template_utils.py
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/iam/resource_providers/aws_iam_user.py
  localstack-core/localstack/services/lambda_/resource_providers/lambda_alias.py
  tests/aws/cdk_templates/DDBTableTTL/DDBStackTTL.json
  tests/aws/services/cloudformation/api/test_reference_resolving.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
  tests/aws/services/cloudformation/engine/test_references.py
  tests/aws/services/cloudformation/engine/test_references.snapshot.json
  tests/aws/services/cloudformation/engine/test_references.validation.json
  tests/unit/test_cloudformation.py
Labels: semver: minor

#10970 fix S3 image healthcheck
  Dockerfile.s3
Labels: semver: patch

#10974 Add lambda ignore architecture flag to CLI config variables
  localstack-core/localstack/config.py
Labels: semver: patch

#10973 fix flaky new DDB test
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#10971 fix flaky APIGW test
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch

#10966 Fix sqs urlencoded parsing
  localstack-core/localstack/aws/protocol/parser.py
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/apigateway/test_apigateway_sqs.snapshot.json
  tests/aws/services/apigateway/test_apigateway_sqs.validation.json
  tests/unit/aws/protocol/test_parser.py
Labels: aws:sqs, semver: patch

#10938 CFn: add simple template validations
  localstack-core/localstack/services/cloudformation/engine/validations.py
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/cloudformation/resource_providers/aws_cloudformation_stack.py
  tests/aws/services/cloudformation/api/test_validations.py
  tests/aws/services/cloudformation/api/test_validations.snapshot.json
  tests/aws/services/cloudformation/api/test_validations.validation.json
Labels: semver: patch

#10967 Refactor all pytest xfail markers to skip instead
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/resource_providers/opensearch/test_domain.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_legacy.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/events/test_events_rules.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/test_terraform.py
  tests/aws/test_validate.py
  tests/integration/aws/test_app.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/aws/test_service_router.py
Labels: semver: patch

#10952 Refine optional Lambda dependencies
  localstack-core/localstack/utils/bootstrap.py
Labels: semver: patch

#10983 Update dev script to mount community code correctly
  localstack-core/localstack/dev/run/configurators.py
Labels: semver: patch

#9757 remove deprecated HttpRequest type alias
  localstack-core/localstack/aws/api/__init__.py
  localstack-core/localstack/aws/api/core.py
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/aws/skeleton.py
  localstack-core/localstack/services/lambda_/urlrouter.py
  localstack-core/localstack/services/moto.py
  tests/unit/aws/test_skeleton.py
Labels: semver: minor

#10978 Fix CloudFormation Fn::Transform replacing unintended values
  localstack-core/localstack/services/cloudformation/engine/transformers.py
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/api/test_transformers.snapshot.json
  tests/aws/services/cloudformation/api/test_transformers.validation.json
Labels: semver: patch

#10987 remove unknown markers in test_multiregion
  tests/aws/test_multiregion.py
  tests/aws/test_multiregion.validation.json
Labels: semver: patch

#10989 fix asf update action by avoiding aws cli pin
  .github/workflows/asf-updates.yml
  pyproject.toml
Labels: semver: patch

#10991 remove unknown markers in cross accounts test in lambda
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
Labels: semver: patch

#10980 Fix handling None payload in Lambda Event Source Mapping
  localstack-core/localstack/services/lambda_/event_source_listeners/adapters.py
Labels: semver: patch

#10998 Skip flaky ElasticSearch tests
  tests/aws/services/es/test_es.py
Labels: semver: patch

#10979 Bump moto-ext to 5.0.9.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#10996 Unify test selection scripts
  .circleci/config.yml
  .github/workflows/tests-pro-integration.yml
  localstack-core/localstack/testing/testselection/scripts/generate_test_selection.py
  localstack-core/localstack/testing/testselection/scripts/generate_test_selection_from_commits.py
Labels: semver: patch

#10985 Step Functions: Allow describing ARNs that contain periods
  localstack-core/localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api.validation.json
Labels: semver: minor

#10972 Add support for placeholder values in env-file flag for docker flags
  localstack-core/localstack/utils/container_utils/container_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#10999 [SFN] Normalise Upload Values
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_s3_put_object.json5
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: semver: minor

#11005 check AWS Support validation status
  tests/aws/services/support/test_support.py
Labels: semver: patch, aws:support

#10982 introduce handler chain (next gen) in apigateway v1 invocation
  localstack-core/localstack/config.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/models.py
  localstack-core/localstack/services/apigateway/next_gen/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/api.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/legacy.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  localstack-core/localstack/services/apigateway/provider.py
  localstack-core/localstack/services/providers.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/integration/test_security.py
Labels: aws:apigateway, semver: minor

#11006 validate scheduler test and check SWF validation
  tests/aws/services/scheduler/test_scheduler.py
  tests/aws/services/scheduler/test_scheduler.validation.json
  tests/aws/services/swf/test_swf.py
Labels: semver: patch, aws:scheduler, aws:swf

#11007 [SFN] Multi-account and Multi-region Logging
  localstack-core/localstack/services/stepfunctions/asl/eval/event/logging.py
Labels: semver: minor

#11011 Add new option to manually expose the DNS port to the host, remove binding by default
  localstack-core/localstack/cli/localstack.py
  localstack-core/localstack/utils/bootstrap.py
  tests/cli/test_cli.py
Labels: semver: minor

#10961 Fix: Lambda allow usage of partial ARN and ARN in function names
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#11010 Allow secondary client fixtures to take credentials from an aws profile
  localstack-core/localstack/testing/aws/util.py
  localstack-core/localstack/testing/config.py
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
  tests/conftest.py
Labels: semver: patch

#10951 Fix detection of docker image digest for diagnostic purposes
  localstack-core/localstack/services/infra.py
  localstack-core/localstack/utils/bootstrap.py
Labels: semver: patch

#10942 implement new runtime framework for bootstrapping localstack
  localstack-core/localstack/aws/components.py
  localstack-core/localstack/config.py
  localstack-core/localstack/http/duplex_socket.py
  localstack-core/localstack/runtime/__init__.py
  localstack-core/localstack/runtime/components.py
  localstack-core/localstack/runtime/current.py
  localstack-core/localstack/runtime/events.py
  localstack-core/localstack/runtime/hooks.py
  localstack-core/localstack/runtime/legacy.py
  localstack-core/localstack/runtime/main.py
  localstack-core/localstack/runtime/patches.py
  localstack-core/localstack/runtime/runtime.py
  localstack-core/localstack/runtime/server/__init__.py
  localstack-core/localstack/runtime/server/core.py
  localstack-core/localstack/runtime/server/hypercorn.py
  localstack-core/localstack/runtime/server/plugins.py
  localstack-core/localstack/runtime/server/twisted.py
  localstack-core/localstack/services/infra.py
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/testing/pytest/in_memory_localstack.py
Labels: semver: minor

#11018 Fix runtime shutdown when called triggered via signal handlers
  localstack-core/localstack/runtime/runtime.py
Labels: semver: patch

#10993 update release banner in README [3.5]
  README.md
Labels: semver: patch

#11022 update rolo and fix lambda url form parsing
  localstack-core/localstack/services/lambda_/urlrouter.py
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: aws:lambda, area: dependencies, semver: patch

#11021 extend bootstrap lifecycle test to include restarts
  tests/bootstrap/test_localstack_container_server.py
Labels: semver: patch

#11012 Fix TableV2 construct with streaming enabled
  localstack-core/localstack/services/dynamodb/resource_providers/aws_dynamodb_globaltable.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/cdk_templates/TestTableV2Stream/TableV2StreamStack.json
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.py
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.snapshot.json
  tests/aws/services/dynamodbstreams/test_dynamodb_streams.validation.json
Labels: aws:dynamodb, semver: patch

#11016 validate route53 integration tests against AWS
  tests/aws/services/route53/test_route53.py
  tests/aws/services/route53/test_route53.validation.json
Labels: semver: patch

#11014 fixed error handling in GetSecretValue in secretsmanager
  localstack-core/localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#11033 Fix version.py file glob for release commit
  bin/release-helper.sh
Labels: semver: patch

#11023 Apigw improve s3 integration support
  localstack-core/localstack/services/apigateway/integration.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_s3.py
  tests/aws/services/apigateway/test_apigateway_s3.snapshot.json
  tests/aws/services/apigateway/test_apigateway_s3.validation.json
Labels: aws:apigateway, semver: patch

#11027 Feature/eventbridge v2 add cross account test
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  tests/aws/services/events/test_events_cross_account_region.py
  tests/aws/services/events/test_events_cross_account_region.snapshot.json
  tests/aws/services/events/test_events_cross_account_region.validation.json
Labels: aws:events, semver: minor

#11046 Push latest image tag with version tags, regardless of default tag
  .github/workflows/tests-bin.yml
  bin/docker-helper.sh
  tests/bin/README.md
  tests/bin/test.docker-helper.bats
Labels: semver: patch

#11013 Disable CloudFormation template validation
  localstack-core/localstack/services/cloudformation/engine/validations.py
  localstack-core/localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/api/test_transformers.validation.json
  tests/aws/services/cloudformation/api/test_validations.py
Labels: semver: patch

#11039 Add *_DOCKER_FLAGS option to support docker compose-style environment files
  localstack-core/localstack/utils/container_utils/container_client.py
  tests/unit/test_dockerclient.py
Labels: semver: minor

#11040 fix for ApiGW resource provider
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_deployment.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/apigateway_integration_from_s3.yml
Labels: semver: patch

#11043 apigw create python exceptions for gateway response
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: minor

#10057 feat: add tolerated failure count/percentage to SFN map state
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/map_run_record.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/tolerated_failure.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_count.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_count_path.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_percentage.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_tolerated_failure_percentage_path.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
Labels: semver: patch

#11032 Feature/eventbridge v2 add put permission
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/utils.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: minor

#11047 Feature: EventBridge v2: Add test put events limit to 10 messages
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: minor

#11056 fix TaggingDirective REPLACE for CopyObject
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#11055 Fix payload not being shown in trace logging
  localstack-core/localstack/logging/format.py
  tests/unit/logging_/test_format.py
Labels: semver: patch

#11061 generalize tracing for gateway and handler chain
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/http/trace.py
Labels: semver: minor

#11028 Added Lambda cross account tests
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#11057 migrating NG APIGW routing to Werkzeug routing
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11066 Print LocalStackExitErrors in the new runtime
  localstack-core/localstack/runtime/main.py
Labels: semver: patch

#11062 Apigw create exception handler
  localstack-core/localstack/services/apigateway/next_gen/execute_api/api.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/gateway_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
  tests/unit/services/apigateway/test_handler_exception.py
  tests/unit/test_apigateway.py
Labels: aws:apigateway, semver: patch

#11070 fix NG APIGW unit tests usage of RestApiDeployment
  tests/unit/services/apigateway/test_handler_exception.py
Labels: semver: patch

#10890 Feature: Eventbridge v2: add archive and replay
  localstack-core/localstack/services/events/archive.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/replay.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/utils.py
  localstack-core/localstack/utils/aws/arns.py
  pyproject.toml
  tests/aws/services/events/conftest.py
  tests/aws/services/events/helper_functions.py
  tests/aws/services/events/test_archive_and_replay.py
  tests/aws/services/events/test_archive_and_replay.snapshot.json
  tests/aws/services/events/test_archive_and_replay.validation.json
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_cross_account_region.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_inputs.snapshot.json
  tests/aws/services/events/test_events_inputs.validation.json
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_rules.py
  tests/aws/services/events/test_events_schedule.py
Labels: aws:events, semver: minor

#11063 Bump moto-ext to 5.0.9.post3
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#11068 improve CFN APIGW Method parity
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_method.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/template35.yaml
Labels: aws:cloudformation, aws:apigateway, semver: patch

#11065 split routing utilities not related to service operation routing out of op_router.py
  localstack-core/localstack/aws/protocol/op_router.py
  localstack-core/localstack/aws/protocol/routing.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
Labels: aws:apigateway, semver: patch

#11071 fix kinesis cbor timestamp parsing
  localstack-core/localstack/aws/protocol/parser.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.snapshot.json
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser.snapshot.json
  tests/unit/aws/protocol/test_parser.validation.json
Labels: aws:kinesis, area: asf, semver: patch

#11067 Reduce Lambda RIE log level
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
Labels: semver: patch

#11069 remove THREAD_LOCAL usage
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/legacy.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/router_asf.py
  localstack-core/localstack/utils/aws/request_context.py
Labels: semver: minor

#11078 parity: kinesis event payload
  localstack-core/localstack/services/lambda_/event_source_listeners/kinesis_event_source_listener.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_kinesis.validation.json
Labels: aws:lambda, aws:kinesis, semver: patch

#11088 update pro source code location
  localstack-core/localstack/dev/run/configurators.py
Labels: area: configuration, semver: patch

#10956 add codeowners validation to gh actions
  .github/workflows/validate-codeowners.yml
  CODEOWNERS
Labels: semver: patch

#11091 Adapt CFn resource scaffolding script to new src layout
  localstack-core/localstack/services/cloudformation/scaffolding/__main__.py
Labels: semver: patch

#11092 Adapt localstack.dev.kubernetes script to new src layout
  localstack-core/localstack/dev/kubernetes/__main__.py
Labels: semver: patch

#11090 remove flask
  localstack-core/localstack/aws/patches.py
  localstack-core/localstack/services/moto.py
  localstack-core/localstack/utils/aws/aws_responses.py
  localstack-core/localstack/utils/aws/request_context.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#11085 refactor Moto out of APIGW next-gen invocation logic
  localstack-core/localstack/services/apigateway/models.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/gateway_exception.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/moto_helpers.py
  tests/unit/services/apigateway/test_handler_exception.py
  tests/unit/services/apigateway/test_handler_request.py
Labels: aws:apigateway, semver: patch

#11083 Switch test selection from opt-in to opt-out
  localstack-core/localstack/testing/testselection/opt_in.py
  localstack-core/localstack/testing/testselection/opt_out.py
  localstack-core/localstack/testing/testselection/scripts/generate_test_selection.py
Labels: semver: patch

#11076 Mark acceptance test marker as GA
  localstack-core/localstack/testing/pytest/marking.py
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/services/apigateway/test_apigateway_lambda_cfn.py
Labels: semver: patch

#11096 Apigw NG create method request handler
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_request.py
  tests/unit/services/apigateway/test_handler_method_request.py
Labels: aws:apigateway, semver: minor

#11094 harden test_dynamodb_stream_records_with_update_item
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodbstreams, semver: patch

#11093 remove dead code related to S3 v1 (pre-ASF)
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/utils/aws/aws_responses.py
  localstack-core/localstack/utils/aws/queries.py
Labels: semver: patch

#9569 add in-memory ASF request dispatching for boto clients
  localstack-core/localstack/aws/client.py
  localstack-core/localstack/aws/connect.py
  localstack-core/localstack/aws/forwarder.py
  localstack-core/localstack/aws/gateway.py
  localstack-core/localstack/aws/serving/edge.py
  localstack-core/localstack/config.py
  localstack-core/localstack/services/s3/resource_providers/aws_s3_bucket.py
  tests/unit/aws/test_client.py
Labels: area: asf, semver: minor

#11008 Feature: Introduce env variable for making sure we only allow supported lambda runtimes
  localstack-core/localstack/config.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#11102 Fix broken links in CONTRIBUTING.md and README.md
  README.md
  docs/CONTRIBUTING.md
Labels: area: documentation, semver: patch

#11100 Fix docker image digest in startup runtime information for new runtime
  localstack-core/localstack/runtime/main.py
Labels: semver: patch

#11107 add APIGW NG context variables
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
Labels: aws:apigateway, semver: patch

#11099 add empty integrations for NG APIGW
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/core.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/http.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/mock.py
Labels: aws:apigateway, semver: patch

#11049 Execute only acceptance tests on pushes to master
  .circleci/config.yml
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#11105 Avoid circleci test-runner failure if no tests are run on that runner
  .circleci/config.yml
Labels: area: ci, semver: patch

#11098 add plugin namespace localstack.init.runner to make init script runners pluggable
  localstack-core/localstack/runtime/init.py
Labels: semver: minor
