Repository localstack/localstack, pull requests merged in 2024-04, with the labels that each got.

#10552 Feature: Eventbridge v2: Scaffold new provider
  localstack/services/events/provider_v2.py
  localstack/services/providers.py
  tests/aws/services/events/helper_functions.py
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_logs.py
  tests/aws/services/events/scheduled_rules/test_events_scheduled_rules_sqs.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_rules.py
Labels: aws:eventbridge, semver: patch

#10586 fix cfn templates deployed in invalid AZs
  localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/templates/ec2_vpc_default_sg.yaml
  tests/aws/templates/transit_gateway_attachment.yml
Labels: semver: patch

#10564 fix lastRotatedDate updation on secret rotation
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: type: bug, aws:secretsmanager, semver: patch

#10587 update pre-commit hook versions on dep updates
  .pre-commit-config.yaml
  Makefile
Labels: semver: patch

#10553 Feat: Events v2: add ci step for eventbridge v2 provider
  .circleci/config.yml
Labels: area: ci, semver: patch

#10583 Fix apigw http proxy response passthrough
  localstack/services/apigateway/integration.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_http.py
  tests/aws/services/apigateway/test_apigateway_http.snapshot.json
  tests/aws/services/apigateway/test_apigateway_http.validation.json
  tests/aws/services/lambda_/functions/lambda_echo_status_code.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#10574 [SFN] Fix Evaluation of Nested Map States
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/inline_iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/job.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_nested.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_nested.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10597 Fix release helper for cli release
  bin/release-helper.sh
Labels: semver: patch

#10589 Bump moto-ext to 5.0.4.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#10193 [SFN] Makefile Targets for Parsers Generation
  localstack/services/stepfunctions/asl/antlr/.gitignore
  localstack/services/stepfunctions/asl/antlr/Makefile
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLIntrinsicParserVisitor.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.interp
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.tokens
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
Labels: semver: patch

#10595 fix function get azs cloudformation template
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/functions_get_azs.yml
Labels: semver: patch

#10593 fix DDB issue when TransactWriteItems targets tables with and without streams
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#10537 extend pinning in ASF update action
  .github/workflows/asf-updates.yml
  Makefile
  bin/release-helper.sh
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#10507 chore: remove repetitive words
  localstack/services/lambda_/invocation/version_manager.py
  localstack/utils/aws/request_context.py
  localstack/utils/http.py
Labels: status: response required, semver: patch

#10594 fix SNS MessageBody filtering when value is a list
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
  tests/unit/test_sns.py
Labels: aws:sns, semver: patch

#10520 added aws validate test case for ListSecrets filtering
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: aws:secretsmanager, semver: patch

#10604 fix s3 create bucket constraint
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/exceptions.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10607 Revert "added aws validate test case for ListSecrets filtering"
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: aws:secretsmanager, semver: patch

#10560 add script for generating Kubernetes dev files
  localstack/dev/kubernetes/__init__.py
  localstack/dev/kubernetes/__main__.py
Labels: semver: minor

#10600 eventbridge: fix handling of list elements
  localstack/services/events/utils.py
  localstack/utils/testutil.py
  tests/aws/services/events/event_pattern_templates/list_within_dict.json5
  tests/aws/services/events/test_event_patterns.snapshot.json
  tests/aws/services/events/test_event_patterns.validation.json
  tests/aws/services/events/test_events_integrations.py
  tests/aws/services/events/test_events_integrations.snapshot.json
  tests/aws/services/events/test_events_integrations.validation.json
Labels: semver: patch

#10253 Remove hardcoded credentials and region for unit tests
  tests/unit/conftest.py
Labels: semver: patch

#10572 fix deprecated secret versions preservation in secretsmanager
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: type: bug, aws:secretsmanager, semver: patch

#10608 added aws validate test case for ListSecrets filtering
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: aws:secretsmanager, semver: patch

#10614 Raise correct exceptions for simultaneous lambda function updates
  localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack/services/lambda_/invocation/lambda_service.py
  localstack/services/lambda_/invocation/version_manager.py
  localstack/testing/aws/lambda_utils.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#10624 Add container labels to container configuration and container run methods
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#10629 Add missing library for transcribe on ARM
  Dockerfile
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#10630 Ensure container clients return the same format for container labels on list call
  localstack/utils/container_utils/docker_cmd_client.py
  tests/integration/docker_utils/test_docker.py
  tests/unit/test_dockerclient.py
Labels: semver: patch

#10616 add s3 POST policy validation
  localstack/aws/api/s3/__init__.py
  localstack/aws/spec-patches.json
  localstack/services/s3/presigned_url.py
  localstack/services/s3/provider.py
  localstack/services/s3/v3/provider.py
  localstack/services/s3/v3/storage/core.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10633 fix docker client ulimits
  localstack/utils/container_utils/docker_cmd_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#10631 [SFN] Fix Unknown Service sfn errors
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack/services/stepfunctions/provider.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_sfn_send_task_failure.json5
  tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_sfn_send_task_success.json5
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: semver: patch

#10637 fix `connect` unit tests for cross-accounts
  tests/unit/aws/test_connect.py
Labels: semver: patch

#10490 Refactor the TCP proxy into a clearer, server based construct
  localstack/services/edge.py
  localstack/utils/server/proxy_server.py
  localstack/utils/server/tcp_proxy.py
  tests/unit/test_edge.py
  tests/unit/utils/test_tcp_proxy.py
Labels: semver: minor

#10556 Add update template_body
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_update_stack.py
  tests/aws/services/cloudformation/api/test_update_stack.snapshot.json
  tests/aws/services/cloudformation/api/test_update_stack.validation.json
Labels: aws:cloudformation, semver: patch

#10643 fix metrics upload failure on community PRs
  .circleci/config.yml
Labels: semver: patch

#10634 Check for VPC existence for hostedzone
  localstack/services/route53/provider.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/route53/test_route53.snapshot.json
  tests/aws/services/route53/test_route53.validation.json
Labels: semver: patch

#10639 More consistent CFn logging for individual resources
  localstack/services/cloudformation/engine/template_deployer.py
Labels: semver: patch

#10647 Add libvirt as a build dependency
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#10632 Implement Lambda Event Source Filter update in CFn Provider
  localstack/services/lambda_/resource_providers/aws_lambda_eventsourcemapping.py
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/templates/lambda_dynamodb_filtering.yaml
Labels: semver: patch

#10646 Fix dev run container exiting from raw mode
  localstack/utils/run.py
Labels: semver: patch

#10652 Adapt source distribution glob to new PEP 625 canonicalized name
  Makefile
Labels: semver: patch

#10656 Use single character wildcard when matching the source distribution to avoid breaking with yanked setuptools
  Makefile
Labels: semver: patch

#10626 fixed exception handling in secretsmanager
  localstack/services/secretsmanager/provider.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: aws:secretsmanager, semver: patch

#10641 add S3 pre-signed POST test with credentials
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10653 Validate existing test apigw
  localstack/testing/pytest/fixtures.py
  tests/aws/services/acm/test_acm.py
  tests/aws/services/acm/test_acm.snapshot.json
  tests/aws/services/acm/test_acm.validation.json
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
Labels: semver: patch

#10673 CFn: handle `OperationStatus.PENDING` events from resource providers
  localstack/services/cloudformation/engine/template_deployer.py
  localstack/services/cloudformation/resource_provider.py
Labels: semver: patch

#10640 fix lambda function URLs when they don't exist or the service is not loaded
  localstack/aws/app.py
  localstack/aws/handlers/service_plugin.py
  localstack/aws/protocol/service_router.py
  localstack/services/lambda_/urlrouter.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: minor

#10168 [SFN] Support for TestState Api Action
  localstack/services/stepfunctions/asl/component/common/parameters.py
  localstack/services/stepfunctions/asl/component/common/result_selector.py
  localstack/services/stepfunctions/asl/component/state/state_choice/state_choice.py
  localstack/services/stepfunctions/asl/component/state/state_pass/result.py
  localstack/services/stepfunctions/asl/component/state/state_pass/state_pass.py
  localstack/services/stepfunctions/asl/component/test_state/__init__.py
  localstack/services/stepfunctions/asl/component/test_state/program/__init__.py
  localstack/services/stepfunctions/asl/component/test_state/program/test_state_program.py
  localstack/services/stepfunctions/asl/component/test_state/state/__init__.py
  localstack/services/stepfunctions/asl/component/test_state/state/test_state_state_props.py
  localstack/services/stepfunctions/asl/eval/environment.py
  localstack/services/stepfunctions/asl/eval/test_state/__init__.py
  localstack/services/stepfunctions/asl/eval/test_state/environment.py
  localstack/services/stepfunctions/asl/eval/test_state/program_state.py
  localstack/services/stepfunctions/asl/parse/asl_parser.py
  localstack/services/stepfunctions/asl/parse/test_state/__init__.py
  localstack/services/stepfunctions/asl/parse/test_state/asl_parser.py
  localstack/services/stepfunctions/asl/parse/test_state/preprocessor.py
  localstack/services/stepfunctions/asl/static_analyser/__init__.py
  localstack/services/stepfunctions/asl/static_analyser/static_analyser.py
  localstack/services/stepfunctions/asl/static_analyser/test_state/__init__.py
  localstack/services/stepfunctions/asl/static_analyser/test_state/test_state_analyser.py
  localstack/services/stepfunctions/backend/execution.py
  localstack/services/stepfunctions/backend/execution_worker.py
  localstack/services/stepfunctions/backend/execution_worker_comm.py
  localstack/services/stepfunctions/backend/state_machine.py
  localstack/services/stepfunctions/backend/test_state/__init__.py
  localstack/services/stepfunctions/backend/test_state/execution.py
  localstack/services/stepfunctions/backend/test_state/execution_worker.py
  localstack/services/stepfunctions/provider.py
  localstack/utils/aws/arns.py
  tests/aws/services/stepfunctions/conftest.py
  tests/aws/services/stepfunctions/templates/test_state/__init__.py
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_choice_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_fail_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_lambda_service_task_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_lambda_task_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_pass_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_result_pass_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_succeed_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/base_wait_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/io_lambda_service_task_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/io_pass_state.json5
  tests/aws/services/stepfunctions/templates/test_state/statemachines/io_result_pass_state.json5
  tests/aws/services/stepfunctions/templates/test_state/test_state_templates.py
  tests/aws/services/stepfunctions/v2/test_state/__init__.py
  tests/aws/services/stepfunctions/v2/test_state/test_test_state_scenarios.py
  tests/aws/services/stepfunctions/v2/test_state/test_test_state_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/test_state/test_test_state_scenarios.validation.json
Labels: semver: minor

#10638 Bump moto-ext to 5.0.5.post1
  localstack/services/cloudwatch/provider.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#10682 fix apigw data plane service matching
  localstack/aws/handlers/cors.py
  localstack/aws/protocol/service_router.py
Labels: semver: patch

#10678 add cdk infra setup for ecr images
  localstack/testing/scenario/cdk_lambda_helper.py
Labels: semver: minor

#10665 fix APIGW: add rootResourceId to REST API creation
  localstack/services/apigateway/helpers.py
  localstack/services/apigateway/provider.py
  localstack/testing/pytest/fixtures.py
  localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/aws/services/apigateway/test_apigateway_extended.snapshot.json
  tests/aws/services/apigateway/test_apigateway_extended.validation.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/api/test_transformers.snapshot.json
  tests/aws/services/cloudformation/api/test_transformers.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
Labels: aws:apigateway, semver: patch

#10684 fix SNS filtering when payload contains arrays
  localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
  tests/unit/test_sns.py
Labels: aws:sns, semver: patch

#10685 fix DDB eventName for TransactWriteItems Update inserting data
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, aws:dynamodbstreams, semver: patch

#10615 Add experimental event ruler
  Dockerfile
  Makefile
  localstack/config.py
  localstack/packages/core.py
  localstack/services/events/event_ruler.py
  localstack/services/events/packages.py
  localstack/services/events/provider.py
  localstack/services/lambda_/event_source_listeners/dynamodb_event_source_listener.py
  localstack/services/lambda_/event_source_listeners/utils.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/events/event_pattern_templates/exists_dynamodb.json5
  tests/aws/services/events/event_pattern_templates/exists_dynamodb_NEG.json5
  tests/aws/services/events/test_event_patterns.py
  tests/aws/services/events/test_event_patterns.snapshot.json
  tests/aws/services/events/test_event_patterns.validation.json
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/test_lambda_integration_dynamodbstreams.validation.json
  tests/unit/services/lambda_/test_lambda_utils.py
Labels: semver: minor

#10689 Fix missing config in list for CLI
  localstack/config.py
Labels: semver: patch

#10688 improve user request route detection for APIGW in CORS
  localstack/aws/handlers/cors.py
  tests/integration/test_security.py
Labels: aws:apigateway, semver: patch

#10695 fix external service ports manager unit test flakiness
  tests/unit/test_common.py
Labels: semver: patch

#10591 Implementation of Lambda Advanced Configuration attribute
  localstack/services/lambda_/api_utils.py
  localstack/services/lambda_/invocation/lambda_models.py
  localstack/services/lambda_/provider.py
  localstack/services/lambda_/runtimes.py
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.snapshot.json
  tests/aws/scenario/lambda_destination/test_lambda_destination_scenario.validation.json
  tests/aws/scenario/note_taking/test_note_taking.snapshot.json
  tests/aws/scenario/note_taking/test_note_taking.validation.json
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: semver: patch

#10704 Add Ruby 3.3 Lambda runtime
  localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.validation.json
Labels: semver: minor

#10698 Bump Lambda runtime versions and increase sleep time
  tests/aws/services/lambda_/test_lambda_developer_tools.py
Labels: semver: patch

#10705 [SFN] Add Support for MaxConcurrencyPath
  localstack/services/stepfunctions/asl/antlr/ASLLexer.g4
  localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack/services/stepfunctions/asl/antlr/runtime/ASLLexer.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserListener.py
  localstack/services/stepfunctions/asl/antlr/runtime/ASLParserVisitor.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/inline_iteration_component.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/max_concurrency.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  localstack/services/stepfunctions/asl/component/state/state_props.py
  localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/max_concurrency_path.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: patch

#10613 Feature: Eventbridge v2: CRUD
  localstack/services/events/event_bus.py
  localstack/services/events/models_v2.py
  localstack/services/events/provider_v2.py
  localstack/services/events/rule.py
  localstack/services/events/target.py
  localstack/testing/aws/asf_utils.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_integrations.py
Labels: type: feature, aws:events, semver: minor

#10707 [SFN] Fix TaskToken Creation Logic
  localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding_path_context_obj.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack/services/stepfunctions/asl/eval/contextobject/contex_object.py
  localstack/services/stepfunctions/asl/eval/environment.py
  tests/aws/services/stepfunctions/templates/base/statemachines/query_context_object_values.json5
  tests/aws/services/stepfunctions/templates/callbacks/callback_templates.py
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_wait_for_task_token_call_chain.json5
  tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_wait_for_task_token_no_token_parameter.json5
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.snapshot.json
  tests/aws/services/stepfunctions/v2/callback/test_callback.validation.json
Labels: semver: patch

#10699 Fix TTL for tables with RANGE keys
  localstack/services/dynamodb/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: aws:dynamodb, semver: patch

#10700 Capture example lambda triggered by SQS event
  tests/aws/services/cloudformation/resources/test_sam.py
  tests/aws/services/cloudformation/resources/test_sam.validation.json
  tests/aws/templates/sam_sqs_template.yml
Labels: semver: patch

#10690 Avoid failing host_path_for_path_in_docker if no docker daemon is available
  localstack/utils/container_utils/container_client.py
  localstack/utils/container_utils/docker_sdk_client.py
  localstack/utils/docker_utils.py
Labels: semver: patch

#10710 Add custom Lambda runtimes endpoint
  localstack/services/lambda_/custom_endpoints.py
  localstack/services/lambda_/plugins.py
Labels: semver: minor

#10701 create pattern construct for a webapp extension
  localstack/extensions/patterns/__init__.py
  localstack/extensions/patterns/webapp.py
Labels: semver: patch

#10686 update release banner in README
  README.md
Labels: semver: patch

#10717 fix headers for empty S3 responses
  localstack/aws/protocol/serializer.py
  localstack/services/s3/provider.py
  localstack/services/s3/utils.py
  localstack/services/s3/v3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#10720 Avoid concurrent pulling of identical images in lambda
  localstack/services/lambda_/invocation/docker_runtime_executor.py
Labels: semver: patch

#10721 CFN_PER_RESOURCE_TIMEOUT env variable
  localstack/config.py
  localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#10718 add utility for resource providers
  localstack/services/cloudformation/provider_utils.py
  tests/unit/services/cloudformation/test_provider_utils.py
Labels: semver: patch

#10711 Hide docker sdk error unless trace logging
  localstack/utils/container_utils/docker_sdk_client.py
Labels: area: docker, semver: patch

#10728 Fix SubtypesInstanceManager not loading subtypes lazily
  localstack/utils/objects.py
Labels: semver: patch

#10743 migrate from enhancement request to feature request
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: semver: patch

#10735 add resource providers for vpc endpoint and prefix list
  localstack/services/ec2/resource_providers/aws_ec2_prefixlist.py
  localstack/services/ec2/resource_providers/aws_ec2_prefixlist.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_prefixlist_plugin.py
  localstack/services/ec2/resource_providers/aws_ec2_vpcendpoint.py
  localstack/services/ec2/resource_providers/aws_ec2_vpcendpoint.schema.json
  localstack/services/ec2/resource_providers/aws_ec2_vpcendpoint_plugin.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.py
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.validation.json
  tests/aws/templates/ec2_prefixlist.yml
  tests/aws/templates/ec2_vpc_endpoint.yml
Labels: semver: minor
