Repository localstack/localstack, pull requests merged in 2025-03, with the labels that each got.

#12323 [ESM] Fix flaky SQS ReportBatchItemFailures test with proper visiblity timeouts
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
Labels: aws:sqs, semver: patch, aws:lambda:event-source-mapping

#12319 [ESM] Fix constantly triggering SQS back-off
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
Labels: semver: patch, aws:lambda:event-source-mapping

#12297 [ESM] Validate event sources existence
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
Labels: semver: minor

#12328 Skip flaky Kinesis Lambda test
  tests/aws/test_integration.py
Labels: semver: patch

#12324 APIGW: add validation for AWS ARN in PutIntegration
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.snapshot.json
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
Labels: aws:apigateway, semver: patch

#12329 [ESM] Fix validation of StartingPosition streams parameter
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: type: bug, semver: patch, aws:lambda:event-source-mapping

#12320 CFn: populate APIGW regional* properties
  localstack-core/localstack/services/apigateway/resource_providers/aws_apigateway_domainname.py
Labels: semver: patch

#12338 ESM: fix CreateESM SQS validation
  localstack-core/localstack/services/lambda_/provider.py
Labels: aws:lambda, semver: patch

#12103 fix kms api call response on method get-key-rotation-status
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: patch

#12314 add service catalog cache loading from static var
  Dockerfile
  localstack-core/localstack/aws/protocol/service_router.py
  localstack-core/localstack/aws/spec.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/s3/cors.py
  localstack-core/localstack/services/s3/presigned_url.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  tests/unit/aws/test_service_router.py
Labels: semver: patch

#12341 add build time service catalog cache generation to s3 image
  Dockerfile.s3
Labels: semver: patch

#12343 Step Functions: Improve Nested Map Run Stability
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/distributed_iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/inline_iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/distributed_item_processor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/itemprocessor/inline_item_processor.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iteration_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/distributed_iterator.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/iteration/iterator/inline_iterator.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_nested_config_distributed_no_max_concurrency.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#12262 fix flaky transcribe tests
  localstack-core/localstack/constants.py
  localstack-core/localstack/services/transcribe/provider.py
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#12344 Makes docker healthcheck more robust
  Dockerfile
Labels: semver: patch

#12347 migrate healthcheck enhancements to S3 image
  Dockerfile.s3
Labels: semver: patch

#11800 move parse_service_name after serve_edge_router_rules
  localstack-core/localstack/aws/app.py
Labels: area: asf, semver: patch

#12352 fix redshift tests if not in docker
  tests/aws/services/cloudformation/resources/test_redshift.py
  tests/aws/services/redshift/test_redshift.py
Labels: semver: patch

#12354 Remove version attribute from docker compose files
  docker-compose-pro.yml
  docker-compose.yml
Labels: area: docker, semver: patch

#12312 [ESM] Correctly enable exponential backoff inside stream poller
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: type: bug, semver: minor, aws:lambda:event-source-mapping

#12326 Step Functions: Support for Aliasing
  localstack-core/localstack/services/stepfunctions/backend/alias.py
  localstack-core/localstack/services/stepfunctions/backend/execution.py
  localstack-core/localstack/services/stepfunctions/backend/state_machine.py
  localstack-core/localstack/services/stepfunctions/backend/store.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/testing/pytest/stepfunctions/fixtures.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.validation.json
Labels: semver: minor

#12360 [ESM] Reset shards in StreamPoller for DDB Local errors
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: type: bug, semver: patch, aws:lambda:event-source-mapping

#12362 Use per-file-target-version to define Python 3.9 for CLI code
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  localstack-core/localstack/utils/analytics/usage.py
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/functions.py
  pyproject.toml
  tests/aws/services/events/test_events.py
  tests/aws/services/route53resolver/test_route53resolver.py
Labels: semver: patch

#12192 add resource provider utility to convert LowerCamelCase to Pascal
  localstack-core/localstack/services/cloudformation/provider_utils.py
  tests/unit/services/cloudformation/test_provider_utils.py
Labels: semver: patch

#12373 chore: improve remaining tests snapshots
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_changesets.validation.json
  tests/aws/services/events/test_archive_and_replay.py
  tests/aws/services/events/test_archive_and_replay.snapshot.json
  tests/aws/services/events/test_archive_and_replay.validation.json
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_inputs.snapshot.json
  tests/aws/services/events/test_events_inputs.validation.json
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_schedule.snapshot.json
  tests/aws/services/events/test_events_schedule.validation.json
  tests/aws/services/events/test_events_tags.py
  tests/aws/services/events/test_events_tags.snapshot.json
  tests/aws/services/events/test_events_tags.validation.json
Labels: semver: patch

#12368 Fix Invalid noqa Usage in Step Functions TestState Preprocessor
  localstack-core/localstack/services/stepfunctions/asl/parse/test_state/preprocessor.py
Labels: semver: minor

#12355 Cloud Formation: [POC] Modeling Stack Operations and Evaluating ChangeSet Descriptions
  localstack-core/localstack/services/cloudformation/engine/v2/__init__.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
Labels: semver: minor

#12375 CFn updates: create new v2 provider for new engine
  localstack-core/localstack/services/cloudformation/v2/__init__.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/services/providers.py
Labels: semver: minor

#12351 Implement IAM service specific credentials CRUD
  localstack-core/localstack/services/iam/iam_patches.py
  localstack-core/localstack/services/iam/provider.py
  tests/aws/conftest.py
  tests/aws/services/iam/test_iam.py
  tests/aws/services/iam/test_iam.snapshot.json
  tests/aws/services/iam/test_iam.validation.json
Labels: semver: minor

#12371 fix APIGW binary media types
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: aws:apigateway, semver: patch

#12336 Transcribe: New language models
  localstack-core/localstack/services/transcribe/provider.py
Labels: semver: minor

#12327 Step Functions: Allow JSONata Object Templates in ItemSelector Declarations
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_selector.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_item_selector_jsonata.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#12380 SNS: migrate to new Counter type for analytics
  localstack-core/localstack/services/sns/analytics.py
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/usage.py
Labels: semver: patch

#12358 cleanup ServiceNameParser rules
  localstack-core/localstack/aws/protocol/service_router.py
Labels: area: asf, semver: minor

#12379 Fix apigw input path formatting
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
Labels: aws:apigateway, semver: patch

#12386 make counter classes public
  localstack-core/localstack/utils/analytics/metrics.py
Labels: semver: patch

#12369 Step Functions: Lazy Initialization of JVM for JSONata Evaluation
  localstack-core/localstack/services/stepfunctions/asl/jsonata/jsonata.py
Labels: semver: minor

#12394 events: fix Event Ruler to not evaluate the full payload
  localstack-core/localstack/services/events/event_rule_engine.py
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
  tests/aws/services/events/test_payloads/large_complex_payload.json
  tests/unit/services/events/test_event_ruler.py
Labels: aws:events, semver: patch

#12395 SNS: fix Filter Policy engine to not evaluate full complex payload
  localstack-core/localstack/services/sns/filter.py
  tests/aws/services/sns/test_payloads/complex_payload.json
  tests/aws/services/sns/test_sns_filter_policy.py
  tests/aws/services/sns/test_sns_filter_policy.snapshot.json
  tests/aws/services/sns/test_sns_filter_policy.validation.json
  tests/unit/services/sns/test_sns.py
Labels: aws:sns, semver: patch

#12389 Step Functions: Migrate Usage Metrics to New Counter Standards
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/usage_metrics_static_analyser.py
  localstack-core/localstack/services/stepfunctions/usage.py
  tests/unit/services/stepfunctions/test_usage_metrics_static_analyser.py
Labels: semver: minor

#12402 DDBStreams: skip flaky test
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: aws:dynamodbstreams, semver: patch

#12378 Cloud Formation: [POC] Update Graph with Template Traversal & Intrinsic Function Resolution
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12382 CFn: switch to new usage counters
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/cloudformation/usage.py
Labels: semver: patch

#12340 Track Lambda runtime environment timeout
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch

#12383 APIGW: migrate to new Counter type for REST API analytics
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/analytics.py
Labels: aws:apigateway, semver: patch

#12404 Bump moto-ext to 5.1.1.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#12408 add tags to cfn read security groups
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_securitygroup.py
Labels: aws:cloudformation, aws:ec2, semver: patch

#12388 Events: migrate to new Counter type for Event Rule invocation analytics
  localstack-core/localstack/services/events/analytics.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/usage.py
Labels: aws:events, semver: patch

#12413 APIGW: fix rendering of $input.body when empty
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/apigateway/test_apigateway_common.py
  tests/aws/services/apigateway/test_apigateway_common.snapshot.json
  tests/aws/services/apigateway/test_apigateway_common.validation.json
  tests/aws/services/apigateway/test_apigateway_sqs.py
  tests/aws/services/apigateway/test_apigateway_sqs.snapshot.json
  tests/aws/services/apigateway/test_apigateway_sqs.validation.json
  tests/unit/services/apigateway/test_template_mapping.py
Labels: aws:apigateway, semver: patch

#12401 S3: fix checksum behavior and add new AWS behavior
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/spec-patches.json
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/apigateway/test_apigateway_s3.snapshot.json
  tests/aws/services/apigateway/test_apigateway_s3.validation.json
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
  tests/aws/services/s3/test_s3_cors.snapshot.json
  tests/aws/services/s3/test_s3_cors.validation.json
  tests/aws/services/s3/test_s3_notifications_lambda.snapshot.json
  tests/aws/services/s3/test_s3_notifications_lambda.validation.json
Labels: aws:s3, semver: patch

#12418 Run tests on PRs against all branches
  .github/workflows/tests-bin.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-pro-integration.yml
Labels: semver: patch

#12415 [ESM] Add configurable poll frequency and log shard info
  localstack-core/localstack/config.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: area: performance, semver: minor, aws:lambda:event-source-mapping

#12397 Implement pagination to localstacks SQS list_queues method
  .gitignore
  localstack-core/localstack/services/sqs/constants.py
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/sqs/utils.py
  localstack-core/localstack/utils/collections.py
  localstack-core/localstack/utils/common.py
  localstack-core/localstack/utils/strings.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#12037 Better logging for ReflectionStateLocator
  localstack-core/localstack/state/inspect.py
Labels: semver: patch

#12421 Cloud Formation: [POC] Support for Update Graph Modeling of: Conditions, Intrinsic Functions, and Type Divergences
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12405 Cloud Formation: [POC] Scoping Mechanism, Base Support for Parameters, Dynamic Parameters, Conditions, Intrinsic Functions, and Type Divergence
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12412 Migrate legacy usage counters to new analytic counters
  localstack-core/localstack/services/lambda_/analytics.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_event_processor.py
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/invocation/event_manager.py
  localstack-core/localstack/services/lambda_/invocation/lambda_service.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/usage.py
Labels: semver: patch

#12409 Make Lambda reusable for CloudFront Lambda@Edge
  localstack-core/localstack/runtime/analytics.py
  localstack-core/localstack/services/lambda_/invocation/counting_service.py
  localstack-core/localstack/services/lambda_/invocation/lambda_service.py
  localstack-core/localstack/services/lambda_/invocation/version_manager.py
  localstack-core/localstack/services/lambda_/lambda_utils.py
Labels: semver: patch

#12430 [Utils] Add a batch policy utility
  localstack-core/localstack/utils/batch_policy.py
  tests/unit/utils/test_batch_policy.py
Labels: area: performance, semver: minor, aws:lambda:event-source-mapping

#12437 [ESM] Support Stream Poller batching
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: area: performance, semver: minor, aws:lambda:event-source-mapping

#12440 update kinesis-mock from 0.4.8 to 0.4.9
  localstack-core/localstack/services/kinesis/packages.py
Labels: semver: patch

#12433 CloudFormation: Fix LoggingConfiguration Parameter Handling in StepFunctions Resource Provider
  localstack-core/localstack/services/stepfunctions/resource_providers/aws_stepfunctions_statemachine.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.snapshot.json
  tests/aws/services/cloudformation/resources/test_stepfunctions.validation.json
  tests/aws/templates/statemachine_machine_logging_configuration.yml
Labels: semver: minor

#12445 add localstack 4.3 blog to the README
  README.md
Labels: semver: patch

#12441 Fix flaky lambda test event retry reserved concurrency
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/lambda_/functions/lambda_notifier.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#12438 CFn: add tests for capturing change set process
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_changesets.validation.json
Labels: semver: patch

#12432 CloudFormation: [POC] Support Update Graph Modeling of Mappings and FindInMap
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12455 Admin: Improve license metadata
  pyproject.toml
Labels: semver: patch

#12443 CloudFormation: POC Support for Modeling of Outputs Blocks in the Update Graph, Improved Handling of Intrinsic Function Types
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor
