Repository localstack/localstack, pull requests merged in 2025-09, with the labels that each got.

#13077 Fix typing for the tagging service
  localstack-core/localstack/utils/tagging.py
Labels: semver: patch, skip-docs

#13079 Fix: add PLATFORM validation to docker-helper.sh build command
  bin/docker-helper.sh
  tests/bin/test.docker-helper.bats
Labels: semver: patch, skip-docs

#13072 Docker: Support remove_container(volume=True)
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: area: docker, semver: patch, skip-docs

#13094 Fix misnamed service_name attribute in stores
  localstack-core/localstack/services/stores.py
  tests/unit/test_stores.py
Labels: semver: patch, skip-docs

#13101 CFNV2: fix community issues after attempted pro fixes
  .github/workflows/aws-tests.yml
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: semver: patch, skip-docs

#13082 fix CI step for publishing alternative providers results
  .github/workflows/aws-tests.yml
Labels: semver: patch, skip-docs

#13105 Support Additional Parameters for S3 UploadPartCopy
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: minor, skip-docs

#13102 KMS: AWS-compliant validation for multi-region key replication
  localstack-core/localstack/services/kms/provider.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: patch, skip-docs

#13135 Update version in README
  README.md
Labels: area: documentation, semver: patch, skip-docs

#13132 CFn: fix modelling issue with AWS::NoValue
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_validator.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_changesets.validation.json
Labels: aws:cloudformation, semver: patch, skip-docs

#13136 CFn: better validation of select construct
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/test_change_set_fn_select.py
  tests/aws/services/cloudformation/test_change_set_fn_select.snapshot.json
  tests/aws/services/cloudformation/test_change_set_fn_select.validation.json
Labels: aws:cloudformation, semver: patch, review: merge when ready, skip-docs

#13146 CFn: fix invalid behaviour for nested intrinsic calls
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_transform.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_validator.py
  localstack-core/localstack/services/ecr/resource_providers/aws_ecr_repository.py
  tests/aws/services/cloudformation/test_change_set_fn_select.py
  tests/aws/services/cloudformation/test_change_set_fn_select.snapshot.json
  tests/aws/services/cloudformation/test_change_set_fn_select.validation.json
Labels: aws:cloudformation, semver: patch, review: merge when ready, skip-docs

#13134 opensearch: add new versions
  localstack-core/localstack/constants.py
  localstack-core/localstack/services/es/provider.py
  localstack-core/localstack/services/opensearch/cluster.py
  localstack-core/localstack/services/opensearch/packages.py
  localstack-core/localstack/services/opensearch/provider.py
  localstack-core/localstack/services/opensearch/versions.py
  tests/aws/cdk_templates/Bookstore/BookstoreStack.json
  tests/aws/scenario/bookstore/test_bookstore.py
  tests/aws/scenario/bookstore/test_bookstore.snapshot.json
  tests/aws/scenario/bookstore/test_bookstore.validation.json
  tests/aws/services/es/test_es.py
  tests/aws/services/opensearch/test_opensearch.py
  tests/aws/services/opensearch/test_opensearch.snapshot.json
  tests/aws/services/opensearch/test_opensearch.validation.json
Labels: aws:opensearch, semver: minor, needs-docs

#13125 ASF: implement RPC V2 CBOR parser and serializer
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/aws/spec.py
  tests/aws/services/kinesis/test_kinesis.validation.json
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_serializer.py
Labels: area: asf, semver: minor, skip-docs

#13027 IaC: Add AWS operations and CFN resources catalog
  localstack-core/localstack/aws/handlers/service.py
  localstack-core/localstack/utils/catalog/catalog.py
  localstack-core/localstack/utils/catalog/catalog_loader.py
  localstack-core/localstack/utils/catalog/common.py
  localstack-core/localstack/utils/catalog/plugins.py
  tests/unit/utils/test_catalog.py
Labels: semver: patch, needs-docs

#13147 unpin moto-ext, upgrade to 5.1.12.post22
  localstack-core/localstack/services/ses/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/ses/test_ses.snapshot.json
  tests/aws/services/ses/test_ses.validation.json
Labels: semver: minor, skip-docs

#13037 upgrade to Python 3.13 and Debian Trixie
  .github/workflows/asf-updates.yml
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests-s3-image.yml
  .github/workflows/aws-tests.yml
  .github/workflows/marker-report.yml
  .github/workflows/tests-bin.yml
  .github/workflows/tests-podman.yml
  .github/workflows/tests-pro-integration.yml
  .python-version
  Dockerfile
  Dockerfile.s3
  localstack-core/localstack/runtime/init.py
  localstack-core/localstack/services/s3/provider.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor, skip-docs

#13163 update old references to venv paths
  localstack-core/localstack/dev/kubernetes/__main__.py
  localstack-core/localstack/dev/run/paths.py
Labels: area: ci, semver: patch, review: merge when ready, skip-docs

#13151 ASF: implement multi-protocol support
  localstack-core/localstack/aws/api/core.py
  localstack-core/localstack/aws/handlers/service.py
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/aws/protocol/service_router.py
  localstack-core/localstack/aws/skeleton.py
  localstack-core/localstack/aws/spec.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  localstack-core/localstack/services/sqs/query_api.py
  tests/unit/aws/test_service_router.py
Labels: area: asf, semver: minor, skip-docs

#13161 ASF/CloudWatch: add support for multi-protocols
  localstack-core/localstack/aws/api/cloudwatch/__init__.py
  localstack-core/localstack/aws/client.py
  localstack-core/localstack/aws/forwarder.py
  localstack-core/localstack/aws/handlers/analytics.py
  localstack-core/localstack/aws/handlers/service.py
  localstack-core/localstack/aws/protocol/parser.py
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/aws/spec-patches.json
  localstack-core/localstack/services/apigateway/legacy/provider.py
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  localstack-core/localstack/services/moto.py
  localstack-core/localstack/utils/time.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
  tests/aws/services/cloudwatch/utils.py
  tests/aws/test_moto.py
  tests/unit/aws/handlers/test_analytics.py
  tests/unit/aws/handlers/test_response_enrichment.py
  tests/unit/aws/handlers/test_service.py
  tests/unit/aws/protocol/test_parser.py
  tests/unit/aws/protocol/test_parser.snapshot.json
  tests/unit/aws/protocol/test_parser.validation.json
  tests/unit/aws/test_mocking.py
  tests/unit/test_common.py
Labels: aws:cloudwatch, area: asf, semver: minor, skip-docs

#13172 ASF: handle error serialization for Query-compatible services
  localstack-core/localstack/aws/protocol/serializer.py
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/conftest.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, aws:cloudwatch, area: asf, semver: minor, skip-docs

#13189 switch to new labels workflow, add notes labels sync
  .github/workflows/asf-updates.yml
  .github/workflows/pr-enforce-docs-labels.yml
  .github/workflows/pr-enforce-pr-labels.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-cfn-resources.yml
  .github/workflows/update-test-durations.yml
  .github/workflows/upgrade-python-dependencies.yml
Labels: semver: patch, skip-docs, notes: skip

#13190 CloudWatch: fix MA/MR for new snapshot test `test_put_metric_alarm_escape_character`
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: aws:cloudfront, area: multi-account, semver: patch, docs: skip, notes: skip

#13192 CFn: handle resolving parameter names constructed in intrinsics
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/resolving.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/resolve_ssm.yaml
  tests/unit/services/cloudformation/test_cloudformation.py
Labels: aws:cloudformation, semver: patch, review: merge when ready, docs: skip, notes: skip

#12814 SES: add snapshot test for describe_configuration_set with SNS destinations
  tests/aws/services/ses/test_ses.py
  tests/aws/services/ses/test_ses.snapshot.json
  tests/aws/services/ses/test_ses.validation.json
Labels: semver: patch

#13197 add sqs tests for ApproximateNumberOfMessagesNotVisible queue attribute
  localstack-core/localstack/services/sqs/models.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, semver: patch, docs: skip, notes: skip

#12961 feat(kinesis): implement resource policies CRUD operations (#12488)
  localstack-core/localstack/services/kinesis/models.py
  localstack-core/localstack/services/kinesis/provider.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/aws/services/kinesis/test_kinesis.snapshot.json
  tests/aws/services/kinesis/test_kinesis.validation.json
Labels: aws:kinesis, semver: minor

#13200 fix pr-enforce-pr-labels workflow reference
  .github/workflows/pr-enforce-pr-labels.yml
Labels: semver: patch, review: merge when ready, docs: skip, notes: skip

#13212 Cfn: Fix backslash processing for dynamic replacement values
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/resolve_secretsmanager_with_backslashes.yaml
Labels: semver: patch, docs: skip, notes: skip
