Repository localstack/localstack, pull requests merged in 2025-10, with the labels that each got.

#13184 IaC: Update CatalogPlugin class and common catalog plugins logic
  localstack-core/localstack/utils/catalog/catalog.py
  localstack-core/localstack/utils/catalog/common.py
  tests/unit/utils/test_catalog.py
Labels: semver: patch, review: merge when ready, docs: skip, notes: skip

#13229 Skip test test_cfn_apigateway_swagger_import when running in K8s
  tests/aws/services/cloudformation/resources/test_apigateway.py
Labels: semver: patch, docs: skip, notes: skip

#13205 Sns/v2 topic migration
  localstack-core/localstack/services/sns/v2/models.py
  localstack-core/localstack/services/sns/v2/provider.py
  tests/aws/services/sns/conftest.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: semver: minor, docs: skip, notes: skip

#13230 Correct casing for x-amzn-RequestId header
  localstack-core/localstack/aws/protocol/serializer.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
  tests/unit/aws/protocol/test_serializer.py
Labels: semver: minor, docs: skip, notes: skip

#13231 CFn: fix number parameter types
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/utils/numbers.py
  tests/aws/services/cloudformation/resources/test_logs.py
  tests/aws/services/cloudformation/resources/test_logs.snapshot.json
  tests/aws/services/cloudformation/resources/test_logs.validation.json
  tests/aws/services/cloudformation/test_change_set_parameters.py
  tests/aws/services/cloudformation/test_change_set_parameters.snapshot.json
  tests/aws/services/cloudformation/test_change_set_parameters.validation.json
  tests/aws/templates/logs_group.yml
  tests/unit/test_common.py
Labels: aws:cloudformation, semver: patch, docs: skip, notes: skip

#13238 CFn: correctly skip conditionally disabled resources
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/engine/test_conditions.py
  tests/aws/services/cloudformation/engine/test_conditions.snapshot.json
  tests/aws/services/cloudformation/engine/test_conditions.validation.json
  tests/aws/templates/references_to_conditions.yml
Labels: aws:cloudformation, semver: patch, docs: skip, notes: skip

#13240 SNS: Fix multi-region test
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: semver: patch, docs: skip, notes: skip

#13233 APIGW: fix Integration connectionId not being returned
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: aws:apigateway, semver: patch, docs: skip, notes: skip
