Repository localstack/localstack, pull requests merged in 2025-08, with the labels that each got.

#12947 mitigate issues with pip-tools 7.5.0 with dependency limit
  .github/workflows/asf-updates.yml
  Makefile
Labels: area: ci, area: asf, semver: patch, review: merge when ready

#12689 add testing for Fn::Transform in CFn v2
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_transform.py
  localstack-core/localstack/testing/pytest/cloudformation/fixtures.py
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/test_change_set_fn_transform.py
  tests/aws/services/cloudformation/test_change_set_fn_transform.snapshot.json
  tests/aws/services/cloudformation/test_change_set_fn_transform.validation.json
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/templates/macros/add_standard_tags.py
Labels: semver: minor

#12950 Replicator/support x account kms
  localstack-core/localstack/services/kms/utils.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: patch, review: merge when ready

#12935 support ResponseStream mode for functionUrl
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_url.py
  localstack-core/localstack/services/lambda_/urlrouter.py
  tests/aws/services/lambda_/functions/lambda_response_streaming.js
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: minor

#12962 Eventstudio: Move fixtures to make them available in Pro
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/events/conftest.py
  tests/aws/services/events/test_archive_and_replay.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_patterns.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_targets.py
Labels: aws:events, semver: minor

#12965 CFNv2: support resolve:ssm: and resolve:secretsmanager: strings
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/resolving.py
  tests/aws/services/cloudformation/test_template_engine.py
Labels: semver: patch, review: merge when ready

#12952 KMS: fix HMAC key import and add validated tests for HMAC and ECC key specs
  localstack-core/localstack/services/kms/models.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: patch

#12934 CFnv2: implement SSM parameter resolving
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/testing/pytest/cloudformation/fixtures.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/test_change_sets.py
  tests/aws/services/cloudformation/test_change_sets.snapshot.json
  tests/aws/services/cloudformation/test_change_sets.validation.json
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/services/cloudformation/v2/test_dynamic_resolving.py
  tests/aws/services/cloudformation/v2/test_dynamic_resolving.snapshot.json
  tests/aws/services/cloudformation/v2/test_dynamic_resolving.validation.json
Labels: semver: patch, review: merge when ready

#12978 add(utils/archives): Support .whl files in download_and_extract
  localstack-core/localstack/utils/archives.py
Labels: semver: minor, review: merge when ready

#12970 CFNV2: remove/rescope CFNV2:Validation errors
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_validator.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/engine/test_mappings.py
  tests/aws/services/cloudformation/engine/test_mappings.snapshot.json
  tests/aws/services/cloudformation/engine/test_mappings.validation.json
  tests/aws/services/cloudformation/engine/test_references.py
  tests/aws/services/cloudformation/test_template_engine.py
Labels: semver: minor, review: merge when ready

#12977 CFNV2: fix delete change set
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/api/test_changesets.py
Labels: semver: patch, review: merge when ready

#12938 Allow stack traces in HTTP responses only if `INCLUDE_STACK_TRACES_IN_HTTP_RESPONSE` is enabled
  localstack-core/localstack/aws/handlers/service.py
  localstack-core/localstack/config.py
  localstack-core/localstack/testing/pytest/in_memory_localstack.py
  tests/conftest.py
Labels: semver: minor

#12993 CFNV2: fix select in mapping test
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
Labels: semver: patch

#12968 Re-enabling ruff rule E721
  localstack-core/localstack/aws/connect.py
  localstack-core/localstack/aws/skeleton.py
  localstack-core/localstack/services/cloudformation/deployment_utils.py
  localstack-core/localstack/services/cloudformation/provider_utils.py
  pyproject.toml
  tests/integration/services/test_internal.py
  tests/unit/aws/test_skeleton.py
  tests/unit/services/cloudformation/test_deployment_utils.py
Labels: semver: patch

#12996 fix unit test reporting
  .github/workflows/aws-tests.yml
Labels: semver: patch, review: merge when ready

#12984 CFNv2: Standardise on test reporting
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_nested_stacks.py
  tests/aws/services/cloudformation/api/test_resources.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/conftest.py
  tests/aws/services/cloudformation/engine/test_mappings.py
  tests/aws/services/cloudformation/resource_providers/iam/aws_iam_user/test_parity.py
  tests/aws/services/cloudformation/resource_providers/iam/test_iam.py
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_cdk.py
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_secretsmanager.py
  tests/aws/services/cloudformation/resources/test_sns.py
  tests/aws/services/cloudformation/resources/test_stack_sets.py
  tests/aws/services/cloudformation/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/test_change_set_conditions.py
  tests/aws/services/cloudformation/test_change_set_depends_on.py
  tests/aws/services/cloudformation/test_change_set_exports_imports.py
  tests/aws/services/cloudformation/test_change_set_fn_base64.py
  tests/aws/services/cloudformation/test_change_set_fn_get_attr.py
  tests/aws/services/cloudformation/test_change_set_fn_join.py
  tests/aws/services/cloudformation/test_change_set_fn_select.py
  tests/aws/services/cloudformation/test_change_set_fn_split.py
  tests/aws/services/cloudformation/test_change_set_fn_sub.py
  tests/aws/services/cloudformation/test_change_set_fn_transform.py
  tests/aws/services/cloudformation/test_change_set_global_macros.py
  tests/aws/services/cloudformation/test_change_set_mappings.py
  tests/aws/services/cloudformation/test_change_set_parameters.py
  tests/aws/services/cloudformation/test_change_set_ref.py
  tests/aws/services/cloudformation/test_change_set_values.py
  tests/aws/services/cloudformation/test_change_sets.py
  tests/aws/services/cloudformation/test_template_engine.py
Labels: semver: patch

#13004 Remove buildjet from s3 image arm pipeline
  .github/workflows/aws-tests-s3-image.yml
Labels: semver: patch

#13002 Improve handling of LDM shutdowns during invocations
  localstack-core/localstack/services/lambda_/invocation/version_manager.py
Labels: semver: minor

#13001 fix port subrange from subclass
  localstack-core/localstack/utils/net.py
  tests/unit/utils/test_net_utils.py
Labels: area: docker, semver: patch

#12989 Log stack traces only in debug mode
  localstack-core/localstack/aws/handlers/internal_requests.py
  localstack-core/localstack/aws/spec.py
  localstack-core/localstack/services/apigateway/legacy/invocations.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/method_request.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/cloudwatch/alarm_scheduler.py
  localstack-core/localstack/services/dynamodb/server.py
  localstack-core/localstack/services/firehose/provider.py
  localstack-core/localstack/services/lambda_/invocation/lambda_service.py
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/opensearch/provider.py
  localstack-core/localstack/services/plugins.py
  localstack-core/localstack/services/s3/notifications.py
  localstack-core/localstack/services/s3/website_hosting.py
  localstack-core/localstack/services/ses/provider.py
  localstack-core/localstack/services/sns/executor.py
  localstack-core/localstack/services/sns/publisher.py
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/sqs/query_api.py
  localstack-core/localstack/services/stepfunctions/backend/execution.py
  localstack-core/localstack/services/transcribe/provider.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/http.py
  localstack-core/localstack/utils/net.py
Labels: semver: patch

#12966 add support for Fn::Tranform in CFnV2
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_transform.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_validator.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/api/test_transformers.py
  tests/aws/services/cloudformation/test_change_set_fn_transform.py
  tests/aws/services/cloudformation/test_change_set_fn_transform.snapshot.json
  tests/aws/services/cloudformation/test_change_set_global_macros.py
  tests/aws/services/cloudformation/test_change_set_global_macros.snapshot.json
  tests/aws/services/cloudformation/test_change_set_global_macros.validation.json
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/templates/macros/format_template.py
Labels: semver: patch

#12997 CFNV2: Unskip remaining Resolve tests
  localstack-core/localstack/services/cloudformation/engine/transformers.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/resource_providers/iam/aws_iam_user/test_parity.py
  tests/aws/services/cloudformation/test_template_engine.py
Labels: semver: patch

#13013 Updated contribution guidelines link
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/pr-welcome-first-time-contributors.yml
Labels: semver: patch

#13005 Migrate from jpype1-ext to jpype1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#13019 SNS: support passing `MessageGroupId` to non-FIFO topic
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/publisher.py
  localstack-core/localstack/services/sqs/models.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, aws:sns, semver: patch

#13022 S3/ASF parser: fix parsing header `list` shape type with multivalue headers
  localstack-core/localstack/aws/protocol/parser.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
  tests/unit/aws/protocol/test_parser.py
Labels: aws:s3, area: asf, semver: patch

#13030 APIGW: fix TestInvokeMethod path logic
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/test_invoke.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
Labels: aws:apigateway, semver: patch

#13042 Fix cross-arch Docker build
  Makefile
  bin/docker-helper.sh
Labels: semver: patch, review: merge when ready, skip-docs

#13038 Raise DockerNotAvailable exception if port checking is impossible
  localstack-core/localstack/utils/docker_utils.py
Labels: semver: minor

#12964 Bump moto-ext to 5.1.11.post1
  localstack-core/localstack/aws/patches.py
  localstack-core/localstack/services/cloudwatch/provider.py
  localstack-core/localstack/services/redshift/provider.py
  localstack-core/localstack/services/ses/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
Labels: semver: minor, skip-docs

#13054 add skip-docs label to automatically generated PRs
  .github/dependabot.yml
  .github/workflows/asf-updates.yml
  .github/workflows/update-test-durations.yml
  .github/workflows/upgrade-python-dependencies.yml
Labels: area: ci, area: asf, semver: patch, review: merge when ready, skip-docs

#13031 Enable B017 ruff linting rule
  localstack-core/localstack/services/cloudformation/provider.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  pyproject.toml
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.validation.json
  tests/aws/services/kms/test_kms.py
  tests/aws/services/lambda_/test_lambda_developer_tools.py
  tests/aws/services/route53/test_route53.py
  tests/aws/services/ssm/test_ssm.py
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_handler_integration_response.py
  tests/unit/services/kms/test_kms.py
  tests/unit/services/s3/test_s3.py
  tests/unit/utils/test_id_generator.py
  tests/unit/utils/test_objects.py
Labels: semver: patch, skip-docs

#13048 Ruff linter: enable rule UP028
  localstack-core/localstack/services/sqs/provider.py
  pyproject.toml
  tests/integration/aws/test_app.py
  tests/unit/http_/test_asgi.py
  tests/unit/http_/test_hypercorn.py
  tests/unit/state/test_pickle.py
Labels: semver: patch, skip-docs

#13058 fix cloudwatch v1 timestamp serialization after moto upgrade
  .github/workflows/aws-tests.yml
  localstack-core/localstack/services/cloudwatch/provider.py
Labels: aws:cloudwatch, semver: patch, review: merge when ready, skip-docs

#13062 Fix SQS tests failing due to missing snapshot update after #12957
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/services/cloudformation/resources/test_sqs.snapshot.json
  tests/aws/services/cloudformation/resources/test_sqs.validation.json
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
Labels: semver: patch, skip-docs

#13064 Remove jsonpickle serializer
  localstack-core/localstack/config.py
  localstack-core/localstack/state/codecs.py
  localstack-core/localstack/state/pickle.py
  localstack-core/localstack/testing/pytest/fixtures.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/state/test_pickle.py
Labels: semver: patch, skip-docs

#13017 extend the Encoder/Decoder state API to be type-aware
  localstack-core/localstack/state/core.py
  localstack-core/localstack/state/pickle.py
Labels: semver: patch, skip-docs

#13074 IaC: Add CFN_IGNORE_UNSUPPORTED_RESOURCE_TYPES to environment variables tracked by localstack
  localstack-core/localstack/runtime/analytics.py
Labels: semver: patch, skip-docs

#13070 Unit-tests: enable unit-tests for aws handlers
  tests/unit/aws/handlers/test_analytics.py
  tests/unit/aws/handlers/test_openapi.py
  tests/unit/aws/handlers/test_response_enrichment.py
  tests/unit/aws/handlers/test_service.py
Labels: semver: patch, skip-docs
