Repository localstack/localstack, pull requests merged in 2025-01, with the labels that each got.

#12050 Upgrade lambda runtime init to version v0.1.31-pre
  localstack-core/localstack/services/lambda_/packages.py
Labels: semver: patch

#11998 Bugfix/eventbridge/transformer issue with nested key
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/utils.py
  tests/aws/services/events/helper_functions.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_inputs.snapshot.json
  tests/aws/services/events/test_events_inputs.validation.json
  tests/unit/services/events/test_utils.py
Labels: aws:events, semver: minor

#12089 StepFunctions: Ensure Service Integrations Assume State Machine Role Credentials
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/item_reader/resource_eval/resource_eval_s3.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/result_writer/resource_eval/resource_eval_s3.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/credentials.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_api_gateway.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_batch.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_dynamodb.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_ecs.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_events.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_glue.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sfn.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sns.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_sqs.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_unsupported.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack-core/localstack/services/stepfunctions/asl/utils/boto_client.py
Labels: semver: minor

#12083 DDB: parity fix for JS clients
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/v2/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#12077 allow setting of customId for IAM Roles
  localstack-core/localstack/services/iam/iam_patches.py
Labels: semver: minor

#12092 LDR: selectable local mounts
  localstack-core/localstack/dev/run/__main__.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/dev/run/paths.py
Labels: semver: patch

#12086 Improve error message for a missing parameter value - provide its name
  localstack-core/localstack/services/cloudformation/engine/parameters.py
Labels: semver: patch

#11591 CFn: improve error messages
  localstack-core/localstack/services/cloudformation/engine/parameters.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/engine/test_mappings.py
  tests/aws/templates/mappings/simple-mapping.yaml
Labels: semver: patch

#12097 fix template body when using CFN create-stack
  localstack-core/localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
Labels: semver: patch

#12098 lambda layer enable deterministic layer version creation
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/provider_utils.py
  tests/aws/services/lambda_/test_lambda_api.py
Labels: aws:lambda, semver: minor

#12106 remove references to the discuss forum
  .github/ISSUE_TEMPLATE/config.yml
  DOCKER.md
  README.md
Labels: semver: patch

#12090 Bugfix/eventbridge/process to all matching rules
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  tests/aws/services/events/test_archive_and_replay.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
  tests/aws/services/events/test_events_cross_account_region.py
  tests/aws/services/events/test_events_inputs.py
  tests/aws/services/events/test_events_targets.py
Labels: aws:events, semver: minor

#12087 Add s3 as ESM failure destination for Kinesis and DynamoDB stream sources
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/testing/aws/lambda_utils.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_dynamodbstreams.validation.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_kinesis.validation.json
Labels: semver: minor, aws:lambda:event-source-mapping

#12067 Relax healthcheck time constraints
  Dockerfile
  Dockerfile.s3
Labels: semver: patch

#12108 Add tests to source package exclusions in MANIFEST.in
  MANIFEST.in
Labels: semver: patch

#12093 Docker client: support lists for entrypoints
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#12079 Bump moto-ext to 5.0.26.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resource_providers/ec2/test_ec2.validation.json
Labels: semver: patch

#12071 fix KMS DeriveSharedSecret
  localstack-core/localstack/services/kms/models.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: patch

#12094 StepFunctions: Better Error Messages For JSONPath Operations
  localstack-core/localstack/services/stepfunctions/asl/component/common/jsonata/jsonata_template_binding.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/input_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/path/output_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/payload/payloadvalue/payloadbinding/payload_binding.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/string/string_expression.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/heartbeat.py
  localstack-core/localstack/services/stepfunctions/asl/component/common/timeouts/timeout.py
  localstack-core/localstack/services/stepfunctions/asl/component/eval_component.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/seconds_path.py
  localstack-core/localstack/services/stepfunctions/asl/eval/environment.py
  localstack-core/localstack/services/stepfunctions/asl/eval/program_state.py
  localstack-core/localstack/services/stepfunctions/asl/utils/json_path.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_causepath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_errorpath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_heartbeatsecondspath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_inputpath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_outputpath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_string_expr_contextpath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_string_expr_jsonpath.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/invalid_jsonpath_in_timeoutsecondspath.json5
  tests/aws/services/stepfunctions/v2/logs/test_logs.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
  tests/unit/services/stepfunctions/test_jsonata_payload.py
Labels: semver: minor

#12100 Bugfix/eventbridge/event bus desciption not asigned on create
  localstack-core/localstack/services/events/event_bus.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: minor

#12112 DynamoDB: Disable Scalable Vector Extensions in JRE
  localstack-core/localstack/services/dynamodb/server.py
Labels: semver: patch

#12057 Refactor/events/custom api destination
  localstack-core/localstack/services/events/api_destination.py
  localstack-core/localstack/services/events/connection.py
  localstack-core/localstack/services/events/models.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  localstack-core/localstack/services/events/target_helper.py
  localstack-core/localstack/services/events/utils.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/events/test_events_targets.py
Labels: aws:events, semver: minor

#12117 StepFunctions, improve the use of ItemsPath declarations in Distributed Map states
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_map/state_map.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_item_reader_base_json_with_items_path.json5
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/map_state_config_distributed_items_path_from_previous.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#12119 DynamoDB: fix GlobalSecondaryIndexes parity in Create and DescribeTable
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/utils.py
  localstack-core/localstack/services/dynamodb/v2/provider.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, semver: patch

#12116 Fix SSM parameter handling with paths and queries by ARN
  localstack-core/localstack/services/ssm/provider.py
  tests/aws/services/ssm/test_ssm.py
  tests/aws/services/ssm/test_ssm.snapshot.json
  tests/aws/services/ssm/test_ssm.validation.json
Labels: semver: patch

#12122 Docker Utils: Utility method to create file in container
  localstack-core/localstack/utils/container_utils/container_client.py
  tests/integration/docker_utils/test_docker.py
Labels: area: docker, semver: patch

#12134 Bump moto-ext to 5.0.26.post2
  localstack-core/localstack/services/ses/provider.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#12111 add cc methods for lambda function resource provider
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_function.py
  tests/aws/services/s3/test_s3.py
Labels: semver: minor

#12074 StepFunctions: Improvements to Timestamp Validation
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_wait/wait_function/timestamp.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#12068 StepFunctions: Stateless evaluation of EvalComponents
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/argument.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_bool.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_context_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_float.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_function.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_int.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_json_path.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_list.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_string.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/argument/function_argument_var.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/function.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_contains.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_get_item.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_length.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_partition.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_range.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/array/array_unique.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/encoding_decoding/base_64_decode.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/encoding_decoding/base_64_encode.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/factory.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/generic/string_format.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/hash_calculations/hash_func.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/json_merge.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/json_to_string.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/json_manipulation/string_to_json.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/math_operations/math_add.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/math_operations/math_random.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function_array.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function_format.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function_json_to_string.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function_string_to_json.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/states_function_uuid.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/string_operations/string_split.py
  localstack-core/localstack/services/stepfunctions/asl/component/intrinsic/function/statesfunction/unique_id_generation/uuid.py
  localstack-core/localstack/services/stepfunctions/asl/component/program/program.py
  localstack-core/localstack/services/stepfunctions/asl/eval/environment.py
  localstack-core/localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/context_object/test_context_object.py
  tests/aws/services/stepfunctions/v2/error_handling/test_states_errors.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task.py
  tests/aws/services/stepfunctions/v2/services/test_lambda_task_service.py
  tests/aws/services/stepfunctions/v2/timeouts/test_timeouts.py
Labels: semver: minor

#12121 Add tests for KMS resource tagging and untagging
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: patch

#12147 Match an empty prefix
  localstack-core/localstack/services/events/event_rule_engine.py
  tests/aws/services/events/event_pattern_templates/empty_prefix.json5
Labels: aws:events, semver: patch

#12072 StepFunctions: Support for Escape Sequences in JSONata String Literals
  localstack-core/localstack/services/stepfunctions/asl/antlt4utils/antlr4utils.py
  localstack-core/localstack/services/stepfunctions/asl/jsonata/jsonata.py
  localstack-core/localstack/services/stepfunctions/asl/parse/intrinsic/preprocessor.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/choice_state_singleton_composite_literal_string_jsonata.json5
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.validation.json
Labels: semver: minor

#11742 Feature: filtering for ListFirewallRules in Route53Resolver
  localstack-core/localstack/services/route53resolver/provider.py
  tests/aws/services/route53resolver/test_route53resolver.py
  tests/aws/services/route53resolver/test_route53resolver.snapshot.json
  tests/aws/services/route53resolver/test_route53resolver.validation.json
Labels: semver: patch

#12156 Fix events cron regex for schedule-expression param validation
  localstack-core/localstack/services/events/rule.py
  localstack-core/localstack/services/events/utils.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_schedule.snapshot.json
  tests/aws/services/events/test_events_schedule.validation.json
Labels: aws:events, semver: patch, aws:scheduler

#12161 StepFunctions: AWS-SDK Integration Retain Specific Error Names
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_aws_sdk.py
  tests/aws/services/stepfunctions/templates/errorhandling/error_handling_templates.py
  tests/aws/services/stepfunctions/templates/errorhandling/statemachines/aws_sdk_task_error_s3_no_such_key.json5
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.py
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.snapshot.json
  tests/aws/services/stepfunctions/v2/error_handling/test_aws_sdk.validation.json
Labels: semver: minor

#12142 Add validation for tags in kms service
  localstack-core/localstack/services/kms/exceptions.py
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/utils.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: patch

#12160 Fix legacy test that broke pipeline after eventbridge cron update
  tests/aws/services/cloudformation/resources/test_events.py
  tests/aws/services/cloudformation/resources/test_events.snapshot.json
  tests/aws/services/cloudformation/resources/test_events.validation.json
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_schedule.snapshot.json
  tests/aws/services/events/test_events_schedule.validation.json
  tests/aws/templates/events_rule_without_targets.yaml
Labels: aws:events, semver: patch

#12162 S3: fix SSE-C parity error message
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#12154 EventBridge: fix empty conditions in event rule engine
  localstack-core/localstack/services/events/event_rule_engine.py
  tests/aws/services/events/event_pattern_templates/content_anything_but_number_zero.json5
  tests/aws/services/events/event_pattern_templates/content_anything_prefix_empty_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_suffix_empty_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_anything_wildcard_empty.json5
  tests/aws/services/events/event_pattern_templates/content_ignorecase_empty.json5
  tests/aws/services/events/event_pattern_templates/content_ignorecase_empty_NEG.json5
  tests/aws/services/events/event_pattern_templates/content_numeric_number_EXC.json5
  tests/aws/services/events/event_pattern_templates/content_prefix_empty.json5
  tests/aws/services/events/event_pattern_templates/content_suffix_empty.json5
  tests/aws/services/events/event_pattern_templates/content_wildcard_empty_NEG.json5
  tests/aws/services/events/test_events_patterns.snapshot.json
  tests/aws/services/events/test_events_patterns.validation.json
Labels: aws:events, semver: patch

#12163 fix cfn template join with noValue
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  tests/aws/services/cloudformation/test_template_engine.py
  tests/aws/services/cloudformation/test_template_engine.snapshot.json
  tests/aws/services/cloudformation/test_template_engine.validation.json
  tests/aws/templates/engine/join_no_value.yml
Labels: semver: patch

#12137 APIGW: fix OpenAPI import StatusCode string casting
  localstack-core/localstack/services/apigateway/helpers.py
  tests/aws/files/openapi-method-int.spec.yaml
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
Labels: aws:apigateway, semver: patch

#12166 S3: fix trailing slash logic
  localstack-core/localstack/aws/protocol/parser.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#12173 Skip flaky StepFunction timeout test
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.py
Labels: semver: patch

#12178 update kinesis-mock from 0.4.7 to 0.4.8
  localstack-core/localstack/services/kinesis/packages.py
Labels: semver: patch

#12167 S3: fix ContentEncoding with aws-chunked
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#12158 Remove deprecated Java-based event ruler
  docs/development-environment-setup/README.md
  localstack-core/localstack/deprecations.py
  localstack-core/localstack/services/events/event_ruler.py
  localstack-core/localstack/services/events/packages.py
  localstack-core/localstack/services/events/plugins.py
  localstack-core/localstack/utils/event_matcher.py
  tests/aws/services/events/test_archive_and_replay.py
Labels: semver: minor

#12175 SNS: fix Subscribe non existent topic exception
  localstack-core/localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#11921 StepFunctions: Clean-up legacy JSONata unit tests
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.py
  tests/unit/services/stepfunctions/test_arguments.py
  tests/unit/services/stepfunctions/test_jsonata_integration.py
  tests/unit/services/stepfunctions/test_jsonata_payload.py
  tests/unit/services/stepfunctions/test_query_language_parsing.py
  tests/unit/services/stepfunctions/test_usage_metrics_static_analyser.py
Labels: semver: minor

#12075 Step Functions, Support for Output Blocks in Choice Rules, Improvments to JSONata Choice Defaults
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/choice_rule.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_choice/state_choice.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/execute_state.py
  localstack-core/localstack/services/stepfunctions/asl/parse/preprocessor.py
  tests/aws/services/stepfunctions/templates/assign/assign_templates.py
  tests/aws/services/stepfunctions/templates/assign/statemachines/choice_condition_jsonata.json5
  tests/aws/services/stepfunctions/templates/outputdecl/output_templates.py
  tests/aws/services/stepfunctions/templates/outputdecl/statemachines/choice_condition_jsonata.json5
  tests/aws/services/stepfunctions/v2/assign/test_assign_base.py
  tests/aws/services/stepfunctions/v2/assign/test_assign_base.snapshot.json
  tests/aws/services/stepfunctions/v2/assign/test_assign_base.validation.json
  tests/aws/services/stepfunctions/v2/outputdecl/test_output.py
  tests/aws/services/stepfunctions/v2/outputdecl/test_output.snapshot.json
  tests/aws/services/stepfunctions/v2/outputdecl/test_output.validation.json
Labels: aws:stepfunctions, semver: minor

#12190 StepFunctions: Fix Parsing of Version Tokens as Soft Keywords
  localstack-core/localstack/services/stepfunctions/asl/antlr/ASLParser.g4
  localstack-core/localstack/services/stepfunctions/asl/antlr/runtime/ASLParser.py
  tests/aws/services/stepfunctions/templates/services/statemachines/sns_publish_message_attributes.json5
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_sns_task_service.validation.json
Labels: semver: minor

#12182 S3: implement new checksum algorithm CRC64NVME add ChecksumType for PutObject
  localstack-core/localstack/services/s3/constants.py
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  localstack-core/localstack/services/s3/validation.py
  localstack-core/localstack/utils/strings.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.py
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.snapshot.json
  tests/aws/services/stepfunctions/v2/services/test_aws_sdk_task_service.validation.json
Labels: aws:s3, semver: minor

#12191 Fix: validate schedule_expression for EventBridge Scheduler
  localstack-core/localstack/services/scheduler/provider.py
  tests/aws/services/scheduler/test_scheduler.py
  tests/aws/services/scheduler/test_scheduler.snapshot.json
  tests/aws/services/scheduler/test_scheduler.validation.json
Labels: semver: patch, aws:scheduler

#12176 CFN/EC2: fix KeyError for EC2:Instance PublicIpAddress
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_instance.py
Labels: aws:ec2, semver: patch

#12170 Add docker stats functionality to docker clients
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#12183 S3: implement new data integrity for MultipartUpload
  localstack-core/localstack/services/s3/checksums.py
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_list_operations.py
  tests/unit/services/s3/__init__.py
  tests/unit/services/s3/test_s3_checksum.py
  tests/unit/test_s3.py
Labels: aws:s3, semver: minor

#12058 Fix wrong dash symbol in README
  docs/testing/integration-tests/README.md
Labels: semver: patch

#12181 SNS : fix Message Signature typo and add Lambda URL fixture
  localstack-core/localstack/services/sns/models.py
  localstack-core/localstack/services/sns/provider.py
  localstack-core/localstack/services/sns/publisher.py
  tests/aws/services/sns/conftest.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#12200 adjust --follow arg positioning to be compatible with docker and podman
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
Labels: semver: patch

#12203 fix: Explicitly stop ESM workers on LocalStack shutdown
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/provider.py
Labels: semver: patch, aws:lambda:event-source-mapping

#12208 add 4.1 blog to README
  README.md
Labels: semver: patch

#12202 raise validationException if resource does not exist in CFn
  localstack-core/localstack/services/cloudformation/provider.py
  tests/aws/services/cloudformation/api/test_stacks.py
  tests/aws/services/cloudformation/api/test_stacks.snapshot.json
  tests/aws/services/cloudformation/api/test_stacks.validation.json
  tests/aws/services/cloudformation/api/test_templates.py
  tests/aws/templates/sns_topic_simple.yaml
Labels: semver: patch

#12211 Add info about how to enable type hints for testing to dev setup guide
  docs/development-environment-setup/README.md
Labels: area: documentation, semver: patch

#12209 Add codebuild, codedeploy, and codepipeline to the client types
  localstack-core/localstack/utils/aws/client_types.py
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch
