Repository localstack/localstack, pull requests merged in 2025-06, with the labels that each got.

#12650 CloudFormation V2 Engine: Support for Fn::Sub
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_sub.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_sub.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_sub.validation.json
Labels: semver: minor

#12668 CloudFormation v2 Engine: Base Support for AWS::NoValue and Migration to Nothing Types
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/v2/ported_from_v1/engine/test_conditions.py
  tests/aws/services/cloudformation/v2/ported_from_v1/engine/test_mappings.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_cdk.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_dynamodb.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_secretsmanager.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_sns.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_sqs.py
  tests/aws/services/cloudformation/v2/ported_from_v1/test_template_engine.py
Labels: semver: minor

#12673 SNS: validate cross-region behavior
  localstack-core/localstack/services/sns/provider.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: patch

#12693 Change cleanup job condition in main pipeline in Github Actions
  .github/workflows/aws-main.yml
Labels: area: ci, semver: patch

#12704 refactor: reduce max number of allowed labels in counters from 8 to 6 [DAT-146]
  localstack-core/localstack/utils/analytics/metrics.py
  tests/unit/utils/analytics/test_metrics.py
Labels: semver: patch

#12700 CloudFormation v2 Engine: Base Support for Fn::Base64
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/aws/services/cloudformation/v2/ported_from_v1/test_template_engine.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_base64.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_base64.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_base64.validation.json
Labels: semver: minor

#12709 Add missing switch for forcing ARM tests on workflow dispatch
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests.yml
Labels: semver: patch, review: merge when ready

#12707 Fix Workflow summaries for ARM workflows
  .github/workflows/aws-tests.yml
Labels: semver: patch

#12719 Update launch instructions in README.md for 4.5.0
  README.md
Labels: area: documentation, semver: patch

#12716 Events: fix PutEvents triggering Scheduled rules
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events_schedule.py
  tests/aws/services/events/test_events_schedule.validation.json
Labels: aws:events, semver: patch

#12705 CloudFormation v2 Engine: Parity Improvements for Fn::Sub
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_reference_resolving.py
  tests/aws/services/cloudformation/v2/ported_from_v1/engine/test_references.py
  tests/aws/services/cloudformation/v2/ported_from_v1/test_template_engine.py
Labels: semver: minor

#12723 Fix publishing credentials
  .github/workflows/aws-main.yml
Labels: semver: patch

#12727 Apigw add tests fot vtl bracket assignment
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch

#12666 CircleCI to GH Actions:updated docs references to GH Actions
  DOCKER.md
  README.md
  docs/testing/multi-account-region-testing/README.md
  docs/testing/multi-account-region-testing/randomize-aws-credentials.png
Labels: semver: patch

#12588 Transcribe: Enable MyPy
  localstack-core/localstack/services/transcribe/models.py
  localstack-core/localstack/services/transcribe/packages.py
  localstack-core/localstack/services/transcribe/plugins.py
  localstack-core/localstack/services/transcribe/provider.py
  localstack-core/localstack/testing/aws/asf_utils.py
  localstack-core/mypy.ini
Labels: aws:transcribe, semver: patch

#12717 refactor: metrics instrumentation framework typing and structure
  localstack-core/localstack/services/apigateway/analytics.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/analytics.py
  localstack-core/localstack/services/cloudformation/analytics.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/events/analytics.py
  localstack-core/localstack/services/lambda_/analytics.py
  localstack-core/localstack/services/sns/analytics.py
  localstack-core/localstack/services/stepfunctions/analytics.py
  localstack-core/localstack/services/stepfunctions/asl/static_analyser/usage_metrics_static_analyser.py
  localstack-core/localstack/utils/analytics/metrics.py
  localstack-core/localstack/utils/analytics/metrics/__init__.py
  localstack-core/localstack/utils/analytics/metrics/api.py
  localstack-core/localstack/utils/analytics/metrics/counter.py
  localstack-core/localstack/utils/analytics/metrics/publisher.py
  localstack-core/localstack/utils/analytics/metrics/registry.py
  tests/unit/utils/analytics/test_metrics.py
Labels: semver: minor

#12743 APIGW: add IntegrationResponse test and fix UpdateIntegrationResponse
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: semver: patch

#12656 add small fixes/improvements to Firehose.CreateDeliveryStream
  localstack-core/localstack/services/firehose/provider.py
Labels: aws:firehose, semver: patch

#12590 Docker registry customisation
  localstack-core/localstack/config.py
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  localstack-core/localstack/utils/container_utils/docker_sdk_client.py
Labels: semver: minor

#12753 S3: fix Checksum handling in UploadPartCopy
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/storage/ephemeral.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#12762 migrate from depenadbot reviewers to codeowners
  .github/dependabot.yml
  CODEOWNERS
Labels: semver: patch, review: merge when ready

#12748 Update test durations automatically based on latest durations from master
  .github/workflows/aws-tests.yml
  .github/workflows/update-test-durations.yml
Labels: semver: patch

#12767 Fix failing Ruby tests due to internal RUBYLIB variable changed by AWS
  tests/aws/services/lambda_/test_lambda_common.py
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.validation.json
Labels: semver: patch

#12755 fix issue with CloudWatch after state reset
  localstack-core/localstack/services/cloudwatch/provider_v2.py
Labels: semver: patch

#12764 S3: implement ObjectParts in GetObjectAttributes
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_list_operations.snapshot.json
  tests/aws/services/s3/test_s3_list_operations.validation.json
Labels: aws:s3, semver: minor

#12712 Step Functions: Mock feature for StartSyncExecution
  localstack-core/localstack/services/stepfunctions/backend/execution.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.validation.json
Labels: semver: minor

#12721 add resource events to CFn v2
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/testing/pytest/cloudformation/fixtures.py
  tests/aws/services/cloudformation/v2/test_change_sets.py
  tests/aws/services/cloudformation/v2/test_change_sets.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_sets.validation.json
Labels: aws:cloudformation, semver: minor

#12778 chore(utils): Fix typo when forwarding envars to container
  localstack-core/localstack/utils/bootstrap.py
Labels: area: cli, semver: patch, review: merge when ready

#12637 Add KMS ReEncrypt Operation
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: semver: minor

#12787 S3: add error for DeleteObject preconditions for regular buckets
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#12782 S3: add validation around Retention Mode & consider COMPLIANCE when updating
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/services/s3/test_s3_api.py
  tests/aws/services/s3/test_s3_api.snapshot.json
  tests/aws/services/s3/test_s3_api.validation.json
Labels: aws:s3, semver: patch

#12799 Add In_WSL function to check whether the host runs on WSL
  .gitignore
  localstack-core/localstack/config.py
Labels: semver: minor

#12773 APIGW: add negative tests for IntegrationResponse and improve error handling in PutIntegrationResponse and GetIntegrationResponse
  localstack-core/localstack/services/apigateway/legacy/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_api.snapshot.json
  tests/aws/services/apigateway/test_apigateway_api.validation.json
Labels: semver: patch

#12771 refactored archive installer
  localstack-core/localstack/packages/core.py
  localstack-core/localstack/packages/ffmpeg.py
  localstack-core/localstack/packages/terraform.py
  localstack-core/localstack/utils/archives.py
  localstack-core/localstack/utils/checksum.py
  localstack-core/localstack/utils/files.py
  tests/unit/test_checksum.py
Labels: semver: patch

#12810 SQS: add automatic propagation of AWSTraceHeader attribute when sending message
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, semver: patch
