Repository localstack/localstack, pull requests merged in 2025-07, with the labels that each got.

#12793 Update STS session storage model to be more flexible
  localstack-core/localstack/services/sts/models.py
  localstack-core/localstack/services/sts/provider.py
Labels: semver: patch

#12805 Update Extension API
  localstack-core/localstack/extensions/api/aws.py
  localstack-core/localstack/extensions/api/extension.py
Labels: semver: patch

#12832 Update action names for AWS prefix
  .github/workflows/aws-tests-s3-image.yml
  .github/workflows/aws-tests.yml
  .github/workflows/update-openapi-spec.yml
Labels: semver: patch, review: merge when ready

#12838 Update version in README
  README.md
Labels: semver: patch

#12777 Sns topic update functionality
  localstack-core/localstack/services/sns/resource_providers/aws_sns_topic.py
  tests/aws/services/cloudformation/resources/test_sns.py
  tests/aws/services/cloudformation/resources/test_sns.snapshot.json
  tests/aws/services/cloudformation/resources/test_sns.validation.json
  tests/aws/templates/sns_topic_update.yaml
Labels: semver: patch

#12855 S3: fix CORS handler + GZIP handling
  localstack-core/localstack/services/s3/cors.py
  tests/aws/services/s3/test_s3_cors.py
Labels: aws:s3, semver: patch

#12829 Add tag push trigger to main workflow
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests-mamr.yml
  .github/workflows/aws-tests.yml
Labels: semver: patch

#12866 APIGW: update CFN related snapshots
  tests/aws/scenario/note_taking/test_note_taking.py
  tests/aws/scenario/note_taking/test_note_taking.snapshot.json
  tests/aws/scenario/note_taking/test_note_taking.validation.json
  tests/aws/services/cloudformation/api/test_transformers.snapshot.json
  tests/aws/services/cloudformation/api/test_transformers.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/services/cloudformation/resources/test_sam.snapshot.json
  tests/aws/services/cloudformation/resources/test_sam.validation.json
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_transformers.snapshot.json
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_transformers.validation.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.validation.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_sam.snapshot.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_sam.validation.json
Labels: aws:cloudformation, aws:apigateway, semver: patch

#12869 cleanup missed references to old naming
  .github/workflows/pr-enforce-no-major-main.yml
  .github/workflows/pr-enforce-no-major-minor-main.yml
  .github/workflows/tests-pro-integration.yml
  localstack-core/localstack/cli/localstack.py
Labels: semver: patch, review: merge when ready

#12809 KMS #12530: Error handling for invalid blob issue
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: patch

#12884 add IoT and AppSync ServicePrincipal
  localstack-core/localstack/utils/aws/client_types.py
Labels: semver: patch

#12879 DynamoDB: Bump DDB Local to v3
  localstack-core/localstack/services/dynamodb/packages.py
  tests/aws/services/dynamodb/test_dynamodb.py
Labels: aws:dynamodb, semver: patch

#12891 Step Functions: variable-reference parsing to skip string and regex literals
  localstack-core/localstack/services/stepfunctions/asl/jsonata/jsonata.py
  tests/aws/services/stepfunctions/templates/evaluatejsonata/evaluate_jsonata_templates.py
  tests/aws/services/stepfunctions/templates/evaluatejsonata/statemachines/base_pass.json5
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.py
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.snapshot.json
  tests/aws/services/stepfunctions/v2/evaluate_jsonata/test_base_evaluate_expressions.validation.json
Labels: semver: minor

#12870 CFn: correctly set physical resource id for VpnGatewayAttachment
  localstack-core/localstack/services/ec2/resource_providers/aws_ec2_vpcgatewayattachment.py
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
  tests/aws/templates/vpc_gateway_attachment.yml
Labels: semver: patch

#12864 CFNv2: support validation of CAPABILITY_AUTO_EXPAND
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_changesets.py
Labels: semver: patch

#12882 DynamoDB: fix persistence on manual save
  localstack-core/localstack/services/dynamodb/provider.py
  localstack-core/localstack/services/dynamodb/server.py
Labels: aws:dynamodb, semver: patch

#12865 CFNv2: Implement get_template
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_stacks.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_update_stack.py
  tests/aws/services/cloudformation/v2/ported_from_v1/test_template_engine.py
Labels: semver: patch

#12902 feat: add the pro activation to the tracked environment variables
  localstack-core/localstack/runtime/analytics.py
Labels: semver: minor

#12903 CFnV2: implement list-stacks
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/v2/test_list_stacks.py
  tests/aws/services/cloudformation/v2/test_list_stacks.snapshot.json
  tests/aws/services/cloudformation/v2/test_list_stacks.validation.json
Labels: semver: patch

#12900 bug fix: add missing proxies to the http request for the GitHub Installer
  localstack-core/localstack/packages/core.py
  localstack-core/localstack/packages/java.py
Labels: semver: patch, review: merge when ready

#12871 CFNv2: minor parity assessment and triaging
  .github/workflows/aws-tests.yml
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/services/kinesis/resource_providers/aws_kinesis_streamconsumer.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_changesets.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_nested_stacks.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_reference_resolving.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_stacks.py
  tests/aws/services/cloudformation/v2/ported_from_v1/api/test_update_stack.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_cdk.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_events.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_kinesis.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_lambda.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_opensearch.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_opensearch.snapshot.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_sns.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_ssm.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_stepfunctions.py
  tests/aws/services/cloudformation/v2/ported_from_v1/test_template_engine.py
Labels: semver: minor

#12918 remove thrau from CODEOWNERS codeowners
  CODEOWNERS
Labels: semver: patch

#12888 KMS: Add support for `RSA_AES_KEY_WRAP_SHA_256` in import key material
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: minor

#12875 Introduce jsonpickle serialization backend
  localstack-core/localstack/config.py
  localstack-core/localstack/state/pickle.py
  localstack-core/localstack/testing/pytest/fixtures.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/state/test_pickle.py
Labels: area: persistence, semver: patch

#12932 KMS: return `NotImplementedError` for rotation of imported keys
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
Labels: aws:kms, semver: patch, review: merge when ready

#12852 LDM Migration
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/hooks.py
  localstack-core/localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack-core/localstack/services/lambda_/invocation/executor_endpoint.py
  localstack-core/localstack/services/lambda_/invocation/lambda_service.py
  localstack-core/localstack/services/lambda_/invocation/version_manager.py
  localstack-core/localstack/services/lambda_/lambda_debug_mode/__init__.py
  localstack-core/localstack/services/lambda_/lambda_debug_mode/ldm.py
  localstack-core/localstack/services/lambda_/lambda_debug_mode/ldm_config_file.py
  localstack-core/localstack/services/lambda_/lambda_debug_mode/ldm_types.py
  localstack-core/localstack/services/lambda_/lambda_debug_mode/ldm_utils.py
  localstack-core/localstack/services/lambda_/ldm.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/unit/lambda_debug_mode/__init__.py
  tests/unit/lambda_debug_mode/test_config_parsing.py
Labels: semver: minor

#12939 fix partial coverage reporting
  .github/workflows/aws-main.yml
Labels: semver: patch

#12927 Ec2/fix/vpc endpoint dns entries
  localstack-core/localstack/services/ec2/patches.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/ec2/test_ec2.snapshot.json
  tests/aws/services/ec2/test_ec2.validation.json
Labels: aws:ec2, semver: patch

#12937 Apigw/enable vpce routing
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
Labels: aws:apigateway, semver: patch
