Repository localstack/localstack, pull requests merged in 2025-02, with the labels that each got.

#12213 Bump moto-ext to 5.0.28.post1
  pyproject.toml
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#12212 S3: implement TransitionDefaultMinimumObjectSize for Lifecycle Configuration
  localstack-core/localstack/services/s3/models.py
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#12199 APIGW: add Binary Media support for response in `AWS_PROXY`
  localstack-core/localstack/services/apigateway/next_gen/execute_api/helpers.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  tests/aws/services/apigateway/test_apigateway_lambda.py
  tests/aws/services/apigateway/test_apigateway_lambda.validation.json
Labels: aws:apigateway, semver: patch

#12221 restructure unit tests
  CODEOWNERS
  tests/unit/services/apigateway/test_apigateway_common.py
  tests/unit/services/cloudformation/test_cloudformation.py
  tests/unit/services/cloudwatch/__init__.py
  tests/unit/services/cloudwatch/test_cloudwatch.py
  tests/unit/services/config/__init__.py
  tests/unit/services/config/test_config.py
  tests/unit/services/dynamodb/__init__.py
  tests/unit/services/dynamodb/test_dynamodb.py
  tests/unit/services/kms/__init__.py
  tests/unit/services/kms/test_kms.py
  tests/unit/services/logs/__init__.py
  tests/unit/services/logs/test_logs.py
  tests/unit/services/s3/test_s3.py
  tests/unit/services/sns/__init__.py
  tests/unit/services/sns/test_sns.py
  tests/unit/services/sqs/__init__.py
  tests/unit/services/sqs/test_sqs.py
Labels: semver: patch

#12214 [SQS] Stop blocking Queue.get() call on LocalStack shutdown
  localstack-core/localstack/services/sqs/models.py
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/sqs/queue.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: aws:sqs, semver: patch

#12225 Update README CLI output
  README.md
Labels: semver: patch

#12229 Fix kubernetes dev run script
  localstack-core/localstack/dev/kubernetes/__main__.py
Labels: semver: patch

#12215 APIGW: binary support for non-proxy integration
  localstack-core/localstack/services/apigateway/legacy/provider.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/resource_router.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
  tests/aws/services/apigateway/test_apigateway_s3.py
  tests/aws/services/apigateway/test_apigateway_s3.snapshot.json
  tests/aws/services/apigateway/test_apigateway_s3.validation.json
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_handler_integration_response.py
Labels: aws:apigateway, semver: minor

#12233 [ESM] Dynamically set SQS message override count
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
Labels: semver: patch, aws:lambda:event-source-mapping

#12198 add product and edition to session analytics
  localstack-core/localstack/utils/analytics/metadata.py
  tests/unit/utils/analytics/conftest.py
Labels: semver: patch

#12240 [ESM] Provide SqsPoller with default parameters
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
Labels: semver: patch, aws:lambda:event-source-mapping

#12228 [SQS] Cancel pending and future tasks on shutdown
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/sqs/queue.py
Labels: aws:sqs, semver: patch

#12172 [SQS] Add custom header for overriding WaitTimeSeconds
  localstack-core/localstack/services/sqs/constants.py
  localstack-core/localstack/services/sqs/models.py
  localstack-core/localstack/services/sqs/provider.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
  tests/aws/services/sqs/test_sqs_backdoor.py
Labels: aws:sqs, semver: minor

#12248 Step Functions: Add Supported Integrations For Glue
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_glue.py
Labels: semver: minor

#12251 Add fixture for creating an IAM role and attaching existing policy
  localstack-core/localstack/testing/pytest/fixtures.py
Labels: semver: patch

#12252 [SQS] Improve shutdown capabilities of SqsProvider
  localstack-core/localstack/services/sqs/provider.py
Labels: aws:sqs, semver: patch

#12260 skip flaky transcribe tests
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#12259 fix ListObjectVersions pagination when version id marker is deleted
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_list_operations.snapshot.json
  tests/aws/services/s3/test_s3_list_operations.validation.json
Labels: aws:s3, semver: patch

#12270 fix ListObjectVersions pagination comparison
  localstack-core/localstack/services/s3/provider.py
  localstack-core/localstack/services/s3/utils.py
  tests/aws/services/s3/test_s3_list_operations.py
  tests/aws/services/s3/test_s3_list_operations.validation.json
  tests/unit/services/s3/test_s3.py
Labels: aws:s3, semver: patch

#12180 add read method to IAM::Role resource provider
  localstack-core/localstack/services/iam/resource_providers/aws_iam_role.py
Labels: semver: minor

#12113 fix readme run integration individual tests cmd
  docs/testing/integration-tests/README.md
Labels: semver: patch

#12281 [ESM] Add backoff between Stream Poller retries
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: semver: minor, aws:pipes, aws:lambda:event-source-mapping

#12292 Logging mask credentials
  localstack-core/localstack/logging/format.py
  tests/unit/logging_/test_format.py
Labels: semver: minor

#12245 Bump moto-ext to 5.0.28.post6
  pyproject.toml
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#12293 Lamba: fix unhandled error when SubnetIds is invalid
  localstack-core/localstack/services/lambda_/api_utils.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
Labels: aws:lambda, semver: patch

#12296 APIGW: fix AWS_PROXY payload with Custom Domains
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/integrations/aws.py
Labels: aws:apigateway, semver: patch

#12285 fix SNS FIFO ordering
  localstack-core/localstack/services/sns/executor.py
  localstack-core/localstack/services/sns/publisher.py
  tests/aws/services/sns/test_sns.py
  tests/aws/services/sns/test_sns.snapshot.json
  tests/aws/services/sns/test_sns.validation.json
Labels: aws:sns, semver: minor

#12286 ElasticSearch: Fix missing JRE in 5.x and 6.x
  localstack-core/localstack/services/opensearch/cluster.py
  localstack-core/localstack/services/opensearch/packages.py
Labels: semver: patch

#12227 Add test for EBS volume creation without size
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/ec2/test_ec2.snapshot.json
  tests/aws/services/ec2/test_ec2.validation.json
Labels: semver: patch

#12300 Fix failing lambda error reporting test
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#12288 refactoring of removal of AWS::NoValue in reference list for CFn
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
Labels: aws:cloudformation, semver: patch

#12002 [ESM] Improve SQS batch collection and flushing
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker_factory.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.py
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.snapshot.json
  tests/aws/services/lambda_/event_source_mapping/test_lambda_integration_sqs.validation.json
Labels: semver: minor, aws:lambda:event-source-mapping

#12307 [ESM] Remove warning when worker shutdown is graceful
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
Labels: semver: patch, aws:lambda:event-source-mapping

#12304 [ESM] Add backoff between poll events calls
  localstack-core/localstack/services/lambda_/event_source_mapping/esm_worker.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/sqs_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: area: performance, semver: minor, aws:pipes, aws:lambda:event-source-mapping

#12313 Add Lambda@Edge service principal
  localstack-core/localstack/utils/aws/client_types.py
Labels: semver: patch

#11806 Util: support building in place for ECR docker images
  localstack-core/localstack/testing/scenario/cdk_lambda_helper.py
Labels: semver: patch

#12306 TaggingService: Allow key value field names to be overridden
  localstack-core/localstack/utils/tagging.py
  tests/unit/test_tagging.py
Labels: semver: minor

#12230 Add structured metrics instrumentation
  localstack-core/localstack/utils/analytics/metrics.py
  localstack-core/localstack/utils/analytics/usage.py
  tests/unit/utils/analytics/conftest.py
  tests/unit/utils/analytics/test_metrics.py
Labels: semver: minor

#12316 Fix vulnerabilities in lambda runtime init
  localstack-core/localstack/services/lambda_/packages.py
Labels: semver: patch
