Repository localstack/localstack, pull requests merged in 2025-05, with the labels that each got.

#12563 Bump moto-ext to 5.1.4.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#12545 Migrate full-run integration tests from CircleCI to GH Actions except docker push and push of all artifacts
  .github/actions/load-localstack-docker-from-artifacts/action.yml
  .github/actions/setup-tests-env/action.yml
  .github/workflows/aws-tests.yml
  Makefile
Labels: semver: patch

#12573 remove usage analytics module
  localstack-core/localstack/utils/analytics/usage.py
  localstack-core/localstack/utils/diagnose.py
  tests/unit/utils/analytics/test_usage.py
Labels: semver: patch, review: merge when ready

#12567 Switch to using `kclpy-ext`
  .pre-commit-config.yaml
  pyproject.toml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: patch

#12584 Step Functions: Add Telemetry for SFN_MOCK_CONFIG Usage
  localstack-core/localstack/runtime/analytics.py
Labels: semver: minor

#12566 Events: add classmethod to recreate services
  localstack-core/localstack/services/events/api_destination.py
  localstack-core/localstack/services/events/connection.py
Labels: aws:events, semver: patch

#12586 APIGW: fix binaryMediaTypes when importing/updating REST APIs
  localstack-core/localstack/services/apigateway/exporter.py
  localstack-core/localstack/services/apigateway/helpers.py
  tests/aws/files/pets.json
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_extended.py
  tests/aws/services/apigateway/test_apigateway_extended.snapshot.json
  tests/aws/services/apigateway/test_apigateway_extended.validation.json
  tests/aws/services/apigateway/test_apigateway_import.py
  tests/aws/services/apigateway/test_apigateway_import.snapshot.json
  tests/aws/services/apigateway/test_apigateway_import.validation.json
  tests/aws/services/cloudformation/resources/test_apigateway.py
  tests/aws/services/cloudformation/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/resources/test_apigateway.validation.json
  tests/aws/templates/apigateway.json
  tests/aws/templates/apigateway_integration_from_s3.yml
Labels: aws:apigateway, semver: patch, review: merge when ready

#12592 Fix provisioned concurrency set on Lambda alias
  localstack-core/localstack/services/lambda_/invocation/counting_service.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch

#12591 Defer CDK imports in infra provisioning
  localstack-core/localstack/packages/api.py
  tests/aws/conftest.py
Labels: semver: patch

#12593 Added secrets definition for docker pull action in aws-tests and aws-mamr tests
  .github/workflows/aws-tests-mamr.yml
  .github/workflows/aws-tests.yml
Labels: semver: patch

#12589 CloudFormation v2 Engine: Batch of Parity Improvements
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/__init__.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/handlers/handler1/api.zip
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/handlers/handler2/api.zip
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_acm.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.py
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.snapshot.json
  tests/aws/services/cloudformation/v2/ported_from_v1/resources/test_apigateway.validation.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_join.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_join.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_join.validation.json
  tests/aws/services/cloudformation/v2/test_change_set_values.py
  tests/aws/services/cloudformation/v2/test_change_set_values.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_values.validation.json
Labels: semver: minor

#12605 ASF: Ignore optional-ness when comparing argument types
  localstack-core/localstack/services/transcribe/provider.py
  localstack-core/localstack/testing/aws/asf_utils.py
Labels: semver: patch

#12607 Improve security group fixture for EC2
  localstack-core/localstack/testing/pytest/fixtures.py
Labels: semver: patch

#12598 fix put-metric-alarm test failure rate
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Labels: semver: patch

#12614 ASF: Mark optional params as such (X | None)
  localstack-core/localstack/aws/api/acm/__init__.py
  localstack-core/localstack/aws/api/apigateway/__init__.py
  localstack-core/localstack/aws/api/cloudcontrol/__init__.py
  localstack-core/localstack/aws/api/cloudformation/__init__.py
  localstack-core/localstack/aws/api/cloudwatch/__init__.py
  localstack-core/localstack/aws/api/config/__init__.py
  localstack-core/localstack/aws/api/dynamodb/__init__.py
  localstack-core/localstack/aws/api/dynamodbstreams/__init__.py
  localstack-core/localstack/aws/api/ec2/__init__.py
  localstack-core/localstack/aws/api/es/__init__.py
  localstack-core/localstack/aws/api/events/__init__.py
  localstack-core/localstack/aws/api/firehose/__init__.py
  localstack-core/localstack/aws/api/iam/__init__.py
  localstack-core/localstack/aws/api/kinesis/__init__.py
  localstack-core/localstack/aws/api/kms/__init__.py
  localstack-core/localstack/aws/api/lambda_/__init__.py
  localstack-core/localstack/aws/api/logs/__init__.py
  localstack-core/localstack/aws/api/opensearch/__init__.py
  localstack-core/localstack/aws/api/pipes/__init__.py
  localstack-core/localstack/aws/api/redshift/__init__.py
  localstack-core/localstack/aws/api/resource_groups/__init__.py
  localstack-core/localstack/aws/api/resourcegroupstaggingapi/__init__.py
  localstack-core/localstack/aws/api/route53/__init__.py
  localstack-core/localstack/aws/api/route53resolver/__init__.py
  localstack-core/localstack/aws/api/s3/__init__.py
  localstack-core/localstack/aws/api/s3control/__init__.py
  localstack-core/localstack/aws/api/scheduler/__init__.py
  localstack-core/localstack/aws/api/secretsmanager/__init__.py
  localstack-core/localstack/aws/api/ses/__init__.py
  localstack-core/localstack/aws/api/sns/__init__.py
  localstack-core/localstack/aws/api/sqs/__init__.py
  localstack-core/localstack/aws/api/ssm/__init__.py
  localstack-core/localstack/aws/api/stepfunctions/__init__.py
  localstack-core/localstack/aws/api/sts/__init__.py
  localstack-core/localstack/aws/api/support/__init__.py
  localstack-core/localstack/aws/api/swf/__init__.py
  localstack-core/localstack/aws/api/transcribe/__init__.py
  localstack-core/localstack/aws/scaffold.py
  localstack-core/localstack/testing/aws/asf_utils.py
Labels: area: asf, semver: patch

#12608 Add Github Action job to publish test results to coveralls and uploading test results to artifacts
  .github/workflows/aws-main.yml
Labels: semver: patch

#12622 DDB Global Tables: add failing test to expose the missing stream on replicas
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, aws:dynamodbstreams, semver: patch

#12624 S3: fix IfMatch/IfNoneMatch in pre-signed URLs
  localstack-core/localstack/services/s3/presigned_url.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.validation.json
Labels: aws:s3, semver: patch

#12627 Restrict tinybird reporting to master branch only
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests.yml
Labels: semver: patch

#12559 [Kinesis] add Scala kinesis-mock build behind feature flag
  localstack-core/localstack/config.py
  localstack-core/localstack/services/kinesis/kinesis_mock_server.py
  localstack-core/localstack/services/kinesis/packages.py
  localstack-core/localstack/services/kinesis/plugins.py
  tests/aws/services/kinesis/test_kinesis.py
  tests/unit/cli/test_lpm.py
Labels: area: performance, aws:kinesis, semver: minor

#12628 Apigw/add support for response override in request
  localstack-core/localstack/services/apigateway/next_gen/execute_api/context.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_request.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/integration_response.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/parse.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/template_mapping.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/test_invoke.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/variables.py
  tests/aws/services/apigateway/test_apigateway_integrations.py
  tests/aws/services/apigateway/test_apigateway_integrations.snapshot.json
  tests/aws/services/apigateway/test_apigateway_integrations.validation.json
  tests/unit/services/apigateway/test_handler_integration_request.py
  tests/unit/services/apigateway/test_handler_integration_response.py
  tests/unit/services/apigateway/test_template_mapping.py
Labels: aws:apigateway, semver: minor

#12639 GithubActions: skip tinybird, docker push and docker login in forks
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests-mamr.yml
  .github/workflows/aws-tests.yml
Labels: semver: patch

#12632 Feature: implement list rule names by target
  localstack-core/localstack/services/events/provider.py
  tests/aws/services/events/test_events.py
  tests/aws/services/events/test_events.snapshot.json
  tests/aws/services/events/test_events.validation.json
Labels: aws:events, semver: minor

#12617 Core: Add type hints to aws/core.py
  .circleci/config.yml
  .github/actions/load-localstack-docker-from-artifacts/action.yml
  .github/actions/setup-tests-env/action.yml
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests.yml
  .pre-commit-config.yaml
  localstack-core/localstack/aws/api/core.py
  localstack-core/localstack/aws/client.py
  localstack-core/localstack/aws/forwarder.py
  localstack-core/localstack/testing/aws/util.py
  localstack-core/mypy.ini
  tests/aws/test_moto.py
  tests/integration/test_forwarder.py
  tests/unit/aws/handlers/analytics.py
  tests/unit/aws/handlers/service.py
  tests/unit/aws/test_chain.py
  tests/unit/aws/test_skeleton.py
  tests/unit/services/kms/test_kms.py
  tests/unit/services/s3/test_s3.py
Labels: semver: patch

#12615 Add EC2 support for GetSecurityGroupsForVpc API operation (#12602)
  localstack-core/localstack/services/ec2/provider.py
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/ec2/test_ec2.snapshot.json
  tests/aws/services/ec2/test_ec2.validation.json
Labels: semver: minor

#12619 Add Workflow Summaries
  .github/workflows/aws-tests.yml
  Makefile
Labels: semver: patch, review: merge when ready

#12647 Fix acceptance test workflow name for Tinybird workflow push
  .github/workflows/aws-main.yml
Labels: semver: patch

#12640 Added retries to the container state check in TestDocker
  tests/integration/docker_utils/test_docker.py
Labels: semver: patch

#12648 Activate new GHA pipeline on PRs
  .github/workflows/aws-main.yml
  .github/workflows/aws-tests-mamr.yml
Labels: semver: patch

#12634 ffmpeg: Update build source to use BtbN GitHub Releases
  localstack-core/localstack/packages/ffmpeg.py
Labels: semver: minor, review: merge when ready

#12654 Include reserved_concurrent_executions in get_function response
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda.snapshot.json
  tests/aws/services/lambda_/test_lambda.validation.json
Labels: semver: patch, review: merge when ready

#12641 DDB Global table: add logic for streams
  localstack-core/localstack/services/dynamodb/utils.py
  localstack-core/localstack/services/dynamodbstreams/dynamodbstreams_api.py
  localstack-core/localstack/services/dynamodbstreams/provider.py
  localstack-core/localstack/services/dynamodbstreams/v2/provider.py
  localstack-core/localstack/testing/pytest/fixtures.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/dynamodb/test_dynamodb.py
  tests/aws/services/dynamodb/test_dynamodb.snapshot.json
  tests/aws/services/dynamodb/test_dynamodb.validation.json
Labels: aws:dynamodb, aws:dynamodbstreams, semver: patch

#12661 EC2: fix describe-availability-zones filtering
  localstack-core/localstack/services/ec2/provider.py
  tests/aws/services/ec2/test_ec2.py
  tests/aws/services/ec2/test_ec2.snapshot.json
  tests/aws/services/ec2/test_ec2.validation.json
Labels: aws:ec2, semver: patch

#12686 GH Actions: fix order of path filters for push and pull-request events
  .github/workflows/aws-main.yml
Labels: semver: patch

#12677 fix(esm/kinesis): Always store NextShardIterator from GetRecords
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: type: bug, semver: minor, aws:lambda:event-source-mapping

#12684 Bump moto-ext to 5.1.5.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: semver: minor

#12682 GitHub Actions: correct test durations handling for integration tests & update test durations file
  .test_durations
  Makefile
Labels: semver: patch

#12691 Stop handling help parsing with argparse
  localstack-core/localstack/cli/profiles.py
Labels: semver: patch

#12675 Add stack option for CLI start command
  localstack-core/localstack/cli/localstack.py
Labels: area: cli, semver: minor
