Repository localstack/localstack, pull requests merged in 2025-04, with the labels that each got.

#12442 Deleting a FIFO message with an expired receipt handle should raise an error
  localstack-core/localstack/services/sqs/models.py
  localstack-core/localstack/services/sqs/utils.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/sqs/test_sqs.snapshot.json
  tests/aws/services/sqs/test_sqs.validation.json
Labels: semver: patch

#12458 Lambda: Added Ruby 3.4 Runtime
  localstack-core/localstack/services/lambda_/provider.py
  localstack-core/localstack/services/lambda_/runtimes.py
  tests/aws/services/lambda_/test_lambda_api.py
  tests/aws/services/lambda_/test_lambda_api.snapshot.json
  tests/aws/services/lambda_/test_lambda_api.validation.json
  tests/aws/services/lambda_/test_lambda_common.snapshot.json
  tests/aws/services/lambda_/test_lambda_common.validation.json
Labels: aws:lambda, semver: minor

#12366 Fix(#12318): Fixes a bug in evaluation of JSONPath for wildcard and s…
  localstack-core/localstack/services/stepfunctions/asl/utils/json_path.py
  tests/aws/services/stepfunctions/v2/base/test_base.py
  tests/aws/services/stepfunctions/v2/base/test_base.snapshot.json
  tests/aws/services/stepfunctions/v2/base/test_base.validation.json
Labels: semver: minor

#12464 Add Codeconnections to the client types
  localstack-core/localstack/utils/aws/client_types.py
  pyproject.toml
  requirements-typehint.txt
Labels: semver: patch

#12465 Fix lambda timeout race condition
  localstack-core/localstack/services/lambda_/invocation/assignment.py
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
  localstack-core/localstack/services/lambda_/provider.py
  tests/aws/services/lambda_/test_lambda.py
Labels: semver: patch

#12396 CFn: WIP POC v2 executor
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.validation.json
  tests/aws/services/cloudformation/v2/test_change_sets.py
  tests/aws/services/cloudformation/v2/test_change_sets.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_sets.validation.json
Labels: aws:cloudformation, semver: minor

#12473 Skip flaky transcribe tests
  tests/aws/services/transcribe/test_transcribe.py
Labels: aws:transcribe, semver: patch

#12461 Step Functions: Migrate v2 Test Suite to no_retry aws_client Fixture
  tests/aws/services/stepfunctions/v2/base/test_wait.py
  tests/aws/services/stepfunctions/v2/callback/test_callback.py
  tests/aws/services/stepfunctions/v2/credentials/test_credentials_base.py
  tests/aws/services/stepfunctions/v2/logs/test_logs.py
  tests/aws/services/stepfunctions/v2/scenarios/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/services/test_dynamodb_task_service.py
  tests/aws/services/stepfunctions/v2/test_sfn_api.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_activities.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_express.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_logs.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_map_run.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_tagging.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_variable_references.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_versioning.py
Labels: semver: minor

#12470 Reapply reduce requests necessary for log publishing from lambda to cloudwatch logs
  localstack-core/localstack/services/lambda_/invocation/logs.py
  tests/aws/services/lambda_/functions/lambda_cloudwatch_logs.py
  tests/aws/services/lambda_/test_lambda.py
  tests/aws/services/lambda_/test_lambda_runtimes.py
  tests/aws/services/lambda_/test_lambda_runtimes.snapshot.json
  tests/aws/services/lambda_/test_lambda_runtimes.validation.json
Labels: semver: minor

#12459 Fix subnet tags going missing
  localstack-core/localstack/services/ec2/patches.py
  tests/aws/services/ec2/test_ec2.py
Labels: semver: patch

#12467 KMS: fix RSA PSS signing issue for salt length
  localstack-core/localstack/services/kms/models.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: minor

#12391 Secret Manager: Solve the issue for rotate secret after sub-sequent r…
  localstack-core/localstack/services/secretsmanager/provider.py
  localstack-core/localstack/testing/snapshots/transformer_utility.py
  tests/aws/services/secretsmanager/functions/lambda_rotate_secret.py
  tests/aws/services/secretsmanager/test_secretsmanager.py
  tests/aws/services/secretsmanager/test_secretsmanager.snapshot.json
  tests/aws/services/secretsmanager/test_secretsmanager.validation.json
Labels: semver: patch

#12477 Docker: Improve error messages around port-bound check
  localstack-core/localstack/utils/docker_utils.py
Labels: semver: patch

#12483 [ESM] Re-initialize shards when NextShardIterator value is empty
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/dynamodb_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/kinesis_poller.py
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
Labels: semver: minor, aws:lambda:event-source-mapping

#12489 Admin: Update License
  pyproject.toml
Labels: semver: patch

#12501 Scheduled GitHub Action to generate artifacts with feature catalog files
  .github/workflows/create_artifact_with_features_files.yml
Labels: semver: patch

#12471 Add new volume dir mount option, rename VolumeBind to BindMount
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/bootstrap.py
  localstack-core/localstack/utils/container_utils/container_client.py
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
  tests/bootstrap/test_container_configurators.py
  tests/bootstrap/test_init.py
  tests/unit/test_docker_utils.py
  tests/unit/utils/test_bootstrap.py
Labels: semver: patch

#12480 CFn: Add Lambda Function LoggingConfig
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_function.py
  localstack-core/localstack/services/lambda_/resource_providers/aws_lambda_function.schema.json
  tests/aws/services/cloudformation/resources/test_lambda.py
  tests/aws/services/cloudformation/resources/test_lambda.snapshot.json
  tests/aws/services/cloudformation/resources/test_lambda.validation.json
  tests/aws/templates/cfn_lambda_logging_config.yaml
Labels: aws:cloudformation, aws:lambda, semver: patch

#12475 Added github action to validate feature catalog files
  .github/workflows/pr-validate-features-files.yml
Labels: semver: patch

#12482 KMS: add ability to decrypt data with all rotated keys
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
Labels: aws:kms, semver: minor

#12447 CloudFormation: Update Graph Preprocessor
  .github/workflows/marker-report.yml
  .github/workflows/tests-cli.yml
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_visitor.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/services/cloudformation/v2/utils.py
  localstack-core/localstack/services/sns/resource_providers/aws_sns_topic.py
  localstack-core/localstack/testing/pytest/cloudformation/__init__.py
  localstack-core/localstack/testing/pytest/cloudformation/fixtures.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_changesets.validation.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_get_attr.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_get_attr.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_fn_get_attr.validation.json
  tests/aws/services/cloudformation/v2/test_change_set_ref.py
  tests/aws/services/cloudformation/v2/test_change_set_ref.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_ref.validation.json
  tests/conftest.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12494 EC2: generate security group ids using id manager concept
  localstack-core/localstack/services/ec2/patches.py
  tests/aws/services/ec2/test_ec2.py
Labels: semver: patch

#12504 KMS: enable `_custom_key_material_` for ECC keys
  localstack-core/localstack/services/kms/models.py
  tests/aws/services/kms/test_kms.py
Labels: aws:kms, semver: minor

#12507 unpin pytest-httpserver, fix patches
  pyproject.toml
  requirements-dev.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/events/test_events_targets.py
  tests/conftest.py
Labels: semver: patch

#12509 skip flaky tests in transcribe
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: patch

#12479 transcribe: add model path to vosk Model
  localstack-core/localstack/services/transcribe/provider.py
  tests/aws/services/transcribe/test_transcribe.py
Labels: semver: minor

#12512 Step Functions: Increase Retry Attempts on Service Integrations for Resilience Against Transient Network Errors
  localstack-core/localstack/services/stepfunctions/asl/utils/boto_client.py
Labels: semver: minor

#12513 SES: add ARN utility for SES identity
  localstack-core/localstack/testing/pytest/fixtures.py
  localstack-core/localstack/utils/aws/arns.py
  tests/aws/services/ses/test_ses.py
Labels: semver: patch

#12514 APIGW: migrate TestInvokeMethod to NextGen
  localstack-core/localstack/services/apigateway/helpers.py
  localstack-core/localstack/services/apigateway/legacy/provider.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/test_invoke.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  tests/aws/services/apigateway/apigateway_fixtures.py
  tests/aws/services/apigateway/conftest.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_basic.py
  tests/aws/services/apigateway/test_apigateway_basic.snapshot.json
  tests/aws/services/apigateway/test_apigateway_basic.validation.json
Labels: aws:apigateway, semver: patch

#12517 add AVP to list of CFN composite quirks
  localstack-core/localstack/services/cloudformation/engine/quirks.py
Labels: aws:cloudformation, semver: patch

#12508 Support IAM transitive session tagging
  localstack-core/localstack/services/sts/models.py
  localstack-core/localstack/services/sts/provider.py
  tests/aws/services/sts/test_sts.py
  tests/aws/services/sts/test_sts.snapshot.json
  tests/aws/services/sts/test_sts.validation.json
Labels: semver: minor

#12481 feat: propagate x-ray trace id to event bridge targets
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/target.py
  tests/aws/services/events/test_x_ray_trace_propagation.py
  tests/aws/services/events/test_x_ray_trace_propagation.validation.json
  tests/aws/services/lambda_/test_lambda.py
Labels: aws:events, semver: minor

#12500 Add profile as an option to every click command
  localstack-core/localstack/cli/main.py
  localstack-core/localstack/cli/profiles.py
  tests/unit/cli/test_profiles.py
Labels: semver: patch

#12515 Added GH action to build community image
  .github/actions/build-image/action.yml
Labels: semver: patch

#12496 StepFunctions: ListStateMachineAliases pagination support
  localstack-core/localstack/services/sqs/provider.py
  localstack-core/localstack/services/sqs/utils.py
  localstack-core/localstack/services/stepfunctions/backend/alias.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/services/stepfunctions/stepfunctions_utils.py
  localstack-core/localstack/utils/strings.py
  tests/aws/services/sqs/test_sqs.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.py
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.snapshot.json
  tests/aws/services/stepfunctions/v2/test_sfn_api_aliasing.validation.json
Labels: aws:stepfunctions, semver: patch

#12527 CloudFormation Engine v2: Base Mappings and Conditions tests for Update Graph and PreProc
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/v2/test_change_set_conditions.py
  tests/aws/services/cloudformation/v2/test_change_set_conditions.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_conditions.validation.json
  tests/aws/services/cloudformation/v2/test_change_set_mappings.py
  tests/aws/services/cloudformation/v2/test_change_set_mappings.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_set_mappings.validation.json
Labels: semver: minor

#12511 CFn executor v2: provide previous payload correctly
  localstack-core/localstack/services/cloudformation/api_utils.py
  localstack-core/localstack/services/cloudformation/engine/entities.py
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
  localstack-core/localstack/services/cloudformation/stores.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  localstack-core/localstack/services/ssm/resource_providers/aws_ssm_parameter.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/api/test_changesets.validation.json
Labels: semver: patch

#12450 [AWS][Transcribe] Adding fix for validating Audio length
  localstack-core/localstack/services/transcribe/provider.py
  tests/aws/services/transcribe/test_transcribe.py
  tests/aws/services/transcribe/test_transcribe.snapshot.json
  tests/aws/services/transcribe/test_transcribe.validation.json
Labels: semver: patch

#12533 CloudFormation Engine V2: Improve delta computation of properties, conditional resolution, and physical resources ref
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  tests/aws/services/cloudformation/api/test_changesets.py
Labels: semver: minor

#12499 Bump moto-ext to 5.1.3.post1
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/aws/services/cloudformation/resources/test_ec2.py
  tests/aws/services/cloudformation/resources/test_ec2.snapshot.json
  tests/aws/services/cloudformation/resources/test_ec2.validation.json
Labels: semver: patch

#12534 revert removal of get_resource_type method
  localstack-core/localstack/services/cloudformation/engine/template_deployer.py
  localstack-core/localstack/services/cloudformation/resource_provider.py
Labels: aws:cloudformation, semver: patch

#12521 Add error handling if lambda logs are not received from the environment
  localstack-core/localstack/services/lambda_/invocation/version_manager.py
Labels: semver: patch

#12525 Step Functions: Surface Support for Mocked Responses
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/mock_eval_utils.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service.py
  localstack-core/localstack/services/stepfunctions/asl/eval/environment.py
  localstack-core/localstack/services/stepfunctions/backend/execution.py
  localstack-core/localstack/services/stepfunctions/backend/execution_worker.py
  localstack-core/localstack/services/stepfunctions/mocking/mock_config.py
  localstack-core/localstack/services/stepfunctions/mocking/mock_config_file.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/lambda/200_string_body.json5
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.validation.json
  tests/aws/services/stepfunctions/v2/mocking/test_mock_config_file.py
Labels: semver: minor

#12526 apply fix for podman container labels dict
  localstack-core/localstack/utils/container_utils/docker_cmd_client.py
Labels: semver: patch

#12541 fix links for issue & PR messages
  .github/workflows/pr-welcome-first-time-contributors.yml
Labels: semver: minor

#12532 Admin: Enable mypy during linting
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/config.py
  localstack-core/localstack/constants.py
  localstack-core/localstack/packages/api.py
  localstack-core/localstack/packages/core.py
  localstack-core/localstack/packages/debugpy.py
  localstack-core/localstack/packages/ffmpeg.py
  localstack-core/localstack/packages/java.py
  localstack-core/localstack/packages/plugins.py
  localstack-core/localstack/packages/terraform.py
  localstack-core/localstack/services/kinesis/packages.py
  localstack-core/localstack/utils/archives.py
  localstack-core/localstack/utils/venv.py
  localstack-core/mypy.ini
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  requirements-typehint.txt
Labels: semver: patch

#12539 APIGW: validate REST API custom id tag
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
Labels: aws:apigateway, semver: patch

#12505 Add dry_run support to GenerateDataKeyPair/GenerateDataKeyPairWithoutPlaintext.
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  localstack-core/localstack/services/kms/utils.py
  tests/aws/services/kms/test_kms.py
  tests/aws/services/kms/test_kms.snapshot.json
  tests/aws/services/kms/test_kms.validation.json
  tests/unit/services/kms/test_kms.py
Labels: semver: patch

#12548 Manually update ASF APIs and all dependencies
  localstack-core/localstack/aws/api/ec2/__init__.py
  localstack-core/localstack/aws/api/events/__init__.py
  localstack-core/localstack/aws/api/resource_groups/__init__.py
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/v1/provider.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Labels: area: asf, area: dependencies, semver: patch, review: merge when ready

#12522 Lambda: fix transient connection errors on first container invoke with retry logic
  localstack-core/localstack/services/lambda_/invocation/executor_endpoint.py
  localstack-core/localstack/services/stepfunctions/asl/utils/boto_client.py
Labels: semver: minor

#12535 Cloud Formation Engine v2: Improve Computation of Ref Functions and PhysicalResourceIDs Listing
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_describer.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_executor.py
  localstack-core/localstack/services/cloudformation/engine/v2/change_set_model_preproc.py
  localstack-core/localstack/services/cloudformation/v2/entities.py
  tests/aws/services/cloudformation/v2/test_change_set_conditions.py
  tests/aws/services/cloudformation/v2/test_change_set_fn_get_attr.py
  tests/aws/services/cloudformation/v2/test_change_set_mappings.py
  tests/aws/services/cloudformation/v2/test_change_set_ref.py
  tests/unit/services/cloudformation/test_change_set_describe_details.py
Labels: semver: minor

#12549 APIGW: fix Host regex to allow hyphen and remove restriction
  localstack-core/localstack/services/apigateway/next_gen/execute_api/router.py
  localstack-core/localstack/services/apigateway/next_gen/provider.py
  tests/aws/services/apigateway/test_apigateway_api.py
  tests/aws/services/apigateway/test_apigateway_common.py
Labels: aws:apigateway, semver: patch, review: merge when ready

#12547 Clarify coverage error messages to distinguish license and emulation limits
  localstack-core/localstack/utils/coverage_docs.py
  tests/unit/aws/test_skeleton.py
  tests/unit/utils/test_coverage_docs.py
Labels: semver: minor

#12550 Step Functions: Decrease LocalStack Sampling Delays to Speed Up Tests Suite
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
Labels: semver: minor

#12555 Update lambda runtime init
  localstack-core/localstack/services/lambda_/packages.py
Labels: semver: patch, review: merge when ready

#12520 Improve stream poller exception logging
  localstack-core/localstack/services/lambda_/event_source_mapping/pollers/stream_poller.py
  localstack-core/localstack/services/lambda_/invocation/version_manager.py
Labels: semver: patch

#12554 feat: add current region and account as input to _proxy_capture_input_event
  localstack-core/localstack/services/events/provider.py
  localstack-core/localstack/services/events/utils.py
Labels: aws:events, semver: minor

#12553 Step Functions: Improve Mocked Response Integration
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/lambda_eval_utils.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_lambda.py
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/state_task_lambda.py
  localstack-core/localstack/services/stepfunctions/mocking/mock_config.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_response_loader.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/dynamodb/200_get_item.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/dynamodb/200_put_item.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/dynamodb/__init__.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/events/200_put_events.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/events/__init__.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/lambda/not_ready_timeout_200_string_body.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/sns/200_publish.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/sns/__init__.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/sqs/200_send_message.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/sqs/__init__.py
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/states/200_start_execution_sync.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/states/200_start_execution_sync2.json5
  tests/aws/services/stepfunctions/mocked_responses/mocked_responses/states/__init__.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.validation.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.validation.json
Labels: semver: minor

#12562 Step Functions: Fix Mock Test for Multi-Region
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.py
Labels: semver: minor

#12556 CFn: add v2 tests to CI
  .circleci/config.yml
  localstack-core/localstack/services/cloudformation/v2/entities.py
  localstack-core/localstack/services/cloudformation/v2/provider.py
  tests/aws/services/cloudformation/api/test_changesets.py
  tests/aws/services/cloudformation/api/test_changesets.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_sets.py
  tests/aws/services/cloudformation/v2/test_change_sets.snapshot.json
  tests/aws/services/cloudformation/v2/test_change_sets.validation.json
Labels: semver: patch

#12560 Step Functions: Mock Mode Improvements
  localstack-core/localstack/services/stepfunctions/asl/component/state/state_execution/state_task/service/state_task_service_callback.py
  localstack-core/localstack/services/stepfunctions/asl/eval/environment.py
  localstack-core/localstack/services/stepfunctions/mocking/mock_config.py
  localstack-core/localstack/services/stepfunctions/mocking/mock_config_file.py
  localstack-core/localstack/services/stepfunctions/provider.py
  localstack-core/localstack/testing/pytest/stepfunctions/utils.py
  tests/aws/services/stepfunctions/mocked_service_integrations/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mock_config_files/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mock_config_files/lambda_sqs_integration.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/callback/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/callback/task_failure.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/callback/task_success_string_literal.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/dynamodb/200_get_item.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/dynamodb/200_put_item.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/dynamodb/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/events/200_put_events.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/events/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/lambda/200_string_body.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/lambda/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/lambda/not_ready_timeout_200_string_body.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/sns/200_publish.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/sns/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/sqs/200_send_message.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/sqs/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/states/200_start_execution_sync.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/states/200_start_execution_sync2.json5
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_responses/states/__init__.py
  tests/aws/services/stepfunctions/mocked_service_integrations/mocked_service_integrations.py
  tests/aws/services/stepfunctions/templates/mocked/__init__.py
  tests/aws/services/stepfunctions/templates/mocked/mocked_templates.py
  tests/aws/services/stepfunctions/templates/mocked/statemachines/__init__.py
  tests/aws/services/stepfunctions/templates/mocked/statemachines/lambda_sqs_integration.json5
  tests/aws/services/stepfunctions/templates/scenarios/scenarios_templates.py
  tests/aws/services/stepfunctions/templates/scenarios/statemachines/parallel_state_service_lambda.json5
  tests/aws/services/stepfunctions/templates/services/lambdafunctions/return_decorated_input.py
  tests/aws/services/stepfunctions/templates/services/services_templates.py
  tests/aws/services/stepfunctions/v2/mocking/test_aws_scenarios.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_callbacks.validation.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.py
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.snapshot.json
  tests/aws/services/stepfunctions/v2/mocking/test_base_scenarios.validation.json
  tests/aws/services/stepfunctions/v2/mocking/test_mock_config_file.py
Labels: semver: minor

#12569 refactor Counter usage in APIGW
  localstack-core/localstack/services/apigateway/analytics.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/__init__.py
  localstack-core/localstack/services/apigateway/next_gen/execute_api/handlers/analytics.py
Labels: aws:apigateway, semver: patch
