Repository localstack/localstack, changes with the owners that CODEOWNERS names for each.
All owners: @thrau, @dominikschubert, @alexrashed, @HarshCasper, @dfangl, @simonrw, @viren-nadkarni, @steffyP, @silv-io, @bentsku, @cloutierMat, @pinzon, @Morijarti, @giograno, @macnev2013, @maxhoheiser, @joe4dev, @sannya-singal, @MEPalma, @baermat, @ackdav

catch only request validation errors in this stage
  localstack-core/localstack/aws/handlers/openapi.py
  tests/unit/aws/handlers/openapi.py
Owners: @thrau

fix test
  localstack-core/localstack/utils/analytics/metadata.py
  tests/unit/utils/analytics/test_metadata.py
Owners: @thrau

fix location of oas yaml
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/spec/__init__.py
  pyproject.toml
Owners: @thrau

OpenAPIResponseValidator fix inheritance
  localstack-core/localstack/aws/handlers/validation.py
Owners: @thrau

adding pre-commit
  .pre-commit-config.yaml
Owners: none

comments
  localstack-core/localstack/aws/handlers/validation.py
Owners: @thrau

adjusted makefile path
  Makefile
Owners: none

set flag to validate responses
  .github/workflows/tests-pro-integration.yml
Owners: @alexrashed, @dfangl, @dominikschubert

addins OAS yaml file in the spec folder
  spec/openapi.yaml
Owners: none

fix for the _localstack_lambda namespace
  localstack-core/localstack/aws/handlers/openapi.py
Owners: @thrau

skip response validation if ff not enabled
  localstack-core/localstack/aws/handlers/openapi.py
Owners: @thrau

use variables for the ports
  localstack-core/localstack/spec.py
Owners: none

typo in Makefile
  Makefile
Owners: none

improve handler and add unit tests
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/openapi.py
  localstack-core/localstack/config.py
  localstack-core/localstack/spec.py
  tests/unit/aws/handlers/openapi.py
Owners: @thrau

Add /_aws/events/rules/{rule_arn}/trigger
  localstack-core/localstack/spec.py
Owners: none

addressing feedback
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/spec/openapi.yaml
  pyproject.toml
  tests/unit/aws/handlers/openapi.py
Owners: @thrau

Init KMS support for offline encryption with RSA key (#11359)
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
Owners: @sannya-singal

SSM: Remove patch
  localstack-core/localstack/services/ssm/provider.py
Owners: @dominikschubert

update logs provider signature
  localstack-core/localstack/services/logs/provider.py
Owners: @steffyP

Bump Moto-Ext to 5.0.13.post3
  pyproject.toml
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Owners: none

Update ASF APIs, update logs provider signature (#11440)
  localstack-core/localstack/aws/api/ec2/__init__.py
  localstack-core/localstack/aws/api/logs/__init__.py
  localstack-core/localstack/aws/api/stepfunctions/__init__.py
  localstack-core/localstack/services/logs/provider.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Owners: @viren-nadkarni, @macnev2013, @steffyP, @MEPalma, @joe4dev, @dominikschubert

Add OpenAPI schema for public REST API (#11025)
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Owners: @alexrashed, @dfangl, @dominikschubert, @thrau

remove ARN partition rewriter
  localstack-core/localstack/aws/handlers/partition_rewriter.py
  localstack-core/localstack/config.py
  localstack-core/localstack/plugins.py
  tests/unit/test_partition_rewriter.py
Owners: @thrau

add snapshot skip for legacy S3 ACLs
  tests/aws/services/s3/test_s3.py
Owners: @bentsku

Replace auto-install of setuptools_scm with error
  .circleci/config.yml
  .github/workflows/asf-updates.yml
  .github/workflows/tests-bin.yml
  .github/workflows/tests-s3-image.yml
  bin/docker-helper.sh
  bin/release-helper.sh
Owners: @alexrashed, @dfangl, @dominikschubert, @thrau

cloudwatch: move TaggingService to the store
  localstack-core/localstack/services/cloudwatch/models.py
  localstack-core/localstack/services/cloudwatch/provider_v2.py
  tests/aws/services/cloudwatch/test_cloudwatch.py
  tests/aws/services/cloudwatch/test_cloudwatch.snapshot.json
  tests/aws/services/cloudwatch/test_cloudwatch.validation.json
Owners: @steffyP, @pinzon

Add test for missing setuptools-scm error for release-helper
  bin/docker-helper.sh
  bin/release-helper.sh
  tests/bin/test.release-helper.bats
Owners: @thrau, @alexrashed

Fix mocking in test
  bin/release-helper.sh
  tests/bin/test.docker-helper.bats
  tests/bin/test.release-helper.bats
Owners: @thrau, @alexrashed

make OPENAPI_VALIDATE_REQUEST opt-in
  localstack-core/localstack/config.py
Owners: @thrau

make OPENAPI_VALIDATE_REQUEST opt-in (#11444)
  localstack-core/localstack/config.py
Owners: @thrau

Revert "Add OpenAPI schema for public REST API (#11025)"
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Owners: @alexrashed, @dfangl, @dominikschubert, @thrau

Revert "Add OpenAPI schema for public REST API (#11025)" (#11446)
  .github/workflows/tests-pro-integration.yml
  .pre-commit-config.yaml
  Makefile
  localstack-core/localstack/aws/app.py
  localstack-core/localstack/aws/handlers/__init__.py
  localstack-core/localstack/aws/handlers/fallback.py
  localstack-core/localstack/aws/handlers/validation.py
  localstack-core/localstack/config.py
  localstack-core/localstack/dev/run/configurators.py
  localstack-core/localstack/openapi.yaml
  localstack-core/localstack/services/internal.py
  localstack-core/localstack/utils/analytics/metadata.py
  localstack-core/localstack/utils/diagnose.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
  tests/unit/aws/handlers/openapi.py
  tests/unit/utils/analytics/test_metadata.py
Owners: @alexrashed, @dfangl, @dominikschubert, @thrau

Upgrade pinned Python dependencies
  .pre-commit-config.yaml
  requirements-base-runtime.txt
  requirements-basic.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Owners: none

CODEOWNERS:

######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @thrau @dominikschubert @alexrashed

# README / Docs
/docs/ @thrau @HarshCasper
/README.md @HarshCasper
/CODE_OF_CONDUCT.md @HarshCasper
/LICENSE.txt @HarshCasper @alexrashed

# Docker
/bin/docker-entrypoint.sh @thrau @alexrashed
/.dockerignore @alexrashed
/Dockerfile @alexrashed

# Git, Pipelines, GitHub config
/.circleci @alexrashed @dfangl @dominikschubert
/.github @alexrashed @dfangl @dominikschubert
/.test_durations @alexrashed
/.git-blame-ignore-revs @alexrashed @thrau
/bin/release-dev.sh @thrau @alexrashed
/bin/release-helper.sh @thrau @alexrashed

# ASF
/localstack-core/localstack/aws/ @thrau
/tests/unit/aws/ @thrau
# ASF parsers and serializers
/localstack-core/localstack/aws/protocol @alexrashed
# left empty (without owner) because the generated APIs belong to the specific service owners
# you can overwrite this for single services afterwards
/localstack-core/localstack/aws/api/

# CLI
/localstack-core/localstack/cli/ @thrau @alexrashed
/tests/unit/cli/ @thrau @alexrashed
/tests/cli/ @thrau @alexrashed

# Plugins
/localstack-core/localstack/plugins.py @thrau
/localstack-core/localstack/config.py @thrau
/tests/unit/services/test_internal.py @thrau

# Extensions
/localstack-core/localstack/extensions/ @thrau

# Container utils
/localstack-core/localstack/utils/container_utils/ @dfangl @dominikschubert
/localstack-core/localstack/utils/docker_utils.py @dfangl @dominikschubert
/tests/unit/test_docker_utils.py @dfangl @dominikschubert
/tests/unit/test_dockerclient.py @dfangl @dominikschubert

# Package Installers
/localstack-core/localstack/packages/ @alexrashed
/localstack-core/localstack/services/kinesis/packages.py @alexrashed

# DNS server
/localstack-core/localstack/dns @simonrw @dfangl

# HTTP framework
/localstack-core/localstack/http/ @thrau
/tests/unit/http_/ @thrau

# Runtime
/localstack-core/localstack/runtime/ @thrau

# Logging
/localstack-core/localstack/logging/ @dfangl @alexrashed @dominikschubert

# Stores
/localstack-core/localstack/services/stores.py @viren-nadkarni
/tests/unit/test_stores.py @viren-nadkarni

# Analytics client
/localstack-core/localstack/utils/analytics/ @thrau
/tests/unit/utils/analytics/ @thrau

# Snapshot testing
/localstack-core/localstack/testing/snapshots/ @dominikschubert @steffyP
/localstack-core/localstack/testing/pytest/ @dominikschubert

# Scenario testing
/localstack-core/localstack/testing/scenario/ @dominikschubert @steffyP

# Bootstrap tests
/tests/bootstrap @simonrw
/localstack-core/localstack/testing/pytest/container.py @dominikschubert @simonrw

# Test Selection
/localstack-core/localstack/testing/testselection @dominikschubert @alexrashed @silv-io

######################
### SERVICE OWNERS ###
######################
# DO NOT modify anything below!
# Everything below is _autogenerated_ and any manual changes will be overwritten.


# acm
/localstack-core/localstack/aws/api/acm/ @alexrashed
/localstack-core/localstack/services/acm/ @alexrashed
/tests/aws/services/acm/ @alexrashed

# apigateway
/localstack-core/localstack/aws/api/apigateway/ @bentsku @cloutierMat
/localstack-core/localstack/services/apigateway/ @bentsku @cloutierMat
/tests/aws/services/apigateway/ @bentsku @cloutierMat
/tests/unit/test_apigateway.py @bentsku @cloutierMat
/tests/unit/services/apigateway/ @bentsku @cloutierMat

# cloudformation
/localstack-core/localstack/aws/api/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/localstack-core/localstack/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/tests/aws/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/tests/unit/test_cloudformation.py @dominikschubert @pinzon @simonrw @Morijarti
/tests/unit/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti

# cloudwatch
/localstack-core/localstack/aws/api/cloudwatch/ @steffyP @pinzon
/localstack-core/localstack/services/cloudwatch/ @steffyP @pinzon
/tests/aws/services/cloudwatch/ @steffyP @pinzon
/tests/unit/test_cloudwatch.py @steffyP @pinzon

# dynamodb
/localstack-core/localstack/aws/api/dynamodb/ @viren-nadkarni @giograno
/localstack-core/localstack/services/dynamodb/ @viren-nadkarni @giograno
/tests/aws/services/dynamodb/ @viren-nadkarni @giograno
/tests/unit/test_dynamodb.py @viren-nadkarni @giograno

# ec2
/localstack-core/localstack/aws/api/ec2/ @viren-nadkarni @macnev2013
/localstack-core/localstack/services/ec2/ @viren-nadkarni @macnev2013
/tests/aws/services/ec2/ @viren-nadkarni @macnev2013

# ecr
/localstack-core/localstack/services/ecr/ @dfangl

# es
/localstack-core/localstack/aws/api/es/ @alexrashed @silv-io
/localstack-core/localstack/services/es/ @alexrashed @silv-io
/tests/aws/services/es/ @alexrashed @silv-io

# events
/localstack-core/localstack/aws/api/events/ @maxhoheiser @Morijarti @joe4dev
/localstack-core/localstack/services/events/ @maxhoheiser @Morijarti @joe4dev
/tests/aws/services/events/ @maxhoheiser @Morijarti @joe4dev

# firehose
/localstack-core/localstack/aws/api/firehose/ @pinzon
/localstack-core/localstack/services/firehose/ @pinzon
/tests/aws/services/firehose/ @pinzon

# iam
/localstack-core/localstack/aws/api/iam/ @dfangl @pinzon
/localstack-core/localstack/services/iam/ @dfangl @pinzon
/tests/aws/services/iam/ @dfangl @pinzon

# kms
/localstack-core/localstack/aws/api/kms/ @sannya-singal
/localstack-core/localstack/services/kms/ @sannya-singal
/tests/aws/services/kms/ @sannya-singal
/tests/unit/test_kms.py @sannya-singal

# lambda
/localstack-core/localstack/aws/api/lambda_/ @joe4dev @dominikschubert @dfangl
/localstack-core/localstack/services/lambda_/ @joe4dev @dominikschubert @dfangl
/tests/aws/services/lambda_/ @joe4dev @dominikschubert @dfangl
/tests/unit/services/lambda_/ @joe4dev @dominikschubert @dfangl

# logs
/localstack-core/localstack/aws/api/logs/ @steffyP
/localstack-core/localstack/services/logs/ @steffyP
/tests/aws/services/logs/ @steffyP
/tests/unit/test_logs.py @steffyP

# opensearch
/localstack-core/localstack/aws/api/opensearch/ @alexrashed @silv-io
/localstack-core/localstack/services/opensearch/ @alexrashed @silv-io
/tests/aws/services/opensearch/ @alexrashed @silv-io
/tests/unit/services/opensearch/ @alexrashed @silv-io

# pipes
/localstack-core/localstack/aws/api/pipes/ @joe4dev

# route53
/localstack-core/localstack/aws/api/route53/ @giograno
/localstack-core/localstack/services/route53/ @giograno
/tests/aws/services/route53/ @giograno

# route53resolver
/localstack-core/localstack/aws/api/route53resolver/ @macnev2013 @sannya-singal
/localstack-core/localstack/services/route53resolver/ @macnev2013 @sannya-singal
/tests/aws/services/route53resolver/ @macnev2013 @sannya-singal

# s3
/localstack-core/localstack/aws/api/s3/ @bentsku
/localstack-core/localstack/services/s3/ @bentsku
/tests/aws/services/s3/ @bentsku
/tests/unit/test_s3.py @bentsku
/tests/unit/services/s3/ @bentsku

# scheduler
/localstack-core/localstack/aws/api/scheduler/ @joe4dev
/localstack-core/localstack/services/scheduler/ @joe4dev
/tests/aws/services/scheduler/ @joe4dev

# secretsmanager
/localstack-core/localstack/aws/api/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/localstack-core/localstack/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/tests/aws/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma

# ses
/localstack-core/localstack/aws/api/ses/ @viren-nadkarni
/localstack-core/localstack/services/ses/ @viren-nadkarni
/tests/aws/services/ses/ @viren-nadkarni

# sns
/localstack-core/localstack/aws/api/sns/ @bentsku @baermat
/localstack-core/localstack/services/sns/ @bentsku @baermat
/tests/aws/services/sns/ @bentsku @baermat
/tests/unit/test_sns.py @bentsku @baermat

# sqs
/localstack-core/localstack/aws/api/sqs/ @thrau @baermat
/localstack-core/localstack/services/sqs/ @thrau @baermat
/tests/aws/services/sqs/ @thrau @baermat
/tests/unit/test_sqs.py @thrau @baermat

# ssm
/localstack-core/localstack/aws/api/ssm/ @dominikschubert
/localstack-core/localstack/services/ssm/ @dominikschubert
/tests/aws/services/ssm/ @dominikschubert

# stepfunctions
/localstack-core/localstack/aws/api/stepfunctions/ @MEPalma @joe4dev @dominikschubert
/localstack-core/localstack/services/stepfunctions/ @MEPalma @joe4dev @dominikschubert
/tests/aws/services/stepfunctions/ @MEPalma @joe4dev @dominikschubert

# sts
/localstack-core/localstack/aws/api/sts/ @pinzon @dfangl
/localstack-core/localstack/services/sts/ @pinzon @dfangl
/tests/aws/services/sts/ @pinzon @dfangl

# transcribe
/localstack-core/localstack/aws/api/transcribe/ @sannya-singal @ackdav
/localstack-core/localstack/services/transcribe/ @sannya-singal @ackdav
/tests/aws/services/transcribe/ @sannya-singal @ackdav
