Repository localstack/localstack, changes with the owners that CODEOWNERS names for each.
All owners: @thrau, @dominikschubert, @alexrashed, @HarshCasper, @dfangl, @simonrw, @viren-nadkarni, @steffyP, @silv-io, @bentsku, @cloutierMat, @pinzon, @Morijarti, @giograno, @macnev2013, @maxhoheiser, @joe4dev, @sannya-singal, @MEPalma, @baermat, @ackdav

update util func name
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
Owners: @joe4dev, @dominikschubert, @dfangl

Lambda DevX: Introducing Lambda Debug Mode Config (#11363)
  localstack-core/localstack/config.py
  localstack-core/localstack/runtime/analytics.py
  localstack-core/localstack/services/lambda_/invocation/docker_runtime_executor.py
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
  localstack-core/localstack/services/lambda_/invocation/executor_endpoint.py
  localstack-core/localstack/utils/lambda_debug_mode/__init__.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode_config.py
  localstack-core/localstack/utils/lambda_debug_mode/lambda_debug_mode_session.py
  tests/unit/lambda_debug_mode/__init__.py
  tests/unit/lambda_debug_mode/test_config_parsing.py
Owners: @thrau, @joe4dev, @dominikschubert, @dfangl

minor
  localstack-core/localstack/services/lambda_/invocation/assignment.py
Owners: @joe4dev, @dominikschubert, @dfangl

remove deprecated utils
  localstack-core/localstack/utils/lambda_debug_mode.py
Owners: none

Lambda DevX: Automatically Control Lambda Container Startup Timeout when In Lambda Debug Mode (#11398)
  localstack-core/localstack/services/lambda_/invocation/execution_environment.py
Owners: @joe4dev, @dominikschubert, @dfangl

Lambda DevX: Remove deprecated utils file (#11425)
  localstack-core/localstack/utils/lambda_debug_mode.py
Owners: none

Adapt to new certificate endpoint
  localstack-core/localstack/constants.py
  localstack-core/localstack/utils/ssl.py
Owners: none

Increase cache duration to 24h, add version to download url
  localstack-core/localstack/utils/ssl.py
Owners: none

update urls to proper endpoints
  localstack-core/localstack/constants.py
  localstack-core/localstack/utils/ssl.py
Owners: none

Adapt url again
  localstack-core/localstack/utils/ssl.py
Owners: none

Use proper download method
  localstack-core/localstack/utils/ssl.py
Owners: none

Modify certificate download URL to new endpoint (#11426)
  localstack-core/localstack/constants.py
  localstack-core/localstack/utils/ssl.py
Owners: none

add 3.7 blog to the README
  README.md
Owners: @HarshCasper

add 3.7 blog to the README (#11429)
  README.md
Owners: @HarshCasper

fix region for DNS resolving
  tests/aws/services/s3/test_s3.py
Owners: @bentsku

fix S3 region for DNS resolving (#11435)
  tests/aws/services/s3/test_s3.py
Owners: @bentsku

env var to delete the cached cert at startup
  localstack-core/localstack/config.py
  localstack-core/localstack/plugins.py
Owners: @thrau

Fix test_create_bucket_via_host_name
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/s3/test_s3.validation.json
Owners: @dominikschubert, @bentsku

Fix test_delete_versioned_bucket_with_objects
  localstack-core/localstack/services/s3/legacy/provider.py
  tests/aws/services/s3/test_s3_api.validation.json
Owners: @bentsku

Fix test_region_header_exists
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

Bump moto-ext to 5.0.13.post2
  pyproject.toml
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Owners: none

Fix test_put_bucket_logging_cross_locations
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

implement location constraint logic in new provider and rewrite test_different_location_constraint
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

Fix test_object_created_put_with_presigned_url_upload
  localstack-core/localstack/testing/pytest/fixtures.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3_notifications_sqs.py
  tests/aws/services/s3/test_s3_notifications_sqs.snapshot.json
  tests/aws/services/s3/test_s3_notifications_sqs.validation.json
Owners: @dominikschubert, @bentsku

Fix test_replication_config
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

update use of s3_create_bucket
  localstack-core/localstack/services/s3/provider.py
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

update more usage of s3_create_bucket
  tests/aws/services/apigateway/test_apigateway_s3.py
  tests/aws/services/s3/test_s3_notifications_eventbridge.py
  tests/aws/services/s3/test_s3_notifications_lambda.py
  tests/aws/services/s3/test_s3_notifications_sns.py
  tests/aws/services/s3/test_s3_notifications_sqs.py
Owners: @bentsku, @cloutierMat

fix multi-region for S3 tests
  tests/aws/services/s3/test_s3.py
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
  tests/aws/test_network_configuration.py
Owners: @bentsku

lint
  localstack-core/localstack/testing/pytest/fixtures.py
Owners: @dominikschubert

skip test following moto regression
  tests/aws/services/s3/test_s3.py
Owners: @bentsku

regenerate snapshots
  tests/aws/services/s3/test_s3.snapshot.json
  tests/aws/services/s3/test_s3.validation.json
Owners: @bentsku

Add KMS support for offline encryption with RSA key
  localstack-core/localstack/services/kms/models.py
  localstack-core/localstack/services/kms/provider.py
  tests/aws/services/kms/test_kms.py
Owners: @sannya-singal

env var to delete the cached cert at startup (#11434)
  localstack-core/localstack/config.py
  localstack-core/localstack/plugins.py
Owners: @thrau

add event id to machine execution name
  localstack-core/localstack/services/events/target.py
Owners: @maxhoheiser, @Morijarti, @joe4dev

skip if old provider
  tests/aws/services/events/test_events_targets.py
Owners: @maxhoheiser, @Morijarti, @joe4dev

add support for stepfunctions machine triggering from new events service provider
  localstack-core/localstack/services/events/target.py
Owners: @maxhoheiser, @Morijarti, @joe4dev

aws validated test
  tests/aws/cdk_templates/EventsTests/stack-events-target-stepfunctions.json
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.validation.json
Owners: @maxhoheiser, @Morijarti, @joe4dev

extend test
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.validation.json
Owners: @maxhoheiser, @Morijarti, @joe4dev

extend test to verify machines are running
  tests/aws/cdk_templates/EventsTests/stack-events-target-logs.json
  tests/aws/services/events/test_events_targets.py
  tests/aws/services/events/test_events_targets.validation.json
Owners: @maxhoheiser, @Morijarti, @joe4dev

update generated ASF APIs to latest version
  localstack-core/localstack/aws/api/ec2/__init__.py
  localstack-core/localstack/aws/api/logs/__init__.py
  localstack-core/localstack/aws/api/stepfunctions/__init__.py
  pyproject.toml
  requirements-base-runtime.txt
  requirements-dev.txt
  requirements-runtime.txt
  requirements-test.txt
  requirements-typehint.txt
Owners: @viren-nadkarni, @macnev2013, @steffyP, @MEPalma, @joe4dev, @dominikschubert

CODEOWNERS:

######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @thrau @dominikschubert @alexrashed

# README / Docs
/docs/ @thrau @HarshCasper
/README.md @HarshCasper
/CODE_OF_CONDUCT.md @HarshCasper
/LICENSE.txt @HarshCasper @alexrashed

# Docker
/bin/docker-entrypoint.sh @thrau @alexrashed
/.dockerignore @alexrashed
/Dockerfile @alexrashed

# Git, Pipelines, GitHub config
/.circleci @alexrashed @dfangl @dominikschubert
/.github @alexrashed @dfangl @dominikschubert
/.test_durations @alexrashed
/.git-blame-ignore-revs @alexrashed @thrau
/bin/release-dev.sh @thrau @alexrashed
/bin/release-helper.sh @thrau @alexrashed

# ASF
/localstack-core/localstack/aws/ @thrau
/tests/unit/aws/ @thrau
# ASF parsers and serializers
/localstack-core/localstack/aws/protocol @alexrashed
# left empty (without owner) because the generated APIs belong to the specific service owners
# you can overwrite this for single services afterwards
/localstack-core/localstack/aws/api/

# CLI
/localstack-core/localstack/cli/ @thrau @alexrashed
/tests/unit/cli/ @thrau @alexrashed
/tests/cli/ @thrau @alexrashed

# Plugins
/localstack-core/localstack/plugins.py @thrau
/localstack-core/localstack/config.py @thrau
/tests/unit/services/test_internal.py @thrau

# Extensions
/localstack-core/localstack/extensions/ @thrau

# Container utils
/localstack-core/localstack/utils/container_utils/ @dfangl @dominikschubert
/localstack-core/localstack/utils/docker_utils.py @dfangl @dominikschubert
/tests/unit/test_docker_utils.py @dfangl @dominikschubert
/tests/unit/test_dockerclient.py @dfangl @dominikschubert

# Package Installers
/localstack-core/localstack/packages/ @alexrashed
/localstack-core/localstack/services/kinesis/packages.py @alexrashed

# DNS server
/localstack-core/localstack/dns @simonrw @dfangl

# HTTP framework
/localstack-core/localstack/http/ @thrau
/tests/unit/http_/ @thrau

# Runtime
/localstack-core/localstack/runtime/ @thrau

# Logging
/localstack-core/localstack/logging/ @dfangl @alexrashed @dominikschubert

# Stores
/localstack-core/localstack/services/stores.py @viren-nadkarni
/tests/unit/test_stores.py @viren-nadkarni

# Analytics client
/localstack-core/localstack/utils/analytics/ @thrau
/tests/unit/utils/analytics/ @thrau

# Snapshot testing
/localstack-core/localstack/testing/snapshots/ @dominikschubert @steffyP
/localstack-core/localstack/testing/pytest/ @dominikschubert

# Scenario testing
/localstack-core/localstack/testing/scenario/ @dominikschubert @steffyP

# Bootstrap tests
/tests/bootstrap @simonrw
/localstack-core/localstack/testing/pytest/container.py @dominikschubert @simonrw

# Test Selection
/localstack-core/localstack/testing/testselection @dominikschubert @alexrashed @silv-io

######################
### SERVICE OWNERS ###
######################
# DO NOT modify anything below!
# Everything below is _autogenerated_ and any manual changes will be overwritten.


# acm
/localstack-core/localstack/aws/api/acm/ @alexrashed
/localstack-core/localstack/services/acm/ @alexrashed
/tests/aws/services/acm/ @alexrashed

# apigateway
/localstack-core/localstack/aws/api/apigateway/ @bentsku @cloutierMat
/localstack-core/localstack/services/apigateway/ @bentsku @cloutierMat
/tests/aws/services/apigateway/ @bentsku @cloutierMat
/tests/unit/test_apigateway.py @bentsku @cloutierMat
/tests/unit/services/apigateway/ @bentsku @cloutierMat

# cloudformation
/localstack-core/localstack/aws/api/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/localstack-core/localstack/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/tests/aws/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti
/tests/unit/test_cloudformation.py @dominikschubert @pinzon @simonrw @Morijarti
/tests/unit/services/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti

# cloudwatch
/localstack-core/localstack/aws/api/cloudwatch/ @steffyP @pinzon
/localstack-core/localstack/services/cloudwatch/ @steffyP @pinzon
/tests/aws/services/cloudwatch/ @steffyP @pinzon
/tests/unit/test_cloudwatch.py @steffyP @pinzon

# dynamodb
/localstack-core/localstack/aws/api/dynamodb/ @viren-nadkarni @giograno
/localstack-core/localstack/services/dynamodb/ @viren-nadkarni @giograno
/tests/aws/services/dynamodb/ @viren-nadkarni @giograno
/tests/unit/test_dynamodb.py @viren-nadkarni @giograno

# ec2
/localstack-core/localstack/aws/api/ec2/ @viren-nadkarni @macnev2013
/localstack-core/localstack/services/ec2/ @viren-nadkarni @macnev2013
/tests/aws/services/ec2/ @viren-nadkarni @macnev2013

# ecr
/localstack-core/localstack/services/ecr/ @dfangl

# es
/localstack-core/localstack/aws/api/es/ @alexrashed @silv-io
/localstack-core/localstack/services/es/ @alexrashed @silv-io
/tests/aws/services/es/ @alexrashed @silv-io

# events
/localstack-core/localstack/aws/api/events/ @maxhoheiser @Morijarti @joe4dev
/localstack-core/localstack/services/events/ @maxhoheiser @Morijarti @joe4dev
/tests/aws/services/events/ @maxhoheiser @Morijarti @joe4dev

# firehose
/localstack-core/localstack/aws/api/firehose/ @pinzon
/localstack-core/localstack/services/firehose/ @pinzon
/tests/aws/services/firehose/ @pinzon

# iam
/localstack-core/localstack/aws/api/iam/ @dfangl @pinzon
/localstack-core/localstack/services/iam/ @dfangl @pinzon
/tests/aws/services/iam/ @dfangl @pinzon

# kms
/localstack-core/localstack/aws/api/kms/ @sannya-singal
/localstack-core/localstack/services/kms/ @sannya-singal
/tests/aws/services/kms/ @sannya-singal
/tests/unit/test_kms.py @sannya-singal

# lambda
/localstack-core/localstack/aws/api/lambda_/ @joe4dev @dominikschubert @dfangl
/localstack-core/localstack/services/lambda_/ @joe4dev @dominikschubert @dfangl
/tests/aws/services/lambda_/ @joe4dev @dominikschubert @dfangl
/tests/unit/services/lambda_/ @joe4dev @dominikschubert @dfangl

# logs
/localstack-core/localstack/aws/api/logs/ @steffyP
/localstack-core/localstack/services/logs/ @steffyP
/tests/aws/services/logs/ @steffyP
/tests/unit/test_logs.py @steffyP

# opensearch
/localstack-core/localstack/aws/api/opensearch/ @alexrashed @silv-io
/localstack-core/localstack/services/opensearch/ @alexrashed @silv-io
/tests/aws/services/opensearch/ @alexrashed @silv-io
/tests/unit/services/opensearch/ @alexrashed @silv-io

# pipes
/localstack-core/localstack/aws/api/pipes/ @joe4dev

# route53
/localstack-core/localstack/aws/api/route53/ @giograno
/localstack-core/localstack/services/route53/ @giograno
/tests/aws/services/route53/ @giograno

# route53resolver
/localstack-core/localstack/aws/api/route53resolver/ @macnev2013 @sannya-singal
/localstack-core/localstack/services/route53resolver/ @macnev2013 @sannya-singal
/tests/aws/services/route53resolver/ @macnev2013 @sannya-singal

# s3
/localstack-core/localstack/aws/api/s3/ @bentsku
/localstack-core/localstack/services/s3/ @bentsku
/tests/aws/services/s3/ @bentsku
/tests/unit/test_s3.py @bentsku
/tests/unit/services/s3/ @bentsku

# scheduler
/localstack-core/localstack/aws/api/scheduler/ @joe4dev
/localstack-core/localstack/services/scheduler/ @joe4dev
/tests/aws/services/scheduler/ @joe4dev

# secretsmanager
/localstack-core/localstack/aws/api/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/localstack-core/localstack/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma
/tests/aws/services/secretsmanager/ @dominikschubert @macnev2013 @MEPalma

# ses
/localstack-core/localstack/aws/api/ses/ @viren-nadkarni
/localstack-core/localstack/services/ses/ @viren-nadkarni
/tests/aws/services/ses/ @viren-nadkarni

# sns
/localstack-core/localstack/aws/api/sns/ @bentsku @baermat
/localstack-core/localstack/services/sns/ @bentsku @baermat
/tests/aws/services/sns/ @bentsku @baermat
/tests/unit/test_sns.py @bentsku @baermat

# sqs
/localstack-core/localstack/aws/api/sqs/ @thrau @baermat
/localstack-core/localstack/services/sqs/ @thrau @baermat
/tests/aws/services/sqs/ @thrau @baermat
/tests/unit/test_sqs.py @thrau @baermat

# ssm
/localstack-core/localstack/aws/api/ssm/ @dominikschubert
/localstack-core/localstack/services/ssm/ @dominikschubert
/tests/aws/services/ssm/ @dominikschubert

# stepfunctions
/localstack-core/localstack/aws/api/stepfunctions/ @MEPalma @joe4dev @dominikschubert
/localstack-core/localstack/services/stepfunctions/ @MEPalma @joe4dev @dominikschubert
/tests/aws/services/stepfunctions/ @MEPalma @joe4dev @dominikschubert

# sts
/localstack-core/localstack/aws/api/sts/ @pinzon @dfangl
/localstack-core/localstack/services/sts/ @pinzon @dfangl
/tests/aws/services/sts/ @pinzon @dfangl

# transcribe
/localstack-core/localstack/aws/api/transcribe/ @sannya-singal @ackdav
/localstack-core/localstack/services/transcribe/ @sannya-singal @ackdav
/tests/aws/services/transcribe/ @sannya-singal @ackdav
